<div id="page-top" data-spy="scroll" data-target=".navbar-fixed-top" class="top">
	<section ng-if="campaign"  class="bg-gray2 text-center section-padding-adjustment-promo promo-card" 
	style="display:none" >
		<div class="container text-center">
			<div data-wow-delay=".2s" class="col-lg-8 col-md-8 col-sm-12 col-xs-12 wow fadeIn">
				<p class="margin-none"><strong>{{campaign.line1}}</strong>
				</p>
				<p class="margin-none"><strong>{{campaign.line2}}</strong></p>
				<p class="margin-none"> {{campaign.line3}}</p>
			</div>
			<div ng-if="campaign.url.length > 0" data-wow-delay=".2s" class="col-lg-4 col-md-4 col-sm-12 col-xs-12 wow fadeIn">
				<div class="row"><a href="{{campaign.url}}" target="_blank" class="btn btn-dark">Sign Up For the Event</a></div>
			</div>
		</div>
	</section>
	<!-- Navigation Section-->
	<nav class="navbar navbar-universal navbar-custom navbar-fixed-top" ng-class="styleClass">
		<div class="container">
			<div class="navbar-header">
				<button type="button" data-toggle="collapse" data-target=".navbar-main-collapse" class="navbar-toggle landingPageCollapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a href="http://122.180.29.167/leadertype/" class="navbar-brand page-scroll margin-adjust">
					<!-- Text or Image logo-->
					<img src="../assets/images/logo.png" alt="Logo" class="logo">
					<img src="../assets/images/logo.png" alt="Logo" class="logodark">
					<p class="logo-title">LeaderType<sub class="tm">TM</sub></p>
				</a>
			</div>
			<div class="collapse navbar-collapse navbar-main-collapse">
				<ul class="nav navbar-nav navbar-left">
					<li><a href="http://122.180.29.167/leadertype/#about">ABOUT </a></li>
					<li><a href="http://122.180.29.167/leadertype/index.php/program/">PROGRAM </a></li>
					<li><a href="http://122.180.29.167/leadertype/index.php/leadercoachmobileapp">APP </a></li>
					<li><a href="http://122.180.29.167/leadertype/index.php/book/">BOOK </a></li>
					<li><a href="http://122.180.29.167/leadertype/index.php/workshops/">WORKSHOPS</a></li>
					<li><a href="http://122.180.29.167/leadertype/index.php/speaking/">SPEAKING</a></li>
					<li><a href="http://122.180.29.167/leadertype/#contact">CONTACT US</a></li>
					<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown">RESOURCES</a>
						<ul class="dropdown-menu menu-list">
							<li><a ng-click="gotoLeaderCoachMobileApp()">LeaderCOACH™ mobile app</a></li>
							<li><a ng-click="gotoElementOfLeadership()">Elements of Leadership™ workshop</a></li>
							<li><a class="grey-out" ng-click="">Search leadership coach database</a></li>
							<!--ng-click="gotoSearchLeadershipCoachDatabase()" -->
							<li><a class="grey-out" ng-click="" ng-disabled="true" disabled>Become a LeaderType™ coach</a></li>
							<!--ng-click="gotoBecomeALeaderTypeCoach()" -->
						</ul>
					</li>
					<li data-toggle="collapse" data-target=".navbar-collapse" ng-click="$root.authService.loginWithSignUp()" ng-if="!$root.authService.isAuthenticated()"><a>LOG IN</a></li>
					<!--<li data-toggle="collapse" data-target=".navbar-collapse" ng-click="$root.authService.signUp()" ng-if="!$root.authService.isAuthenticated()"><a>Sign Up<span class="caret"></span></a></li>-->
					<li class="dropdown" ng-if="$root.authService.isAuthenticated()"><a class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user avatar-icon" aria-hidden="true"></i>{{$root.authService.name()}}<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a ng-click="$root.authService.gotoDashboard()">My LeaderType</a></li>
							<li><a ng-click="$root.authService.gotoAccount()">My Packages</a></li>
							<li><a ng-click="$root.authService.gotoProfile()">My Profile</a></li>
							<li ng-if="$root.authService.isShowReports()">
								<a ng-click="$root.authService.gotoReports()">Admin Dashboard</a>
							</li>
							<li><a ng-click="$root.authService.logout()">Log out</a></li>
						</ul>
					</li>
					<li class="menu-divider visible-lg">&nbsp;</li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							<i class="fa fa-shopping-cart fa-lg"></i><span class="badge">{{cartList.length}}</span><span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							<li class="shop-nav" ng-if="isCartEmpty()">
								<div class="shop-cart">
									<!--<a href="shop-cart.html"><img src="img/shop/1.jpg" alt=" ">-->
									Your Cart is empty
								</div>
							</li>
							<li class="shop-nav" ng-if="!isCartEmpty()" ng-repeat="product in cartList">
								<div class="shop-cart">
									<!--<a href="shop-cart.html"><img src="img/shop/1.jpg" alt=" ">-->
									<div class="btn-dark-border btn btn-xs">${{product.price}}<span ng-if="product.price > 0">/{{product.renewalType}}</span></div>
									<a ng-click="removeItemFromCart(product.productName)"><i class="fa fa-times float-right"></i></a><br>{{product.productName}}</a>
								</div>
							</li>

							<li ng-if="!isCartEmpty()"><a ng-click="gotocheckOut()"><span class="btn btn-dark-border btn-sm">Checkout</span></a></li>
							<li ng-if="isCartEmpty()"><a href="#package"><span class="btn btn-dark-border btn-sm">Packages</span></a></li>
						</ul>
					</li>
				</ul>

			</div>
		</div>
	</nav>

	<!-- Intro Slider Section-->
	<header id="carousel-intro" data-ride="carousel" class="intro carousel carousel-big slide carousel-fade ">

		<div class="carousel-inner back-black">
			<canvas class="connectivity-bg hidden-md-down"></canvas>
			<div data-ng-repeat="item in scrollItems" class="item {{$index == 0 ? 'active': ''}}">
				<!-- style="background-image:url('../assets/images/landingimage.png');" -->
				<div class="fill">
					<div class="intro-body">
						<h4></h4>
						<h2 class="wow fadeInDown">{{item}}</h2>
						<ul class="list-inline lead">
							<li ng-click="$root.authService.gotoDashboard()"><a class="btn btn-white btn-lg page-scroll text-transform-none"> What’s your LeaderTYPE?</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!-- Controls-->
		<a href="JavaScript:void(0)" class="left carousel-control"><span class="icon-prev"></span></a>
		<a href="JavaScript:void(0)" class="right carousel-control"><span class="icon-next"></span></a>
		<a href="#video"><span class="opr-next"></span></a>
	</header>

	<!-- Promo Video Section-->
	<section id="video" class="section-small text-center section-padding-adjustment bg-c-gray">
		<div class="container">
			<div class="row white-color">
				<h3>Here’s a quick video to show you how it all works</h3>
				<iframe width="853" height="480" src="https://www.youtube.com/embed/BvQi5JcY1BE?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0"
				 allowfullscreen></iframe>
				<!--<div id="player"></div>-->
			</div>
		</div>
	</section>

	<!-- about section-->
	<section class="bg-white text-center section-padding-adjustment">
		<div class="overlay-white"></div>
		<div class="container text-center">

			<h4 class="text-left-align heading margin-bottom-10px"><b>LeaderType Indicator™ (LTI)</b></h4>
			<p class="align-justify margin-none">This quick (~5-minute) sliding scale assessment will reveal your top 3 LeaderTypes™ (which are based on the psychological
				types identified by Swiss psychiatrist, C. G. Jung. After reviewing the descriptions of the top three LeaderTypes™ suggested
				for you, you choose the one most like your primary style and the one that is next most like you.
				<span ng-click="$root.authService.gotoDashboard()"><a class="text-link">Take the LTI</a></span>
			</p>
			<p class="align-justify margin-none">To see a description of all eight LeaderTypes™, or see your eight LeaderTypes ranked, you will need to
				<span ng-click="$root.authService.signUp()" ng-if="!$root.authService.isAuthenticated()"><a class="text-link">create a Profile.</a></span>
				<span ng-click="$root.authService.gotoProfile()" ng-if="$root.authService.isAuthenticated()"><a class="text-link">create a Profile.</a></span>
			</p>

			<h4 class="text-left-align heading margin-bottom-10px"><b>My LeaderBRAND</b></h4>
			<p class="align-justify margin-none">for Enhanced package subscribers
				<span ng-click="gotoComingSoon();" class="text-gray">link to sample page (coming soon)</span> LeaderType.com offers multiple
				assessments that can help you better understand your leadership behaviors, qualities, deficits, needs, triggers and more.
				You can also input assessment results and demographic data to compare yourself with leaders who share your LeaderType™.
				<span ng-click=""><a class="text-link" href="#package">Add the Enhanced package to your cart. </a></span>
			</p>

			<h4 class="text-left-align heading margin-bottom-10px"><b>LeaderTEAM Feedback report</b></h4>
			<p class="align-justify margin-none">for Premium package subscribers
				<span ng-click="gotoComingSoon();" class="text-gray">link to sample page (coming soon)</span> By inviting your manager(s)
				and team members to give you feedback you discover how their perceptions of your leadership effectiveness compare with
				your own. In addition to showing your highest- and lowest-rated behaviors, and displaying several composites (e.g. Trust),
				the report highlights what you should specifically keep, start and stop doing. <span ng-click=""><a class="text-link" href="#package">Add the Premium package to your cart.</a></span>
			</p>

			<h4 class="text-left-align  heading margin-bottom-10px"><b>Customized LeaderSWOT™ assessment </b></h4>
			<p class="align-justify margin-none">for Platinum package subscribers
				<span ng-click="gotoComingSoon();" class="text-gray">screenshot (coming soon)</span> This is for leaders who want to
				involve their teams in devising strategy. In this collaborative environment, you fill-in the blanks regarding its current
				state, vision, mission, strengths, weaknesses, opportunities, threats, key success factors/values and biases. This ensures
				you and your team have fully explored the challenge you face in detail, and helps you identify your best strategy given
				your SWOT. <span ng-click=""><a class="text-link" href="#package">Add the Platinum package to your
                cart.</a></span>
			</p>

			<h3 class=" text-center-align heading">Coming Soon</h3>


			<h4 class="text-left-align  heading margin-bottom-10px"><b>Interactive Forums,</b></h4>
			<p class="align-justify margin-none">organized by LeaderType™, where you can pose questions to other leaders, as well as offer suggestions, different perspectives,
				and strategies that have worked for you. You can also start or join a chat around a particular leadership topic. Build
				your influence by sharing your best practices.
			</p>


			<h4 class="text-left-align  heading margin-bottom-10px"><b>Leadership Quotes,</b></h4>
			<p class="align-justify margin-none">a library of hundreds of quotes from historical and contemporary leaders which you can rate and add to your favorites
				list ranked by how they resonate with and inspire you.
			</p>


		</div>
	</section>

	<!-- How it works Section-->
	<section class="section-small text-center section-padding-adjustment bg-c-gray">
		<!--<div class="overlay-white"></div>-->
		<div class="container text-center text-white">
			<div class="row">
				<div class="col-lg-12 col-sm-12 col-xs-12 col-md-12 ">
					<h3>How You Can Benefit from LeaderType™</h3>
				</div>
			</div>
			<div class="row ">
				<div data-wow-delay=".2s" class="col-lg-4 col-md-4 col-sm-12 col-xs-12 wow fadeIn">
					<h4><i class="fa icon-big fa-check-square-o" aria-hidden="true"></i> Identify With & Learn From Other Great Leaders</h4>
					<p class="align-justify ">Discover your natural leadership style – and which renowned leader shares your mindset. Then, learn from their leadership
						journey, so yours will go more smoothly.<span ng-click="$root.authService.gotoDashboard()"><a class="text-link-white">Discover your LeaderType™ now!</a></span></p>
				</div>
				<div data-wow-delay=".4s" class="col-lg-4 col-md-4 col-sm-12 col-xs-12 wow fadeIn">
					<h4><i class="fa icon-big fa-hourglass-start text-white" aria-hidden="true"></i> Refine How You Set Goals & Strategies</h4>
					<p class="align-justify ">Identify a challenge that will require you to lead others. Envision the outcome you desire and the resources your team
						needs to fulfill the mission. Then, develop and execute your strategy.<span ng-click="$root.authService.gotoSWOT()"><a class="text-link-white">Use the LeaderType™ SWOT tool now!</a></span></p>
				</div>
				<div data-wow-delay=".6s" class="col-lg-4 col-md-4 col-sm-12 col-xs-12 wow fadeIn">
					<h4><i class="fa icon-big fa-lightbulb-o text-white" aria-hidden="true"></i> Receive Coaching & Coach Others</h4>
					<p class="align-justify">Use an online forum to access smart tips and innovative best practices from leaders who share your LeaderType™. Then,
						share your successes, and lessons learned, with others who now look up to you as a leader.
						<!--<span ng-click=""><a class="text-link-white">Explore a LeaderType™ forum now!</a></span>-->
					</p>
					<!--<p class="txt-underline" ng-click="goToLearnMore()">Learn more <i class="fa fa-arrow-right" aria-hidden="true"></i></p>-->
				</div>

			</div>
			<div class="row"><button type="button" class="btn btn-gray" ng-click="goToLearnMore()">Learn more</button></div>
		</div>
	</section>

	<!-- Portfolio Section-->
	<section id="portfolio" class="bg-white no-pad-btm section-padding-adjustment">
		<div class="container text-center ">
			<h3>You share a LeaderType™ with a great leader of the past. Which one?</h3>
			<p class="align-justify">Effective leaders are unique individuals. But most great leaders embody one of eight dominant leadership styles identified
				across time. Which leadership style best describes yours? And with which great leader in history do you share that personality?
				<span class="text-link-black" ng-click="$root.authService.gotoDashboard()">Find out now!</span>
			</p>
		</div>
		<div class="container-fluid">
			<div id="grid" class="row portfolio-items">
				<div data-groups="[&quot;design&quot;, &quot;branding&quot;]" class="col-md-2 col-sm-6 col-xs-6 no-pad col-width">
					<div class="portfolio-item">
						<a ng-click="showLeaderDetails('LTIND001')" class="cursor-pointer"><img src="../assets/images/latest_images/LTIND001.png" alt="">
							<!--<div class="portfolio-overlay">
                <div class="caption">
                  <p class="overlay-words">Theodore Roosevelt</p><span class="overlay-words">Take charge</span>
                </div>
              </div>-->
						</a>
					</div>
				</div>
				<div data-groups="[&quot;photo&quot;, &quot;branding&quot;]" class="col-md-2 col-sm-6 col-xs-6 no-pad col-width">
					<div class="portfolio-item">
						<a ng-click="showLeaderDetails('LTIND004')" class="cursor-pointer"><img src="../assets/images/latest_images/LTIND004.png" alt="">
							<!--<div class="portfolio-overlay">
                <div class="caption">
                  <h5 class="overlay-words">Franklin D Roosevelt</h5><span class="overlay-words">Innovating</span>
                </div>
              </div>-->
						</a>
					</div>
				</div>
				<div data-groups="[&quot;design&quot;, &quot;photo&quot;]" class="col-md-2 col-sm-6 col-xs-6 no-pad col-width">
					<div class="portfolio-item">
						<a ng-click="showLeaderDetails('LTIND005')" class="cursor-pointer"><img src="../assets/images/latest_images/LTIND005.png" alt="">
							<!--<div class="portfolio-overlay">
                <div class="caption">
                  <h5 class="overlay-words">John Adams</h5><span class="overlay-words">Independent</span>
                </div>
              </div>-->
						</a>
					</div>
				</div>
				<div data-groups="[&quot;branding&quot;, &quot;design&quot;]" class="col-md-2 col-sm-6 col-xs-6 no-pad col-width">
					<div class="portfolio-item">
						<a ng-click="showLeaderDetails('LTIND008')" class="cursor-pointer"><img src="../assets/images/latest_images/LTIND008.png" alt="">
							<!--<div class="portfolio-overlay">
                <div class="caption">
                  <h5 class="overlay-words">Harry S Truman</h5><span class="overlay-words">Presuasive</span>
                </div>
              </div>-->
						</a>
					</div>
				</div>
				<div data-groups="[&quot;photo&quot;, &quot;design&quot;]" class="col-md-2 col-sm-6 col-xs-6 no-pad col-width">
					<div class="portfolio-item">
						<a ng-click="showLeaderDetails('LTIND003')" class="cursor-pointer"><img src="../assets/images/latest_images/LTIND003.png" alt="">
							<!--<div class="portfolio-overlay">
                <div class="caption">
                  <h5 class="overlay-words">Thomas Jefferson</h5><span class="overlay-words">Visionary</span>
                </div>
              </div>-->
						</a>
					</div>
				</div>
				<div data-groups="[&quot;photo&quot;, &quot;branding&quot;]" class="col-md-2 col-sm-6 col-xs-6 no-pad col-width">
					<div class="portfolio-item">
						<a ng-click="showLeaderDetails('LTIND002')" class="cursor-pointer"><img src="../assets/images/latest_images/LTIND002.png" alt="">
							<!--<div class="portfolio-overlay">
                <div class="caption">
                  <h5 class="overlay-words">Andrew Jackson</h5><span class="overlay-words">Proactive</span>
                </div>
              </div>-->
						</a>
					</div>
				</div>
				<div data-groups="[&quot;photo&quot;, &quot;branding&quot;]" class="col-md-2 col-sm-6 col-xs-6 no-pad col-width">
					<div class="portfolio-item">
						<a ng-click="showLeaderDetails('LTIND007')" class="cursor-pointer"><img src="../assets/images/latest_images/LTIND007.png" alt="">
							<!--<div class="portfolio-overlay">
                <div class="caption">
                  <h5 class="overlay-words">Abraham Lincoln</h5><span class="overlay-words">Inclusive</span>
                </div>
              </div>-->
						</a>
					</div>
				</div>
				<div data-groups="[&quot;photo&quot;, &quot;branding&quot;]" class="col-md-2 col-sm-6 col-xs-6 no-pad col-width">
					<div class="portfolio-item">
						<a ng-click="showLeaderDetails('LTIND006')" class="cursor-pointer"><img src="../assets/images/latest_images/LTIND006.png" alt="">
							<!--<div class="portfolio-overlay ">
                <div class="caption">
                  <h5 class="overlay-words">George Washington</h5><span class="overlay-words">Prudent</span>
                </div>
              </div>-->
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- Package Section-->
	<section id="package" class="section-padding-adjustment">

		<div class="container pricing text-center">
			<h3 class="zero-bottom-margin">Packages</h3>
			<div class="switch">
				<input type="radio" class="switch-input" name="view" ng-model="selectedPackageDuration" ng-click="onRenewalSwitch(0)" value=0
				 id="Month" checked>
				<label for="Month" class="switch-label switch-label-off">Monthly</label>
				<input type="radio" class="switch-input" name="view" ng-model="selectedPackageDuration" ng-click="onRenewalSwitch(1)" value=1
				 id="Year">
				<label for="Year" class="switch-label switch-label-on">Yearly</label>
				<span class="switch-selection"></span>
			</div>
			<div class="row pricing-table">

				<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 zero-padding {{$index == packages.length-1 ? 'pricing-table-3':''}} distinct-on-mobile"
				 ng-if="package.parentPackageId == null &&  package.title != 'LeaderCOACH' && package.title != 'ENHANCED'" data-ng-repeat="package in packages.data">
					<div class="panel panel-default zero-bottom-margin" id="panel-custom" ng-if=" package.isShow">
						<div class="panel-heading {{$index == packages.length-1 ? 'recom':''}}">
							<div class="best-choice best-value recom" ng-if="package.title === 'PLATINUM'"></div>
							<h4 class="{{$index == packages.length-1 ? 'text-color-blue':''}} ">{{package.title}}</h4>
						</div>
						<ul class="list-group align-pricing  {{package.title == 'LeaderCOACH' ? '':'custom-ul'}}">
							<div class="package-details-div">
								<li ng-if="package.title != 'LeaderCOACH'" class="list-group-item cost-button override-li-package" style="min-height: 92px;">
									<span class="number text-muted text-white "><sub class="sub-position">{{package.unitInfo.price > 0 ? package.unitInfo.unit : ''}}</sub>{{package.unitInfo.price > 0 ? package.unitInfo.price : 'Free '}}</span>
									<span class="text-white" ng-if="package.unitInfo.price <= 0" style="margin-bottom: 10px;">(with sign up)</span>
									<sub></sub>
								</li>
								<li ng-if="package.title == 'LeaderCOACH'" class="list-group-item cost-button override-li-package" style="min-height: 92px;">
									<span class="number text-muted text-white "><sub class="sub-position">{{package.unitInfo.price > 0 ? package.unitInfo.unit : ''}}</sub>{{package.unitInfo.price > 0 ? package.unitInfo.price : 'Free'}}</span><sub>{{package.unitInfo.price > 0 ? package.unitInfo.duration : ''}}</sub>
								</li>

								<!--<li ng-if="package.priceInfo[selectedPackageTypeIndex].price > 0" class="list-group-item cost-button {{package.title == 'LeaderCOACH' ? 'cost-selected-button':''}}">
                <span class="number text-muted text-white "><sup class="sub-position">{{package.priceInfo[selectedPackageTypeIndex].unit}}</sup>{{package.priceInfo[selectedPackageTypeIndex].price}}</span><sub>{{package.priceInfo[selectedPackageTypeIndex].duration}}</sub>
              </li>

              <li ng-if="package.priceInfo[selectedPackageTypeIndex].price == 0" class="list-group-item cost-button {{$index == packages.length-1 ? 'best-choice-backgroud':''}}">
                <span ng-if="package.priceInfo[selectedPackageTypeIndex].price == 0" class="number text-muted text-white">Free</span>
              </li>-->
								<!--<div class="height-design">-->
								<div class="designed" style="padding-top: 3px;"><strong>Designed For:</strong></div>
								<li data-ng-repeat="feature in package.designedFor" class="designed">{{feature}}</li>

							</div>
							<div class="height-design" ng-if="package.designedFor.length > 0">
								<div class="seperation-line width-90"></div>
								<!--<div class="designed"><strong>You Get:</strong></div>-->
								<li ng-hide="package.title == 'LeaderCOACH'  &&  feature == 'Coaching'" data-ng-repeat="feature in package.features" class="list-group-item {{package.title == 'LeaderCOACH' ? 'package-custom-best-choice':''}} override-li-package"
								 id="package-custom">
									<div ng-if="($index == 0) && package.title != 'BASIC'"><strong>{{feature}}</strong></div>
									<div ng-if="$index != 0">{{feature}}</div>
								</li>
							</div>


							<!-- <div class="subpackages-section">
								<div class="seperation-line width-90"></div>
								<div class="designed"><strong>LeaderCOACH™ Mobile App </strong></div>
								<li data-ng-repeat="subpack in loadSubPackagesDisplay(package)" class="designed list-group-item border-none margin-bottom-3">
									{{subpack.title}}&nbsp;
									<i class="fa fa-question-circle" aria-hidden="true" ng-click="showSubPackageInfo(subpack.packageId)"></i>
								</li>
								<li ng-if="package.title == 'BASIC'" class=" designed list-group-item border-none margin-bottom-3">
									Coach self/others
								</li>

								<li class=" designed list-group-item border-none margin-bottom-3">
									to coach yourself/others
									<i class="fa fa-question-circle" aria-hidden="true" ng-if="package.title == 'BASIC'" ng-click="gotoLeaderCoachMobileAppLead('BASICPACK')"></i>
								</li>
								<li data-ng-repeat="subpack in loadSubPackagesDisplay(package)" class="designed list-group-item border-none margin-bottom-3">
									{{subpack.subTitle}}&nbsp;
									<i class="fa fa-question-circle" aria-hidden="true" ng-click="gotoLeaderCoachMobileAppLead(subpack.packageId)"></i>

								</li>
							</div> -->
							<!--<li ng-if="package.title == 'BASIC'" class="subPack list-group-item border-none margin-bottom-3">
								<input type="checkbox" checked disabled>
								COACHING
							</li>-->
							<!--<li data-ng-repeat="subpack in loadSubPackages(package.packageId)" class="subPack list-group-item border-none margin-bottom-3">
								<input type="checkbox" ng-value="{{subpack.packageId}}" ng-checked="exists(package.packageId,subpack.packageId)" ng-click="toggleSelection(package.packageId,subpack.packageId)">{{subpack.title}}&nbsp;
								<i class="fa fa-question-circle" aria-hidden="true" ng-click="showSubPackageInfo(subpack.packageId)"></i>
							</li>-->
							<!--<li data-ng-repeat="i in range(packFeatureCount - (package.features.length + loadSubPackages(package.packageId).length))"
								class="list-group-item {{package.title == 'LeaderCOACH' ? 'package-custom-best-choice':''}}" id="package-custom">&nbsp;</li>-->

							<li class="list-group-item padding-zero {{package.title == 'LeaderCOACH' ? 'package-custom-best-choice':''}}" id="package-custom">
								<button ng-click="onPackageClick(package.title,package.unitInfo.price,package)" class="btn btn-dark1  price-btn" ng-disabled="package.disabled">{{package.disabled ? 'Coming Soon' : (package.unitInfo.price > 0 ? 'Add to cart': 'Try Free')}}</button>
							</li>

						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>


	<div class="modal fade" id="SubPackagePopup" role="dialog">
		<div class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title text-center-align">{{subPackageMoreInfo.title}}</h4>
				</div>
				<div class="container width-100">
					<div class="row pricing-table">
						<div class="col-md-12 zero-padding">
							<div class="panel panel-default zero-bottom-margin" id="panel-custom">
								<!--<div class="panel-heading {{$index == packages.length-1 ? 'recom':''}}">
									<h4 class="{{$index == packages.length-1 ? 'text-color-blue':''}} SubPackageHeading">{{package.title}}</h4>
								</div>-->
								<ul class="list-group">
									<li data-ng-repeat="feature in subPackageMoreInfo.features" class="list-group-item text-center-align border-none">{{feature}}</li>

									<!--<li data-ng-repeat="i in range(subPackFeatureCount - package.features.length)" class="list-group-item {{package.title == 'LeaderCOACH' ? 'package-custom-best-choice':''}}"
                    id="package-custom">&nbsp;</li>-->
									<!--<li class="list-group-item padding-zero {{package.title == 'LeaderCOACH' ? 'package-custom-best-choice':''}}" id="package-custom">
										<button ng-click="onPackageClick(package.title)" class="btn {{$index == packages.length-1 ? 'btn-blue':'btn-dark1'}}  price-btn"
											ng-disabled="package.disabled">{{package.disabled ? 'Coming Soon' : (package.priceInfo[0].price > 0 ? 'Add To Cart': 'Try Free')}}</button>
									</li>-->

								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--<div> <button type="button" class="gray-button" ng-click="showModal()">Learn more</button></div>-->
	<!-- Ad Section -->
	<section class="action section-small ad-section-padding bg-gray2 ad-section-height">
		<div id="carousel-light" class="carousel slide carousel-small carousel-fade zero-margin" data-ride="carousel">
			<div role="listbox" class="carousel-inner">
				<div class="item active col-md-12">
					<center>
						<h3 class="no-pad quotes-size">"The single greatest source of leadership failure is the lack of self-awareness." - Warren Bennis
						</h3>
					</center>
				</div>
				<div class="item col-md-12">
					<center>
						<h3 class="no-pad quotes-size">"He who leads when no one follows is just taking a walk." - Mark Twain
						</h3>
					</center>
				</div>
				<div class="item col-md-12">
					<center>
						<h3 class="no-pad quotes-size">"Leaders are made rather than born." - Warren Bennis
						</h3>
					</center>
				</div>
				<div class="item col-md-12">
					<center>
						<h3 class="no-pad quotes-size">"Leadership and learning are indispensable to each other." - John F. Kennedy
						</h3>
					</center>
				</div>
				<div class="item col-md-12">
					<center>
						<h3 class="no-pad quotes-size">"Leadership is a series of behaviors rather than a role for heroes." - Margaret Wheatley
						</h3>
					</center>
				</div>
				<div class="item col-md-12">
					<center>
						<h3 class="no-pad quotes-size">"Leadership is the capacity to translate vision into reality." - Warren Bennis
						</h3>
					</center>
				</div>
				<div class="item col-md-12">
					<center>
						<h3 class="no-pad quotes-size">"Leaders should strive for authenticity over perfection." - Sheryl Sandberg
						</h3>
					</center>
				</div>
			</div>
		</div>
	</section>

	<!-- About Section -->
	<section id="aboutus" class="about-leader section-min bg-dark3 bottom-padding-20">
		<div class="text-center-align white-color">
			<h3>How Does LeaderType.com work?</h3>
		</div>
		<div>
			<div class="container zero-left-margin width-100">
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 right-padding">
						<div class="description white-color aboutus-padding padding-right-54">
							<h3 class="zero-bottom-margin">OUR MISSION</h3>
							<p class="zero-bottom-margin">With LeaderType™ you can:</p>
							<ul class="align-justify">
								<li>Become aware of, and own, your leadership strengths, weaknesses, needs and values.
								</li>
								<li>Grasp and articulate your team’s desired outcome, key success factors, and strategy.
								</li>
								<li>Get feedback on your leadership behaviors relative to your, and their, expectations.
								</li>
								<li>Gather insights from, and share best practices with, other leaders like you worldwide.
								</li>
							</ul>
							<h3 class="zero-bottom-margin">OUR VISION</h3>
							<p class="margin-bottom-25 align-justify">The inspiration for LeaderType™ was a June 2012 Harvard Business Review article titled, “Leadership Development in
								the Age of Algorithm.” The article was written by world-renowned consultant and motivational speaker, Marcus Buckingham.

								<br>
								<br> One quote in that article summarizes LeaderType.com’s vision:
								<br> <i>“Soon there will be a place, somewhere in the cloud, that continually gathers the best techniques, tips, and
								practical innovations from high-performing leaders around the world; sorts them according to each individual’s unique
								leadership algorithm; feeds you the techniques that fit you best; and refines its filtering as it learns how you
								react to those techniques. It will be your own personal leadership coach, powered by the top leaders who are most
								like you.”</i>
								<br>
								<br> That’s exactly what LeaderType™ provides its subscribers.
								<br> While many personality assessments offer insights on your leadership style, only LeaderType.com is organized
								around the world’s most widely used instrument: the Myers-Briggs Type Indicator (MBTI)®.

								<br> If you know your 4-letter MBTI type code, then your LeaderType™ is most likely the dominant function of your
								personality— the ‘chief executive’ or driving force of your leadership style.
								<br> Think of your LeaderType™ as your ‘operating system’: you need to know its functionality before you run ‘apps’
								(skills or behaviors)—even more so if you want to leverage your LeaderType™ to its maximum potential.</p>

							<h3 class="zero-bottom-margin">OUR VALUES</h3>
							<p class="zero-bottom-margin">We want to be known for...</p>
							<ul class="align-justify">
								<li>Uncompromising integrity in all our dealings with customers, suppliers and partners.
								</li>
								<li>Welcoming diverse perspectives and fostering civil discourse on leaders and leadership.
								</li>
								<li>Respecting individual personality type preferences, as well as personal privacy choices.
								</li>
								<li>Securing and protecting the confidentiality of your information to the extent you choose.
								</li>
							</ul>

							<h3 class="zero-bottom-margin">MESSAGE from CASH</h3>
							<p class="zero-bottom-margin">In my work with leaders around the world I have come to these conclusions:</p>
							<ul class="align-justify">
								<li>Leadership is very subjective. People`s ideas about, and definitions of, leadership differ significantly. What people
									want and expect from a leader also varies widely.
								</li>
								<li>A ‘best’ leadership style doesn’t exist. Leaders with very different personalities, styles and behavioral patterns
									can be successful. ‘Best’ often depends on the situation, expectations, and needs of followers—and how well the
									leader’s strengths and weaknesses meet those parameters.
								</li>
								<li>All leaders can benefit from being more self-aware. Many leaders don’t know what makes them successful, what’s derailing
									them, what they truly value, or how to improve. The oracle at Delphi said it best: <i>"Before you can lead others, you must first lead yourself, and before you can lead yourself, you must know yourself."</i>
								</li>
							</ul>

							<p>I conceived LeaderType.com to help leaders understand themselves better, develop their unique brand of leadership,
								leverage the diversity of their team, and ultimately achieve greater results through others.</p>

							<p class="zero-bottom-margin display-inline-block" style="padding-bottom: 2px;"><strong>Cash Keahey</strong></i>
							</p>
							<div class="image-small-circle" style="padding-bottom: 2px;"><a href="https://www.linkedin.com/in/cashkeahey" target="_blank"><i class="fa fa-linkedin linkedin-custom" aria-hidden="true"></i></a>
							</div>
							<p class="zero-bottom-margin ceo-position company-position">President/CEO</p>
							<p class="zero-bottom-margin ceo-position company-position">Keahey Consulting Group,Inc.</p>
							<p class="zero-bottom-margin ceo-position company-position">Developers of LeaderType™ and LeaderCOACH™</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- Contact Section-->
	<section id="contact" class="section-padding-adjustment">
		<div class="container">
			<div class="row">
				<div class="col-md-5">
					<h3>Contact us</h3>
					<hr>
					<p class="bottom-margin-0"><i class="fa fa-map-marker fa-fw fa-lg"></i> Keahey Consulting Group,Inc.</p>
					<p class="address-margin address-margin-bottom">P.O. Box 836616, Richardson, TX 75080-6616</p>
					<p><i class="fa fa-envelope fa-fw fa-lg"></i> info@leadertype.com</p>
					<div id="map"></div>
				</div>
				<div class="col-md-5 col-md-offset-2">
					<h3 style="margin:0px">Ask a question, give us feedback or make a suggestion:</h3>
					<form id="contactForm" name="SentMessage" novalidate ng-submit="sendLead()">
						<div class="control-group">
							<div class="form-group floating-label-form-group controls">
								<label for="name" class="sr-only control-label">Your Name</label>
								<!--<input id="name" ng-model="contactUs.name" type="text" placeholder="Your Name" required="" data-validation-required-message="Please enter name"
                  >-->
								<input id="name" name="names" ng-model="contactUs.name" ng-pattern="/^[a-zA-Z\s]*$/" type="text" placeholder="Your Name*"
								 class="form-control input-lg" ng-required="true" />
								<span ng-show="SentMessage.names.$error.pattern" style="color:red">Enter a valid name</span>
							</div>
						</div>
						<div class="control-group">
							<div class="form-group floating-label-form-group controls">
								<label for="email" class="sr-only control-label">Your Email</label>
								<!--<input id="email" ng-model="contactUs.email" type="email" placeholder="Your Email" required="" data-validation-required-message="Please enter email"
                  class="form-control input-lg"><span class="help-block text-danger"></span>-->
								<input id="email" name="email" ng-model="contactUs.email" type="email" placeholder="Your Email*" class="form-control input-lg"
								 ng-required="true" />
								<!--<span ng-show="SentMessage.email.$error.required"  style="color:red">Email id field cannot be empty</span>-->
								<span ng-show="SentMessage.email.$error.email" style="color:red">Email id should be in valid format.</span>
							</div>
						</div>
						<div class="control-group">
							<div class="form-group floating-label-form-group controls">
								<label for="phone" class="sr-only control-label">Your Phone</label>
								<!--<input id="phone" ng-model="contactUs.phoneNumber" type="tel" placeholder="Your Phone" required="" data-validation-required-message="Please enter phone number"
                  class="form-control input-lg"><span class="help-block text-danger"></span>-->
								<input id="phone" name="phone" ng-model="contactUs.phoneNumber" type="tel" placeholder="Your Phone Number*" ng-pattern="/^[0-9]{10,10}$/"
								 class="form-control input-lg" ng-required="true" />
								<span ng-show="SentMessage.phone.$error.pattern" style="color:red">Mobile number should be in valid format.</span>
							</div>
						</div>
						<div class="control-group">
							<div class="form-group floating-label-form-group controls">
								<label for="message" class="sr-only control-label">Message</label>
								<!--<textarea id="message" ng-model="contactUs.message" rows="2" placeholder="Message" required="" data-validation-required-message="Please enter a message."
                  aria-invalid="false" class="form-control input-lg"></textarea><span class="help-block text-danger"></span>-->
								<textarea type="text" name="message" id="message" ng-model="contactUs.message" rows="2" placeholder="Message*" class="form-control input-lg"
								 ng-required="true">
								</textarea>
								<!--<span ng-show="SentMessage.message.$error.required"  style="color:red">Message field cannot be empty</span>-->
							</div>
						</div>
						<div class="form-group ">
							<div ng-bind="successMessage" id="success"></div>
							<!--ng-disabled="SentMessage.$invalid"-->
							<button type="submit" ng-disabled="showError && SentMessage.$invalid" class="btn btn-dark">Send</button>
							<!--{{SentMessage.message.$error.required}}-{{SentMessage.phone.$error.required}}-{{SentMessage.email.$error.required}}-{{SentMessage.names.$error.required}}-->
							<!--<span ng-show="SentMessage.$invalid"  style="color:red">Fill in all the fields</span>-->
							<span ng-if="showError">
            <span ng-show="SentMessage.message.$error.required==true || SentMessage.phone.$error.required==true || SentMessage.email.$error.required==true || SentMessage.names.$error.required==true"  style="color:red">Fill in all the fields</span>
							</span>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>

	<section class="section-small footer">
		<div class="container">
			<div class="row">
				<div class="col-sm-6">
					<p>&copy; 2017 | LeaderType™ | All rights are reserved | <span ng-click="gotoPrivacy()"><a class="text-link">Privacy Policy</a></span></p>
				</div>
				<div class="col-sm-3">
				</div>
				<div class="col-sm-3  text-right">
					<ul class="list-inline">
						<a class="color-white btn btn-info social-btn-size" href="https://twitter.com/LeaderType" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
						<a class="color-white btn fb-bg social-btn-size" href="https://www.facebook.com/leadertype/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
						<a class="color-white btn linkedin-bg social-btn-size" href="https://www.linkedin.com/company/leadertype" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i> </a>
					</ul>
				</div>
			</div>
		</div>
	</section>

	<div class="modal fade" id="president-popup" role="dialog">
		<div class="modal-dialog zero-margin">

			<!-- Modal content president-popoup president-popoup-small-->
			<div class="modal-content ">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">{{selectedLeader.title}} LeaderType™ </h4>
				</div>
				<div class="container width-100">
					<div class="row">
						<div class=" col-md-2 col-sm-10 icon-leader section-min">
							<img ng-src="../../assets/images/latest_images/{{selectedLeader.indicatorId}}.png" class="model-img" />
						</div>
						<p class="bottom-margin-0 make-center hidden-sm-up"><strong>{{selectedLeader.name}}</strong></p>
						<div class="model-img-content col-md-10 section-min">
							<!--<h3 class="bottom-margin-0">{{selectedLeader.title}} LeaderType™ </h3>-->
							<p class="bottom-margin-0"><strong>Quote:</strong> “{{selectedLeader.quote}}”</p>
							<p class="bottom-margin-0  hidden-md-down "><strong>{{selectedLeader.name}}</strong></p>
							<p class="bottom-margin-0"><strong>Brand:</strong>&nbsp;{{selectedLeader.brand| join:', ' }}</p>
							<p class="bottom-margin-0"><strong>Values:</strong>&nbsp;{{selectedLeader.values| join:', ' }}</p>
							<p class="bottom-margin-0"><strong>Themes:</strong>&nbsp;{{selectedLeader.themes| join:', ' }}</p>
						</div>
						<div class="row">
						</div>
						<div class="row">
							<div class="col-md-6">
								<p class="bottom-margin-0 padding-left-10"><strong>Likely strengths:</strong></p>
								<ul>
									<li ng-repeat="strength in selectedLeader.strengths">{{strength}}</li>
								</ul>

							</div>
							<div class="col-md-6">
								<p class="bottom-margin-0 development-left-margin padding-left-15"><strong>Likely struggles:</strong></p>
								<ul>
									<li ng-repeat="area in selectedLeader.developmentAreas">{{area}}</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>


		</div>
	</div>

	<div class="modal fade" id="packageRefreshConfirmationModal" role="dialog">
		<div class="modal-dialog confirm-modal-dialog">
			<div class="modal-content confirm-modal">
				<div class="modal-header">
					<i class="fa fa-shopping-cart icon-mob  confirm-modal-header-icon"></i>
					<h4 class="modal-title  fw-semibold confirm-modal-title">Changes in pricing plan?</h4>
				</div>
				<center></center>
				<div class="row">
					<h5 class="padding-0-20">Changes in pricing plan will clear the items in the cart. Do you want to continue ?</h5>
				</div>
				<div class="modal-footer">
					<button class="btn btn-gray" ng-click="hideCartModal()">No</button>
					<button class="btn btn-dark1" ng-click="confirmClearCart()">Yes</button>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="subPackageInfoModal" role="dialog">
		<div class="modal-dialog confirm-modal-dialog">
			<div class="modal-content confirm-modal">
				<div class="modal-header">
					<!--<i class="fa fa-info-circle icon-mob  confirm-modal-header-icon"></i>-->
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<div class="">
						<i class="fa fa-info-circle icon-mob  confirm-modal-header-icon"></i>
						<h4 class="modal-title  fw-semibold confirm-modal-title">{{subPackageMoreInfo.title}}</h4>
					</div>
				</div>
				<center class="padding-10">This package includes the following conversation types:</center>
				<div class="row no-margin no-pad-top">
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 customPopNOMarginBottom">
						<ul class="list-group make-center">
							<li data-ng-repeat="feature in subPackageFirstInfo" class="list-group-item border-none">{{feature.features}}</li>
						</ul>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
						<ul class="list-group make-center">
							<li data-ng-repeat="feature in subPackageSecondInfo" class="list-group-item border-none">{{feature.features}}</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>