<div ng-include="'lt.modules/navBar/navbar.html'"></div>

<div class="learn-more" id="start">
    <div class="learnMoreContent padding-20">

    <h4 class="text-center-align"><b>WHAT LEADERTYPE.COM PROVIDES</b></h4>

        <!--<p class="align-justify display-inline1">//goToProfileForm()
            If you know your ‘best fit’ Myers-Briggs® type, please input your type code to get your most likely LeaderType™.
            <div class="dropdown" ng-if="$root.authService.isAuthenticated()">
                <button class="dropbtn"><a>Type Codes<span class="caret"></span></a></li></button>
                <div class="dropdown-content">
                    <a>ISTJ</a>
                    <a>ISFJ</a>
                    <a>INFJ</a>
                    <a>INTJ</a>
                    <a>ISTP</a>
                    <a>ISFP</a>
                    <a>INFP</a>
                    <a>INTP</a>
                    <a>ESTP</a>
                    <a>ESFP</a>
                    <a>ENFP</a>
                    <a>ENTP</a>
                    <a>ESTJ</a>
                    <a>ESFJ</a>
                    <a>ENFJ</a>
                    <a>ENTJ</a>
                </div>
            </div>
        </p>-->
        <!--<p class="align-justify margin-none">If you know your ‘best fit’ type, but still want to take the LTI, please do so. </p>-->
        <!--<h4 class="text-center-align">Presidential Comparison</h4>
        <p class="align-justify">Ever wonder which U.S. President your leadership style most closely resembles? No matter what your personality type,
            there’s a great leader who shares the same LeaderType™ as you. Take a quick assessment to find out.
            <link to LTI> For more about how the research was conducted…
            <link to Methodology>
        </p>-->


        <!--changes according to the document provided but later depricated and the contents moved to the landing page-->
        <!--starts-->
        <!--<h4 class="text-left-align margin-none">LeaderType Indicator™ (LTI)</h4>
        <p class="align-justify margin-none">This quick (~5-minute) sliding scale assessment will reveal your top 3 LeaderTypes™ (which are based on the psychological
            types identified by Swiss psychiatrist, C. G. Jung. After reviewing the descriptions of the top three LeaderTypes™
            suggested for you, you choose the one most like your primary style and the one that is next most like you.
            <span ng-click="$root.authService.gotoDashboard()"><a class="text-link">Take the LTI</a></span>
        </p>
        <p class="align-justify margin-none">To see a description of all eight LeaderTypes™, or see your eight LeaderTypes ranked, you will need to
            <span ng-click="$root.authService.signUp()" ng-if="!$root.authService.isAuthenticated()"><a class="text-link">create a Profile.</a></span>
            <span ng-click="$root.authService.gotoProfile()" ng-if="$root.authService.isAuthenticated()"><a class="text-link">create a Profile.</a></span>
        </p>

        <h4 class="text-left-align margin-none heading">My LeaderBrand</h4>
        <p class="align-justify margin-none">for Enhanced package subscribers
            <span ng-click="gotoComingSoon();"><a class="text-link">link to sample page</a></span> LeaderType.com offers multiple
            assessments that can help you better understand your leadership behaviors, qualities, deficits, needs, triggers
            and more. You can also input assessment results and demographic data to compare yourself with leaders who share
            your LeaderType™. <span ng-click=""><a class="text-link">Add the Enhanced package to your cart. </a></span>
        </p>

        <h4 class="text-left-align margin-none heading">LeaderTEAM Feedback report</h4>
        <p class="align-justify margin-none">for Premium package subscribers
            <span ng-click="gotoComingSoon();"><a class="text-link">link to sample page</a></span> By inviting your manager(s)
            and team members to give you feedback you discover how their perceptions of your leadership effectiveness compare
            with your own. In addition to showing your highest- and lowest-rated behaviors, and displaying several composites
            (e.g. Trust), the report highlights what you should specifically keep, start and stop doing. <span ng-click=""><a class="text-link">Add the Premium package to your cart.</a></span>
        </p>

        <h4 class="text-left-align margin-none heading">Customized LeaderSWOT™ assessment </h4>
        <p class="align-justify margin-none">for Platinum package subscribers
            <span ng-click="gotoComingSoon();"><a class="text-link">screenshot</a></span> This is for leaders who want to
            involve their teams in devising strategy. In this collaborative environment, you fill-in the blanks regarding
            its current state, vision, mission, strengths, weaknesses, opportunities, threats, key success factors/values
            and biases. This ensures you and your team have fully explored the challenge you face in detail, and helps you
            identify your best strategy given your SWOT. <span ng-click=""><a class="text-link">Add the Platinum package to your
                cart.</a></span>
        </p>

        <h3 class="text-left-align margin-none heading">Coming Soon</h3>


        <h4 class="text-left-align margin-none heading">Interactive Forums,</h4>
        <p class="align-justify margin-none">organized by LeaderType™, where you can pose questions to other leaders, as well as offer suggestions, different
            perspectives, and strategies that have worked for you. You can also start or join a <b>chat</b> around a particular
            leadership topic. Build your influence by sharing your best practices.
        </p>


        <h4 class="text-left-align margin-none heading">Leadership Quotes,</h4>
        <p class="align-justify margin-none">a library of hundreds of quotes from historical and contemporary leaders which you can rate and add to your favorites
            list ranked by how they resonate with and inspire you.
        </p>-->
        <!--ends-->

        <!-- previously added content-->
        <!--start-->
        <h4 class="text-left-align margin-none">LeaderType Indicator™ (LTI)</h4>
        <p class="align-justify margin-none">This quick (~5-minute) sliding scale assessment will reveal your top 3 LeaderTypes™ (which are based on the psychological
            types identified by Swiss psychiatrist, C. G. Jung. After reviewing the descriptions of the top three LeaderTypes™
            suggested for you, you choose the one most like your primary style and the one that is next most like you.
            <span ng-click="$root.authService.gotoDashboard()"><a class="text-link">Take the LTI</a></span>
        </p>
        <p class="align-justify margin-none">To see a description of all eight LeaderTypes™, or see your eight LeaderTypes ranked, you will need to
            <span ng-click="$root.authService.loginWithSignUp()" ng-if="!$root.authService.isAuthenticated()"><a class="text-link">create a Profile.</a></span>
            <span ng-click="$root.authService.gotoProfile()" ng-if="$root.authService.isAuthenticated()"><a class="text-link">create a Profile.</a></span>
        </p>

        <h4 class="text-left-align margin-none heading">Team + Type Feedback </h4>
        <p class="align-justify margin-none">Team members invited by their leader to give feedback can assess their personality type as well. This helps identify
            the team’s natural strengths and weaknesses, as well as individual needs with respect to leadership. Try the
            <span class="font-weight-700">TeamSWOT™</span> assessment.
            <span class="text-link" ng-click="gotoComingSoon()">For more about Confidentiali... </span>
        </p>
        <h4 class="text-left-align margin-none heading">Confidentiality</h4>
        <p class="align-justify margin-none">All feedback is anonymous and confidential—except, of course, where only one person responds in a category (e.g.,
            ‘Leader’). As the person seeking feedback (‘Self’), you see only a summary of your Followers’ ratings, and comments
            are presented in random order. Followers can choose whether to rate, comment and/or reveal their personality
            type. As the person seeking feedback, you choose with whom to share your results.
        </p>

        <h4 class="text-left-align margin-none heading">Tools & Resources</h4>
        <p class="align-justify margin-none">LeaderType.com offers <span class="font-weight-700">multiple assessments</span> for you to better understand yourself,
            as well as the option to enter demographic data to compare yourself with leaders of your gender, age group, nationality,
            industry, etc. Also available when you sign-up is a <span class="font-weight-700">library of leadership quotes</span>            which you can rate and compile in your profile—plus recommended books and articles rated by leaders like you.
        </p>

        <h4 class="text-left-align margin-none heading">Interactive Forums</h4>
        <p class="align-justify margin-none">There are LeaderType™ general <span class="font-weight-700">forums</span> where leaders can pose questions, and offer
            suggestions, different perspectives, and strategies that have worked in their experience. You can also start
            or join a <span class="font-weight-700">chat</span> around a particular leadership topic.
        </p>


        <h4 class="text-left-align margin-none heading">Beliefs & Philosophy </h4>
        <p class="align-justify margin-none">In my work with leaders around the world I have come to these conclusions:
        </p>
        <ol>
            <li>Leadership is very subjective. Peoples’ ideas about and definitions of leadership are vastly different, not to
                mention what people want and expect from a leader varies incredibly.
            </li>
            <li>A ‘best’ leadership style doesn’t exist. Leaders with very different patterns of cognition and behavior can be
                successful. The ‘best’ depends on many variables: the demands of the situation, expectations of you as leader,
                the needs of your followers, your mission, the organization’s culture, and an honest appraisal of your strengths
                and weaknesses. LeaderType.com helps you find the ‘best’ leader in you.
            </li>
            <li>Greater self-awareness is a universal need among leaders. Many leaders don’t know what makes them successful,
                what’s derailing them, what they truly value, or what they need to do to get better. The oracle at Delphi
                said it best: before you can lead others, you must first lead yourself, and before you can lead yourself,
                you must know yourself.
            </li>
        </ol>
        <p class="align-justify margin-none">LeaderType.com was conceived to help leaders understand themselves better, develop their unique brand of leadership,
            leverage the diversity of their team, and ultimately achieve greater results through others.
        </p>

        <h4 class="text-left-align margin-none heading">How Does LeaderType.com Work?
        </h4>
        <p class="align-justify margin-none">LeaderType.com was inspired by Marcus Buckingham’s June 2012 Harvard Business Review (HBR) article, “Leadership Development
            in the Age of Algorithm”; one quote summarized what LeaderType.com is about:
        </p>
        <blockquote class="align-justify quote margin-none">Soon there will be a place, somewhere in the cloud, that continually gathers the best techniques, tips, and practical
            innovations from high-performing leaders around the world; sorts them according to each individual’s unique leadership
            algorithm; feeds you the techniques that fit you best; and refines its filtering as it learns how you react to
            those techniques. It will be <span class="font-weight-700">your own personal leadership coach, powered by the top leaders who are most like
            you.</span>
        </blockquote>
        <p class="align-justify margin-none">While there are many personality assessments which can offer insights on your leadership style, LeaderType.com is
            organized around the world’s most widely used instrument: the Myers-Briggs Type Indicator (MBTI)®. If you know
            your 4-letter MBTI type code, then your LeaderType™ is most likely the dominant function of your personality—the
            ‘chief executive’ or driving force of your leadership style. Think of your LeaderType™ as your ‘operating system’:
            you need to know its functionality and limitations before you can successfully run ‘apps’ (think skills or behaviors)
            on your operating system—even more so if you want to leverage your LeaderType™ to its maximum potential.
        </p>
        <h4 class="text-left-align margin-none heading">Personalized Data</h4>
        <p class="align-justify margin-none">At LeaderType.com you generate data and populate your profile based on your situation and needs. Tips, techniques
            and tools are geared to your LeaderType™. It becomes your 24/7 just-in-time leadership coach.
        </p>
        <h4 class="text-left-align margin-none heading">Customized LeaderSWOT™ Profile
        </h4>
        <p class="align-justify margin-none">This set of assessments and prompts enables you to explore your situation in great detail, and helps you identify
            your best strategy given you and your team’s Strengths, Weaknesses, Opportunities and Threats.
        </p>
        <!--end-->

    </div>
</div>