<div ng-include="'lt.modules/navBar/navbar.html'"></div>
<!--<div class="learnMoreContent padding-20">
<h4 class="text-center-align">Methodology </h4>
<p class="align-justify">Here’s how the 8 LeaderTypes™ were identified with 8 U.S. Presidents. More than 120 historians answered a normed psychological
    assessment (the NEO-PI) about President(s) on whom they were expert. These results were averaged together, and then translated
    into a Myers-Briggs® type code. (While there is strong correlation at the factor-level, this translation was based on
    NEO-PI facet-level analysis.) From this data, as well as biographies, autobiographies and quotes, a LeaderType™ was determined
    for each President. Separately, rankings of the U.S. Presidents were compared, and a consensus emerged around the top
    9. Interestingly, liberals and conservatives differed on only 1 out of the top 10 U.S. Presidents of all time. Conclusion:
    among the top 9 U.S. Presidents were 8 LeaderTypes™. Discover the natural style you share with a great American President.
    <link to LTI>
</p>
</div>-->
<!--changed to-->

<div class="learnMoreContent padding-20">
    <h3 class="text-center-align">Research Methodology </h3>
    <h4 class="zero-bottom-margin">How our eight LeaderTypes™ associate with eight U.S. presidents:</h4>
    <ul class="align-justify">
        <li>More than 120 historians answered a normed psychological assessment (the NEO-PI) about president(s) with whom they
            had expertise.
        </li>
        <li>These results were averaged together, and then translated into a Myers-Briggs® type. <i>"(While there is a strong correlation at the factor-level, this translation was based on NEO-PI facet-level analysis.)"</i>
        </li>
        <li>From these data (as well as biographies, autobiographies and quotes) a LeaderType™ was determined for each president.
        </li>
        <li>Separately, rankings of the U.S. presidents were compared, and a consensus emerged as to which represented the nine
            most effective presidents in history <i>"(interestingly, liberals and conservatives had only one difference in whom they listed as the top 10 U.S. presidents of all time)."</i>
        </li>
        <li>Conclusion: The top nine U.S. presidents reflect eight different LeaderTypes™.
        </li>
    </ul>
    <p class="zero-bottom-margin"><span ng-click="$root.authService.gotoDashboard()"><a class="text-link">Discover the natural style you share with a great American president.</a></span></p>

    <!--<p class="align-justify">
        <link to LTI>
    </p>-->

</div>