<div ng-include="'lt.modules/navBar/navbar.html'"></div>

<div class="learn-more" id="start">
    <div class="learnMoreContent padding-20">
        <h4 class="text-left-align margin-none">LeaderType™ Privacy Policy</h4>
        <p class="align-justify margin-none">Protecting your private information is our priority. This Statement of Privacy applies to www.LeaderType.com and
            Keahey Consulting Group, Inc. (KCG), and governs data collection and usage. For the purposes of this Privacy
            Policy, unless otherwise noted, all references to KCG include LeaderType™ and Keahey Consulting Group, Inc. LeaderType.com
            is a website for sharing information, taking assessments and generating reports. By using the www.leadertype.com
            website, you consent to the data practices described in this statement.
        </p>

        <h4 class="text-left-align margin-none heading">TRUSTe Privacy Program</h4>
        <p class="align-justify margin-bottom-17">KCG is a licensee of the TRUSTe Privacy Program. TRUSTe is an independent organization whose mission is to build
            users' trust and confidence in the Internet by promoting the use of fair information practices. Because we want
            to demonstrate our commitment to your privacy, we have agreed to disclose our information practices and have
            our privacy practices reviewed for compliance by TRUSTe.</p>
        <p class="align-justify">If you have questions or concerns regarding this policy, you should first contact us at info@leadertype.com. If you
            do not receive acknowledgement of your inquiry or your inquiry has not been satisfactorily addressed, you should
            contact TRUSTe at http://watchdog.truste.com/pvr.php?page=complaint. TRUSTe may serve as a liaison with us to
            resolve your concerns.</p>

        <h4 class="text-left-align margin-none heading">Collection of your Personal Information</h4>
        <p class="align-justify margin-bottom-17">KCG may collect personally identifiable information, such as your name and email address. If you purchase KCG's products
            and services, we collect billing and credit card information. This information is used to complete the purchase
            transaction. KCG may also collect anonymous demographic information, which is not unique to you, such as your
            age, gender, leadership level, personality type, nationality and language. We may gather additional personal
            or non-personal information in the future.</p>
        <p class="align-justify margin-bottom-17">Information about your computer hardware and software may be automatically collected by KCG. This information can
            include: your IP address, browser type, domain names, access times and referring website addresses. This information
            is used for the operation of the service, to maintain quality of the service, and to provide general statistics
            regarding use of the KCG website</p>
        <p class="align-justify margin-bottom-17">Please keep in mind that if you directly disclose personally identifiable information or personally sensitive data
            through KCG's public message boards, forums or chat rooms, this information may be collected and used by others.</p>
        <p class="align-justify">KCG encourages you to review the privacy statements of websites you choose to link to from KCG so that you can understand
            how those websites collect, use and share your information. KCG is not responsible for the privacy statements
            or other content on websites outside of the KCG website.</p>

        <h4 class="text-left-align margin-none heading">Use of your Personal Information</h4>
        <p class="align-justify margin-bottom-17">KCG collects and uses your personal information to operate its website and deliver the services you have requested.</p>
        <p class="align-justify margin-bottom-17">KCG may also use your personally identifiable information to inform you of other products or services available from
            KCG and its affiliates. KCG may also contact you via surveys to conduct research about your opinion of current
            services or of potential new services that may be offered.</p>
        <p class="align-justify margin-bottom-17">KCG does not sell, rent or lease its customer lists to third parties.</p>
        <p class="align-justify margin-bottom-17">KCG may share data with trusted partners to help perform statistical analysis, send you email, or provide customer
            support. All such third parties are prohibited from using your personal information except to provide these services
            to KCG, and they are required to maintain the confidentiality of your information.</p>
        <p class="align-justify margin-bottom-17">KCG may keep track of the websites and pages our users visit within KCG, in order to determine what KCG services
            are most popular. This data is used to deliver customized content and advertising within KCG to customers whose
            behavior indicates that they are interested in a particular subject area.</p>
        <p class="align-justify">KCG will disclose your personal information, without notice, only if required to do so by law or in the good faith
            belief that such action is necessary to: (a) conform to the edicts of the law or comply with legal process served
            on KCG or the site; (b) protect and defend the rights or property of KCG; and, (c) act under exigent circumstances
            to protect the personal safety of users of KCG, or the public.</p>

        <h4 class="text-left-align margin-none heading">Use of Cookies</h4>
        <p class="align-justify margin-bottom-17">The KCG website may use "cookies" to help you personalize your online experience. A cookie is a text file that is
            placed on your hard disk by a web page server. Cookies cannot be used to run programs or deliver viruses to your
            computer. Cookies are uniquely assigned to you, and can only be read by a web server in the domain that issued
            the cookie to you.</p>
        <p class="align-justify margin-bottom-17">One of the primary purposes of cookies is to provide a convenience feature to save you time. The purpose of a cookie
            is to tell the Web server that you have returned to a specific page. For example, if you personalize KCG pages,
            or register with KCG site or services, a cookie helps KCG to recall your specific information on subsequent visits.
            This simplifies the process of recording your personal information, such as billing addresses, shipping addresses,
            and so on. When you return to the same KCG website, the information you previously provided can be retrieved,
            so you can easily use the KCG features that you customized.</p>
        <p class="align-justify">You have the ability to accept or decline cookies. Most web browsers automatically accept cookies, but you can usually
            modify your browser setting to decline cookies if you prefer. If you choose to decline cookies, you may not be
            able to fully experience the interactive features of the KCG services or websites you visit.</p>

        <h4 class="text-left-align margin-none heading">Security of your Personal Information</h4>
        <p class="align-justify margin-none">To secure your personal information from unauthorized access, use or disclosure, KCG uses the following:</p>
        <p class="margin-bottom-17">
            <ol>
                <ul>Verisign</ul>
                <ul>TRUSTe</ul>
            </ol>
        </p>
        <p class="align-justify margin-bottom-17">When personal information (such as a credit card number) is transmitted to other websites, it is protected through
            the use of encryption, such as the Secure Sockets Layer (SSL) protocol.</p>
        <p class="align-justify">Verisign is an independent, third-party company engaged in the development of digital trust. Verisign provides authentication
            of Internet services, digital identity and intellectual property. By clicking on the Verisign logo, the Verisign
            website will serve up a web page that confirms that KCG is "Verisign Authenticated."</p>

        <h4 class="text-left-align margin-none heading">Children Under Thirteen</h4>
        <p class="align-justify">KCG does not knowingly collect personally identifiable information from children under the age of thirteen. If you
            are under the age of thirteen, you must ask your parent or guardian for permission to use this website.</p>

        <h4 class="text-left-align margin-none heading">Disconnecting your KCG Account from Third Party Websites</h4>
        <p class="align-justify">You will be able to connect your KCG account to third party accounts. BY CONNECTING YOUR KCG ACCOUNT TO YOUR THIRD
            PARTY ACCOUNT, YOU ACKNOWLEDGE AND AGREE THAT YOU ARE CONSENTING TO THE CONTINUOUS RELEASE OF INFORMATION ABOUT
            YOU TO OTHERS (IN ACCORDANCE WITH YOUR PRIVACY SETTINGS ON THOSE THIRD PARTY SITES). IF YOU DO NOT WANT INFORMATION
            ABOUT YOU, INCLUDING PERSONALLY IDENTIFYING INFORMATION, TO BE SHARED IN THIS MANNER, DO NOT USE THE THIS FEATURE.
            You may disconnect your account from a third party account at any time. Users may disconnect their accounts from
            Facebook®, LinkedIn®, Twitter® and GooglePlus® by visiting "My Account" page. Users may email info@leadertype.com
            for answers to specific questions regarding disconnection.</p>

        <h4 class="text-left-align margin-none heading">Opt-Out & Unsubscribe</h4>
        <p class="align-justify margin-none">We respect your privacy and give you an opportunity to opt-out of receiving announcements of certain information.
            Users may opt-out of receiving any or all communications from KCG by contacting us here:</p>
        <ol>
            <ul>- Web page: www.leadertype.com</ul>
            <ul>- Email: info@leadertype.com</ul>
            <ul>- Phone: 972-863-9245</ul>
        </ol>

        <h4 class="text-left-align margin-none heading">Changes to this Statement</h4>
        <p class="align-justify">KCG will occasionally update this Statement of Privacy to reflect company and customer feedback. KCG encourages you
            to periodically review this Statement to be informed of how KCG is protecting your information.</p>

        <h4 class="text-left-align margin-none heading">Contact Information</h4>
        <p class="align-justify margin-none">KCG welcomes your questions or comments regarding this Statement of Privacy. If you believe that KCG has not adhered
            to this Statement, please contact KCG at:</p>
        <p class="align-justify margin-bottom-17">
            <u>Mailing address:</u>
            <ol>
                <ul>Keahey Consulting Group,Inc.</ul>
                <ul>P.O. Box 836616</ul>
                <ul>Richardson, TX 75080
                    <ul>
            </ol>
        </p>
        <p>
            <u>Email address:</u>
            info@leadertype.com
            <br>
            <u>Telephone:</u>
            972-863-9425
            <p>Effective as of April 15, 2016</p>
        </p>
    </div>
</div>