<div class="strip-custom col-md-12 col-sm-12 col-xs-12">
  <div class="green-strip col-md-3 col-sm-3 col-xs-3"></div>
  <div class="yellow-strip col-md-3 col-sm-3 col-xs-3"></div>
  <div class="red-strip col-md-3 col-sm-3 col-xs-3"></div>
  <div class="blue-strip col-md-3 col-sm-3 col-xs-3"></div>
</div>
<!-- Navigation-->
<nav class="navbar navbar-universal nav-height navbar-fixed-top header-custom zero-bottom-margin hidden-md-down">
  <div class="container">

    <div ng-click="$root.authService.gotoHome()" class="navbar-header custom-nav">
      <img src="../assets/images/logo.png" alt="Logo" class="logo-custom">
      <p class="logo-title">LeaderTYPE<sup class="tm">TM</sup></p>
    </div>
  </div>
</nav>