<div class="strip-custom col-md-12 col-sm-12 col-xs-12">
  <div class="green-strip col-md-3 col-sm-3 col-xs-3"></div>
  <div class="yellow-strip col-md-3 col-sm-3 col-xs-3"></div>
  <div class="red-strip col-md-3 col-sm-3 col-xs-3"></div>
  <div class="blue-strip col-md-3 col-sm-3 col-xs-3"></div>
</div>
<!-- Navigation-->
<nav class="navbar navbar-universal nav-height navbar-fixed-top header-custom zero-bottom-margin z-index-top">
  <div class="container-fluid">

    <div ng-click="$root.authService.gotoHome()" class="navbar-header custom-nav cursor-pointer">
      <img src="../assets/images/logo.png" alt="Logo" class="logo-custom">
      <p class="logo-title">LeaderTYPE<sup class="tm">TM</sup></p>
    </div>
    <div class=" hidden-md-down">
      <ul class="nav navbar-nav navbar-left margin ">
          <div class="dropdown padding-right-5" ng-if="$root.authService.isAuthenticated()">
            <button class="dropbtn font-weight-700"><a><i class="fa fa-user avatar-icon" aria-hidden="true"></i>{{$root.authService.name()}}<span class="caret"></span></a></li></button>
            <div class="dropdown-content uppercase">
              <a ng-click="$root.authService.gotoDashboard()" class="font-weight-700" ng-if="state.current.name !='dashboard.mylti'">My LeaderType</a>
              <a ng-click="$root.authService.gotoAccount()" class="font-weight-700" ng-if="state.current.name !='accountpage'">My Packages</a>
              <a ng-click="$root.authService.gotoProfile()" class="font-weight-700" ng-if="state.current.name !='profile'">My Profile</a>
              <a ng-if="$root.authService.isShowReports()" ng-click="$root.authService.gotoReports()" class="font-weight-700" ng-if="state.current.name !='reports'">Reports</a>
              <a ng-click="$root.authService.logout()" class="font-weight-700">Log out</a>
            </div>
          </div>
        <li ng-click="$root.authService.loginWithSignUp()" ng-if="!$root.authService.isAuthenticated()" class="font-weight-700"><a>LOG IN </a></li>
        <!--<li ng-click="$root.authService.signUp()" ng-if="!$root.authService.isAuthenticated()" class="font-weight-700"><a>CREATE YOUR PROFILE</a></li>-->
      </ul>
    </div>
  </div>
</nav>
