<section class="bg-white section-padding-adjustment brandingSection ">
    <div class="overlay-white"></div>
    <div class="container">
        <div id="wrapper">
            <div ng-if="inviteeName != 'you'" ng-include="'lt.modules/navBar/authnavbar.html'"></div>
            <div ng-if="inviteeName == 'you'" ng-include="'lt.modules/navBar/navbar.html'"></div>
            <nav class="navbar nav-2 hidden-md-down navbar-fixed-top dark-navbar" role="navigation">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                        <h4 class="whiteFontColor customHeaderForOtherDasboardPage" ng-class="brandclassName">
                            <span>MY LEADERSHIP TEAM FEEDBACK</span>
                        </h4>
                    </div>
                </div>
            </nav>
            <div id="page-wrapper">
                <div class="container-fluid custom-container">
                    <div class="ui" ui-view>
                        <div>
                            <div class="row no-padding coming-soon center-div-positioning col-lg-12 col-md-12 col-sm-12 col-xs-12 customLtiTeamPageMargintop">

                                <div class="slider">
                                    <div ng-if="pageArray.length-1 >questionPageCount && !invalid">
                                        <div class="make-center">
                                            <h4 ng-if="inviteeName != 'you'">Based on what you'd expect of someone in (his/her) position. How well does {{inviteeName}}....</h4>
                                            <h4 ng-if="inviteeName == 'you'">Based on what's expected of your position, how well do you....</h4>
                                            <div class="seperation-line"></div>
                                        </div>
                                    </div>
                                    <div class=" no-padding">
                                        <div class="col-md-12 col-sm-12 col-xs-12 on-mobile-padding">

                                            <div class=" question-container-height">
                                                <div class="text-left" ng-repeat="role in roleSet track by $index" ng-if="pageArray[$index] && !invalid"><strong>{{role}}</strong></div>
                                                <!--Progress bar-->
                                                <div class="progressdiv-feedback" ng-if="pageArray.length-1 >questionPageCount && !invalid">
                                                    <div class="progress-feedback" ng-style="{ 'width': percentage + '%' }">
                                                        <div style="float:right;">{{percentage + '%'}}</div>
                                                    </div>
                                                </div>

                                                <div class="question-container ">
                                                    <!--Questions display for first set-->
                                                    <div id="questionset1" ng-repeat="question in questionSet" ng-if="pageArray[$index] && !invalid">
                                                        <div ng-repeat="ques in question">
                                                            <div class="row topmargin fixed-height">
                                                                <div class="row">
                                                                    <div class="col-md-4">{{ques.behavior}}</div>
                                                                    <div class="col-md-8">
                                                                        <ul class="list-type-none no-left-padding">
                                                                            <li>
                                                                                <input type="range" class="rangeInFeedback" step="1" min="-2" max="2" ng-model="ques.value">
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row" ng-if="invalid">
                                                        <div class="topmargin fixed-height">
                                                            <div class="make-center">
                                                                <h3><strong>Sorry!</strong></h3>
                                                                <h4>Invite may be expired or invalid.</h4>
                                                                <center ng-if="inviteeName == 'you'">
                                                                    <div class="btn btn-dark left-button" ng-click="gotoLeaderTeam()">Back To Reports <i class="fa fa-check-circle"></i></div>
                                                                </center>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row" ng-if="pageArray[pageArray.length-1] && !invalid">
                                                        <div class="topmargin fixed-height">
                                                            <div class="make-center">
                                                                <h3><strong>Thank you!</strong></h3>
                                                                <h4>Your feedback is submitted successfully.</h4>
                                                                <center ng-if="inviteeName == 'you'">
                                                                    <div class="btn btn-dark left-button" ng-click="gotoLeaderTeam()">Back To Reports <i class="fa fa-check-circle"></i></div>
                                                                </center>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row" ng-if="pageArray[pageArray.length-2] && !invalid">

                                                        <div class="form-layout">
                                                            <div class="row form-group">
                                                                <div class="col-md-3 col-lg-3 col-xs-12 col-sm-12 text-left section-min-top">What would you suggest {{inviteeName}} START doing</div>
                                                                <div class="col-md-9 col-lg-9 col-xs-12 col-sm-12">
                                                                    <textarea class="text-area" class="form-control" limit-char limit="100" ng-model="feedback.start" placeholder="START"></textarea>
                                                                </div>
                                                            </div>

                                                            <div class="row form-group">
                                                                <div class="col-md-3 col-lg-3 col-xs-12 col-sm-12 text-left section-min-top">What would you suggest {{inviteeName}} KEEP doing or DO MORE</div>
                                                                <div class="col-md-9 col-lg-9 col-xs-12 col-sm-12">
                                                                    <textarea class="text-area" class="form-control" limit-char limit="100" ng-model="feedback.keep" placeholder="KEEP"></textarea>
                                                                </div>
                                                            </div>

                                                            <div class="row form-group">
                                                                <div class="col-md-3 col-lg-3 col-xs-12 col-sm-12 text-left section-min-top">What would you suggest {{inviteeName}} STOP doing or CHANGE</div>
                                                                <div class="col-md-9 col-lg-9 col-xs-12 col-sm-12">
                                                                    <textarea class="text-area" class="form-control" limit-char limit="100" ng-model="feedback.stop" placeholder="STOP"></textarea>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <center ng-if="pageArray.length-2>questionPageCount && !invalid">
                                                    <div class="color-row zero-top-padding">
                                                        <div class="color-pallete-align">
                                                            <div class="color-row">
                                                                <div class="color-box gray-1"></div><span class="color-meaning">Much better than I'd expect</span></div>
                                                            <div class="color-row">
                                                                <div class="color-box gray-2"></div><span class="color-meaning">Better than I'd expect</span></div>
                                                            <div class="color-row">
                                                                <div class="color-box gray-3"></div><span class="color-meaning">About what I'd expect</span></div>
                                                            <div class="color-row">
                                                                <div class="color-box  gray-4"></div><span class="color-meaning">Less than I'd expect</span></div>
                                                            <div class="color-row">
                                                                <div class="color-box gray-5"></div><span class="color-meaning">Much less than I'd expect</span></div>
                                                        </div>
                                                    </div>
                                                </center>
                                            </div>

                                            <div class="row position-relative" ng-if="pageArray.length-1>questionPageCount && !invalid">
                                                <hr>
                                                <div class="pull-left botmargin">
                                                    <button class="btn btn-dark leftbutton" ng-click="resetFunction()" ng-disabled="isOnReset" aria-label="Close"><i class="fa fa-refresh" aria-hidden="true"></i>&nbsp;&nbsp;Reset</button>
                                                    <button ng-if="inviteeName == 'you'" class="btn btn-danger leftbutton" ng-click="cancelFunction()" ng-disabled="isOnReset"
                                                        aria-label="Close"><i class="fa fa-times" aria-hidden="true"></i>&nbsp;&nbsp;Cancel</button>
                                                </div>
                                                <div class="pull-right">
                                                    <!-- Previous Page -->
                                                    <button class="btn btn-dark leftbutton" ng-disabled="questionPageCount==0" ng-disabled="isOnReset" ng-click="prevPageFunction()"><i class="fa fa-arrow-circle-left"></i>&nbsp;&nbsp;Back</button>

                                                    <!-- Next Page -->
                                                    <div class="pull-right but" ng-if="pageArray.length-2>questionPageCount">
                                                        <button class="btn btn-dark leftbutton" ng-disabled="isOnReset" ng-click="nextPageFunction()">
                                                    Next&nbsp;
                                                    <i class="fa fa-arrow-circle-right"></i>
                                                </button>
                                                    </div>
                                                    <!--Submit Page-->
                                                    <div class="pull-right but" ng-if="pageArray.length-2==questionPageCount">
                                                        <button class="btn btn-dark leftbutton" ng-click="submitFunction(question)">Submit&nbsp;&nbsp;<i class="fa fa-check-circle"></i></button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-small footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <p>&copy; 2017 | LeaderType™ | All rights are reserved | <span ng-click="gotoPrivacy()"><a class="text-link">Privacy Policy</a></span></p>
            </div>
            <div class="col-sm-3">
            </div>
            <div class="col-sm-3  text-right">
                <ul class="list-inline">
                    <a class="color-white btn btn-info social-btn-size" href="https://twitter.com/LeaderType" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    <a class="color-white btn fb-bg social-btn-size" href="https://www.facebook.com/leadertype/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    <a class="color-white btn linkedin-bg social-btn-size" href="https://www.linkedin.com/company/leadertype" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i> </a>
                </ul>
            </div>
        </div>
    </div>
</section>

<div class="modal fade" id="submitConfirmationModal" role="dialog">
    <div class="modal-dialog confirm-modal-dialog">
        <div class="modal-content confirm-modal">
            <div class="modal-header">
                <i class="fa fa-floppy-o icon-mob confirm-modal-header-icon"></i>
                <h4 class="modal-title fw-semibold confirm-modal-title">Submit ?</h4>
            </div>
            <center></center>
            <div class="row">
                <h5 class="padding-0-20">This action will submit your feedback. Are you sure?</h5>
            </div>
            <div class="modal-footer">
                <button class="btn btn-dark" ng-click="noSubmit()">No</button>
                <button class="btn btn-primary" ng-click="yesSubmit()">Yes</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="cancelConfirmationModal" role="dialog">
    <div class="modal-dialog confirm-modal-dialog">
        <div class="modal-content confirm-modal">
            <div class="modal-header">
                <i class="fa fa-floppy-o icon-mob confirm-modal-header-icon"></i>
                <h4 class="modal-title fw-semibold confirm-modal-title">Cancel ?</h4>
            </div>
            <center></center>
            <div class="row">
                <h5 class="padding-0-20">This action will cancel your work and take to reports. Are you sure?</h5>
            </div>
            <div class="modal-footer">
                <button class="btn btn-dark" ng-click="noCancel()">No</button>
                <button class="btn btn-danger" ng-click="yesCancel()">Yes</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="errorConfirmationModal" role="dialog">
    <div class="modal-dialog confirm-modal-dialog">
        <div class="modal-content confirm-modal">
            <div class="modal-header">
                <i class="fa fa-floppy-o icon-mob confirm-modal-header-icon"></i>
                <h4 class="modal-title fw-semibold confirm-modal-title">Error ?</h4>
            </div>
            <center></center>
            <div class="row">
                <h5 class="padding-0-20">Something went wrong please try again.</h5>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" ng-click="yesError()">Ok</button>
            </div>
        </div>
    </div>
</div>