<div ng-show="subscribedPackages[0] && !subscribedPackages[1]">
  <div ui-view="responsesTeam" ng-if="showResponsesTeam"></div>
  <div ui-view="inviteTeam" ng-if="showInviteTeam"></div>
  <div ui-view="reportTeam" ng-if="showReportTeam"></div>
  <div ui-view="defaultViewTeam" ng-if="showDefaultViewTeam"></div>
</div>
<section ng-show="!subscribedPackages[0]||subscribedPackages[1]">
  <div class="container">
    <div class="row make-center">
      <h3 ng-if="!subscribedPackages[0]" class="make-center"> Oops! It seems this feature is not included in your subscription.</h3>
      <h3 ng-if="subscribedPackages[1]" class="make-center"> Your subscription has been expired.Please renew your subscription.</h3>
      <button class="btn btn-dark " ng-if="!subscribedPackages[0]" ng-click="gotoPackage()">Subscribe</button>
      <button class="btn btn-dark " ng-if="subscribedPackages[1]" ng-click="$root.authService.gotoAccount()">Subscribe</button>
    </div>
  </div>
</section>

<section class="section-small footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <p>&copy; 2017 | LeaderType™ | All rights are reserved | <span ng-click="gotoPrivacy()"><a class="text-link">Privacy Policy</a></span></p>
      </div>
      <div class="col-sm-3">
      </div>
      <div class="col-sm-3  text-right">
        <ul class="list-inline">
          <a class="color-white btn btn-info social-btn-size" href="https://twitter.com/LeaderType" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
          <a class="color-white btn fb-bg social-btn-size" href="https://www.facebook.com/leadertype/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
          <a class="color-white btn linkedin-bg social-btn-size" href="https://www.linkedin.com/company/leadertype" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i> </a>
        </ul>
      </div>
    </div>
  </div>
</section>