<!--<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="../assets/images/logo.png">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>LeaderTYPE
    </title>
    <!-- Bootstrap Core CSS-->
<!--<link href="../assets/css/bootstrap.min.css" rel="stylesheet">-->
<!-- Custom CSS-->
<!--<link href="../assets/css/universal.css" rel="stylesheet">-->

<!--</head>-->
<div id="page-top" data-spy="scroll" data-target=".navbar-fixed-top" class="top">
  <!-- Preloader-->
  <!--   <div id="preloader">
      <div id="status"></div>
    </div>-->

  <!-- Navigation-->
  <nav class="navbar navbar-universal navbar-custom navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" data-toggle="collapse" data-target=".navbar-main-collapse" class="navbar-toggle"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
        <a
          href="#page-top" class="navbar-brand page-scroll margin-adjust">
          <!-- Text or Image logo--><img src="../assets/images/logo.png" alt="Logo" class="logo"><img src="../assets/images/logo.png" alt="Logo" class="logodark">
          <p
            class="logo-title">LeaderTYPE<sup class="tm">TM</sup></p>

      </div>
      <div class="collapse navbar-collapse navbar-main-collapse">
        <ul class="nav navbar-nav navbar-left">
          <li class="hidden">
            <a href="#page-top"></a>
          </li>
          <li><a href="http://122.180.29.167/leadertype/#about">ABOUT<span class="caret"></span></a></li>
            <li><a href="http://122.180.29.167/leadertype/#packages">PACKAGES <span class="caret"></span></a></li>
          <li><a href="#contact">CONTACT US <span class="caret"></span></a></li>
          <!--<li><a href="#">BLOG <span class="caret"></span></a></li>-->
          <li data-toggle="modal" data-target="#myModal"><a>LOG IN <span class="caret"></span></a></li>
          <li data-toggle="modal" data-target="#signUpModal"><a>CREATE YOUR PROFILE <span class="caret"></span></a></li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Intro Slider-->
  <header id="Carousel-intro" data-ride="carousel" class="intro carousel carousel-big slide carousel-fade">

    <!-- Indicators-->
    <ol class="carousel-indicators">
      <li data-target="#Carousel-intro" data-slide-to="0" class="active"></li>
      <li data-target="#Carousel-intro" data-slide-to="1"></li>
      <li data-target="#Carousel-intro" data-slide-to="2"></li>
      <!--<li data-target="#Carousel-intro" data-slide-to="3"></li>-->
    </ol>

    <div class="carousel-inner">

      <div class="item active">
        <div style="background-image:url('../assets/images/landingimage.png');" class="fill">
          <div class="intro-body">
            </h4>
            <h2 class="wow fadeInDown">Every leader is an exception to the rule<br/> Share and Coach</h2>
            <ul class="list-inline lead">
              <li ng-click="ltiAssessment()"><a class="btn btn-white btn-lg page-scroll wow fadeInLeft text-transform-none"><i class="fa fa-chevron-down"></i> What’s your LeaderTYPE</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="item">
        <div style="background-image:url('../assets/images/landingimage.png');" class="fill">
          <div class="intro-body">
            <!--<h4 data-wow-delay=".4s" class="wow fadeInUp">Call now 1-800-universal</h4>-->
            <h2 class="wow fadeInDown"> Coach yourself in ways that work for you.</h2>
            <ul class="list-inline lead">
              <li ng-click="ltiAssessment()"><a class="btn btn-white btn-lg page-scroll wow fadeInLeft text-transform-none"><i class="fa fa-chevron-down"></i> What’s your LeaderTYPE</a></li>
            </ul>
            <!--<div data-wow-delay="1s" class="scroll-btn hidden-xs wow fadeInDown"><a href="#about" class="page-scroll"><span class="mouse"><span class="weel"><span></span></span></span></a></div>-->
          </div>
        </div>
      </div>

      <!--<div class="item">
          <div style="background-image:url('img/header/24.jpg');" class="fill">
            <div class="intro-body"><a href="https://www.youtube.com/embed/nu-pavO9S4k" data-rel="youtube" class="swipebox-video"><i class="icon icon-big ion-ios-play-outline wow fadeInUp"></i>
                <h2 class="wow fadeInDown">Our Story</h1>
                <h4 class="wow fadeInUp">Watch <span class="bold">Video</span>
                </h4></a></div>
          </div>
        </div>-->
      <div class="item">
        <div style="background-image:url('../assets/images/landingimage.png');" class="fill">
          <div class="intro-body">
            <!--<h4 class="wow fadeInUp">Adventures in creativity</h4>-->
            <h3 class="wow fadeInDown">Develop your leadership brand at LeaderType.com.</h3>
            <ul class="list-inline lead">

              <li ng-click="ltiAssessment()"><a class="btn btn-white btn-lg page-scroll wow fadeInLeft text-transform-none"><i class="fa fa-chevron-down"></i> What’s your LeaderTYPE</a></li>
            </ul>
            <!--<div data-wow-delay="1s" class="scroll-btn hidden-xs wow fadeInDown"><a href="#about" class="page-scroll"><span class="mouse"><span class="weel"><span></span></span></span></a></div>-->
          </div>
        </div>
      </div>
    </div>
    <!-- Controls-->
    <a href="JavaScript:void(0)" class="left carousel-control"><span class="icon-prev"></span></a>
    <a href="JavaScript:void(0)" class="right carousel-control"><span class="icon-next"></span></a>
  </header>




  <!-- About Section-->
  <section id="about" class="bg-white text-center section-padding-adjustment">
    <div class="overlay-white"></div>
    <div class="container text-center">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <h3>How LeaderTYPEworks?</h3>
        </div>
      </div>
      <div class="row">
        <div data-wow-delay=".2s" class="col-lg-4 col-sm-6 wow fadeIn">
          <h4 ng-click="ltiAssessment()"><i class="fa icon-big fa-hand-o-up" aria-hidden="true"></i> Assess & Compare</h4>
          <p>Discover your natural leadership style—and the U.S. President whose style is most like yours. Take other assessments,
            get feedback on your behaviors, and compare your results with other leaders. <span ng-click="ltiAssessment()"><a>Take the LeaderType™ Indicator (LTI) now!</a></span></p>
        </div>
        <div data-wow-delay=".4s" class="col-lg-4 col-sm-6 wow fadeIn">
          <h4><i class="fa icon-big fa-hourglass-start" aria-hidden="true"></i> Plan & Execute</h4>
          <p>Identify a specific, challenging situation where you must lead others to accomplish something together. Determine
            your desired outcome, key success factors, and values necessary to accomplish your mission. Articulate a strategy,
            and work your plan. <span ng-click="comingSoon()"><a>Use the SWOT tool now!</a></span></p>
        </div>
        <div data-wow-delay=".6s" class="col-lg-4 col-sm-6 wow fadeIn">
          <h4><i class="fa icon-big fa-lightbulb-o" aria-hidden="true"></i> Coach & Be Coached</h4>
          <p>In your LeaderType™’s forum share best practices, pose questions, offer suggestions, and learn different strategies
            from leaders like you. Use apps to get tips and techniques geared to your LeaderType™. Become your own "24/7"
            "just-in-time" leadership coach.</p>
        </div>

      </div>
    </div>
  </section>

  <section class="about-leader section-min bg-dark3 bottom-padding-20">
    <div class="text-center-align text-bold text-size-32 white-color">
      <p>About LeaderTYPE™</p>
    </div>
    <div>
      <div class="container zero-left-margin">
        <div class="row">
          <!--<div class="col-md-3 col-sm-6 no-pad">
        <div class="name-position">
          <div class="margin-left-32">
          <p class="zero-bottom-margin"><strong>Cash Keahey</strong></p>
          <p class="zero-bottom-margin ceo-position">CEO</p>
          </div>
        </div>
        <div class="profile-picture">
          <img  src="../assets/images/cash.png" alt="">
        </div>
        </div>-->


          <div class="col-md-9 right-padding">
            <div class="description white-color aboutus-padding">
              <p class="zero-bottom-margin text-size-32">MISSION</p>
              <p class="zero-bottom-margin">We help leaders build self-awareness to the better lead themselves and others;</p>
              <p class="zero-bottom-margin text-size-32">VISION</p>
              <p class="margin-bottom-7">We help leaders build self-awareness to the better lead themselves and others;We help leaders build self-awareness
                to the better lead themselves and othersWe help leaders build self-awareness to the better lead themselves
                and othersWe help leaders build self-awareness to the better lead themselves and others</p>
              <p class="zero-bottom-margin display-inline-block"><strong>Cash Keahey</strong></i>
              </p>
              <div class="image-small-circle"><a href="https://www.linkedin.com/in/cashkeahey"><i class="fa fa-linkedin linkedin-custom" aria-hidden="true"></i></a></div>
              <p class="zero-bottom-margin ceo-position">President/CEO</p>
              <p class="zero-bottom-margin ceo-position company-position">Keahey Consulting Group INC.</p>
              <!--<button class="btn linkedin-bg"></button>-->
              <!--<p class="zero-bottom-margin">CEO</p>-->

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Portfolio-->
  <section id="portfolio" class="bg-white no-pad-btm section-padding-adjustment">
    <div class="container text-center ">
      <h3>Which U.S. President shares my LeaderType?</h3>
      <p>
        <h5 class="align-justify">While there are many personality assessments which can offer insights on your leadership style, LeaderType.com is
          organized around the world’s most widely used instrument: the Myers-Briggs Type Indicator (MBTI)®. If you know
          your 4-letter MBTI type code, then your LeaderType™ is most likely the dominant function of your personality—the
          ‘chief executive’, ‘driving force’, your ‘unique value proposition’. Think of your LeaderType™ as your ‘operating
          system’: you need to know its functionality and limitations before you can successfully run ‘apps’ (think skills/behaviors)
          on that operating system—much less optimize them for your LeaderType™.
        </h5>
      </p>
      <p>
        <h5 class="align-justify">Here’s how the 8 LeaderTypes™ were identified with 8 U.S. Presidents. More than 120 historians responded to a normed
          psychological assessment (the NEO-PI), answering how the President(s) they knew best would have answered. These
          experts’ results were averaged together, and then translated into a Myers-Briggs® type code. From these results,
          a percentile was established for each MBTI dichotomy. From this data, as well as biographies, autobiographies and
          their own words, a LeaderType™ was determined for each President. Separately, rankings of the U.S. Presidents were
          compared, and a consensus of the top 9 emerged. (Interestingly, liberals and conservatives differed only on 1 out
          of the top 10 Presidents.) And so, among the top 10 U.S. Presidents were 8 LeaderTypes™. Discover the natural style
          you share with a great American President.
        </h5>
      </p>
    </div>
    <div class="container-fluid">
      <div id="grid" class="row portfolio-items">
        <div data-groups="[&quot;design&quot;, &quot;branding&quot;]" class="col-md-2 col-sm-6 no-pad col-width">
          <div class="portfolio-item">
            <a><img src="../assets/images/take-charge.jpg" alt="">
              <div class="portfolio-overlay">
                <div class="caption">
                  <h5>Theodore Roosevelt</h5><span>Take charge</span>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div data-groups="[&quot;photo&quot;, &quot;branding&quot;]" class="col-md-2 col-sm-6 no-pad col-width">
          <div class="portfolio-item">
            <a><img src="../assets/images/innovating.jpg" alt="">
              <div class="portfolio-overlay">
                <div class="caption">
                  <h5>Franklin D Roosevelt</h5><span>Innovating</span>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div data-groups="[&quot;design&quot;, &quot;photo&quot;]" class="col-md-2 col-sm-6 no-pad col-width">
          <div class="portfolio-item">
            <a><img src="../assets/images/independent.jpg" alt="">
              <div class="portfolio-overlay">
                <div class="caption">
                  <h5>John Adams</h5><span>Independent</span>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div data-groups="[&quot;branding&quot;, &quot;design&quot;]" class="col-md-2 col-sm-6 no-pad col-width">
          <div class="portfolio-item">
            <a><img src="../assets/images/presuasive.jpg" alt="">
              <div class="portfolio-overlay">
                <div class="caption">
                  <h5>Harry S Truman</h5><span>Presuasive</span>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div data-groups="[&quot;photo&quot;, &quot;design&quot;]" class="col-md-2 col-sm-6 no-pad col-width">
          <div class="portfolio-item">
            <a><img src="../assets/images/visionary.jpg" alt="">
              <div class="portfolio-overlay">
                <div class="caption">
                  <h5>Thomas Jefferson</h5><span>Visionary</span>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div data-groups="[&quot;photo&quot;, &quot;branding&quot;]" class="col-md-2 col-sm-6 no-pad col-width">
          <div class="portfolio-item">
            <a><img src="../assets/images/proactive.jpg" alt="">
              <div class="portfolio-overlay">
                <div class="caption">
                  <h5>FAndrew Jackson</h5><span>Proactive</span>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div data-groups="[&quot;photo&quot;, &quot;branding&quot;]" class="col-md-2 col-sm-6 no-pad col-width">
          <div class="portfolio-item">
            <a><img src="../assets/images/inclusive.jpg" alt="">
              <div class="portfolio-overlay">
                <div class="caption">
                  <h5>Abraham Lincoln</h5><span>Inclusive</span>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div data-groups="[&quot;photo&quot;, &quot;branding&quot;]" class="col-md-2 col-sm-6 no-pad col-width">
          <div class="portfolio-item">
            <a><img src="../assets/images/prudent.jpg" alt="">
              <div class="portfolio-overlay">
                <div class="caption">
                  <h5>George Washington</h5><span>Prudent</span>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Action video-->
  <section class="section-small text-center section-padding-adjustment bg-c-gray">
    <!--<div class="overlay"></div>-->
    <div class="container">
      <div class="row white-color">
        <h3>Here’s a quick video to show you how it all works</h3>
        <iframe width="740" height="540" src="https://www.youtube.com/embed/T3P7F3u3Qco" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </section>
  <!-- Action video-->
  <!--<section class="section-small bg-img2 text-center">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2"><a href="https://www.youtube.com/embed/nu-pavO9S4k" class="swipebox-video"><i class="icon icon-big ion-ios-videocam-outline"></i></a>
            <h2>Watch <span class="bold">Video</span>
            </h2>
            <p>Still don't get it? </p>
          </div>
        </div>
      </div>
    </section> -->
  <!--About leadertype cash image-->
  <!--<section class="about-leader section-min">
   <div class="text-center-align text-bold text-size-32">  
     <p>About LeaderType™</p>
    </div>
    <div>
      <div class="container zero-left-margin">
        <div class="row">
        <div class="col-md-3 col-sm-6 no-pad">
        <div class="name-position">
          <div class="margin-left-32">
          <p class="zero-bottom-margin"><strong>Cash Keahey</strong></p>
          <p class="zero-bottom-margin ceo-position">CEO</p>
          </div>
        </div>
        <div class="profile-picture">
          <img  src="../assets/images/cash.png" alt="">
        </div>
        </div>
        
      
        
        <div class="col-md-9 col-sm-6 no-pad">
        <div class="description">
          <p class="zero-bottom-margin text-size-32">MISSION</p>
          <p class="zero-bottom-margin">We help leaders build self-awareness to the better lead themselves and others;</p>
          <p class="zero-bottom-margin text-size-32">VISION</p>
          <p class="zero-bottom-margin">We help leaders build self-awareness to the better lead themselves and others;We help leaders build self-awareness to the better lead themselves and othersWe help leaders build self-awareness to the better lead themselves and othersWe help leaders build self-awareness to the better lead themselves and others</p>
          
        </div>
        </div>
        </div>
      </div>
    </div>
    </section>-->

  <!-- Pricing Tables-->
  <section id="package" class="section-padding-adjustment">
    <div class="container pricing text-center">
      <h3 class="zero-bottom-margin">Packages</h3>
      <div class="row pricing-table">
        <div class="col-md-3 zero-padding">
          <div class="panel panel-default zero-bottom-margin">
            <div class="panel-heading">
              <h4>LeaderTYPE</h4>
            </div>
            <!--<div class="panel-body">Some default panel content here. Nula vitae elit libero, a phaetra augue. Aenean lacinia.</div>-->
            <ul class="list-group align-pricing">
              <li class="list-group-item cost-button"><span class="number text-muted text-white">Free</span></li>
              <li class="list-group-item">Unique Brand</li>
              <li class="list-group-item">Likely Strengths</li>
              <li class="list-group-item">Typical Challenges</li>
              <li class="list-group-item">Favourite Quotes</li>
              <li class="list-group-item">Basic Access to LeaderType.com</li>
              <li class="list-group-item">&nbsp;</li>
              <li class="list-group-item">&nbsp;</li>
              <li class="list-group-item list-last-btn"><a href="#" class="btn btn-dark1 btn-price">TRY NOW</a></li>

            </ul>
          </div>
        </div>

        <div class="col-md-3 zero-padding">
          <div class="panel active panel-default zero-bottom-margin">
            <div class="panel-heading">
              <h4>LeaderSELF</h4>
            </div>
            <ul class="list-group align-pricing">
              <li class="list-group-item cost-button text-white"><span class="number"><sup class="sub-position">$</sup>9.99</span><sub>MONTH</sub></li>
              <li class="list-group-item">Unique Brand</li>
              <li class="list-group-item">LeaderTYPE package plus</li>
              <li class="list-group-item">Self rating on leadership behaviour </li>
              <li class="list-group-item">Self indentification of leader values</li>
              <li class="list-group-item">Full access to LeaderTYPE.com</li>
              <li class="list-group-item">&nbsp;</li>
              <li class="list-group-item">&nbsp;</li>
              <li class="list-group-item list-last-btn"><a href="#" class="btn btn-dark1 btn-price">BUY NOW</a></li>
            </ul>
          </div>
        </div>

        <div class="col-md-3 zero-padding pricing-table-3">
          <div class="panel panel-default zero-bottom-margin">
            <div class="panel-heading recom">
              
              <h4 class="text-color-blue">LeaderTEAM</h4>
              
            </div>
            <ul class="list-group align-pricing">
              <li class="list-group-item cost-selected-button text-white "><span class="number"><sup class="sub-position text-white">$</sup>14.99</span><sub>MONTH</sub></li>
              <li class="list-group-item">LeaderSELF package plus</li>
              <li class="list-group-item">360-rating on leadership behaviour</li>
              <li class="list-group-item">other indentification of leader values</li>
              <li class="list-group-item">Monthly coaching tips</li>
              <li class="list-group-item">Customized to your LeaderTYPE</li>
              <li class="list-group-item">&nbsp;</li>
              <li class="list-group-item">&nbsp;</li>
              <li class="list-group-item list-last-btn"><a href="#" class="btn btn-blue btn-price">BUY NOW</a></li>
            </ul>
          </div>
        </div>

        <div class="col-md-3 zero-padding">
          <div class="panel panel-default zero-bottom-margin">
            <div class="panel-heading">
              <h4>LeaderCOACH</h4>
            </div>
            <ul class="list-group align-pricing">
              <li class="list-group-item cost-button text-white"><span class="number"><sup class="sub-position">$</sup>19.99</span><sub>MONTH</sub></li>
              <li class="list-group-item">LeaderTEAM package plus</li>
              <li class="list-group-item">A platform to identify</li>
              <li class="list-group-item">Team Strength and resources</li>
              <li class="list-group-item">Team weakness and gaps</li>
              <li class="list-group-item">External opportunities</li>
              <li class="list-group-item">External Threats and issues</li>
              <li class="list-group-item">Vision & key to success</li>
              <li class="list-group-item list-last-btn"><a href="#" class="btn btn-dark1 btn-price">BUY NOW</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>


  <!-- Quotes-->
  <!--<section class="quote section-small bg-img3 text-center">
      <div class="overlay"></div>
      <div class="container-small">
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2">
            <p><i class="icon fa fa-quote-left fa-lg"></i></p>
            <p>"The single greatest source of leadership failure
is the lack of self-awareness."</p>
            <h2 class="no-pad classic">Warren Bennis</h2>
          </div>
        </div>
      </div>
    </section>-->
  <!-- Action Quotes-->
  <!--<section class="action section-small bg-gray2">
      <div class="container wow fadeIn">
        <div class="row">
          <div class="col-md-10">
            <h3 class="no-pad quotes-size">"The single greatest source of leadership failure
is the lack of self-awareness." - Warren Bennis
            </h3>
          </div>
          <div class="col-md-2 text-right"><a href="#" class="btn btn-dark">Discover Today</a></div>
        </div>
      </div>
    </section>-->

  <section class="action section-small bg-gray2">
    <div id="carousel-light" class="carousel slide carousel-small carousel-fade" data-ride="carousel">
      <!--<ol class="carousel-indicators">
        <li data-target="#carousel-light" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-light" data-slide-to="1"></li>
        <li data-target="#carousel-light" data-slide-to="2"></li>
      </ol>-->
      <div role="listbox" class="carousel-inner">
        <div class="item active col-md-12">
        <center>  <h3 class="no-pad quotes-size">"The single greatest source of leadership failure is the lack of self-awareness." - Warren Bennis
          </h3></center>
        </div>
        <div class="item col-md-12">
        <center>  <h3 class="no-pad quotes-size">"I must follow the people. Am I not their leader?" — Benjamin Disraeli
          </h3></center>
        </div>
        <div class="item col-md-12">
          <center><h3 class="no-pad quotes-size">"Leadership is the capacity to translate vision into reality." - Warren Bennis
          </h3></center>
        </div>
      </div>

      <!-- Left and right controls -->
       <!--<a href="JavaScript:void(0)" class="left carousel-control"><span class="icon-prev"></span></a>
    <a href="JavaScript:void(0)" class="right carousel-control"><span class="icon-next"></span></a>-->
      <!--<a class="left carousel-control" href="#carousel-light" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#carousel-light" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>-->
    </div>
  </section>

  <!-- Contact Section-->
  <section id="contact" class="section-padding-adjustment">
    <div class="container">
      <div class="row">
        <div class="col-md-5">
          <h3>Contact us</h3>
          <!--<p>Feel free to contact us to provide some feedback or to just say hello! </p>-->
          <hr>
          
          <h5 class="bottom-margin-0"><i class="fa fa-map-marker fa-fw fa-lg"></i> Keahey Consulting Group,Inc.</h5>
          <h5 class="address-margin address-margin-bottom">P.O>Box 836616,Richardson, TX 75080-6616</h5>
          <h5><i class="fa fa-envelope fa-fw fa-lg"></i> info@leadertype.com
          </h5>
          <!--<h5><i class="fa fa-phone fa-fw fa-lg"></i> (123) 456-7890
            </h5>-->
        </div>
        <div class="col-md-5 col-md-offset-2">
          <h3>Say hello</h3>
          <!-- Contact Form - Enter your email address on line 17 of the mail/contact_me.php file to make this form work. For more information on how to do this please visit the Docs!-->
          <form id="contactForm" name="sentMessage" novalidate="">
            <div class="control-group">
              <div class="form-group floating-label-form-group controls">
                <label for="name" class="sr-only control-label">You Name</label>
                <input id="name" type="text" placeholder="You Name" required="" data-validation-required-message="Please enter name" class="form-control input-lg">
                <span
                  class="help-block text-danger"></span>
              </div>
            </div>
            <div class="control-group">
              <div class="form-group floating-label-form-group controls">
                <label for="email" class="sr-only control-label">You Email</label>
                <input id="email" type="email" placeholder="You Email" required="" data-validation-required-message="Please enter email"
                  class="form-control input-lg"><span class="help-block text-danger"></span>
              </div>
            </div>
            <div class="control-group">
              <div class="form-group floating-label-form-group controls">
                <label for="phone" class="sr-only control-label">You Phone</label>
                <input id="phone" type="tel" placeholder="You Phone" required="" data-validation-required-message="Please enter phone number"
                  class="form-control input-lg"><span class="help-block text-danger"></span>
              </div>
            </div>
            <div class="control-group">
              <div class="form-group floating-label-form-group controls">
                <label for="message" class="sr-only control-label">Message</label>
                <textarea id="message" rows="2" placeholder="Message" required="" data-validation-required-message="Please enter a message."
                  aria-invalid="false" class="form-control input-lg"></textarea><span class="help-block text-danger"></span>
              </div>
            </div>
            <div id="success"></div>

            <button type="submit" class="btn btn-dark">Send</button>
          </form>
        </div>
      </div>
    </div>
  </section>

  <!-- Map Section-->
  <!--<div id="map">

    </div>-->


  <!-- Footer Section-->
  <!--<section class="section-small footer bg-gray">
      <div class="container">
        <div class="row">
          <div class="col-sm-4">
            <h5>About</h5>
            <p>Thanks for choosing Universal for your next project! Universal is a unique template for building  beautiful business website. We have a dedicated support team ready to answer your questions.</p>
          </div>
          <div class="col-sm-2 col-sm-offset-1 footer-menu">
            <h5>Company</h5>
            <h6 class="no-pad"><a href="services.html">Our Services</a></h6>
            <h6 class="no-pad"><a href="clients.html">Our Clients</a></h6>
            <h6 class="no-pad"><a href="contact.html">Contact Us</a></h6>
            <h6 class="no-pad"><a href="shop.html">Shop</a></h6>
          </div>
          <div class="col-sm-2 footer-menu">
            <h5>&nbsp;</h5>
            <h6 class="no-pad"><a href="about.html">About us</a></h6>
            <h6 class="no-pad"><a href="portfolio-masonry-4.html">Portfolio</a></h6>
            <h6 class="no-pad"><a href="team.html">Our Team</a></h6>
            <h6 class="no-pad"><a href="register.html">Register</a></h6>
          </div>
          <div class="col-sm-3 text-right">
            <h5>Total downloads</h5><span data-min="0" data-max="2785" data-delay="5" data-increment="3" class="numscroller">0</span>
          </div>
        </div>
      </div>
    </section>-->






  <section class="section-small footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <h6>Copyright -2016 | LeaderType™ | All rights are reserved
          </h6>
        </div>
        <div class="col-sm-3">
          <!--<h6>We <i class="fa fa-heart fa-fw"></i> creative people
            </h6>-->
        </div>
        <div class="col-sm-3  text-right">
          <ul class="list-inline">
            <!--<li><a href="/"><i class="fa fa-twitter fa-fw fa-lg"></i></a></li>-->
            <button class="btn btn-danger"><i class="fa fa-google-plus" aria-hidden="true"></i></button>
            <button class="btn fb-bg"><i class="fa fa-facebook" aria-hidden="true"></i></button>
            <button class="btn linkedin-bg"><i class="fa fa-linkedin" aria-hidden="true"></i></button>
            <!--<li class="fb-bg"><a class="text-color-white" href="/"><i class="fa fa-facebook fa-fw fa-lg"></i></a></li>
              <li class="g-bg"><a class="text-color-white" href="/"><i class="fa fa-google-plus fa-fw fa-lg"></i></a></li>
              <li class="linkedin-bg"><a class="text-color-white" href="/"><i class="fa fa-linkedin fa-fw fa-lg"></i></a></li>-->
          </ul>
        </div>
      </div>
    </div>
  </section>

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title lt-smooth">LeaderType - Member Login</h4>
        </div>
        <div class="login-body modal-body">
          <div class="wrapper">
            <form class="form-signin">
              <h6 class="form-signin-heading zero-bottom-margin">Login via</h6>
              <center>
                <button class="btn btn-danger"><i class="fa fa-google-plus" aria-hidden="true"></i></button>
                <button class="btn fb-bg"><i class="fa fa-facebook" aria-hidden="true"></i></button>
                <button class="btn linkedin-bg"><i class="fa fa-linkedin" aria-hidden="true"></i></button>
              </center>
              <p class="lt-split">or </p>
              <input type="text" class="form-control" name="username" placeholder="Email Address" required="" autofocus="" />
              <input type="password" class="form-control" name="password" placeholder="Password" required="" />
              <br>
              <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="goToDashboard()">Login</button>
            </form>
          </div>
        </div>


      </div>
    </div>

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </div>



  <!-- Modal -->
  <div class="modal fade" id="signUpModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title lt-smooth">LeaderType - Member SignUp</h4>
        </div>
        <div class="login-body modal-body">
          <div class="wrapper">
            <form class="form-signin">
              <h6 class="form-signin-heading zero-bottom-margin signup-coming-soon">Coming Soon</h6>
            </form>
          </div>
        </div>


      </div>
    </div>

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </div>
  <!--</html>-->