<div class="sliderpage1">
    <div class="strip-custom col-md-12 col-sm-12 col-xs-12">
        <div class="green-strip col-md-3 col-sm-3 col-xs-3"></div>
        <div class="yellow-strip col-md-3 col-sm-3 col-xs-3"></div>
        <div class="red-strip col-md-3 col-sm-3 col-xs-3"></div>
        <div class="blue-strip col-md-3 col-sm-3 col-xs-3"></div>
    </div>
    <!-- Navigation-->
    <nav class="navbar navbar-universal nav-height navbar-fixed-top header-custom zero-bottom-margin hidden-md-down">
        <div class="container">

            <div class="navbar-header custom-nav">
                <img src="../assets/images/logo.png" alt="Logo" class="logo-custom">
                <p class="logo-title">LeaderTYPE<sup class="tm">TM</sup></p>
            </div>
            <div>
                <ul class="nav navbar-nav navbar-left">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <!--<li><a href="#">BLOG <span class="caret"></span></a></li>-->
                    <!--<li><a ui-sref="landingpage">LOG IN <span class="caret"></span></a></li>-->
                    <li><a><i class="fa fa-user" aria-hidden="true"></i>
Hey Alberto <span class="caret"></span></a></li>
                </ul>
            </div>
        </div>
    </nav>

    <nav class="navbar nav-2" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
            </div>
            <div class="navbar-collapse collapse zero-margin">
                <ul class="nav navbar-nav navbar-universal text-color-black">
                    <li class="active border-right-1px" ng-click="gotoHome()"><a class="white-text">Home</a></li>

                    <li class="active border-right-1px" ng-click="gotoLtiReport()"><a class="white-text">My LTI</a></li>

                    <li class="active border-right-1px" ng-click="gotoLeaderBrand()"><a class="white-text">My Leadership Brand</a></li>

                    <li class="active border-right-1px" ng-click="soon()"><a class="white-text">My LeaderTEAM</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div>
        <div class="aligntextcenter top-margin">
            <h3 class="boldfont zero-bottom-margin heading-custom-1">
                Below are the top 3 Leaders that best fit your personality type. Please review your results and select the leader you identify
                with most.
            </h3>
        </div>
    </div>

    <!--<div class="strip col-md-12">
            <div class="green-strip col-md-3"></div>
            <div class="yellow-strip col-md-3"></div>
            <div class="red-strip col-md-3"></div>
            <div class="blue-strip col-md-3"></div>
        </div>-->

    <div class="row no-padding">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <!--Left div-->
            <div class="col-md-2 col-sm-2 col-xs-2 marginlevel">
                <!--<button class="rightbutton">Create your profile</button><br />
                <button class="rightbutton">Login</button>-->
            </div>

            <!--Center div-->

            <!--<div class="col-md-2 lt-adv">
             <img  src="assets/images/testi2.jpeg">
         </div>-->

            <div class="col-md-8 col-sm-8 col-xs-8 centerdiv">
                <!--<img class="list-resl"  src="assets/images/results.png">-->
                <div class="image-circle result1" data-toggle="modal" data-target="#image-popup"></div>
                <div class="small-image-circle result2" data-toggle="modal" data-target="#image-popup2"></div>
                <div class="small-image-circle result3" data-toggle="modal" data-target="#image-popup3"></div>

                <!-- Modal -->
                <div class="modal fade" id="image-popup" role="dialog">
                    <div class="modal-dialog zero-margin">

                        <!-- Modal content-->
                        <div class="modal-content president-popoup president-popoup-small">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title lt-smooth">Visionary</h4>
                            </div>
                            <div class="container">
                                <div class="row">
                                    <div class="model-img col-md-2 col-sm-10">
                                        <img src="../assets/images/visionary-small.jpg" class="popup-image" />
                                    </div>
                                    <div class="model-img-content col-md-10">
                                        <h3 class="bottom-margin-0">Visionary LeaderType™ U.S. </h3>
                                        <p class="bottom-margin-0"><strong>President: Thomas Jefferson</strong></p>
                                        <p class="bottom-margin-0"><strong>Quote:</strong> “I prefer the dreams of the future to the history of the
                                            past.”
                                        </p>
                                        <p class="bottom-margin-0"><strong>Dominant function:</strong> &nbsp;Introverted Intuition</p>
                                        <p class="bottom-margin-0"><strong>Brand:</strong>&nbsp;Enigmatic, inventive prophet</p>
                                        <p class="bottom-margin-0"><strong>Value…</strong>&nbsp;creativity, meaning, purpose, significance, autonomy,
                                            symbolism, ingenuity, intellect, potential.</p>
                                        <p class="bottom-margin-0"><strong>Preferences</strong></p>
                                        <table class="preferences-table" style="width:80%">

                                            <tr>
                                                <th>Energy</th>
                                                <th>Information</th>
                                                <th>Decision-making</th>
                                                <th>Outer approach</th>
                                            </tr>
                                            <tr>
                                                <td>Extraverted</td>
                                                <td>Sensing</td>
                                                <td>Thinking</td>
                                                <td><strong>Judging – slight</strong></td>
                                            </tr>
                                            <tr>
                                                <td><strong>Introverted – moderate</strong></td>
                                                <td><strong>Intuition – clear</strong></td>
                                                <td><strong>Feeling – slight</strong></td>
                                                <td>Perceiving</td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="row">


                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <p class="bottom-margin-0 padding-left-10"><strong>Strengths:</strong></p>
                                            <ul>
                                                <li>Envisioning clearly the desired outcome / result</li>
                                                <li>Systemic/organic approach to finding a solution</li>
                                                <li>Integrating / synthesizing data into patterns</li>
                                                <li>Anticipating likely developments &amp;amp; implications</li>
                                            </ul>

                                        </div>
                                        <div class="col-md-6">
                                            <p class="bottom-margin-0 development-left-margin padding-left-15"><strong>Development areas:</strong></p>
                                            <ul>
                                                <li>Not being too attached to one’s own vision</li>
                                                <li>Breaking down complexity; helping others ‘get it’</li>
                                                <li>Delegating effectively; sufficiently explaining</li>
                                                <li>Incorporating new/external data, and adjusting</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>

            </div>
            <!--<div><h6 class="heading-custom">Franklin Delano Roosevelt</h6>
<h6 class="heading-custom">Theodore Roosevelt</h6>
<h6 class="heading-custom">Harry Truman</h6></div>-->

            <div>

                <center> <button type="button" class="leftbutton-big m-nig" ng-click="gotoLeaderBrand()">Build your leadership brand</button></center>
            </div>

        </div>

        <!--<div class="col-md-2 lt-adv">
                  <img src="assets/images/testi2.jpeg">
         </div>-->

    </div>
</div>



<!-- Modal -->
<div class="modal fade" id="image-popup2" role="dialog">
    <div class="modal-dialog zero-margin">

        <!-- Modal content-->
        <div class="modal-content president-popoup president-popoup-small">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title lt-smooth">Proactive</h4>
            </div>
            <div class="container">
                <div class="row">
                    <div class="model-img col-md-2 col-sm-10">
                        <img src="../assets/images/proactive-small.jpg" class="popup-image" />
                    </div>
                    <div class="model-img-content col-md-10">
                        <h3 class="bottom-margin-0">Proactive LeaderType™ </h3>
                        <p class="bottom-margin-0"><strong>U.S. President: Andrew Jackson</strong></p>
                        <p class="bottom-margin-0"><strong>Quote:</strong> “Take time to deliberate; but when the time for action arrives, stop thinking
                            and go in.”
                        </p>
                        <p class="bottom-margin-0"><strong>Dominant function:</strong> &nbsp; Extraverted Sensing</p>
                        <p class="bottom-margin-0"><strong>Brand:</strong>&nbsp;Pragmatic, energizing facilitator</p>
                        <p class="bottom-margin-0"><strong>Value…</strong>&nbsp;action, experimentation, efficiency, spontaneity, resourcefulness, empowerment,
                            variety, urgency.</p>
                        <p class="bottom-margin-0"><strong>Preferences</strong></p>
                        <table class="preferences-table" style="width:80%">

                            <tr>
                                <th>Energy</th>
                                <th>Information</th>
                                <th>Decision-making</th>
                                <th>Outer approach</th>
                            </tr>
                            <tr>
                                <td><strong>Extraverted – clear</strong></td>
                                <td>Sensing – clear</td>
                                <td><strong>Thinking – clear</strong></td>
                                <td><strong>Judging – clear</strong></td>
                            </tr>
                            <tr>
                                <td>Introverted</td>
                                <td><strong>Intuition</strong></td>
                                <td>Feeling</td>
                                <td>Perceiving</td>
                            </tr>

                        </table>
                    </div>
                    <div class="row">


                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <p class="bottom-margin-0 padding-left-10"><strong>Strengths:</strong></p>
                            <ul>
                                <li>Grasp of external issues, opportunities, threats</li>
                                <li>Adapting to fast-paced, dynamic environments</li>
                                <li>Expedient execution; real-time trouble-shooting</li>
                                <li>Focus on immediate, practical solutions</li>
                            </ul>

                        </div>
                        <div class="col-md-6">
                            <p class="bottom-margin-0 development-left-margin padding-left-15"><strong>Development areas:</strong></p>
                            <ul>
                                <li>Reflecting before acting or reacting</li>
                                <li>Seeing value in strategic plans and visions</li>
                                <li>Patience with routine processes / procedures</li>
                                <li>Prioritizing the important over the urgent</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="image-popup3" role="dialog">
    <div class="modal-dialog zero-margin">

        <!-- Modal content-->
        <div class="modal-content president-popoup president-popoup-small">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title lt-smooth">Proactive</h4>
            </div>
            <div class="container">
                <div class="row">
                    <div class="model-img col-md-2 col-sm-10">
                        <img src="../assets/images/take-charge-small.jpg" class="popup-image" />
                    </div>
                    <div class="model-img-content col-md-10">
                        <h3 class="bottom-margin-0">Take Charge LeaderType™</h3>
                        <p class="bottom-margin-0"><strong>U.S. President: Theodore Roosevelt</strong></p>
                        <p class="bottom-margin-0"><strong>Quote:</strong> “The best executive…has the sense enough to pick good men to do what he wants
                            done,<br> and self-restraint enough to keep from meddling with them while they do it.”
                        </p>
                        <!--<p class="bottom-margin-0"><strong>Dominant function:</strong> &nbsp; Extraverted Sensing</p>-->
                        <p class="bottom-margin-0"><strong>Brand:</strong>&nbsp;Delegating, results-oriented driver</p>
                        <p class="bottom-margin-0"><strong>Value…</strong>&nbsp;organization, goal-orientation, planning, candor, challenges, decisiveness,
                            achievement, competence.
                        </p>
                        <p class="bottom-margin-0"><strong>Preferences</strong></p>
                        <table class="preferences-table" style="width:80%">

                            <tr>
                                <th>Energy</th>
                                <th>Information</th>
                                <th>Decision-making</th>
                                <th>Outer approach</th>
                            </tr>
                            <tr>
                                <td><strong>Extraverted – clear</strong></td>
                                <td>Sensing</td>
                                <td><strong>Thinking – slight</strong></td>
                                <td><strong>Judging – moderate</strong></td>
                            </tr>
                            <tr>
                                <td>Introverted</td>
                                <td><strong>Intuition – clear</strong></td>
                                <td>Feeling</td>
                                <td>JPerceiving</td>
                            </tr>

                        </table>
                    </div>
                    <div class="row">


                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <p class="bottom-margin-0 padding-left-10"><strong>Strengths:</strong></p>
                            <ul>
                                <li>Allocating and organizing resources to get results</li>
                                <li>Coordinating to execute effectively and efficiently</li>
                                <li>Clarifying, sequencing, delegating what to do</li>
                                <li>Candid direction/critique pursuing ‘best in class’</li>
                            </ul>

                        </div>
                        <div class="col-md-6">
                            <p class="bottom-margin-0 development-left-margin padding-left-15"><strong>Development areas:</strong></p>
                            <ul>
                                <li>Dealing with disorganization, indecision, delays</li>
                                <li>Handling lack of motivation or commitment</li>
                                <li>Attention to values, and congruence with actions</li>
                                <li>Being perceived as controlling or power-seeking</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>


</div>