<!-- Navigation-->
    <nav class="navbar navbar-universal navbar-custom navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" data-toggle="collapse" data-target=".navbar-main-collapse" class="navbar-toggle"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="#page-top" class="navbar-brand page-scroll margin-adjust">
            <!-- Text or Image logo--><img src="../assets/images/logo.png" alt="Logo" class="logo"><img src="../assets/images/logo.png" alt="Logo" class="logodark"><p class="logo-title">LeaderTYPE<sup class="tm">TM</sup></p>
    
        </div>
        <div class="collapse navbar-collapse navbar-main-collapse">
          <ul class="nav navbar-nav navbar-left">
            <li class="hidden"><a href="#page-top"></a></li>
			
			
            <li><a href="http://122.180.29.167/leadertype/#about">ABOUT <span class="caret"></span></a></li>
            <li><a href="http://122.180.29.167/leadertype/#packages">PACKAGES <span class="caret"></span></a></li>
            <!--<li><a href="#">BLOG <span class="caret"></span></a></li>-->
            <li data-toggle="modal" data-target="#myModal"><a>LOG IN <span class="caret"></span></a></li>
            <li data-toggle="modal" data-target="#signUpModal"><a >CREATE YOUR PROFILE <span class="caret"></span></a></li>
          </ul>
        </div>
      </div>
    </nav>
