<div class="backImage">
    <!-- Navigation-->
        <nav class="navbar nav-height navbar-fixed-top header-custom zero-bottom-margin" >
          <div class="strip-custom col-md-12">
            <div class="green-strip col-md-3"></div>
            <div class="yellow-strip col-md-3"></div>
            <div class="red-strip col-md-3"></div>
            <div class="blue-strip col-md-3"></div>
            </div>
        <div class="container">
          <div class="navbar-header custom-nav">
              <img src="../assets/images/logo.png" alt="Logo" class="logo-custom"><p class="logo-title">LeaderTYPE<sup class="tm">TM</sup></p>
            </div>
        <div >
          <ul class="nav navbar-nav navbar-left">
            <li class="hidden"><a href="#page-top"></a></li>
            <!--<li><a href="#">BLOG <span class="caret"></span></a></li>-->
            <!--<li><a ui-sref="landingpage">LOG IN <span class="caret"></span></a></li>-->
            <li><a ui-sref="landingpage"><i class="fa fa-user" aria-hidden="true"></i>
Hey Alberto <span class="caret"></span></a></li>
          </ul>
        </div>
      </div>
    </nav>
    <nav class="navbar nav-2">
  <div class="container-fluid">
    <ul class="nav navbar-nav ">
      <li class="active" ng-click="gotoHome()"><a class="white-text">Home</a></li>
      <li class="active"><a class="white-text">|</a></li>
      <li class="active" ng-click="gotoLtiReport()"><a class="white-text">My LTI</a></li>
      <li class="active"><a class="white-text">|</a></li>
      <li class="active" ng-click="gotoLeaderBrand()"><a class="white-text">My Leadership Brand</a></li>
      <li class="active"><a class="white-text">|</a></li>
      <li class="active" ng-click="soon()"><a class="white-text">My LeaderTEAM</a></li> 
    </ul>
  </div>
</nav>
</div>


