<div class="sliderpage1">
        <div class="strip-custom col-md-12 col-sm-12 col-xs-12">
            <div class="green-strip col-md-3 col-sm-3 col-xs-3"></div>
            <div class="yellow-strip col-md-3 col-sm-3 col-xs-3"></div>
            <div class="red-strip col-md-3 col-sm-3 col-xs-3"></div>
            <div class="blue-strip col-md-3 col-sm-3 col-xs-3"></div>
            </div>
        <!-- Navigation-->
        <nav class="navbar navbar-universal nav-height navbar-fixed-top header-custom zero-bottom-margin hidden-md-down" >
        <div class="container">
            
          <div class="navbar-header custom-nav">
              <img src="../assets/images/logo.png" alt="Logo" class="logo-custom"><p class="logo-title">LeaderTYPE<sup class="tm">TM</sup></p>
            </div>
        <div >
          <ul class="nav navbar-nav navbar-left">
            <li class="hidden"><a href="#page-top"></a></li>
            <!--<li><a href="#">BLOG <span class="caret"></span></a></li>-->
            <!--<li><a ui-sref="landingpage">LOG IN <span class="caret"></span></a></li>-->
            <li><a><i class="fa fa-user" aria-hidden="true"></i>
Hey Alberto <span class="caret"></span></a></li>
          </ul>
        </div>
      </div>
    </nav>
   
    <nav class="navbar nav-2" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
          <div class="navbar-collapse collapse zero-margin">
    <ul class="nav navbar-nav navbar-universal text-color-black">
      <li class="active border-right-1px" ng-click="gotoHome()"><a class="white-text">Home</a></li>
      
      <li class="active border-right-1px" ng-click="gotoLtiReport()"><a class="white-text">My LTI</a></li>
     
      <li class="active border-right-1px" ng-click="gotoLeaderBrand()"><a class="white-text">My Leadership Brand</a></li>

      <li class="active border-right-1px" ng-click="soon()"><a class="white-text">My LeaderTEAM</a></li> 
    </ul>
          </div>
  </div>
</nav>





        <div>
            <div class="aligntextcenter top-margin bottom-margin">
                <h3 class="boldfont zero-bottom-margin ">LeaderTYPE Indicator<sup>&reg;</sup> (LTI<sup>&reg;</sup>) - Assessment</h3>
                <h3 class="boldfont heading-custom">The following statements deal with your perception of yourself in different situations.
From each pair, choose the word that describes you the best.</h3>
            </div>
        </div>

        <!--<div class="strip col-md-12">
            <div class="green-strip col-md-3"></div>
            <div class="yellow-strip col-md-3"></div>
            <div class="red-strip col-md-3"></div>
            <div class="blue-strip col-md-3"></div>
        </div>-->

        <div class="row no-padding">
        <div class="col-md-12 col-sm-12 col-xs-12">
            
            <!--Left div-->
            <!-- <div class="col-md-2 marginlevel">
                <button class="rightbutton">Create your profile</button><br />
                <button class="rightbutton">Login</button>
            </div> -->

            <!--Center div-->

         <!--<div class="col-md-2 lt-adv">
             <img src="assets/images/testi2.jpeg">
         </div>-->
        
            
                <!--Select for giving number of questions per page-->

                <!--<div class="row marginlevel">
                <div class="pull-right">
                <label for="pageNum" class="pull-left pagelabel">Number of questions per page:</label>
                <select id="pageNum" class="form-control num pull-right" (change)="onChange($event.target.value)">
                    <option value="" selected disabled>Select</option>
                    <option ng-repeat="let n of range(1,(totalquest+1)/2)" value="{{n}}">{{n}}</option>
                </select>
                </div>
                </div>-->


        <div class="row height-250 question-container-height">
                    <!--<div ng-init="inputs = range()">-->

                <!--Progress bar-->
                <div class="progressdiv">
                    <div class="progress" ng-style="{ 'width': percentage + '%' }">
                    </div>
                </div>

                <div ng-repeat="n in inputs">
            
                <!--Questions display for first set-->
                <div ng-show="n<24">
                        <div class="row topmargin fixed-height">
                                
                         <!--<div class="col-md-12 ">
                            <div class="row">
                            <div class="col-md-12 ">-->
                                <h5 class="zero-bottom-margin aligntextcenter transform-inherit">{{questions.set1[n].question}}</h5>
                            <div>
                            <ul class="quest">
                                <li class="col-md-4 col-sm-4 col-xs-4">{{questions.set1[n].answer1}}</li>
                                <li class="col-md-4 col-sm-4 col-xs-4">
                                    <input id="slider" type="range" ng-model="questions.set1[n].sliderValue" step="0.00001" min="-3.00" max="3.00">
                                <!--<br />-->
                                </li>
                                <li class="col-md-4 col-sm-4 col-xs-4">{{questions.set1[n].answer2}}</li>
                            </ul>
                            <!--</div>
                            </div>
                            </div>-->
                            </div>
                        </div>
                        <!--<hr class="buttonmargin" style="border-top: dashed 1px; color:#c5c5c3;" />-->
                </div> 

                <!--Question display for next set-->
                <div ng-show="n>=24 && n < 40">
                        <div class="row topmargin fixed-height">
                                
                         <!--<div class="col-md-12 ">
                            <div class="row">
                            <div class="col-md-12 ">-->
                                <h6 class="zero-bottom-margin aligntextcenter transform-inherit">{{questions.set2[n-24].question}}</h6>
                            <div>
                            <ul class="quest">
                                <li class="col-md-4 col-sm-4 col-xs-4">{{questions.set2[n-24].answer1}}</li>
                                <li class="col-md-4 col-sm-4 col-xs-4">
                                    <input id="slider" type="range" ng-model="questions.set1[n].sliderValue" step="0.00001" min="-4.00" max="4.00">
                                <!--<br />-->
                                </li>
                                <li class="col-md-4 col-sm-4 col-xs-4">{{questions.set2[n-24].answer2}}</li>
                            </ul>
                            <!--</div>
                            </div>
                            </div>-->
                            </div>
                        </div>
                        <!--<hr class="buttonmargin" style="border-top: dashed 1px; color:#c5c5c3;" />-->
                </div> 
                <!--<div ng-show="n>=24 && n < 40">
                        <div class="row topmargin fixed-height">
                            <div class="boldfonts aligntextcenter">{{questions.set2[n-24].question}}</div><br />
                            <!--<div class="col-md-12 ">-->
                            <!--<div class="row">
                            <div class="col-md-12">
                            <div>
                            <ul class="quest">
                                <li class="col-md-4">{{questions.set2[n-24].answer1}}</li>
                                <li class="slid col-md-4"><input id="slider" type="range" ng-model="questions.set2[n-24].sliderValue" step="0.00001" min="-4.00" max="4.00">
                                
                                <br />
                                </li>
                                <li class="col-md-4">{{questions.set2[n-24].answer2}}</li>
                            </ul>-->
                        <!--</div>
                            </div>
                            </div>-->
                            <!--</div>
                </div>-->
            </div>

            
        </div> 
                
            
        <div class="botmargin position-relative"> 
            <hr>
        <div class="pull-left">
        <button class="leftbutton pull-left " ng-click="getQuestion()" aria-label="Close">Reset</button>
        </div>               
        <div class="pull-right">
        <!-- Previous Page -->
        <button class="leftbutton" ng-disabled="!isCanPrev" ng-click="prevPage()"><i class="fa fa-arrow-circle-left"></i>&nbsp;&nbsp;Back</button>
        
        <!-- Next Page -->
        <div ng-if="nextPage!=null" class="pull-right but">
        <button class="leftbutton" ng-click="nextPagefunc(event)">
            Next&nbsp;
                <i class="fa fa-arrow-circle-right"></i>
        </button>
        </div>
        <!--Submit Page-->
        <div ng-if="nextPage==null" class="pull-right but">
            <button class="leftbutton" ng-click="submit()">Submit&nbsp;&nbsp;<i class="fa fa-check-circle"></i></button>
        </div>
        </div>
        </div>

            <!-- data-toggle="modal" data-target="#myModal"-->

                    <!-- Modal -->
                    <div id="myModal" class="row modal fade" role="dialog">
                        <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <!--<div class="">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>-->
                            
                            <div class="modal-body">
                            
                            <h4 class="modal-title">Success..!!</h4>
                            <br />
                            <center>Your response for LeaderType Indicator has been submitted successfully <br /></center>
    
                            <button type="button" class="leftbutton" data-dismiss="modal" ng-click="resetPage()" style="margin-left:40%;">Close</button>
                            </div>
                        </div>

                        </div>
                    </div>
        </div>

        <!--Right div-->
       <!--  <div class="col-md-2 marginlevel">
            <div class="row">
            <button class="leftbutton pull-left " ng-click="getQuestion()" aria-label="Close">Reset</button>
            </div>
            <div class="row ad">
            </div>
        </div> -->
    </div>

    <!--<div class="col-md-2 lt-adv">
                  <img src="assets/images/testi2.jpeg">
         </div>-->

    </div>
    </div>


</div>