<div ng-include="'lt.modules/navBar/navbar.html'" ng-controller="navBarCtrl"></div>
<nav class="navbar nav-2 navbar-fixed-top dark-navbar" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
      <h4 class="whiteFontColor customHeaderForOtherDasboardPage">MY PACKAGES</h4>
    </div>
    <div class="navbar-collapse collapse zero-margin">
      <ul class="nav navbar-nav navbar-left">
        <li ng-click="gotoMyLTI()" data-toggle="collapse" data-target=".navbar-collapse"><a class="white-text">Home</a></li>
      </ul>
    </div>
  </div>
</nav>
<div id="page-wrapper">
  <div class="container-fluid custom-container-1">
    <section id="shop" class="section-small">
      <div class="container">
        <div class="row custActRow">
          <div ng-if="dataIsEmpty" class="col-lg-10 col-md-10 col-sm-10 col-xs-12 col-lg-offset-1 customActScroll margin-bottom-20">
            <table class="table shop-cart table-hover table-bordered">
              <tbody class="table shop-cart table-hover">
                <tr>
                  <td colspan="3">
                    <div style="margin:15px;">You are not currently subscribed to any packages.</div>
                    <button class="btn btn-dark" ng-click="gotoPackage()">Subscribe to a package</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div ng-if="!dataIsEmpty" class="col-lg-10 col-md-10 col-sm-10 col-xs-12 col-lg-offset-1 customActScroll">
            <table class="table shop-cart table-hover table-bordered">
              <thead class="head-color">
                <tr class="fw-semibold">
                  <td class="width-25">Packages</td>
                  <td class="width-25">Order Date</td>
                  <td ng-if="isAutorenewal" class="width-25">Renewal Date</td>
                  <td ng-if="!isAutorenewal" class="width-25">Expiry Date</td>
                  <td colspan="2" class=" width-25">Expires(days)</td>
                </tr>
              </thead>
              <tbody class="table shop-cart table-hover">
                <tr ng-repeat="dd in packageData.data" class="fw-semibold">
                  <td class="width-25 subalign">{{dd.packageName}}</td>
                  <td class="width-25">{{formatDateAndTime(dd.orderDate)}}</td>
                  <td class="width-25">{{formatDateAndTime(dd.nextRenewalDate)}}</td>
                  <td colspan="2" ng-if="diffDates(dd.nextRenewalDate) > 7">{{diffDates(dd.nextRenewalDate)}}</td>
                  <!--<td ng-if="diffDates(dd.nextRenewalDate) <= 7">{{diffDates(dd.nextRenewalDate)}}</td>-->
                  <td ng-if="diffDates(dd.nextRenewalDate) <= 7"><input type="checkbox" ng-model="dd.token" name="packageId" ng-change="selectRenewalItems($index,dd)"></td>
                </tr>
                <tr class="fw-semibold" ng-if="checkedItems.objects.length>0">
                  <td colspan="2">Total : <span class="fw-semibold">{{cost}}$</span></td>
                  <td>
                    <div class="switch">
                      <input type="radio" class="switch-input" name="view" ng-model="selectedPackageDuration" ng-change="ChangeMonthOrYearly(0)"
                        value=0 id="Month" checked>
                      <label for="Month" class="switch-label switch-label-off">Monthly</label>
                      <input type="radio" class="switch-input" name="view" ng-model="selectedPackageDuration" ng-change="ChangeMonthOrYearly(1)"
                        value=1 id="Year">
                      <label for="Year" class="switch-label switch-label-on">Yearly</label>
                      <span class="switch-selection"></span>
                    </div>
                  </td>
                  <td colspan="2"><button class="btn btn-dark" style="text-transform:none" ng-click="renewConfirm()">Renew</button></td>
                </tr>
                <tr ng-if="isAutorenewal">
                  <td colspan="4">
                    <!--button ng-if="!isAutorenewal" class="btn btn-dark1" style="text-transform: inherit;" ng-click="showConfirmCancel()">Enable Autorenewal</button-->
                    <button ng-if="isAutorenewal" class="btn btn-dark1" style="text-transform: inherit;" ng-click="showConfirmCancel()">Cancel Subscription</button>
                  </td>
                </tr>
              </tbody>
            </table>
            <!--<h5>Please do not refresh or close the page during payment in progress.</h5>-->
          </div>
        </div>
      </div>
    </section>
    <div class="modal fade" id="packageRenewalConfirmation" role="dialog">
      <div class="modal-dialog confirm-modal-dialog">
        <div class="modal-content confirm-modal">
          <div class="modal-header">
            <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
            <i class="fa fa-hourglass-end  icon-mob  confirm-modal-header-icon"></i>
            <h4 class="modal-title  fw-semibold confirm-modal-title">Package Renewal</h4>

          </div>
          <center></center>
          <div class="row">
            <!--<div class="icon-modal-place">-->
            <!--<i class="fa fa-shopping-bag fa-lg icon-mod hidden-md-down"></i>-->
            <h5 class="padding-0-20">Are you sure you want to renew the packages?<br>
              <span ng-repeat="item in checkedItems.objects"> - {{item.packageName}} </span>
            </h5>
            <h5 class="padding-0-20">Note: On expiry, the packages would be <strong>automatically renewed</strong> using your added credit card details.</h5>
							<h5 class="padding-0-20">* To avoid auto-renewal you need to cancel your subscription.</h5>
          </div>
          <!--</div>-->
          <div class="modal-footer">
            <button class="btn btn-gray" ng-click="hideRenewPackage()">No</button>
            <button class="btn btn-dark1" ng-click="confirmRenewPackage()">Yes</button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="packageRenewalStatus" role="dialog">
      <div class="modal-dialog confirm-modal-dialog">
        <div class="modal-content confirm-modal">
          <div class="modal-header">
            <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
            <i class="fa fa-hourglass-end  icon-mob  confirm-modal-header-icon"></i>
            <h4 class="modal-title  fw-semibold confirm-modal-title">Package Renewal Status</h4>

          </div>
          <center></center>
          <div class="row">
            <!--<div class="icon-modal-place">-->
            <!--<i class="fa fa-shopping-bag fa-lg icon-mod hidden-md-down"></i>-->
            <h5 class="padding-0-20">Sorry,Something went wrong. Please try again later.
            </h5>
          </div>
          <!--</div>-->
          <div class="modal-footer">
            <button class="btn btn-gray" ng-click="hideRenewStatus()">OK</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="packagePaymentFailureStatus" role="dialog">
      <div class="modal-dialog confirm-modal-dialog">
        <div class="modal-content confirm-modal">
          <div class="modal-header">
            <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
            <i class="fa fa-exclamation-triangle  icon-mob  confirm-modal-header-icon"></i>
            <h4 class="modal-title  fw-semibold confirm-modal-title">Package Payment Status</h4>

          </div>
          <center></center>
          <div class="row">
            <!--<div class="icon-modal-place">-->
            <!--<i class="fa fa-shopping-bag fa-lg icon-mod hidden-md-down"></i>-->
            <h5 class="padding-0-20">Your transaction is cancelled. Please try again later.
            </h5>
          </div>
          <!--</div>-->
          <div class="modal-footer">
            <button class="btn btn-gray" ng-click="hideFailureStatus()">OK</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="cancelSubscriptionConfirm" role="dialog">
			<div class="modal-dialog confirm-modal-dialog">
				<div class="modal-content confirm-modal">
					<div class="modal-header">
						<!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
						<i class="fa fa-exclamation-triangle  icon-mob  confirm-modal-header-icon"></i>
						<h4 class="modal-title  fw-semibold confirm-modal-title">Cancel Subscription</h4>

					</div>
					<center></center>
					<div class="row">
						<!--<div class="icon-modal-place">-->
						<!--<i class="fa fa-shopping-bag fa-lg icon-mod hidden-md-down"></i>-->
						<h5 class="padding-0-20">Are you sure you want to cancel subscription?</h5>
            <h5 class="padding-0-20">On cancellation, Your subscription will expiry on {{formatDate(expiryDate)}}</h5>
					</div>
					<!--</div>-->
					<div class="modal-footer">
						<button class="btn btn-gray" ng-click="hideConfirmCancel()">No</button>
						<button class="btn btn-dark1" ng-click="confirmCancel()">Yes</button>
					</div>
				</div>
			</div>
		</div>

  </div>
</div>
<section class="section-small footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <p>&copy; 2017 | LeaderType™ | All rights are reserved | <span ng-click="gotoPrivacy()"><a class="text-link">Privacy Policy</a></span></p>
      </div>
      <div class="col-sm-3">
      </div>
      <div class="col-sm-3  text-right">
        <ul class="list-inline">
          <a class="color-white btn btn-info social-btn-size" href="https://twitter.com/LeaderType" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
						<a class="color-white btn fb-bg social-btn-size" href="https://www.facebook.com/leadertype/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
						<a class="color-white btn linkedin-bg social-btn-size" href="https://www.linkedin.com/company/leadertype" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i> </a> </ul>
      </div>
    </div>
  </div>
</section>