<div ui-view="landing" ng-if="showLanding"></div>
<div ui-view="ltiresult" ng-if="showResult"></div>
<div ui-view="ltireport" ng-if="showReport"></div>
<div ui-view="slider" ng-if="showSlider"></div>
<section class="section-small footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <p>&copy; 2017 | LeaderType™ | All rights are reserved | <span ng-click="gotoPrivacy()"><a class="text-link">Privacy Policy</a></span>
        </p>
        <!--<h6>Copyright -2017 | LeaderType™ | All rights are reserved
        </h6>-->
      </div>
     </div>
  </div>
</section>