<div ng-include="'lt.modules/navBar/authnavbar.html'" ng-controller="navBarCtrl"></div>

<div class="learnMoreContent container text-center">
    <div><i class="fa fa-check fa-lg"></i></div>
    <h4> We have sent you a verification email. Please verify to login.</h4>
    <div> <button type="button" class="gray-button" ng-click="$root.authService.gotoHome()">Home</button></div>
</div>