<div ng-include="'lt.modules/navBar/authnavbar.html'" ng-controller="navBarCtrl"></div>

<div class="learnMoreContent container text-center">
    <h4> Oops! you haven't linked up your email to your social account, please link and try again or update your mail id below.</h4>
    <form id="contactForm" name="SentMessage" novalidate ng-submit="updateProfile()">
        <div class="control-group">
            <div class="form-group floating-label-form-group controls">
                <label for="email" class="sr-only control-label">Your Email</label>
                <!--<input id="email" ng-model="contactUs.email" type="email" placeholder="Your Email" required="" data-validation-required-message="Please enter email"
                  class="form-control input-lg"><span class="help-block text-danger"></span>-->
                <input id="email" name="email" ng-model="profile.email" type="email" placeholder="Your Email*" class="form-control input-lg"
                    ng-required="true" />
                <!--<span ng-show="SentMessage.email.$error.required"  style="color:red">Email id field cannot be empty</span>-->
                <span ng-show="SentMessage.email.$error.email" style="color:red">Email id should be in valid format.</span>
            </div>
        </div>
        <div> 
            <button type="button" class="btn btn-gray" ng-click="goHome()">Home</button>
            <button type="submit"
                class="btn btn-dark" ng-disabled="showError && SentMessage.$invalid">Update</button>
                </div>
        <span ng-if="showError">
            <span ng-show="SentMessage.email.$error.required==true" ng-bind="error"  style="color:red"></span>
        </span>
    </form>
</div>