<div>
  <!--<div ng-include="'lt.modules/navBar/navbar.html'"></div>
  <div ng-include="'lt.modules/dashboard/dashboard.html'"></div>-->
  <div class="row no-padding coming-soon center-div-positioning col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <img src="assets/images/coming-soon.jpg" class="comingsoon-img">
  </div>
</div>