<div id="wrapper">
  <!--<div ng-include="'lt.modules/navBar/navbar.html'" ng-controller="navBarCtrl"></div>-->
  <div class="strip-custom col-md-12 col-sm-12 col-xs-12">
    <div class="green-strip col-md-3 col-sm-3 col-xs-3"></div>
    <div class="yellow-strip col-md-3 col-sm-3 col-xs-3"></div>
    <div class="red-strip col-md-3 col-sm-3 col-xs-3"></div>
    <div class="blue-strip col-md-3 col-sm-3 col-xs-3"></div>
  </div>
  <!-- Navigation-->
  <nav class="navbar navbar-universal nav-height navbar-fixed-top header-custom zero-bottom-margin z-index-top">
    <div class="container-fluid">

      <div ng-click="goToHome()" class="navbar-header custom-nav cursor-pointer">
        <img src="../assets/images/logo.png" alt="Logo" class="logo-custom">
        <p class="logo-title">LeaderTYPE<sup class="tm">TM</sup></p>
      </div>
      <div class=" hidden-md-down">
        <ul class="nav navbar-nav navbar-left margin ">
            <div class="dropdown padding-right-5" ng-if="$root.authService.isAuthenticated()">
              <button class="dropbtn font-weight-700"><a><i class="fa fa-user avatar-icon" aria-hidden="true"></i>{{$root.authService.name()}}<span class="caret"></span></a></li></button>
              <div class="dropdown-content">
                <a ng-click="gotoDashboard()" class="font-weight-700" ng-if="state.current.name !='dashboard.mylti'">My LeaderType</a>
                <a ng-click="gotoAccount()" class="font-weight-700" ng-if="state.current.name !='accountpage'">My Packages</a>
                <a ng-click="gotoProfile()" class="font-weight-700" ng-if="state.current.name !='profile'">My Profile</a>
                <a ng-click="logout()" class="font-weight-700">Log out</a>
              </div>
            </div>
		    	<li><a href="http://122.180.29.167/leadertype/#about">ABOUT </a></li>
					<li class="font-weight-700"><a href="http://122.180.29.167/leadertype/index.php/program/">PROGRAM </a></li>
					<li class="font-weight-700"><a href="http://122.180.29.167/leadertype/index.php/leadercoachmobileapp">APP </a></li>
					<li class="font-weight-700"><a href="http://122.180.29.167/leadertype/index.php/book/">BOOK </a></li>
					<li class="font-weight-700"><a href="http://122.180.29.167/leadertype/index.php/workshops/">WORKSHOPS</a></li>
					<li class="font-weight-700"><a href="http://122.180.29.167/leadertype/index.php/speaking/">SPEAKING</a></li>
					<li class="font-weight-700"><a href="http://122.180.29.167/leadertype/#contact">CONTACT US</a></li>
          <li ng-click="$root.authService.loginWithSignUp()" ng-if="!$root.authService.isAuthenticated()" class="font-weight-700"><a>LOG IN </a></li>
          <!--<li ng-click="$root.authService.signUp()" ng-if="!$root.authService.isAuthenticated()" class="font-weight-700"><a>CREATE YOUR PROFILE</a></li>-->
        </ul>
      </div>
    </div>
  </nav>
  <nav class="navbar nav-2 hidden-md-down navbar-fixed-top dark-navbar" role="navigation">
      <div class="container-fluid">
          <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <h4 class="whiteFontColor" ng-class="brandclassName">
                <span>{{heading}}</span>
                <!--<span class="leftMarginforEditSaveBtn"><a ng-if="saveEditShowFlag" ng-click="saveEditClick()" class="btn btn-default saveEditButton" tooltips tooltip-template="{{editSaveTemplate}}" tooltip-side="bottom" tooltip-size="small" ><span  class="glyphicon" ng-class="saveEditClass"></span></a></span>
                <span><a ng-if="saveEditShowFlag && saveEditFlag" ng-click="cancelClick()" class="btn btn-default saveEditButton" tooltips tooltip-template="Cancel" tooltip-side="bottom" tooltip-size="small" ><span  class="glyphicon glyphicon-remove"></span></a></span>-->
              </h4>
          </div>
          <div class="navbar-collapse collapse zero-margin">
              <ul class="nav navbar-nav navbar-left">
                  <li ng-click="gotoMyLTI()" data-toggle="collapse" data-target=".navbar-collapse" ng-if="!takingAssessment"><a class="white-text">My LeaderTYPE</a></li>
                  <li ng-click="gotoMyLTBrand()" data-toggle="collapse" data-target=".navbar-collapse" ng-if="!takingAssessment"><a class="white-text">My LeaderBRAND</a></li>
                  <li ng-click="gotoMyLTTeam()" data-toggle="collapse" data-target=".navbar-collapse" ng-if="!takingAssessment"><a class="white-text">My LeaderTEAM</a></li>
                  <li ng-click="gotoMyLTIPeak()" data-toggle="collapse" data-target=".navbar-collapse" ng-if="!takingAssessment"><a class="white-text">My LeaderSWOT</a></li>
              </ul>
          </div>
      </div>
  </nav>

  <nav class="navbar nav-2 navbar-universal navbar-fixed-top hidden-sm-up dark-navbar" role="navigation">
      <div class="container-fluid">
          <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <h4 class="whiteFontColor" ng-class="brandclassName">
                <span>{{heading}}</span>
                <!--<span class="leftMarginforEditSaveBtn"><a ng-if="saveEditShowFlag" ng-click="saveEditClick()" class="btn btn-default saveEditButton" tooltips tooltip-template="{{editSaveTemplate}}" tooltip-side="bottom" tooltip-size="small" ><span  class="glyphicon" ng-class="saveEditClass"></span></a></span>
                <span><a ng-if="saveEditShowFlag && saveEditFlag" ng-click="cancelClick()" class="btn btn-default saveEditButton" tooltips tooltip-template="Cancel" tooltip-side="bottom" tooltip-size="small" ><span  class="glyphicon glyphicon-remove"></span></a></span>-->
              </h4>
          </div>
          <div class="navbar-collapse collapse zero-margin">
              <ul class="nav navbar-nav navbar-universal navbar-left">
                  <li ng-click="gotoMyLTI()" data-toggle="collapse" data-target=".navbar-collapse" ng-if="!takingAssessment"><a class="white-text">My LeaderTYPE</a></li>
                  <li ng-click="gotoMyLTBrand()" data-toggle="collapse" data-target=".navbar-collapse" ng-if="!takingAssessment"><a class="white-text">My LeaderBRAND</a></li>
                  <li ng-click="gotoMyLTTeam()" data-toggle="collapse" data-target=".navbar-collapse" ng-if="!takingAssessment"><a class="white-text">My LeaderTEAM</a></li>
                  <li ng-click="gotoMyLTIPeak()" data-toggle="collapse" data-target=".navbar-collapse" ng-if="!takingAssessment"><a class="white-text">My LeaderSWOT</a></li>
                  <li ng-click="$root.authService.loginWithSignUp()" ng-if="!$root.authService.isAuthenticated()" class="white-text"><a>Log In </a></li>
                  <!--<li ng-click="$root.authService.signUp()" ng-if="!$root.authService.isAuthenticated()" class="white-text"><a>Create Your Profile</a></li>-->
                  <li class="dropdown" ng-if="$root.authService.isAuthenticated()"><a class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user avatar-icon" aria-hidden="true"></i>{{$root.authService.name()}}<span class="caret"></span></a>
            				<ul class="dropdown-menu">
            					<li><a ng-click="gotoDashboard()">My LeaderType</a></li>
            					<li><a ng-click="gotoAccount()">My Packages</a></li>
            					<li><a ng-click="gotoProfile()">My Profile</a></li>
            					<li><a ng-click="logout()" class="height-41">Log out</a></li>
            				</ul>
            			</li>
              </ul>
          </div>
      </div>
  </nav>
  <div id = "page-wrapper">
    <div class = "container-fluid custom-container">
      <div class="ui" ui-view></div>
    </div>
  </div>
</div>
