<div class="row" ng-include="'lt.modules/navBar/navbar.html'"></div>

<div class="row reports" id="start">
    <div class="reportContent">
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 no-padding">
            <div class="report-sidebar">
                <div ng-class="{tabActive : view === 'Users'}" class="cursor-pointer rtab" ng-click="changeTab('Users')">
                    <span><i class="fa fa-users fa-lg" aria-hidden="true"></i></span><span class="hidden-sm-down"> Users</span>
                </div>
                <div ng-class="{tabActive : view === 'Campaign'}" class="cursor-pointer rtab" ng-click="changeTab('Campaign')">
                    <span><i class="fa fa-file-text fa-lg" aria-hidden="true"></i></span><span class="hidden-sm-down"> Campaign</span>
                </div>
            </div>
        </div>

        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 report-dashboard">
            <div ng-if="view === 'Users'">
                
                <table class="table table-hover table-striped report-table">
                    <tr>
                        <th>First name</th>
                        <th>Last name</th>
                        <th>Package Purchased</th>
                        <th class="hidden-sm-down">Email</th>
                        <th class="hidden-sm-down">Created At</th>
                        <th class="hidden-sm-down">Last login</th>
                    </tr>
                    <tbody>
                        <tr ng-if="isLoading">
                            <td class="text-center" colspan="6">Loading...</td>
                        </tr>
                        <tr ng-repeat="user in userList.users">
                            <td>{{user.firstName}}</td>
                            <td>{{user.lastName}}</td>
                            <td>{{user.packageName}}</td>
                            <td class="hidden-sm-down">{{user.email}}</td>
                            <td class="hidden-sm-down">{{formatDateAndTime(user.created_at)}}</td>
                            <td class="hidden-sm-down">{{formatDateAndTime(user.last_login)}}</td>
                        </tr>
                        
                    </tbody>
                </table>
                <div class=" position-relative">
                    <hr>
                    <div class="pull-left botmargin">
                        <button class="btn btn-dark leftbutton" ng-disabled="userList.start == 0" ng-click="prevPage()"><i class="fa fa-arrow-circle-left"></i>&nbsp;&nbsp;Back</button>
                    </div>
                    <div class="pull-right">
                        <span>Showing {{userList.start+1 +'-'+(userList.start+userList.length)}} of {{userList.total}}</span>
                        <!-- Next Page -->
                        <div class="pull-right but">
                            <button class="btn btn-dark leftbutton" ng-disabled="(userList.start+userList.length) >= userList.total" ng-click="nextPage()">
                            Next&nbsp;
                            <i class="fa fa-arrow-circle-right"></i>
                        </button>
                        </div>
                    </div>
                </div>
            </div>

            <div ng-if="(view === 'Campaign') && (!isLoading)">
                <div class="caction" ng-if="((campaign === null) || (campaign === undefined)) && (!editFlag)">
                    <button ng-click="showAdd()" class="btn btn-dark"><span class="menu-icon"><i class="fa fa-plus-circle"></i></span> Add Campaign</button>
                </div>

                <div class="rcard" ng-if="((campaign !== null) && (campaign !== undefined)) && (!editFlag)">
                    <div class="col-lg-11 col-md-11 col-sm-12 col-xs-12">
                        <p class="margin-none"><strong>{{campaign.line1}}</strong></p>
                        <p class="margin-none"><strong>{{campaign.line2}}</strong></p>
                        <p class="margin-none">{{campaign.line3}}</p>
                        <p class="margin-none">{{campaign.url}}</p>
                    </div>
                    <div class="col-lg-1 col-md-1 hidden-sm-down caction">
                        <div class="cursor-pointer" ng-click="showEdit()">
                            <span><i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                        </div>
                        <div class="cursor-pointer" ng-click="showDelete()">
                            <span><i class="fa fa-trash fa-lg" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>

                 <div class="rcard min-height" ng-if="editFlag">
                    <div class="col-lg-11 col-md-11 col-sm-12 col-xs-12">
                        <div class="row form-group">
                            <label class="col-lg-3 col-md-3 col-sm-3 col-xs-12 control-label">LT Banner (Line 1)</label>
                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 controls">
                                <textarea rows="3" cols="80" ng-model="editCampaign.line1"></textarea>
                            </div>
                        </div>
                        <div class="row form-group">
                            <label class="col-lg-3 col-md-3 col-sm-3 col-xs-12 control-label">LT Banner (Line 2)</label>
                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 controls">
                                <textarea rows="3" cols="80" ng-model="editCampaign.line2"></textarea>
                            </div>
                        </div>
                        <div class="row form-group">
                            <label class="col-lg-3 col-md-3 col-sm-3 col-xs-12 control-label">LT Banner (Line 3)</label>
                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 controls">
                                <textarea rows="3" cols="80" ng-model="editCampaign.line3"></textarea>
                            </div>
                        </div>
                        <div class="row form-group">
                            <label class="col-lg-3 col-md-3 col-sm-3 col-xs-12 control-label">Event SignUp Url</label>
                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 controls">
                                <input type="text" placeholder="url" name="url" class="form-control" ng-model="editCampaign.url">
                            </div>
                        </div>
                        <div class="raction">
                            <button ng-click="hideEdit()" class="btn btn-dark margin-1"> Cancel</button>
                            <button ng-click="saveCampaign()" class="btn btn-dark margin-1"> Save</button>
                        </div>
                    </div>
                 </div>

            </div>

        </div>
    </div>
    <div class="modal fade" id="deleteConfirmation" role="dialog">
        <div class="modal-dialog confirm-modal-dialog">
            <div class="modal-content confirm-modal">
                <div class="modal-header">
                    <h4 class="modal-title  fw-semibold">Delete</h4>
                </div>
                <center></center>
                <div class="row">
                    <h5 class="padding-0-20">Are you sure, you want to delete?</h5>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-gray" ng-click="hideDelete()">No</button>
                    <button class="btn btn-dark1" ng-click="deleteCampaign()">Yes</button>
                </div>
            </div>
        </div>
    </div>
</div>