<div ng-include="'lt.modules/navBar/navbar.html'" ng-controller="navBarCtrl">
</div>

<nav class="navbar nav-2 navbar-fixed-top dark-navbar" role="navigation">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
			<h4 class="whiteFontColor" style="padding-top: 13px;">CHECKOUT</h4>
		</div>
	</div>
</nav>
<div id="page-wrapper">
	<div class="container-fluid custom-container-1">
		<section id="shop" class="section-small" style="margin-bottom:5%;">
			<div class="container">
				<div class="row">
					<div ng-if="cartList.length==0" class="col-lg-10 col-lg-offset-1 text-center-align">
						<h1>You cart is empty</h1>
						<p class="margin-bottom-10"><a class="button btn btn-dark" ng-click="$root.authService.gotoHome()">Home</a></p>
					</div>
					<div ng-if="cartList.length>0" class="col-lg-10 col-lg-offset-1">
						<h5>You currently have {{cartList.length}} item added to your cart.</h5>

						<!--<div ng-if="cartList.length>0"> <button type="button" class="gray-button" ng-click="goToHome()">Continue Shopping</button></div>-->
						<table class="table shop-cart table-hover table-bordered">
							<thead>
								<tr class="color-lite">
									<th>Product</th>
									<th>Price</th>
									<th></th>
								</tr>
							</thead>
							<tbody>

								<tr ng-repeat="cartItem in cartList">
									<!--<td class="hidden-xs"><img src="img/shop/4.jpg" alt=""></td>-->
									<td>{{cartItem.productName}}</td>

									<td>${{cartItem.price}}</td>


									<td><a ng-click="removeItemFromCart(cartItem.productName)"><i class="fa fa-times-circle-o fa-lg"></i></a></td>
								</tr>
								<tr>
									<!--<td class="hidden-xs"><img src="img/shop/4.jpg" alt=""></td>-->
									<td><b>Total</b></td>

									<td>
										<h4>${{total}}</h4>
									</td>

									<td>
										<p ng-if="total > 0 && (isTrail=='Pay')" class="margin-bottom-10">
											<a class="button btn btn-dark " ng-click="payButtonClick($event)">Pay</a>
										</p>
										<p ng-if="isTrail == 'Free'" class="margin-bottom-10">
											<a class="button btn btn-dark " style="text-transform: inherit;" ng-click="payButtonClick($event)">Start your 30-day free trial</a>
										</p>
									</td>
								</tr>
							</tbody>
						</table>
						<h5>Please do not refresh or close the page during payment in progress.</h5>

					</div>
				</div>
			</div>
		</section>
		<div class="modal fade" id="packagePaymentConfirmation" role="dialog">
			<div class="modal-dialog confirm-modal-dialog">
				<div class="modal-content confirm-modal">
					<div class="modal-header">
						<!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
						<i class="fa fa-hourglass-end  icon-mob  confirm-modal-header-icon"></i>
						<h4 class="modal-title  fw-semibold confirm-modal-title">Package Payment</h4>

					</div>
					<center></center>
					<div class="row">
						<!--<div class="icon-modal-place">-->
						<!--<i class="fa fa-shopping-bag fa-lg icon-mod hidden-md-down"></i>-->
						<div ng-if="Profile.isTrailUsed">
							<h5 class="padding-0-20">Are you sure you want to pay the following packages?<br>
								<span ng-repeat="cartItem in cartList"> - {{cartItem.productName}} <br></span>
							</h5>
							<h5 class="padding-0-20">Note: On expiry, the packages would be <strong>automatically renewed</strong> using your added credit card details.</h5>
							<h5 class="padding-0-20">* To avoid auto-renewal you need to cancel your subscription.</h5>
						</div>
						<div ng-if="!Profile.isTrailUsed">
							<h5  class="padding-0-20">Are you sure you want to start your <strong>30-day free trial</strong> for the following packages?<br>
								<span ng-repeat="cartItem in cartList"> - {{cartItem.productName}} <br></span>
							</h5>
							<h5 class="padding-0-20">Note: On the expiry of your free trial, the packages would be <strong>automatically renewed</strong> using your added credit card details.</h5>
							<h5 class="padding-0-20">* To avoid auto-renewal you need to cancel your subscription.</h5>
						</div>
					</div>
					<!--</div>-->
					<div class="modal-footer">
						<button class="btn btn-gray" ng-click="hideConfirmPackage()">No</button>
						<button class="btn btn-dark1" ng-click="confirmPackage()">Yes</button>
					</div>
				</div>
			</div>
		</div>
		<div class="modal fade" id="packagePaymentStatus" role="dialog">
			<div class="modal-dialog confirm-modal-dialog">
				<div class="modal-content confirm-modal">
					<div class="modal-header">
						<!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
						<i class="fa fa-hourglass-end  icon-mob  confirm-modal-header-icon"></i>
						<h4 class="modal-title  fw-semibold confirm-modal-title">Package Payment Status</h4>

					</div>
					<center></center>
					<div class="row">
						<!--<div class="icon-modal-place">-->
						<!--<i class="fa fa-shopping-bag fa-lg icon-mod hidden-md-down"></i>-->
						<h5 class="padding-0-20">Sorry,Something went wrong. Please try again later.
						</h5>
					</div>
					<!--</div>-->
					<div class="modal-footer">
						<button class="btn btn-gray" ng-click="hideRenewStatus()">OK</button>
					</div>
				</div>
			</div>
		</div>

		<div class="modal fade" id="packagePaymentFailureStatus" role="dialog">
			<div class="modal-dialog confirm-modal-dialog">
				<div class="modal-content confirm-modal">
					<div class="modal-header">
						<!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
						<i class="fa fa-exclamation-triangle  icon-mob  confirm-modal-header-icon"></i>
						<h4 class="modal-title  fw-semibold confirm-modal-title">Package Payment Status</h4>

					</div>
					<center></center>
					<div class="row">
						<!--<div class="icon-modal-place">-->
						<!--<i class="fa fa-shopping-bag fa-lg icon-mod hidden-md-down"></i>-->
						<h5 class="padding-0-20">Your transaction is cancelled. Please try again later.
						</h5>
					</div>
					<!--</div>-->
					<div class="modal-footer">
						<button class="btn btn-gray" ng-click="hideFailureStatus()">OK</button>
					</div>
				</div>
			</div>
		</div>
		<div class="modal fade" id="packageDowngradeWarning" role="dialog">
			<div class="modal-dialog confirm-modal-dialog">
				<div class="modal-content confirm-modal">
					<div class="modal-header">
						<i class="fa fa-hourglass-end  icon-mob  confirm-modal-header-icon"></i>
						<h4 class="modal-title  fw-semibold confirm-modal-title">Warning</h4>
					</div>
					<center></center>
					<div class="row">
						<h5 class="padding-0-20">You have already subscribed for higher packages. Please go to account page to view the subscribed packages.<br></h5>
					</div>
					<div class="modal-footer">
						<button class="btn btn-dark1" ng-click="gotoAccount('Downgrade')">Account</button>
					</div>
				</div>
			</div>
		</div>
		<div class="modal fade" id="packageUpgradeWarning" role="dialog">
			<div class="modal-dialog confirm-modal-dialog">
				<div class="modal-content confirm-modal">
					<div class="modal-header">
						<i class="fa fa-hourglass-end  icon-mob  confirm-modal-header-icon"></i>
						<h4 class="modal-title  fw-semibold confirm-modal-title">Warning</h4>
					</div>
					<center></center>
					<div class="row">
						<h5 class="padding-0-20">Please visit account to upgrade your package.<br></h5>
					</div>
					<div class="modal-footer">
						<button class="btn btn-dark1" ng-click="gotoAccount('Upgrade')">Account</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<section class="section-small footer">
	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<p>&copy; 2017 | LeaderType™ | All rights are reserved | <span ng-click="gotoPrivacy()"><a class="text-link">Privacy Policy</a></span></p>
			</div>
			<div class="col-sm-3">
			</div>
			<div class="col-sm-3  text-right">
				<ul class="list-inline">
					<a class="color-white btn btn-info social-btn-size" href="https://twitter.com/LeaderType" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
						<a class="color-white btn fb-bg social-btn-size" href="https://www.facebook.com/leadertype/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
						<a class="color-white btn linkedin-bg social-btn-size" href="https://www.linkedin.com/company/leadertype" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i> </a>
					</ul>
			</div>
		</div>
	</div>
</section>
