
    <div class="landinglti center-div-positioning padding-top-150 margin-bottom">
        <div>
            <center>
                <p>Oops! It seems you haven't taken your assessment yet. </p>
                <button class="btn btn-dark leftbutton" ng-click="takeAssessment()">Click here to take Assessment&nbsp;&nbsp;<i class="fa fa-check-circle"></i></button>
            </center>
        </div>
    </div>