<div class="report center-div-positioning">
    <div class="container right-left-margin-0 width-100">
        <div class="row padding-10">
            <div class="col-md-3 col-sm-12 cursor-pointer">
                <div tooltips tooltip-template="Click to know more about your dominant Leadertype" tooltip-side="right" tooltip-size="small">
                    <img ng-src="../assets/images/latest_images/{{report.selectedLeaderType.indicatorId}}.png" class="fit-image-div margin-left-25"
                        ng-click="showLeaderDetails(report.selectedLeaderType.indicatorId)" />
                </div>
                <center> <button type="button" class="btn btn-dark margin-10 reportbtn" ng-click="retakeAssessment()">Retake Assessment</button></center>
                <center> <button type="button" class="btn btn-dark margin-10 reportbtn" ng-click="gotoMyLTBrand()">Build Leadership Brand</button></center>
            </div>
            <div class="model-img-content col-md-6">
                <div class="row">
                    <h3 class="bottom-margin-0">{{report.selectedLeaderType.title}} LeaderType™ </h3>
                    <p class="bottom-margin-0 align-justify"><strong>Quote:</strong> “{{report.selectedLeaderType.quote}}”
                    </p>
                    <h5 class="bottom-margin-0"><strong>{{report.selectedLeaderType.name}}</strong></h5>
                    <p class="bottom-margin-0"><strong>Brand:</strong>&nbsp;{{report.selectedLeaderType.brand | join:', '}}</p>
                    <p class="bottom-margin-0"><strong>Values:</strong>&nbsp;{{report.selectedLeaderType.values | join:', '}}</p>
                    <p class="bottom-margin-0"><strong>Themes:</strong>&nbsp;{{report.selectedLeaderType.themes | join:', '}}</p>

                </div>
                <div class="row">
                    <p class="bottom-margin-0 padding-left-10"><strong>Likely strengths:</strong></p>
                    <ul class="bottom-margin-0">
                        <li ng-repeat="strength in report.selectedLeaderType.strengths">{{strength}}</li>
                    </ul>

                </div>
                <div class="row">
                    <p class="bottom-margin-0 development-left-margin padding-left-15"><strong>Likely struggles:</strong></p>
                    <ul class="bottom-margin-0">
                        <li ng-repeat="area in report.selectedLeaderType.developmentAreas">{{area}}</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 border-other-prominent-leaders">
                <center>
                    <h5>Other prominent leaders</h5>
                    <div data-toggle="modal cursor-pointer" data-target="#image-popup-visionary">
                        <span tooltips tooltip-template="Click to know more about your dominant Leadertype" tooltip-side="left" tooltip-size="small">
                        <img ng-src="../../assets/images/latest_images/{{report.result.leadertypes[0]}}.png" style="width:177px" class="fit-image-div"
                            ng-click="showLeaderDetails(report.result.leadertypes[0])" />
                        </span>
                    </div>
                    <div>
                        <button type="button" class="btn btn-dark margin-10 reportbtn" ng-click="selectLeaderType(report.result.leadertypes[0])">Select this LeaderType</button>
                    </div>
                    <div> <button type="button" class="btn btn-gray margin-10 reportbtn report-learnmore" ng-click="showLeaderDetails(report.result.leadertypes[0])">Learn more</button></div>
                    <div class="col-md-12 cursor-pointer" data-toggle="modal" data-target="#image-popup-take-charge">
                        <span tooltips tooltip-template="Click to know more about your dominant Leadertype" tooltip-side="left" tooltip-size="small">
                        <img ng-src="../assets/images/latest_images/{{report.result.leadertypes[1]}}.png" style="width:120px" class="fit-image-div"
                            ng-click="showLeaderDetails(report.result.leadertypes[1])" />
                        </span>
                    </div>
                    <div>
                        <button type="button" class="btn btn-dark margin-10 reportbtn" ng-click="selectLeaderType(report.result.leadertypes[1])">Select this LeaderType</button>
                    </div>
                    <div> <button type="button" class="btn btn-gray margin-10 reportbtn report-learnmore" ng-click="showLeaderDetails(report.result.leadertypes[1])">Learn more</button></div>
                </center>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="image-popup" role="dialog">
    <div class="modal-dialog zero-margin">

        <!-- Modal content president-popoup president-popoup-small-->
        <div class="modal-content ">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title lt-smooth">{{selectedLeader.title}}</h4>
            </div>
            <div class="container width-100">
                <div class="row">
                    <div class=" col-md-2 col-sm-10">
                        <img ng-src="../../assets/images/latest_images/{{selectedLeader.indicatorId}}.png" class="model-img" />
                    </div>
                    <div class="model-img-content col-md-10">
                        <h3 class="bottom-margin-0">{{selectedLeader.title}} LeaderType™ </h3>
                        <p class="bottom-margin-0"><strong>Quote:</strong> “{{selectedLeader.quote}}”</p>
                        <p class="bottom-margin-0"><strong>{{selectedLeader.name}}</strong></p>
                        <p class="bottom-margin-0"><strong>Brand:</strong>&nbsp;{{selectedLeader.brand| join:', ' }}</p>
                        <p class="bottom-margin-0"><strong>Values:</strong>&nbsp;{{selectedLeader.values| join:', ' }}</p>
                        <p class="bottom-margin-0"><strong>Themes:</strong>&nbsp;{{selectedLeader.themes| join:', ' }}</p>
                    </div>
                    <div class="row">

                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <p class="bottom-margin-0 padding-left-10"><strong>Likely strengths:</strong></p>
                            <ul>
                                <li ng-repeat="strength in selectedLeader.strengths">{{strength}}</li>
                            </ul>

                        </div>
                        <div class="col-md-6">
                            <p class="bottom-margin-0 development-left-margin padding-left-15"><strong>Likely struggles:</strong></p>
                            <ul>
                                <li ng-repeat="area in selectedLeader.developmentAreas">{{area}}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>