<div class="result">
    <!--<div ng-include="lt.modules/navBar/navbar.html"></div>-->
    <div class="row" style="margin-bottom:20px;">
        <center> <button type="button" class="btn btn-dark m-nig" ng-click="retakeAssessment()">Retake Assessment</button></center>
    </div>
    <div>
        <div class="aligntextcenter">
            <h3 class="boldfont zero-bottom-margin heading-custom-1" style="padding-bottom: 0px;">
                <!--Top 3 Leaders that best fit your personality type. Please review your results and select the leader you identify with most.-->
                Below you will see the eight major leadership styles identified through <span ng-click="gotoMethodology();"><a class="text-link">research.</a></span>The
                first three most closely reflect your indicated leadership personality.
                <br>
                <br>
                <br> Select one of those three as the LeaderType™ you think best reflects your dominant/primary leadership
                style. Going forward, the tips, insights, quotes and other resources you receive via LeaderType.com will
                be tailored to the LeaderType™ you’ve chosen.
            </h3>
        </div>
    </div>

    <div class="row">
        <center>
            <!-- no-padding class removed -->
            <div class="col-md-12 col-sm-12 col-xs-12">
                <!--Left div-->
                <div class="col-md-3 col-sm-3 col-xs-1 marginlevel">
                </div>
                <div class="col-md-6 col-sm-6 col-xs-10 padding-bottom-20 center-div-positioning padding-zero">
                    <table>
                        <tr>
                            <th>Your LeaderType™ Results</th>
                            <th>Approx. % of U.S. Managers</th>
                        </tr>
                        <tr ng-repeat="leadertype in leadertypes">
                            <td>
                                <div class="image-circle image-circle-{{$index}} cursor-pointer" ng-click="showLeaderDetails(leadertype)" tooltips tooltip-template="Click to know more about your dominant Leadertype"
                                    tooltip-side="right" tooltip-size="small">
                                    <img ng-src="../../assets/images/latest_images/{{leadertype}}.png" class="image-width-height-100" />
                                </div>
                                <div ng-if="$index<3"> <button type="button" class="btn btn-xs btn-dark" ng-click="selectLeader(leadertype)">Select this LeaderType</button></div>
                            </td>
                            <td>
                                <center>{{managerPercentages[$index]}}%</center>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-1 marginlevel">
                </div>
            </div>
        </center>
    </div>
</div>

<!-- Modal -->
<!--<script type="text/ng-template" id="leaderModal.html">-->
<div class="modal fade" id="image-popup" role="dialog">
    <div class="modal-dialog zero-margin">

        <!-- Modal content president-popoup president-popoup-small-->
        <div class="modal-content ">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title lt-smooth">{{selectedLeader.title}}</h4>
            </div>
            <div class="container width-100">
                <div class="row">
                    <div class=" col-md-2 col-sm-10">
                        <img ng-src="../../assets/images/latest_images/{{selectedLeader.indicatorId}}.png" class="model-img" />
                    </div>
                    <div class="model-img-content col-md-10">
                        <h3 class="bottom-margin-0">{{selectedLeader.title}} LeaderType™ </h3>
                        <p class="bottom-margin-0"><strong>Quote:</strong> “{{selectedLeader.quote}}”</p>
                        <p class="bottom-margin-0"><strong>{{selectedLeader.name}}</strong></p>
                        <p class="bottom-margin-0"><strong>Brand:</strong>&nbsp;{{selectedLeader.brand| join:', ' }}</p>
                        <p class="bottom-margin-0"><strong>Values:</strong>&nbsp;{{selectedLeader.values| join:', ' }}</p>
                        <p class="bottom-margin-0"><strong>Themes:</strong>&nbsp;{{selectedLeader.themes| join:', ' }}</p>
                    </div>
                    <div class="row">
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <p class="bottom-margin-0 padding-left-10"><strong>Likely strengths:</strong></p>
                            <ul>
                                <li ng-repeat="strength in selectedLeader.strengths">{{strength}}</li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <p class="bottom-margin-0 development-left-margin padding-left-15"><strong>Likely struggles:</strong></p>
                            <ul>
                                <li ng-repeat="area in selectedLeader.developmentAreas">{{area}}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>