<form name="changeForm" novalidate>
  <div class="slider">
      <div>
          <div class="aligntextcenter bottom-margin">
              <h3 class="boldfont zero-bottom-margin ">LeaderTYPE<sup>&reg;</sup> Indicator (LTI)</h3>
              <h3 class="boldfont heading-custom font-weight-500">Reflect on yourself apart from any role or expectations. Answer with what's most natural for you.</h3>
          </div>
      </div>
      <div class="row no-padding">
          <div class="col-md-12 col-sm-12 col-xs-12">

              <div class="row height-300 question-container-height">

                  <!--Progress bar-->
                  <div class="progressdiv">
                      <div class="progress" ng-style="{ 'width': percentage + '%' }">
                        <div style="float:right;">{{percentage + '%'}}</div>
                      </div>
                  </div>

                  <div ng-repeat="n in inputs">
                      <h5 class="zero-bottom-margin aligntextcenter transform-inherit padding-top-15" ng-if="(n+1)%questionPerPage==1 && n>23 && n<40"><strong>{{ltiSet[1].questions[n-ltiSet[0].questions.length ].top}}</strong></h5>
                      <h5 class="zero-bottom-margin aligntextcenter transform-inherit padding-top-15" ng-if="(n)%questionPerPage==0 && n<=23 && n>=0"><strong>Use the pointer to indicate the degree of your preference.</strong></h5>

                      <!--Slide the pointer to indicate the degree of your preference.-->
                      <!--Questions display for first set-->
                      <div ng-show="n<ltiSet[0].questions.length">
                          <div class="row topmargin fixed-height">
                              <!--{{ltiSet[0].questions[n].top}}-->
                              <h5 class="zero-bottom-margin aligntextcenter transform-inherit">{{ltiSet[0].questions[n].top}}</h5>
                              <div class="quest">
                                <div class="col-md-4 col-sm-4 col-xs-4 customPaddingForSlider">
                                  <span class="pull-right">{{ltiSet[0].questions[n].left}}</span>
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-4 customPaddingForSlider">
                                    <input type="range" ng-model="ltiSet[0].questions[n].value" class="blackSliderForLti" step="0.00001" min="-3" max="3">
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-4 customPaddingForSlider">
                                  <span class="pull-left">{{ltiSet[0].questions[n].right}}</span>
                                </div>
                              </div>
                          </div>
                      </div>
                      <!-- Question display for next set -->
                      <div ng-show="n >=ltiSet[0].questions.length && n < totalquest">
                          <div class="row topmargin fixed-height">

                              <!--<h6 class="zero-bottom-margin aligntextcenter transform-inherit"></h6>-->
                              <div class="quest">
                                <div class="col-md-4 col-sm-4 col-xs-4 customPaddingForSlider">
                                  <span class="pull-right">{{ltiSet[1].questions[n-ltiSet[0].questions.length ].left}}</span>
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-4 customPaddingForSlider">
                                    <input type="range" ng-model="ltiSet[1].questions[n-ltiSet[0].questions.length ].value" class="blackSliderForLti" step="0.00001" min="-4" max="4">
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-4 customPaddingForSlider"><span class="pull-left">{{ltiSet[1].questions[n-ltiSet[0].questions.length].right}}</span></div>
                              </div>
                          </div>
                      </div>
                  </div>


              </div>

              <div class=" position-relative">
                  <hr>
                  <div class="pull-left botmargin">
                      <button class="btn btn-dark leftbutton" ng-click="resetPage()" ng-disabled="isOnReset" aria-label="Close"><i class="fa fa-refresh" aria-hidden="true"></i>&nbsp;&nbsp;Reset</button>
                  </div>
                  <div class="pull-right">
                    <!-- Previous Page -->
                    <button class="btn btn-dark leftbutton" ng-disabled="!isCanPrev" ng-disabled="isOnReset" ng-click="prevPage()"><i class="fa fa-arrow-circle-left"></i>&nbsp;&nbsp;Back</button>

                    <!-- Next Page -->
                    <div ng-if="nextPage!=null" class="pull-right but">
                        <button class="btn btn-dark leftbutton" ng-disabled="isOnReset" ng-click="nextPagefunc(event)">
                            Next&nbsp;
                            <i class="fa fa-arrow-circle-right"></i>
                        </button>
                    </div>
                    <!--Submit Page-->
                    <div ng-if="nextPage==null" class="pull-right but">
                        <button class="btn btn-dark leftbutton" ng-click="submit()">Submit&nbsp;&nbsp;<i class="fa fa-check-circle"></i></button>
                    </div>
                  </div>
              </div>
          </div>


          </div>

      </div>

  </div>
</form>
<div class="modal fade" id="exitPageConfirmationModal" role="dialog">
  <div class="modal-dialog confirm-modal-dialog">
    <div class="modal-content confirm-modal">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <i class="fa fa-exclamation-triangle  icon-mob  confirm-modal-header-icon"></i>
        <h4 class="modal-title  fw-semibold confirm-modal-title">Are you sure?</h4>
      </div>
      <center></center>
      <div class="row">
        <h5 class="padding-0-20">Your changes will be lost if you don't save them. Do you want to continue?</h5>
      </div>
      <div class="modal-footer">
        <button class="btn btn-dark1" ng-click="confirmExit()">No</button>
        <button class="btn btn-gray" ng-click="hideExitModal()">Yes</button>
      </div>
    </div>
  </div>
</div>
