<div class="col-md-12">
  <div ng-show="subscribedPackages[0] && !subscribedPackages[1]">
    <div ui-view="createSWOT" ng-if="showCreateSWOT"></div>
    <div ui-view="listSWOT" ng-if="showListSWOT"></div>
    <div ui-view="viewSWOT" ng-if="showViewSWOT"></div>
    <div ui-view="defaultViewSWOT" ng-if="showDefaultViewSWOT"></div>
  </div>
</div>
<section ng-show="!subscribedPackages[0]||subscribedPackages[1]">
  <div class="container">
    <div class="row make-center">
      <h3 ng-if="!subscribedPackages[0]" class="make-center"> Oops! It seems this feature is not included in your subscription.</h3>
      <h3 ng-if="subscribedPackages[1]" class="make-center"> Your subscription has been expired.Please renew your subscription.</h3>
      <button class="btn btn-dark " ng-if="!subscribedPackages[0]" ng-click="gotoPackage()">Subscribe</button>
      <button class="btn btn-dark " ng-if="subscribedPackages[1]" ng-click="$root.authService.gotoAccount()">Subscribe</button>
    </div>
  </div>
</section>
<div class=" footer col-md-12 col-lg-12 col-sm-12 col-xs-12">
  <div class="">
    <div class="col-md-12 custom-footer">
      <div class="col-sm-6 col-xs-12" style="margin-top: 65px;">
        <p>&copy; 7 | LeaderType™ | All rights are reserved | <span ng-click="gotoPrivacy()"><a class="text-link">Privacy Policy</a></span></p>
      </div>
      <div class="col-sm-3 col-sm-6" style="margin-top: 65px;">
      </div>
      <div class="col-sm-3  text-right" style="margin-top: 65px;">
        <ul class="list-inline">
          <a class="color-white btn btn-info social-btn-size" href="https://twitter.com/LeaderType" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
          <a class="color-white btn fb-bg social-btn-size" href="https://www.facebook.com/leadertype/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
          <a class="color-white btn linkedin-bg social-btn-size" href="https://www.linkedin.com/company/leadertype" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i> </a>
        </ul>
      </div>
    </div>
  </div>
</div>