<!--<div ng-include="'lt.modules/navBar/navbar.html'" ng-controller="navBarCtrl"></div>-->

<div class="strip-custom col-md-12 col-sm-12 col-xs-12">
    <div class="green-strip col-md-3 col-sm-3 col-xs-3"></div>
    <div class="yellow-strip col-md-3 col-sm-3 col-xs-3"></div>
    <div class="red-strip col-md-3 col-sm-3 col-xs-3"></div>
    <div class="blue-strip col-md-3 col-sm-3 col-xs-3"></div>
</div>
<!-- Company Logo-->
<nav class="navbar navbar-universal nav-height navbar-fixed-top header-custom zero-bottom-margin z-index-top">
    <div class="container-fluid">

        <div ng-click="$root.authService.gotoHome()" class="navbar-header custom-nav cursor-pointer">
            <img src="../assets/images/logo.png" alt="Logo" class="logo-custom">
            <p class="logo-title">LeaderTYPE<sup class="tm">TM</sup></p>
        </div>
    </div>
</nav>


<!--content-->


<div></div>