<!--<div ng-include="'lt.modules/navBar/navbar.html'" ng-controller="navBarCtrl"></div>-->

<div class="strip-custom col-md-12 col-sm-12 col-xs-12">
    <div class="green-strip col-md-3 col-sm-3 col-xs-3"></div>
    <div class="yellow-strip col-md-3 col-sm-3 col-xs-3"></div>
    <div class="red-strip col-md-3 col-sm-3 col-xs-3"></div>
    <div class="blue-strip col-md-3 col-sm-3 col-xs-3"></div>
</div>
<!-- Company Logo-->
<nav class="navbar navbar-universal nav-height navbar-fixed-top header-custom zero-bottom-margin z-index-top">
    <div class="container-fluid">

        <div ng-click="$root.authService.gotoHome()" class="navbar-header custom-nav cursor-pointer">
            <img src="../assets/images/logo.png" alt="Logo" class="logo-custom">
            <p class="logo-title">LeaderTYPE<sup class="tm">TM</sup></p>
        </div>
    </div>
</nav>


<!--content-->
<!--Elements of Leadership workshop overview
Express interest in attending (email form to include name, title, organization, email address, city/location, how many people at your location are potential candidates?)
Upcoming workshops (coming soon)-->

<div id="page-wrapper" style="padding: 20px;" id="start">
    <div class="container-fluid custom-container-1 ">
        <div class="resources-padding-for-responsive">
            <!--Elements of Leadership workshop overview-->
            <div>
                <div>
                    <p>Could your front-line leaders do better at producing the results you need? Do you wonder whether you
                        are placing high-impact individuals in managerial roles prematurely? If so, consider the <b><i>Elements of Leadership™:</i></b>                        a 2-day intensive experience in which your colleagues will learn how to leverage the talents of others
                        to get things done. Designed by Cash Keahey, a global leader-architect and DDI Master Trainer, the
                        workshop is perfect for new, emerging or aspiring leaders.</p>
                </div>
                <div>
                    <p class="zero-bottom-margin align-justify"><b>Elements of Leadership™</b>focuses on the “single greatest source of leadership failure”*--one’s lack
                        of self-awareness. Participants explore and address the 4 elements (or functions) of leadership:</p>
                    <ul class="align-justify">
                        <li><b>Grasping reality:</b> The ability to always know oneself, the team, your mission and your situation.
                        </li>
                        <li><b>Envisioning success:</b> The capacity to articulate a compelling vision and devise a strategy.
                        </li>
                        <li><b>Engaging commitment:</b> The need to secure people’s full and willing commitment to the journey.
                        </li>
                        <li><b>Driving performance:</b> The process of enabling your team to achieve its mission and goals.
                        </li>
                    </ul>
                </div>
                <div>
                    <p class="align-justify zero-bottom-margin">Drawing on his 20 years of facilitating leadership workshops on six continents, Cash has developed the
                        <b><i>Elements
                of Leadership™</i></b>
                        so leaders in organizations will achieve these outcomes:
                    </p>
                </div>
                <div>
                    <table class="align-justify" style="border: none; margin: 0% 7% 0% 7%;">
                        <tr>
                            <th> </th>
                            <th>Learning objectives</th>
                            <th>Business results</th>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Discover one’s natural leadership style, along with its innate strengths, challenges and biases.</td>
                            <td>Greater self-awareness that leads to stronger management of oneself and others</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Leverage one’s warmth, competence and trust-building capacity to enhance one’s leadership.</td>
                            <td>Greater leadership agility that increases employee engagement and productivity.</td>
                        </tr>

                        <tr>
                            <td>3</td>
                            <td>Apply the four (4) Elements of Leadership™ and associated mindsets, skill sets and toolsets.</td>
                            <td>A comprehensive, holistic approach to leading enabling the organization to succeed.</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>Develop a Leadership Action Map one can use to address real-life situations using the Elements
                                of Leadership™.
                            </td>
                            <td>Leaders who follow-through, hold themselves accountable, and take their leadership and their
                                teams—to the next level. </td>
                        </tr>
                    </table>
                </div>

                <div style="margin-top: 25px;">
                    <p class="zero-bottom-margin align-justify">Each participant gets...</p>
                    <ul>
                        <li>A leadership reflection journal</li>
                        <li>A set of My Best Element™ cards</li>
                        <li>Visual reminders of the <b><i>Elements of Leadership™</i></b></li>
                        <li>A USB drive including a PDF of the slides and toolset templates</li>
                    </ul>
                </div>

                <div>
                    <p class="zero-bottom-margin align-justify">Also included in the tuition:</p>
                    <ul>
                        <li>One-year of full acess to www.leadertype.com with multiple assessments and tools including:
                            <ul>
                                <li>LeaderType™ Indicator (LTI), Thomas-Kilmann Conflict-Handling indicator, 360-feedback</li>
                            </ul>
                        </li>
                        <li>One (1) 30-minute follow-up coaching session with Cash Keahey.</li>
                    </ul>
                </div>
                <div>
                    <p>Tuition is $1,500 per person—discounted if more than one (1) person from the same company attends.</p>
                </div>
                <div>
                    <p>Contact Cash for more information/sign-up: <a href="mailto:cash@leadertype.com" target="_top"> cash@leadertype.com</a>,
                        972-863-9425 (o), 214-850-9147 (m)</p>
                </div>
                <div>
                    <p>*Warren Bennis, leadership guru and author of <i>On Becoming a Leader.</i></p>
                </div>
            </div>
            <!--Express interest in attending-->
            <div>
                <div>
                    <h4 class="text-left-align margin-none"><b>Express interest in attending</b></h4>
                </div>
                <form name="sendEmail" novalidate ng-submit="sendMail()" class="resources-form">
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls">
                            <label for="name" class="sr-only control-label">Your Name</label>
                            <input name="names" ng-model="emailUs.name" ng-pattern="/^[a-zA-Z\s]*$/" type="text" placeholder="Your Name*" class="form-control input-lg"
                                ng-required="true" />
                            <span ng-show="sendEmail.names.$error.pattern" style="color:red">Enter a valid name</span>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls">
                            <label for="title" class="sr-only control-label">Your Title</label>
                            <input name="title" ng-model="emailUs.title" ng-pattern="/^[a-zA-Z\s]*$/" type="text" placeholder="Your Title*" class="form-control input-lg"
                                ng-required="true" />
                            <span ng-show="sendEmail.title.$error.pattern" style="color:red">Enter a valid title</span>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls">
                            <label for="organization" class="sr-only control-label">Your Organization</label>
                            <input name="organization" ng-model="emailUs.organization" ng-pattern="/^[a-zA-Z\s]*$/" type="text" placeholder="Your Organization*"
                                class="form-control input-lg" ng-required="true" />
                            <span ng-show="sendEmail.organization.$error.pattern" style="color:red">Enter a valid organization name</span>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls">
                            <label for="email" class="sr-only control-label">Your Email</label>

                            <input name="emailId" ng-model="emailUs.emailId" type="email" placeholder="Your Email*" class="form-control input-lg" ng-required="true"
                            />
                            <span ng-show="sendEmail.emailId.$error.email" style="color:red">Email id should be in valid format.</span>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls">
                            <label for="location" class="sr-only control-label">Your Location</label>

                            <input name="location" ng-model="emailUs.location" type="text" placeholder="Your Location*" class="form-control input-lg"
                                ng-required="true" />
                            <!--<span ng-show="sendEmail.location.$error.location" style="color:red">Enter a valid Location.</span>-->
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls">
                            <label for="potentialCandidates" class="sr-only control-label">How many people at your location are potential candidates?</label>

                            <input name="noOfPotentialCandidates" ng-model="emailUs.noOfPotentialCandidates" ng-pattern="/^[0-9]+$/" type="number" placeholder="No of potential candidates"
                                class="form-control input-lg" ng-required="true" />
                            <span ng-show="sendEmail.noOfPotentialCandidates.$error.pattern" style="color:red">Enter a valid Number.</span>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls">
                            <label for="message" class="sr-only control-label">Message</label>
                            <textarea type="text" name="message" ng-model="emailUs.message" rows="5" placeholder="Message*" class="form-control input-lg"
                                ng-required="true"> </textarea>
                        </div>
                    </div>
                    <div class="form-group ">
                        <div ng-bind="successMessage" style="display: inline-block;"></div>
                        <button type="submit" ng-disabled="showError && sendEmail.$invalid" class="btn btn-dark" style="float: right;">Send</button>
                        <span ng-if="showError">
                        <span ng-show="showError"  style="color:red">Fill in all the fields</span>
                        </span>
                    </div>
                </form>
            </div>
            <!--Upcoming workshops-->
            <div>
                <br>
                <h4><b>Upcoming workshops</b>(Coming Soon...)</h4>
            </div>
        </div>
    </div>
</div>