<!--<div ng-include="'lt.modules/navBar/navbar.html'" ng-controller="navBarCtrl"></div>-->

<div class="strip-custom col-md-12 col-sm-12 col-xs-12">
    <div class="green-strip col-md-3 col-sm-3 col-xs-3"></div>
    <div class="yellow-strip col-md-3 col-sm-3 col-xs-3"></div>
    <div class="red-strip col-md-3 col-sm-3 col-xs-3"></div>
    <div class="blue-strip col-md-3 col-sm-3 col-xs-3"></div>
</div>
<!-- Company Logo-->

<nav class="navbar navbar-universal nav-height navbar-fixed-top header-custom zero-bottom-margin z-index-top">
    <div class="container-fluid">

        <div ng-click="$root.authService.gotoHome()" class="navbar-header custom-nav cursor-pointer">
            <img src="../assets/images/logo.png" alt="Logo" class="logo-custom">
            <p class="logo-title">LeaderTYPE<sup class="tm">TM</sup></p>
            
        </div>
    </div>
</nav>


<!--content-->
<!--LeaderCOACH app summary
LeaderCOACH animated video (same as Playstore)
LeaderCOACH app packages/modules
LeaderCOACH What the colors mean-->

<div id="page-wrapper" style="padding: 20px;" id="start">
    <div class="container-fluid custom-container-1 " >
        <div class="resources-padding-for-responsive">
            <!--LeaderCOACH app summary-->
            <div>
                <div>
                    <p><i>Asking a question is the simplest way of focusing thinking. It is very often said that asking the right question
            may be the most important part of thinking.<br><b style="float: right;">....Edward deBono</b></i></p>
                </div>

                <div>
                    <h4 class="text-left-align margin-none"><b>What is LeaderCOACH™?</b></h4>
                    <p class="zero-bottom-margin align-justify">LeaderCOACH™ is a mobile app that helps leaders conduct more robust, holistic and efficient conversations
                        with others. By using LeaderCOACH™, leaders can:</p>
                    <ul class="align-justify">
                        <li>Think through in advance the relevant questions they plan to ask in a conversation or meeting. </li>
                        <li>Get input on the best process/agenda to use in facilitating a conversation or meeting. </li>
                        <li>Receive suggestions of relevant questions to ask during a conversation or meeting. </li>
                        <li>Reflect on a challenging leadership situation they face by answering questions. </li>
                    </ul>
                </div>
                <!-- Promo Video Section-->
    <section id="video" class="section-small text-center section-padding-adjustment bg-c-gray">
        <div class="container">
            <div class="row white-color">
                <h3>Here’s a quick video to show you how it all works</h3>
                <iframe width="853" height="480" src="https://www.youtube.com/embed/3JHMeJIIOZE?rel=0&amp;controls=0" frameborder="0" allowfullscreen></iframe>

                <!--<div id="player"></div>-->
            </div>
        </div>
    </section>
                <div class="section-padding-adjustment">
                    <h4 class="text-center-align margin-none"><b>Download Apps</b></h4>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <a href="https://itunes.apple.com/ca/app/leadercoach/id1168981950?mt=8" target="_blank"><img style="width:25%;height:50%;float:right" src="../assets/images/apple_logo.png"/> </a>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <a href="https://play.google.com/store/apps/details?id=com.ionicframework.globalcodaleaderscoachmobileionic766583&hl=en" target="_blank"><img style="width:25%;height:50%;float:left" src="../assets/images/en_badge_web_generic.png"/></a>
                        </div>
                    </div>
                </div>
                <div>
                    <h4 class="text-left-align margin-none "><b>Who can benefit from LeaderCOACH™?</b></h4>
                    <p class="align-justify">Anyone who leads, influences, facilitates or coaches others— but especially leaders in those collaborative
                        and matrixed organizations where power is more informal and relationships are more egalitarian.</p>
                </div>
                <div>
                    <h4 class="text-left-align margin-none"><b>How do leaders benefit from LeaderCOACH™?</b></h4>
                    <p class="align-justify">Leaders achieve their goals through others, usually by engaging those individuals in dialogue. However,
                        current tracking by Gallup reveals only 34 percent of employees feel engaged in their jobs. LeaderCOACH™
                        can help leaders use conversations to better engage their workers, a shift in enthusiasm and empowerment
                        that, in turn, can lead to better results for the organization.</p>
                </div>
                <div>
                    <h4 class="text-left-align margin-none"><b>What problem does LeaderCOACH™ solve?</b></h4>
                    <p class="align-justify">Leaders face two problems when it comes to having conversations with others in their organization. First,
                        they don’t feel they have the time to have thoughtful conversation, so they tend to deliver (push)
                        information to others rather than ask for (pull) it.</p>
                    <p class="align-justify">Also, most leaders lack the ability to facilitate effective and efficient dialogue. They don’t know where
                        to begin, what to ask, how the conversation should flow, how to conclude – in short, how to fully
                        engage another person in a relatively short time.</p>
                    <p class="align-justify">For these reasons, leaders often lack the will to have meaningful conversations which only leads to employees
                        becoming more resentful and further disengaged. To succeed, leaders need followers’ full and willing
                        commitment; unfortunately, what they typically get is bare-minimum compliance.</p>
                    <p class="align-justify">LeaderCOACH™ helps leaders more quickly conduct more effective conversations. It helps them outline how
                        a conversation should flow (i.e. the steps/sequence). It uses neuroscience research to phrase them
                        in a way that gets more insightful, creative responses. And, it nudges them to give greater attention
                        to those elements of the conversation they might neglect or avoid altogether, based on their innate
                        personality biases.
                    </p>
                </div>
                <div>
                    <h4 class="text-left-align"><b>LeaderCOACH™: Conversations that get results</b></h4>
                </div>
            </div>
            <!--LeaderCOACH animated video-->
            <div></div>
            <!--LeaderCOACH app packages/modules-->
            <div>
                <div>
                    <h4 class="text-left-align margin-none"><b>LeaderCOACH™:<i> Helps you lead efficient, engaging, multi-perspective meetings and conversations</i></b></h4>
                    <p class="zero-bottom-margin align-justify">The base app is <b>FREE</b> and includes a structured sequence of questions to help you:</p>
                    <ul class="align-justify">
                        <li>Coach self/others &nbsp;&nbsp;&nbsp; to achieve a goal, develop a skill or take an action</li>
                    </ul>
                    <p class="zero-bottom-margin align-justify"><b>Packages (A, B, C) </b> bundles of conversation modules you receive depending on the LeaderType.com
                        package you purchase. For each conversation/meeting, you establish the objective and time frame.
                        The app then prompts you with questions. While not a prerequisite, you can either supply your Myers-Briggs
                        Type Indicator® (MBTI) code, or take the LeaderType™ Indicator (LTI), which predicts where you tend
                        to focus in a conversation/meeting, and lets you compare your actual performance in a conversation
                        with the ideal.
                    </p>
                    <br>
                </div>
                <div  id="lead-yourself">
                    <ol style="list-style: upper-alpha; font-weight: bold;">
                        <li><b>LEAD YOURSELF package</b>
                            <table class="packages-table resources-table" >
                                <tr>
                                    <th>
                                        <u>Module</u>
                                    </th>
                                    <th>
                                        <u>Purpose</u>
                                    </th>
                                </tr>
                                <tr>
                                    <td><i>Accept feedback</i></td>
                                    <td>reflect on feedback/critique, and move forward</td>
                                </tr>
                                <tr>
                                    <td><i>Get unstuck</i></td>
                                    <td>move through a challenge, obstacle or setback</td>
                                </tr>
                                <tr>
                                    <td><i>Manage conflict</i></td>
                                    <td>move people from disagreement to collaboration</td>
                                </tr>
                                <tr>
                                    <td><i>Present an idea</i></td>
                                    <td>structure a presentation/proposal prior to delivery</td>
                                </tr>
                                <tr>
                                    <td><i>Probe a decision</i></td>
                                    <td>reflect on a management decision you question</td>
                                </tr>
                                <tr>
                                    <td><i>Process reactions</i></td>
                                    <td>sort out what happened in a meeting/conversation</td>
                                </tr>
                                <tr>
                                    <td><i>Request support</i></td>
                                    <td>structure a request for action, decision or resources</td>
                                </tr>
                                <tr>
                                    <td><i>Review a meeting</i></td>
                                    <td>conduct a post-critique, and identify improvements</td>
                                </tr>
                                <tr>
                                    <td><i>Self-reflect</i></td>
                                    <td>focus weekly/daily on your leadership development</td>
                                </tr>
                                <tr>
                                    <td><i>Sell with SPIN®</i></td>
                                    <td>leverage Neil Rackham’s 4-stage sales process</td>
                                </tr>
                            </table>
                        </li>
                        <br id="lead-conversations">
                        <li ><b>LEAD CONVERSATIONS package</b>
                            <table class="packages-table resources-table" >
                                <tr>
                                    <th>
                                        <u>Module</u>
                                    </th>
                                    <th>
                                        <u>Purpose</u>
                                    </th>
                                </tr>
                                <tr>
                                    <td><i>Adjust behavior</i></td>
                                    <td>prepare and deliver redirecting feedback to someone</td>
                                </tr>
                                <tr>
                                    <td><i>Delegate a task</i></td>
                                    <td>prepare and effectively lead a delegation conversation </td>
                                </tr>
                                <tr>
                                    <td><i>Engage employees</i></td>
                                    <td>hold short, regularly scheduled 1:1 employee meetings </td>
                                </tr>
                                <tr>
                                    <td><i>Explore options</i></td>
                                    <td>coach someone around their career situation & options</td>
                                </tr>
                                <tr>
                                    <td><i>Motivate action</i></td>
                                    <td>help someone quickly translate insight into action</td>
                                </tr>
                                <tr>
                                    <td><i>Onboard newcomer</i></td>
                                    <td>open dialogue/conversation with a new team member</td>
                                </tr>
                                <tr>
                                    <td><i>Process an event</i></td>
                                    <td>reflect on a disturbing, surprising or significant interaction</td>
                                </tr>
                                <tr>
                                    <td><i>Re-focus effort</i></td>
                                    <td>get someone to focus on solutions not problems, and act </td>
                                </tr>
                                <tr>
                                    <td><i>Reinforce action </i></td>
                                    <td>structure and facilitate a positive feedback conversation </td>
                                </tr>
                                <tr>
                                    <td><i>Set goals</i></td>
                                    <td>consider and communicate factors when setting objectives</td>
                                </tr>
                            </table>
                        </li><br id="lead-meetings">
                        <li > <b>LEAD MEETINGS package</b>
                            <table class="packages-table resources-table">
                                <tr>
                                    <th>
                                        <u>Module</u>
                                    </th>
                                    <th>
                                        <u>Purpose</u>
                                    </th>
                                </tr>
                                <tr>
                                    <td><i>Assess situation</i></td>
                                    <td>diagnose one’s situational SWOT; identify best way forward</td>
                                </tr>
                                <tr>
                                    <td><i>Devise strategy</i></td>
                                    <td>consider various perspectives in defining a group’s strategy</td>
                                </tr>
                                <tr>
                                    <td><i>Kick-off a project</i></td>
                                    <td>pose questions the project leader and team should answer</td>
                                </tr>
                                <tr>
                                    <td><i>Lead change</i></td>
                                    <td>plan implementation of a new process, tool, way of working</td>
                                </tr>
                                <tr>
                                    <td><i>Make a decision</i></td>
                                    <td>consider multiple perspectives/questions that lead to a decision</td>
                                </tr>
                                <tr>
                                    <td><i>Manage an issue </i></td>
                                    <td>respond to a political, regulatory, legal or public affairs issue</td>
                                </tr>
                                <tr>
                                    <td><i>Plan a meeting</i></td>
                                    <td>pre-critique the why, when, where, how and who of a meeting</td>
                                </tr>
                                <tr>
                                    <td><i>Set ground rules</i></td>
                                    <td>identify which ground rules will apply to a meeting</td>
                                </tr>
                                <tr>
                                    <td><i>Solve a problem</i></td>
                                    <td>structure your approach to solving a non-technical problem</td>
                                </tr>
                                <tr>
                                    <td><i>Spur creativity</i></td>
                                    <td>prompt creative thinking through a series of questions</td>
                                </tr>
                            </table>
                        </li>
                    </ol>
                </div>
            </div>
            <!--LeaderCOACH What the colors mean-->

            <div>
                <div>
                    <h4 class="text-left-align margin-none"><b>What do the colors mean?</b></h4>
                    <p class="align-justify">The 4 colors represent 4 perspectives or ways of discerning. Carl Jung, the Swiss psychiatrist, referred
                        to these as functions of a personality. Here is how each function contributes to overall understanding:</p>
                    <ul class="align-justify">
                        <li><span style="color: green;"><b>Sensing (green) </b></span> reality: what is happening or has happened,
                            as perceived by the senses, in specific, concrete or literal terms; </li>
                        <li><span style="color: yellow;"><b>Intuition (yellow) </b></span>imagines possibilities: what could
                            be, where it might lead, what deeper meaning, significance or potential it has;</li>
                        <li><span style="color: red;"><b>Feeling (red)</b></span> determines value: how agreeable, desirable
                            or appropriate it is; to what extent is it in harmony with group norms or personal values; </li>
                        <li><span style="color: blue;"><b>Thinking (blue) </b></span>weighs it against objective criteria (e.g.,
                            principles): how clear, how correct, how logical or how reasonable it is; what are its consequences.</li>
                    </ul>
                    <p class="align-justify">Jung said, “The four functions are somewhat like the four points on a compass…”: Sensing & Intuition
                        are opposites, as are Feeling & Thinking. All 4 are needed to give a holistic view of a situation
                        or issue.</p>
                </div>

                <div>
                    <h4 class="text-left-align margin-none"><b>Why an equal balance?</b></h4>
                    <p class="align-justify">Jung said<i> For complete orientation all four functions should <b><u>contribute equally: </u></b></i></p>
                    <ul class="align-justify">
                        <li><span style="color: blue;"><b>Thinking </b></span> facilitates cognition and judgment, </li>
                        <li><span style="color: red;"><b>Feeling </b></span> tells us how and to what extent a thing is important
                            or unimportant to us,</li>
                        <li><span style="color: green;"><b>Sensing </b></span> conveys concrete reality to us through seeing,
                            hearing, tasting, etc., and</li>
                        <li><span style="color: yellow;"><b>Intuition </b></span> enables us to divine the hidden possibilities
                            in the background, since these too belong to the complete picture of a given situation.</li>
                    </ul>
                    <p class="align-justify">Jung theorized that one of these functions predominates in a personality, and another supports it; the
                        other 2 functions remain largely unconscious. Consequently, we tend to see the world from our unique,
                        yet limited point of view; hence, the need to ask—and answer—questions from all 4 perspectives.</p>
                </div>

                <div>
                    <h4 class="text-left-align margin-none"><b>What makes questions ‘powerful’?</b></h4>
                    <p class="align-justify margin-none">One thing becoming very clear about the brain is its social nature. In the context of human interaction,
                        what and how questions are asked can put the brain either at ease or in stress—particularly if asked
                        by someone perceived to have more status or power. Powerful questions are those which enable the
                        person to think freely, spontaneously and creatively. They tend to be:
                    </p>
                    <ul class="align-justify">
                        <li>open-ended,</li>
                        <li>framed positively,</li>
                        <li>forward-looking, and</li>
                        <li>prompt fresh thinking.</li>
                    </ul>
                    <p class="align-justify">Mostly, powerful questions assume a successful outcome—their tone is optimistic. Of course, the questioner’s
                        tone of voice needs to be supportive—otherwise the brain will perceive ‘danger’ in answering openly
                        and honestly. The brain then spends more energy crafting an answer it thinks the other person wants
                        to hear rather than contemplating and responding with the most candid—and usually more insightful—answer</p>
                </div>
            </div>
        </div>
    </div>
</div>