<div ng-include="'lt.modules/navBar/navbar.html'" ng-controller="navBarCtrl">
</div>
<nav class="navbar nav-2 navbar-fixed-top dark-navbar" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
            <h4 class="whiteFontColor customHeaderForOtherDasboardPage">MY PROFILE</h4>
        </div>
        <div class="navbar-collapse collapse zero-margin">
            <ul class="nav navbar-nav navbar-left">
                <li ng-click="gotoMyLTI()" data-toggle="collapse" data-target=".navbar-collapse"><a class="white-text">Home</a></li>
            </ul>
        </div>
    </div>
</nav>
<div id="page-wrapper">
    <div class="container-fluid custom-container-1">
        <form class="form-horizontal" name="profile" action="#" role="form" ng-submit="goToDashboard()">
            <div class="panel-body">
                <!--<center>
                    <h2 class="mgbt-xs-20 title bottom-margin-0 "> Complete Your Profile</h2>
                </center>-->
                <!-- panel-body -->
                <div class="row">
                    <div class="form-group">
                        <!--<label class="col-sm-3 col-lg-4 col-md-6 col-xs-4 control-label"></label>-->
                        <div class="col-sm-9 col-lg-8 col-lg-6 col-xs-12 controls col-lg-offset-4">
                            <div class="row title">
                                <div class="col-lg-8">
                                    <h2 class="mgbt-xs-20 bottom-margin-0 "> Complete Your Profile</h2>
                                </div>
                                <div class="col-lg-4" style="padding-top:10px;">
                                    <button ng-if="!isInEditMode" ng-click="onEdit()" class="btn float-right profile-edit vd_btn vd_bg-green"><span class="menu-icon"><i class="fa fa-fw fa-edit"></i></span> Edit</button>
                                    <button ng-disabled="profile.$invalid" ng-if="isInEditMode" ng-click="onFinish()" class="btn btn-dark vd_btn vd_bg-green float-right profile-edit"><span class="menu-icon"><i class="fa fa-fw fa-check"></i></span> Update</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row profilePagePadding">
                        <div class="form-group">
                            <label class="col-sm-3 col-lg-4 col-md-6 col-xs-12 control-label">First Name *</label>
                            <div class="col-sm-9 col-lg-8 col-lg-6 col-xs-12 controls">
                                <input type="text" ng-disabled="canEditName()" placeholder="First name" name="first" class="form-control" ng-pattern="/^[a-zA-Z\s]*$/"
                                    ng-model="Profile.firstName" required>
                            </div>
                            <!-- col-sm-10 -->
                        </div>
                        <!-- form-group -->
                        <div class="form-group">
                            <label class="col-sm-3 col-lg-4 col-md-6 col-xs-12 control-label">Last Name *</label>
                            <div class="col-sm-9 col-lg-8 col-lg-6 col-xs-12 controls">
                                <input type="text" ng-disabled="canEditName()" placeholder="Last name" class="form-control" ng-model="Profile.lastName" required>
                            </div>
                            <!-- col-sm-10 -->
                        </div>
                        <!-- form-group -->
                        <div class="form-group">
                            <label class="col-sm-3 col-lg-4 col-md-6 col-xs-12 control-label">Email *</label>
                            <div class="col-sm-9 col-lg-8 col-lg-6 col-xs-12 controls">
                                <input type="email" name="email" ng-disabled="true" placeholder="Email@YourCompany.com" class="form-control" ng-model="Profile.email"
                                    required>
                                <span ng-show="profile.email.$error.email" style="color:red">Email id should be in valid format.</span>
                            </div>
                            <!-- col-sm-10 -->
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 col-lg-4 col-md-6 col-xs-12 control-label">Gender</label>
                            <div class="col-sm-9 col-lg-8 col-lg-6 col-xs-12 controls">
                                <span class="vd_radio radio-info">
                              <input ng-disabled="!isInEditMode" type="radio" checked="true" value="male" id="optionsRadios3" name="optionsRadios2" ng-model="Profile.gender">
                              <label for="optionsRadios3"> Male </label>
                            </span>
                                <span class="vd_radio  radio-danger">
                              <input ng-disabled="!isInEditMode" type="radio" value="female" id="optionsRadios4" name="optionsRadios2" ng-model="Profile.gender">
                              <label for="optionsRadios4"> Female </label>
                            </span>
                                <span class="vd_radio  radio-danger">
                              <input ng-disabled="!isInEditMode" type="radio" value="others" id="optionsRadios4" name="optionsRadios2" ng-model="Profile.gender" >
                              <label for="optionsRadios4"> others</label>
                            </span>
                            </div>
                            <!-- col-sm-10 -->
                        </div>
                        <!-- form-group -->
                        <div class="form-group">
                            <label class="col-sm-3 col-lg-4 col-md-6 col-xs-12 control-label">Year of birth</label>
                            <div class="col-sm-9 col-lg-8 col-lg-6 col-xs-12 controls">
                                <select ng-disabled="!isInEditMode" name="year" class="medium gfield_select" tabindex="13" aria-invalid="false" ng-model="Profile.yearOfBirth"><option value="">Select Year</option><option value="2016">2016</option><option value="2015">2015</option><option value="2014">2014</option><option value="2013">2013</option><option value="2012">2012</option><option value="2011">2011</option><option value="2010">2010</option><option value="2009">2009</option><option value="2008">2008</option><option value="2007">2007</option><option value="2006">2006</option><option value="2005">2005</option><option value="2004">2004</option><option value="2003">2003</option><option value="2002">2002</option><option value="2001">2001</option><option value="2000">2000</option><option value="1999">1999</option><option value="1998">1998</option><option value="1997">1997</option><option value="1996">1996</option><option value="1995">1995</option><option value="1994">1994</option><option value="1993">1993</option><option value="1992">1992</option><option value="1991">1991</option><option value="1990">1990</option><option value="1989">1989</option><option value="1988">1988</option><option value="1987">1987</option><option value="1986">1986</option><option value="1985">1985</option><option value="1984">1984</option><option value="1983">1983</option><option value="1982">1982</option><option value="1981">1981</option><option value="1980">1980</option><option value="1979">1979</option><option value="1978">1978</option><option value="1977">1977</option><option value="1976">1976</option><option value="1975">1975</option><option value="1974">1974</option><option value="1973">1973</option><option value="1972">1972</option><option value="1971">1971</option><option value="1970">1970</option><option value="1969">1969</option><option value="1968">1968</option><option value="1967">1967</option><option value="1966">1966</option><option value="1965">1965</option><option value="1964">1964</option><option value="1963">1963</option><option value="1962">1962</option><option value="1961">1961</option><option value="1960">1960</option><option value="1959">1959</option><option value="1958">1958</option><option value="1957">1957</option><option value="1956">1956</option><option value="1955">1955</option><option value="1954">1954</option><option value="1953">1953</option><option value="1952">1952</option><option value="1951">1951</option><option value="1950">1950</option><option value="1949">1949</option><option value="1948">1948</option><option value="1947">1947</option><option value="1946">1946</option><option value="1945">1945</option><option value="1944">1944</option><option value="1943">1943</option><option value="1942">1942</option><option value="1941">1941</option><option value="1940">1940</option><option value="1939">1939</option><option value="1938">1938</option><option value="1937">1937</option><option value="1936">1936</option><option value="1935">1935</option><option value="1934">1934</option><option value="1933">1933</option><option value="1932">1932</option><option value="1931">1931</option><option value="1930">1930</option><option value="1929">1929</option><option value="1928">1928</option><option value="1927">1927</option><option value="1926">1926</option><option value="1925">1925</option><option value="1924">1924</option><option value="1923">1923</option><option value="1922">1922</option><option value="1921">1921</option><option value="1920">1920</option><option value="1919">1919</option><option value="1918">1918</option><option value="1917">1917</option><option value="1916">1916</option></select>
                            </div>
                            <!-- col-sm-10 -->
                        </div>
                        <!-- form-group -->
                        <div class="form-group">
                            <label class="col-sm-3 col-lg-4 col-md-6 col-xs-12 control-label">Country</label>
                            <div class="col-sm-9 col-lg-8 col-lg-6 col-xs-12 controls">
                                <select ng-disabled="!isInEditMode" name="country" class="medium gfield_select" tabindex="15" aria-invalid="false" ng-model="Profile.country">
                            <option value="">Select Country</option><option value="Afghanistan">Afghanistan</option><option value="Albania">Albania</option><option value="Algeria">Algeria</option><option value="American Samoa">American Samoa</option><option value="Andorra">Andorra</option><option value="Angola">Angola</option><option value="Antigua and Barbuda">Antigua and Barbuda</option><option value="Argentina">Argentina</option><option value="Armenia">Armenia</option><option value="Australia">Australia</option><option value="Austria">Austria</option><option value="Azerbaijan">Azerbaijan</option><option value="Bahamas">Bahamas</option><option value="Bahrain">Bahrain</option><option value="Bangladesh">Bangladesh</option><option value="Barbados">Barbados</option><option value="Belarus">Belarus</option><option value="Belgium">Belgium</option><option value="Belize">Belize</option><option value="Benin">Benin</option><option value="Bermuda">Bermuda</option><option value="Bhutan">Bhutan</option><option value="Bolivia">Bolivia</option><option value="Bosnia and Herzegovina">Bosnia and Herzegovina</option><option value="Botswana">Botswana</option><option value="Brazil">Brazil</option><option value="Brunei">Brunei</option><option value="Bulgaria">Bulgaria</option><option value="Burkina Faso">Burkina Faso</option><option value="Burundi">Burundi</option><option value="Cambodia">Cambodia</option><option value="Cameroon">Cameroon</option><option value="Canada">Canada</option><option value="Cape Verde">Cape Verde</option><option value="Cayman Islands">Cayman Islands</option><option value="Central African Republic">Central African Republic</option><option value="Chad">Chad</option><option value="Chile">Chile</option><option value="China">China</option><option value="Colombia">Colombia</option><option value="Comoros">Comoros</option><option value="Congo, Democratic Republic of the">Congo, Democratic Republic of the</option><option value="Congo, Republic of the">Congo, Republic of the</option><option value="Costa Rica">Costa Rica</option><option value="Côte d'Ivoire">Côte d'Ivoire</option><option value="Croatia">Croatia</option><option value="Cuba">Cuba</option><option value="Curaçao">Curaçao</option><option value="Cyprus">Cyprus</option><option value="Czech Republic">Czech Republic</option><option value="Denmark">Denmark</option><option value="Djibouti">Djibouti</option><option value="Dominica">Dominica</option><option value="Dominican Republic">Dominican Republic</option><option value="East Timor">East Timor</option><option value="Ecuador">Ecuador</option><option value="Egypt">Egypt</option><option value="El Salvador">El Salvador</option><option value="Equatorial Guinea">Equatorial Guinea</option><option value="Eritrea">Eritrea</option><option value="Estonia">Estonia</option><option value="Ethiopia">Ethiopia</option><option value="Faroe Islands">Faroe Islands</option><option value="Fiji">Fiji</option><option value="Finland">Finland</option><option value="France">France</option><option value="French Polynesia">French Polynesia</option><option value="Gabon">Gabon</option><option value="Gambia">Gambia</option><option value="Georgia">Georgia</option><option value="Germany">Germany</option><option value="Ghana">Ghana</option><option value="Greece">Greece</option><option value="Greenland">Greenland</option><option value="Grenada">Grenada</option><option value="Guam">Guam</option><option value="Guatemala">Guatemala</option><option value="Guinea">Guinea</option><option value="Guinea-Bissau">Guinea-Bissau</option><option value="Guyana">Guyana</option><option value="Haiti">Haiti</option><option value="Honduras">Honduras</option><option value="Hong Kong">Hong Kong</option><option value="Hungary">Hungary</option><option value="Iceland">Iceland</option><option value="India">India</option><option value="Indonesia">Indonesia</option><option value="Iran">Iran</option><option value="Iraq">Iraq</option><option value="Ireland">Ireland</option><option value="Israel">Israel</option><option value="Italy">Italy</option><option value="Jamaica">Jamaica</option><option value="Japan">Japan</option><option value="Jordan">Jordan</option><option value="Kazakhstan">Kazakhstan</option><option value="Kenya">Kenya</option><option value="Kiribati">Kiribati</option><option value="North Korea">North Korea</option><option value="South Korea">South Korea</option><option value="Kosovo">Kosovo</option><option value="Kuwait">Kuwait</option><option value="Kyrgyzstan">Kyrgyzstan</option><option value="Laos">Laos</option><option value="Latvia">Latvia</option><option value="Lebanon">Lebanon</option><option value="Lesotho">Lesotho</option><option value="Liberia">Liberia</option><option value="Libya">Libya</option><option value="Liechtenstein">Liechtenstein</option><option value="Lithuania">Lithuania</option><option value="Luxembourg">Luxembourg</option><option value="Macedonia">Macedonia</option><option value="Madagascar">Madagascar</option><option value="Malawi">Malawi</option><option value="Malaysia">Malaysia</option><option value="Maldives">Maldives</option><option value="Mali">Mali</option><option value="Malta">Malta</option><option value="Marshall Islands">Marshall Islands</option><option value="Mauritania">Mauritania</option><option value="Mauritius">Mauritius</option><option value="Mexico">Mexico</option><option value="Micronesia">Micronesia</option><option value="Moldova">Moldova</option><option value="Monaco">Monaco</option><option value="Mongolia">Mongolia</option><option value="Montenegro">Montenegro</option><option value="Morocco">Morocco</option><option value="Mozambique">Mozambique</option><option value="Myanmar">Myanmar</option><option value="Namibia">Namibia</option><option value="Nauru">Nauru</option><option value="Nepal">Nepal</option><option value="Netherlands">Netherlands</option><option value="New Zealand">New Zealand</option><option value="Nicaragua">Nicaragua</option><option value="Niger">Niger</option><option value="Nigeria">Nigeria</option><option value="Northern Mariana Islands">Northern Mariana Islands</option><option value="Norway">Norway</option><option value="Oman">Oman</option><option value="Pakistan">Pakistan</option><option value="Palau">Palau</option><option value="Palestine, State of">Palestine, State of</option><option value="Panama">Panama</option><option value="Papua New Guinea">Papua New Guinea</option><option value="Paraguay">Paraguay</option><option value="Peru">Peru</option><option value="Philippines">Philippines</option><option value="Poland">Poland</option><option value="Portugal">Portugal</option><option value="Puerto Rico">Puerto Rico</option><option value="Qatar">Qatar</option><option value="Romania">Romania</option><option value="Russia">Russia</option><option value="Rwanda">Rwanda</option><option value="Saint Kitts and Nevis">Saint Kitts and Nevis</option><option value="Saint Lucia">Saint Lucia</option><option value="Saint Vincent and the Grenadines">Saint Vincent and the Grenadines</option><option value="Samoa">Samoa</option><option value="San Marino">San Marino</option><option value="Sao Tome and Principe">Sao Tome and Principe</option><option value="Saudi Arabia">Saudi Arabia</option><option value="Senegal">Senegal</option><option value="Serbia">Serbia</option><option value="Seychelles">Seychelles</option><option value="Sierra Leone">Sierra Leone</option><option value="Singapore">Singapore</option><option value="Sint Maarten">Sint Maarten</option><option value="Slovakia">Slovakia</option><option value="Slovenia">Slovenia</option><option value="Solomon Islands">Solomon Islands</option><option value="Somalia">Somalia</option><option value="South Africa">South Africa</option><option value="Spain">Spain</option><option value="Sri Lanka">Sri Lanka</option><option value="Sudan">Sudan</option><option value="Sudan, South">Sudan, South</option><option value="Suriname">Suriname</option><option value="Swaziland">Swaziland</option><option value="Sweden">Sweden</option><option value="Switzerland">Switzerland</option><option value="Syria">Syria</option><option value="Taiwan">Taiwan</option><option value="Tajikistan">Tajikistan</option><option value="Tanzania">Tanzania</option><option value="Thailand">Thailand</option><option value="Togo">Togo</option><option value="Tonga">Tonga</option><option value="Trinidad and Tobago">Trinidad and Tobago</option><option value="Tunisia">Tunisia</option><option value="Turkey">Turkey</option><option value="Turkmenistan">Turkmenistan</option><option value="Tuvalu">Tuvalu</option><option value="Uganda">Uganda</option><option value="Ukraine">Ukraine</option><option value="United Arab Emirates">United Arab Emirates</option><option value="United Kingdom">United Kingdom</option><option value="United States">United States</option><option value="Uruguay">Uruguay</option><option value="Uzbekistan">Uzbekistan</option><option value="Vanuatu">Vanuatu</option><option value="Vatican City">Vatican City</option><option value="Venezuela">Venezuela</option><option value="Vietnam">Vietnam</option><option value="Virgin Islands, British">Virgin Islands, British</option><option value="Virgin Islands, U.S.">Virgin Islands, U.S.</option><option value="Yemen">Yemen</option><option value="Zambia">Zambia</option><option value="Zimbabwe">Zimbabwe</option></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 col-lg-4 col-md-6 col-xs-12 control-label">Org code</label>
                            <div class="col-sm-9 col-lg-8 col-lg-6 col-xs-12 controls">
                                <input name="jobTitle" type="text" ng-pattern="/^[a-zA-Z0-9\s]*$/" ng-disabled="!isInEditMode" placeholder="Org code" class="form-control"
                                    ng-model="Profile.companyName">
                            </div>
                            <!-- col-sm-10 -->
                        </div>
                        <!-- form-group -->
                        <div class="form-group">
                            <label class="col-sm-3 col-lg-4 col-md-6 col-xs-12 control-label">Job Title</label>
                            <div class="col-sm-9 col-lg-8 col-lg-6 col-xs-12 controls">
                                <input name="jobTitle" type="text" ng-pattern="/^[a-zA-Z\s]*$/" ng-disabled="!isInEditMode" placeholder="Job Title" class="form-control"
                                    ng-model="Profile.jobTitle">
                                <span ng-show="profile.jobTitle.$error.pattern" style="color:red">Job title cannot have numbers</span>
                            </div>
                            <!-- col-sm-10 -->
                        </div>
                        <!-- form-group -->
                        <!--
                    <hr>
                    <h3 class="mgbt-xs-15">Contact Setting</h3>-->
                        <div class="form-group">
                            <label class="col-sm-3 col-lg-4 col-md-6 col-xs-12 control-label">Best number to call for coaching</label>
                            <div class="col-sm-9 col-lg-8 col-lg-6 col-xs-12 controls">
                                <input type="text" name="phone" ng-disabled="!isInEditMode" placeholder="Best number to call for coaching" class="form-control"
                                    ng-pattern="/^[0-9]{10,10}$/" ng-model="Profile.phone">
                                <span ng-show="profile.phone.$error.pattern" style="color:red">Mobile number should be in valid format.</span>
                            </div>
                            <!-- col-sm-10 -->
                        </div>
                    </div>
        </form>
        </div>
        </div>
    </div>
    <section class="section-small footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <p>&copy; 2017 | LeaderType™ | All rights are reserved | <span ng-click="gotoPrivacy()"><a class="text-link">Privacy Policy</a></span></p>
                </div>
                <div class="col-sm-3">
                </div>
                <div class="col-sm-3  text-right">
                    <ul class="list-inline">
                        <a class="color-white btn btn-info social-btn-size" href="https://twitter.com/LeaderType" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        <a class="color-white btn fb-bg social-btn-size" href="https://www.facebook.com/leadertype/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        <a class="color-white btn linkedin-bg social-btn-size" href="https://www.linkedin.com/company/leadertype" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i> </a>
                    </ul>
                </div>
            </div>
        </div>
    </section>