/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}


canvas.connectivity-bg {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
    background: rgba(7, 9, 21, 1);
}

.sliderIndicatior{
  border-bottom: 1px solid #000;
  line-height:0.1em;
  margin:10px 0 20px;
}
.blackColor{
  background:#fff;
}

.margin-bottom-17 {
  margin-bottom: 17px !important;
}
/* Landing page down arrow button */
.opr-next {
    width: 30px;
    height: 30px;
    position: fixed;
    left: 50%;
    bottom: 40px;
    box-shadow: 4px 4px 0 #fff;
    transform: translate(-50%, 0) rotate(45deg);
    cursor: pointer;
    z-index: 9;
}

.margin-bottom-20 {
  margin-bottom :20%;
}

.piechart {
   height: 100%; 
   width: 40%;
   margin-left: auto;
   margin-right: auto;
}

.hasError {
  color: #f00;
}

.chartTitle {
  padding:3%; 
  font-size: 15px; 
  font-weight: bolder;
}

.grey-out {
  color: #9EA0A1 !important;
}

.mainLoginInput::-webkit-input-placeholder {
 font-family: 'myFont', Arial, Helvetica, sans-serif;
 color: #9EA0A1
}

.mainLoginInput:-ms-input-placeholder {
 font-family: 'myFont', Arial, Helvetica, sans-serif;
 color: #9EA0A1
}

.mainLoginInput:-moz-placeholder {
 font-family: 'myFont', Arial, Helvetica, sans-serif;
 color: #9EA0A1
}

.mainLoginInput::-moz-placeholder {
 font-family: 'myFont', Arial, Helvetica, sans-serif;
 color: #9EA0A1
}

.uppercase {
  text-transform: uppercase;
}

.cursor-pointer {
  cursor: pointer;
}