@import "https://fonts.googleapis.com/css?family=Raleway:400|Roboto+Mono:100,400|Caveat";
/*LeaderType*/

body
  {
	font-family: 'Raleway', sans-serif !important;
}

.questdiv{
        margin: 0px auto;
      }
.quest li{
  font-family: 'Raleway', sans-serif !important;
  display: block;
  float: left;
  margin: 0;
  padding: 10px;
  box-sizing: border-box;
}

.margin-10{
  margin: 10px;
}

.reportbtn{
  min-width: 232px;
}

.but{
margin-left:5px;
}
.slid{
width: 260px !important;
}
.leftli{
text-align: right;
}
.quest{
 margin: 0px auto;
 text-align: center;
}


/*style input type range*/

@supports (-ms-ime-align:auto) {
	input[type="range"] {
		height: 16px;
		background: transparent;
		color: transparent;
		border-color: transparent;
		border-width: 0px;
		box-shadow: none;
	}
	
}

input[type="range"] {
 -webkit-appearance: none;
 -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
 width: 100%;
 height: 3px;
 margin-top:10px;
 border: none;
 padding: 1px 2px;
 border-radius: 14px;
 /*background: #232528 ;*/
 box-shadow: inset 0 1px 0 0 #0d0e0f , inset 0 -1px 0 0 #3a3d42 ;
 -webkit-box-shadow: inset 0 1px 0 0 #0d0e0f , inset 0 -1px 0 0 #3a3d42 ;
 outline: none; /* no focus outline */
 /*background: -webkit-linear-gradient(left, red 10%, yellow 20%,green 30%,blue 40%,white 50%,blue  60%, green 70%, yellow 80%, red 90%); */

}

input[type="range"]::-moz-range-track {
 border: inherit;
 background: transparent;
}

input[type="range"]::-ms-track {
 border: inherit;
 color: transparent; /* don't drawn vertical reference line */
 background: transparent;
}

input[type="range"]::-ms-fill-lower,
input[type="range"]::-ms-fill-upper {
 background: transparent;
}

input[type="range"]::-ms-tooltip {
 display: none;
}

/* thumb */

input[type="range"]::-webkit-slider-thumb {
 -webkit-appearance: none;
 width: 20px;
 height: 18px;
 border: none;
 border-radius: 12px;
 background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #529de1 ), color-stop(100%, #245e8f )); /* android <= 2.2 */
 background-image: -webkit-linear-gradient(top , #529de1  0, #245e8f 100%); /* older mobile safari and android > 2.2 */;
 background-image: linear-gradient(to bottom, #529de1  0, #245e8f  100%); /* W3C */
}
input[type="range"]::-moz-range-thumb {
 width: 20px;
 height: 18px;
  border: 1px solid white !important;
 border-radius: 12px;
 background-image: linear-gradient(to bottom, #529de1  0, #245e8f  100%); /* W3C */
}

input[type="range"]::-ms-thumb {
 width: 20px;
 height: 18px;
 border-radius: 12px;
 border: 0;
 background-image: linear-gradient(to bottom, #529de1  0, #245e8f  100%); /* W3C */
}
input[type=range]::-moz-focus-outer {
  border: 0;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none !important;
}






.box-centerside  {
      width:auto;
      height:auto;
      border: solid 1px #555;
      border-radius: 15px;
      -moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;
   margin: 25px;
   padding: 10px;
   align-content: center;
}


.num{
  width: 100px !important;
}

.pagelabel{
  padding: 5px;
  margin: 3px;
}
.aligntextcenter{
  text-align: center;

}
.strip-custom{
    padding: 0px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1030;
    height: 10px;
    background: #fff;
}
.strip{
  padding: 0px;

}
.strip div{
  height:5px;
}
.green-strip{
  background:#00a651;
  height: 3px;
}
.yellow-strip{
  background:#ffde16;
  height: 3px;
}
.red-strip{
  background:#ed1c24;
  height: 3px;
}
.blue-strip{
  background:#2e3192;
  height: 3px;
}
.multiple-border-color{
	float:left;
	width: 100%
}
hr{
  border-top: 1px solid #000000;
}
.headers{
  padding-top: 10px;
  padding-bottom: 10px;
}
.topmargin{
  margin-top: 45px;
}
.leftcont{
  width:auto;
  height:300px;
  margin-top:100px;
}
.rightbutton{
  width: 165px;
  height: 52px;
  padding: 10px;
  margin: 10px;
    padding: 10px 0px 10px 0px;
    color: #FFF;
    background: #292929;
    text-align: center;
    border-bottom: 5px solid #000;
    border: 1px solid #000;

}
.rightbutton:hover{
  color: #000;
    background: #FAFAFA;
    border-bottom: 5px solid #454545;
}
.paddingval{
  padding: 10px;
}
.leftbutton{
  width: auto;
  height: 52px;
  padding: 10px;
}
/*.leftbutton:hover{
  color: #000;
    background: #FAFAFA;
    border-bottom: 5px solid #454545;
}*/

.leftbutton:disabled{
  background: #595959;
}
.leftbutton:disabled:hover{
  color: #fff;
}

.boldfont{
  font-weight: bold !important;
}

.boldfonts{
  font-family: 'Raleway', sans-serif !important;
  font-weight: bold !important;
  font-size: 16px;
  margin: 0px auto;
}

.ad{
  background-color: #e6e6e6;
  width: 190px;
  height: 400px;
}
.buttonmargin{
  margin-top: 85px;
  padding-left: 15px;
  width:94%;
  margin-left: 15px;
}
.centerdiv{
  border: 1px solid #ddd;
}
.progress,.progress-feedback{
  background-color:#eee;/* #e6e6e6; changed*/
  padding: 3px;
  height: 30px;
  overflow: hidden;
  max-width: 100%;
  box-shadow: none;
}
.progressdiv,.progressdiv-feedback{
  margin-top: 30px;
  height: 32px;
  width: 100%;
  border: 1px solid #eee; /*changed from #CCC*/
  margin:0px;
  margin-bottom: 25px;
}
.botmargin{
  margin-bottom: 30px;
}
.margincenter{
  margin-top: 50px;
}
.margincenterdiv{
  margin-top: 95px;
}

.leftpadding{
  padding-left: 10%;
}
.logo-custom{
  width: 37px;
    height: 30px;

}

.header-custom{
    height: 70px !important;
    border-bottom: 1px solid #ccc;
    top: 5px;
    font-size: 13px;
    font-weight: 100;
    background: #fff;
}

.top-margin{
  margin-top: 8%;;
}


.custom-nav{
      margin-top: 14px;
}
.heading-custom{
    font-size: 15px;
    text-transform: none;
    font-weight: 600 !important;
    padding-bottom: 20px;
}
.heading-custom-1{
  font-size: 15px;
    text-transform: none;
    padding-bottom: 20px;
}

.progressdiv{
  display: inherit;
}

.lt-adv{
     background: #ccc;
    padding: 0;
}

.lt-adv img{
  width: 100%;
}

.customCard{
  padding: 0 !important;
}


.leftbutton-big{
  width: auto;
  height: 60px;
}
.background-black{
 background: #292929;
}
.background-grey{
 background: #292929;
}
  .leftbutton-small{
    padding-left: 10px !important;
    padding-right: 10px !important;
    width: auto;
    min-height: 41px;
    height: auto;
    /*padding: 10px !important;*/
    margin: 2px;
    /*padding: 10px 0px 10px 0px;*/
    color: #FFF;
    background: #292929;
    text-align: center;
    border-bottom: 5px solid #000;
    border: 1px solid #000;
    border-radius: 5px;

}
.leftbutton-big:hover{
    color: #000;
    background: #FAFAFA;
    border-bottom: 2px solid #454545;
}

.fixed-height{
     margin:5px;
}

.bottom-margin{
  margin-bottom: 15px;
}

.z-index-0 {
  z-index: 0;
}

.question{
  display: inline;
}

.customCard tooltip {
  display: inline !important;
}

.bottom-border{
  border: 1px solid red;
}

.transform-inherit{
  text-transform: inherit;
}
.image-width-height-100{
    height: 100%;
}
.gray-button{
    width: 155px;
    height: 41px;
    /*padding: 10px;*/
    margin: 2px;
    /*padding: 10px 0px 10px 0px;*/
    color: #0e0a0a;
    background: #DCDCDC;
    text-align: center;
    border-bottom: 5px solid #DCDCDC;
    border: 1px solid #DCDCDC;
    border-radius: 5px;
}

.report-learnmore{
    margin-left: 10px;
    margin-bottom: 10px;
}

.padding-top-15{
  padding-top: 15px;
}

.padding-bottom-20{
  padding-bottom: 20px;
}
.margin-top-20{
  margin-top: 20px;
}
.comingsoon-img{
  width:100%;
}

@media (min-width: 768px) {
  .comingsoon-img{
   display: block;
    margin-left: auto;
    margin-right: auto ;
    width: 50%;
  }
}

.width-100{
width:100%;
}

.switch {
  position: relative;
  margin: 20px auto;
  height: 26px;
  width: 120px;
  background: rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
}

.switch-label {
  position: relative;
  z-index: 2;
  float: left;
  width: 58px;
  line-height: 26px;
  font-size: 11px;
  /*color: rgba(255, 255, 255, 0.35);*/
  text-align: center;
  /*text-shadow: 0 1px 1px rgba(0, 0, 0, 0.45);*/
  cursor: pointer;
}
.switch-label:active {
  font-weight: bold;
}

.switch-label-off {
  padding-left: 2px;
}

.switch-label-on {
  padding-right: 2px;
}

/*
 * Note: using adjacent or general sibling selectors combined with
 *       pseudo classes doesn't work in Safari 5.0 and Chrome 12.
 *       See this article for more info and a potential fix:
 *       http://css-tricks.com/webkit-sibling-bug/
 */
.switch-input {
  display: none;
}
.switch-input:checked + .switch-label {
  font-weight: bold;
  color: rgba(0, 0, 0, 0.65);
  text-shadow: 0 1px rgba(255, 255, 255, 0.25);
  -webkit-transition: 0.15s ease-out;
  -moz-transition: 0.15s ease-out;
  -o-transition: 0.15s ease-out;
  transition: 0.15s ease-out;
}
.switch-input:checked + .switch-label-on ~ .switch-selection {
  left: 60px;
  /* Note: left: 50% doesn't transition in WebKit */
}

.switch-selection {
  display: block;
  position: absolute;
  z-index: 1;
  top: 2px;
  left: 2px;
  width: 58px;
  height: 22px;
  background: #65bd63;
  border-radius: 3px;
  background-image: -webkit-linear-gradient(top, #9dd993, #65bd63);
  background-image: -moz-linear-gradient(top, #9dd993, #65bd63);
  background-image: -o-linear-gradient(top, #9dd993, #65bd63);
  background-image: linear-gradient(to bottom, #9dd993, #65bd63);
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), 0 0 2px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), 0 0 2px rgba(0, 0, 0, 0.2);
  -webkit-transition: left 0.15s ease-out;
  -moz-transition: left 0.15s ease-out;
  -o-transition: left 0.15s ease-out;
  transition: left 0.15s ease-out;
}
.switch-blue .switch-selection {
  background: #3aa2d0;
  background-image: -webkit-linear-gradient(top, #4fc9ee, #3aa2d0);
  background-image: -moz-linear-gradient(top, #4fc9ee, #3aa2d0);
  background-image: -o-linear-gradient(top, #4fc9ee, #3aa2d0);
  background-image: linear-gradient(to bottom, #4fc9ee, #3aa2d0);
}
.switch-yellow .switch-selection {
  background: #c4bb61;
  background-image: -webkit-linear-gradient(top, #e0dd94, #c4bb61);
  background-image: -moz-linear-gradient(top, #e0dd94, #c4bb61);
  background-image: -o-linear-gradient(top, #e0dd94, #c4bb61);
  background-image: linear-gradient(to bottom, #e0dd94, #c4bb61);
}


.block{
	border: 1px solid red;
  	text-align: center;
  	vertical-align: middle;
}
.circle{
	background: red;
  	border-radius: 200px;
  	color: black;
  	display: inline-block;
  	height: 200px;
  	font-weight: bold;
  	font-size: 1.2em;
  	padding: 0 15px;
  	vertical-align: middle;
  	width: 200px;
}
.text-justify{
  text-align: justify;
}
ul.dashed {
  list-style-type: none;
}
ul.dashed > li {
  text-indent: -5px;
}
ul.dashed > li:before {
  content: "-";
  text-indent: -5px;
}

.justified-menu {
    position: relative;
    text-align: justify;
    list-style-type: none;
}

.justified-menu > li:before {
  content: "-";
}

.justified-menu:after {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 0;
    line-height: 0;
    content: '';
}

.inline-block { display: inline-block; }

.rangeInBranding{
  display: initial !important;
  height: 8px !important;
  box-shadow: none;
  background:
    linear-gradient(to right,#CC0000 12.25%,#FF1C00 12.25%,#FF1C00 25%,#FF5C5C 25%,#FF5C5C 37.5% ,#F4C2C2 37.5%,#F4C2C2 49%,#F4C2C2 49%,#F4C2C2 51%,#F4C2C2 51%, #F4C2C2 62.5%,#FF5C5C 62.5%,#FF5C5C 75%,#FF1C00 75%,#FF1C00 87.5%,#CC0000 87.5%  );
    border: none !important;
    box-shadow: none !important;
}

.grey-range {
  background:
    linear-gradient(to right,#262626 12.25%,#4d4d4d 12.25%,#4d4d4d 25%,#8c8c8c 25%,#8c8c8c 37.5% ,#bfbfbf 37.5%,#bfbfbf 49%,#bfbfbf 49%,#bfbfbf 51%,#bfbfbf 51%, #bfbfbf 62.5%,#8c8c8c 62.5%,#8c8c8c 75%,#4d4d4d 75%,#4d4d4d 87.5%,#262626 87.5%  );
}

.green-gold-range {
  background:
    linear-gradient(to right,#004d00 12.25%,#008000 12.25%,#008000 25%,#00b300 25%,#00b300 37.5% ,#80ff80 37.5%,#80ff80 49%,#80ff80 49%,#fff5b3 51%,#fff5b3 51%, #fff5b3 62.5%,#ffe74d 62.5%,#ffe74d 75%,#e6c700 75%,#e6c700 87.5%,#998500 87.5%  );
}

.blue-red-range {
  background:
    linear-gradient(to right,#002966 12.25%,#0047b3 12.25%,#0047b3 25%,#0066ff 25%,#0066ff 37.5% ,#66a3ff 37.5%,#66a3ff 49%,#66a3ff 49%,#ff8080 51%,#ff8080 51%, #ff8080 62.5%,#ff1a1a 62.5%,#ff1a1a 75%,#cc0000 75%,#cc0000 87.5%,#800000 87.5%  );
}

.purple-orange-range {
  background:
    linear-gradient(to right,#4d004d 12.25%,#990099 12.25%,#990099 25%,#e600e6 25%,#e600e6 37.5% ,#ff66ff 37.5%,#ff66ff 49%,#ff66ff 49%,#ffdb99 51%,#ffdb99 51%, #ffdb99 62.5%,#ffaf1a 62.5%,#ffaf1a 75%,#cc8500 75%,#cc8500 87.5%,#805300 87.5%  );
}

.brandingSection{
  padding-top: 0px;
  border: none;
}
.brandingLeftSection{
  padding-top:25px;
}
.brandingRightSection{
  padding-top:25px;
}

@media screen and (max-width: 768px) {
    ul.dashed{
      padding-left: 7px;
    }
    .packageNameAcc{
      border-bottom: none !important ;
    }
    .customFontSize{
      font-size: 12px;
    }

    .customLeftAlign{
      padding-right: 5%;
    }
    .customRightTextAlign{
      padding-left: 0px;
    }

    .brandingSection{
      margin-top: 16%;
    }
    .needNumberPerPage{
      text-align:center;
      margin:0 0 0 0px;
    }
    .customPaddingForSaveButton{

    }
    .result{
      margin-top: 54px;
    }
    .customHeaderForBrandPage{
      padding-top: 11px !important;
      margin:0px !important;
      letter-spacing: 0 !important;
    }
    .customHeaderForOtherDasboardPage{
      padding-top: 16px !important;
      margin:0px !important;
      letter-spacing: 0 !important;
    }
    .report{
      margin-top: 54px;
      color:#000 !important;
    }
    .leftMarginforEditSaveBtn{
      margin-left: 0px !important;
    }
    .question-container-height-needs-popup{
      /*height: 702px !important;*/
      height: auto;
      padding-right:5px;
      padding-left:5px;
    }

    .question-container-height-leader-popup{
      padding-right:5px;
      padding-left:5px;
    }
    .progressdiv{
      margin-bottom: 6px !important;
    }
    .triggerPopup{
      overflow-wrap: break-word;
    }
    .tkiQuestionLi{
      text-align: center !important;
    }
    .slider{
      margin-top: 54px !important;
    }
    .customPopNOMarginBottom{
      margin-bottom:  0px !important;
    }
    .custom-container-1{
      padding: 0px !important;
    }
    .custom-container-1 .resources-padding-for-responsive{
      padding: 20% 15px 0px 20px;
    }
    .custAccountCon{
      padding:0px !important;
      margin:0px !important
    }
    .custActRow{
      margin-right: 0px !important;
    }
    .customActScroll{
      overflow-x: scroll;
    }
    .displayNoneForMobile{
      display:none;
    }
    .valueSortContent{
      display: block !important;
    }
    .displayOnlyForMobile{
      display: block !important;
    }
    .customCaret{
      float: right;
      margin-top: 11px;
    }
    .customDropdown{
      display: block;
    }
    .valueSortContent .nav-tabs>li{
      width: 50% !important;
    }
    .valueSortContent .tab-content{
      height: 400px;
      overflow: scroll;
    }
    .valueSortContent .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
      color: #31708f !important;
      background-color: #d9edf7;
      border-color: #d9edf7;
    }
    .customPopNOMarginBottom .list-group{
      margin-bottom: 0px !important;
    }
    .profilePagePadding{
      padding:15px;
    }
}

@media screen and (max-width: 992px) and (min-width: 768px) {
    .customRightAlign{
      padding-right: 8%;
    }
    .customLeftAlign{
      padding-right: 10%;
    }
    .customRightTextAlign{
      padding-left: 0px;
    }
    .brandingSection{
      margin-top: 9%;
    }
    .customPaddingForSaveButton{

    }
    .custom-container-1 .resources-padding-for-responsive{
      padding: 6% 15px 0px 20px;
    }
}
@media screen and (max-width: 1200px) and (min-width:992px) {
    .customRightAlign{
      padding-right: 8%;
    }
    .customLeftAlign{
      padding-right: 15%;
    }
    .customRightTextAlign{
      padding-left: 0px;
    }
    .customPaddingForSaveButton{
      padding-right:0px;
      padding-left:0px;
    }
    .customHeader{
      padding-top: 11px;
      margin:0px;
    }
}
@media screen and (min-width: 1200px) {
    .customRightAlign{
      padding-right: 8%;
    }
    .customLeftAlign{
      padding-right: 8%;
    }
    .customRightTextAlign{
      padding-left: 0px;
    }
    .customPaddingForSaveButton{
      padding-right:0px;
      padding-left:0px;
    }
    .customHeader{
      padding-top: 11px;
      margin:0px;
    }
}

.full .modal-dialog{
    width:auto !important;
    margin-left:20px !important;
    margin-right:20px !important;
}
.full .modal-content{
  width:100%;
  left: 0;
  top:0%;
  margin-left: 0px;
  margin-top:0px;
}
.small .modal-content{
  width:50%;
  top:0%;
}

.triggerPopup{
  margin-left:12px;
  margin-right:12px;
}

/* Styles go here */

.simpleDemo ul[dnd-list],
.simpleDemo ul[dnd-list] > li {
    position: relative;
}

.simpleDemo ul[dnd-list] {
    min-height: 100%;
    padding-left: 0px;
}

.simpleDemo ul[dnd-list] .dndDraggingSource {
    display: none;
}

.simpleDemo ul[dnd-list] .dndPlaceholder {
    display: block;
    background-color: #ddd;
    min-height: 42px;
}

.simpleDemo ul[dnd-list] li {
    background-color: #fff;
    border: 1px solid #ddd;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
}

.simpleDemo ul[dnd-list] li.selected {
    background-color: #dff0d8;
    color: #3c763d;
}

/*.simpleDemo {
  cursor: move;
  position: absolute;
  top: 14px;
}*/
.modal-content .progressdiv{
  width: 97%;
  margin-left: 1.5%;
}
.questBranding{
  text-align: left;
}
.simpleDemo .panel-heading{
  height: 7em;
  text-align: center;
}

.brandingPageCustomHeaderFont{
  font-size:20px;
}
.zero-top-padding{
  padding-top:0px !important;
}


.customCard{
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12);
}
.whiteFontColor{
  color:#fff;
  line-height: normal;
  padding-left:10px;
}
.row-bordered:after {
  content: "";
  display: block;
  border-bottom: 1px solid #ccc;
  margin: 10px 15px;
}
.top-leader-custom-style{
  margin-top: -65px;
}
.no-border{
  border:none;
}
.no-right-padding{
  padding-right:0px;
}
.no-left-padding{
  padding-left:0px;
}
.customFontForBrandPage{
  font-weight: 400;
}
.no-margin-bottom{
  margin-bottom:0px;
}
.no-margin{
 margin: 0px;
}
.list-type-none{
  list-style-type: none;
}
.no-bottom-padding{
  padding-bottom:0px;
}
.bestFitStyle{
  margin-bottom: 20px;
}
.padding-top-20{
  padding-top:20px;
}
.titleUnderlineFirst{
  width: 25%; /*changed from 10%*/
  height: 1px;
  margin: 0px 10px; /*changed from 0px auto*/
  border-bottom: 1px solid #969696;
}
.titleUnderlineSecond{
  width: 25%;/*changed from 10%*/
  height: 1px;
  /*margin: 2px auto auto 46%;*/
  margin: 2px 10px 10px 9%;
  border-bottom: 1px solid #969696;
}
.titleUnderlineFirstLeftSection{
  width: 10%;
  height: 1px;
  margin: 2px auto auto 6%;
  border-bottom: 1px solid #969696;
}
.titleUnderlineSecondLeftSection{
  width: 10%;
  height: 1px;
  margin: 2px auto auto 7%;
  border-bottom: 1px solid #969696;
}
.titleUnderlineFirstSection{
  width: 10%;
  height: 1px;
  margin: 2px auto auto 11%;
  border-bottom: 1px solid #969696;
}
.titleUnderlineSecondSection{
  width: 10%;
  height: 1px;
  margin: 2px auto auto 12%;
  border-bottom: 1px solid #969696;
}

.titleUnderFirst{
  width: 10%;
  height: 1px;
  margin: 2px auto auto 26%;
  border-bottom: 1px solid #969696;
}
.titleUnderSecond{
  width: 10%;
  height: 1px;
  margin: 2px auto auto 27%;
  border-bottom: 1px solid #969696;
}
.needNumberPerPage{
  text-align:left;
  margin:0 0 0 70px;
}
.customButtonForBrand{
  width:100%;
}
.customPaddingForSaveButton{

}
.question-container-height-needs-popup{
  min-height: 300px;
  height: auto;
}
.question-container-height-editrecepient-popup{
  min-height: 200px;
  height: auto;
}
.question-container-height-leader-popup{
  height: 270px;
}
.custom-container{
  margin-top: 11%;
}
.custom-container-1{
  margin-top: 5%;
}
.legend-1 {
  margin-left: 150px;
}
.legend-2 {
  margin-left: -25px;
}
.legend-3 {
  margin-left: 50px;
}
.legend-4 {
  margin-left: 40px;
}
.leadership-range {
  padding-bottom: 15px;
}
.leadership-range-border {
  border: 1px solid #000;
  padding-bottom: 10px;
  background: linear-gradient(to right,#fff,#ac7bd4);
}
.leadership-color-banner {
  background: linear-gradient(to right,#e0d1ed,#6F359E);
  height: 5px !important;
  border: none !important;
  box-shadow: none !important;
}
.colorBanner{
  background:
    linear-gradient(to right,#CC0000 25%,#F4C2C2 25%,#F4C2C2 49% ,white 49%,white 51%,#ACE1AF 51%,#ACE1AF 75%,#138808 75% );
  height: 8px !important;
  box-shadow: none;
  border: none !important;
  box-shadow: none !important;
}
.question-container-height-value-popup{
  height: 540;
}
.editSaveIconButton{
  background-color: Transparent;
  background-repeat:no-repeat;
  cursor:pointer;
  overflow: hidden;
  outline:none;
}
.saveEditButton{
  border-radius: 20% !important;
  background-color: transparent !important;
}
.saveEditButton:hover,.saveEditButton:focus{
  background-color: transparent !important;
  border-radius: 20% !important;
  text-decoration: none;
}
.save-button {
  background-color: #328d5a !important;
  color: #fff !important;
}
.save-button:hover,.save-button:focus{
  background-color: #328d5a !important;
  border-radius: 20% !important;
  text-decoration: none;
}
.save-tooltip {
  background-color: #328d5a !important;
  color: #fff !important;
}
.save-tooltip tip-arrow {
  border-bottom: 6px solid #328d5a !important;
}

.cancel-button {
  background-color: #fff !important;
  color: #000 !important;
}
.cancel-button:hover,.cancel-button:focus{
  background-color: #fff !important;
  border-radius: 20% !important;
  text-decoration: none;
}
.cancel-tooltip {
  background-color: #fff !important;
  color: #000 !important;
}
.cancel-tooltip tip-arrow {
  border-bottom: 6px solid #fff !important;
}

.instruction {
  text-align: right; 
  margin-right:25px;
}

.blackSliderForLti{
  background: #232528;
}

.customHeaderForBrandPage{
  padding-top: 11px;
  margin:0px;
}
.customHeaderForOtherDasboardPage{
  padding-top: 16px;
  margin:0px;
}
.leftMarginforEditSaveBtn{
  margin-left: 20px;
}
.customLtiTeamPageMargintop{

}
.tkiQuestionLi{
  text-align: right;
}
.landingPageCollapse .icon-bar{
  background: #ddd;
}
.valueSortContent{
  display: none;
}
.displayOnlyForMobile{
  display: none;
}
.customPaddingForSlider{
  padding:13px;
}

.line1 {
  width: 250px;
  height: 90px;
  border-bottom: 2px dotted #ccc;
  -webkit-transform:
      translateY(170px)
      translateX(320px)
      rotate(45deg); 
  position: absolute;
  /* top: -20px; */
}
.line2 {
  width: 250px;
  height: 47px;
  border-bottom: 2px dotted #ccc;
  -webkit-transform:
      translateY(210px)
      translateX(275px)
      rotate(-45deg);
  position: absolute;
}
.line3 {
  width: 220px;
  height: 47px;
  border-bottom: 2px dotted #ccc;
  -webkit-transform:
      translateY(240px)
      translateX(330px)
      rotate(90deg);
  position: absolute;
}
.line4 {
  width: 250px;
  height: 47px;
  border-bottom: 2px dotted #ccc;
  -webkit-transform:
      translateY(203px)
      translateX(290px);
  position: absolute;
}

.brand-image {
  width: 100px;
  height: 100px;
}

.brand-values {
  margin: 0px;
  position: relative;
}

@media screen and (max-width: 425px) {
  .circle-lines {
    position: relative;
    left: -230px !important;
    top: -75px !important;
  }
  .customFirstRowImgFirst {
    bottom: 15px;
  }
  .customSecondRowFirstImg {
    top: 30px;
  }
  .customSecondRowSecondImg {
    top: 25px;
  }
  .customThirdRowImgFirst {
    top: 30px;
  }
  .customThirdRowImgSecond {
    left: 10px;
  }
  .customThirdRowImgThird {
    top: 15px;
  }
  .firstRowFirstImgValue {
    
  }
  .firstRowSecondImgValue {
    left: 40px;
  }
  .firstRowThirdImgValue {
    
  }
}

@media screen and (min-width: 427px) and (max-width: 767px) {

  .circle-lines {
    position: relative;
    left: -75px !important;
    top: -10px !important;
  }

  .firstRowFirstImg{
    width: 90% !important;
  }
  .firstRowSecondImg{
    width: 100%;
  }
  .firstRowThirdImg{
    width: 80% !important;
  }
  .customFirstRowImgFirst{
    padding-left: 5px !important;
    padding-right: 5px !important;
  }
  .customFirstRowImgSecond{
    padding-left: 10px !important;
    padding-right: 5px !important;
  }
  .customFirstRowImgThird{
    padding-left: 5px !important;
    padding-right: 5px !important;
  }
  .customSecondRowFirstImg{
    padding-left: 5px !important;
    padding-right: 5px !important;
  }
  .secondRowSecondImg{
    width: 25% !important;
  }
  .secondRowFirstImg {
    width: 90% !important;
  }
  .thirdRowThirdImg {
    width: 60% !important;
  }
  .thirdRowFirstImg {
    width: 60% !important;
  }
  .thirdRowSecondImg {
    width: 90% !important;
  }
  .centerCustomStyle{
    margin-top: 55px;
    padding-left: 4%;
  }
  .customSecondRowSecondImg{
    top: 10px;
    padding-left: 5px !important;
    padding-right: 10px !important;
    margin-top: -10px !important;
  }
}

@media screen and (max-width: 992px) and (min-width: 768px) {
  .circle-lines {
    position: absolute;
    top: 225px;
    left: -35px;
  }
  /* .customFirstRowImgFirst {
    left: 25px;
  } */
  .customSecondRowFirstImg {
    top: 25px;
  }
  .customSecondRowSecondImg {
    top: 30px;
    left: -65px;
  }
  .customThirdRowImgThird {
    left: 15px;
    top: 15px;
  }
  .customThirdRowImgFirst {
    top: 15px;
  }
  .customFirstRowImgThird {
    top: 10px;
  }
  .customFirstRowImgFirst {
    left: 0px;
  }
  .top-leader-custom-style{
    margin-top: -90px;
  }
  .customFirstRowImgSecond{
    padding-left: 50px !important;
    padding-right: 5px !important;
    left: -25px;
    top: -25px;
  }
  .customSecondRowSecondImg{
    padding-right: 10px !important;
    margin-top: -10px !important;
  }
  .secondRowFirstImg{
    width: 65% !important;
  }
  .thirdRowFirstImg{
    width: 35% !important;
  }
  .thirdRowSecondImg {
    width: 60% !important;
  }
  .secondRowSecondImg{
    width: 18% !important;
  }
  .firstRowFirstImgValue {
    right: 150px;
    top: 65px;
  }
  .firstRowSecondImgValue {
    left: 75px;
  }
  .firstRowThirdImgValue {
    left: 150px;
    top: 65px;
  }
  .secondRowFirstImgValue {
    right: 115px;
    bottom: 65px;
  }
  .secondRowSecondImgValue {
    left: 50px;
    bottom: 60px;
  }
  .thirdRowFirstImgValue {
    right: 140px;
    bottom: 55px;
  }
  .thirdRowSecondImgValue {
    left: 40px;
  }
  .thirdRowThirdImgValue {
    left: 125px;
    bottom: 60px;
  }
}
@media screen and (max-width: 1024px) and (min-width:993px) {
  .top-leader-custom-style{
    margin-top: 0px;
    bottom: 50px;
  }
  .circle-lines {
    position: relative;
    left: -125px !important;
    top: 75px !important;
  }
  .customFirstRowImgFirst {
    top: 60px;
  }
  .customFirstRowImgThird {
    top: 60px;
  }
  .customSecondRowSecondImg{
    padding-right: 10% !important;
    margin-top: -10px !important;
  }
  .secondRowFirstImg{
    width: 60% !important;
  }
  .firstRowFirstImgValue {
    right: 100px;
  }
  .firstRowSecondImgValue {
    left: 70px;
    top: -10px;
  }
  .firstRowThirdImgValue {
    left: 100px; 
    top: 15px;
  }
  .secondRowFirstImgValue {
    right: 85px; 
    bottom:55px;
  }
  .secondRowSecondImgValue {
    left:50px; 
    bottom: 50px;
  }
  .thirdRowFirstImgValue {
    bottom:40px; 
    right:90px;
  }
  .thirdRowSecondImgValue {
    left:30px; 
    top:5px;
  }
  .thirdRowThirdImgValue {
    bottom:55px; 
    left:100px;
  }
}
@media screen and (max-width: 1200px) and (min-width:1025px) {
  .circle-lines {
    position: relative;
    left: -110px !important;
    top: -25px !important;
  }

  .top-leader-custom-style{
    margin-top: -90px;
  }
  .customSecondRowSecondImg{
    padding-right: 10% !important;
    margin-top: -10px !important;
  }
  .secondRowFirstImg{
    width: 60% !important;
  }
}
@media screen and (min-width: 1200px) {
  .circle-lines {
    position: absolute;
    top: 190px;
    left: 20px;
  }
  .customFirstRowImgSecond {
    left: 10px;
  }
  .customSecondRowSecondImg{
    padding-right: 10% !important;
    margin-top: 15px !important;
  }
  .secondRowFirstImg{
    width: 50% !important;
  }
  .customSecondRowFirstImg {
    margin-top: 15px !important;
  }
  .firstRowFirstImgValue {
    right: 200px;
    top:85px;
  }
  .firstRowSecondImgValue {
    left: 70px;
    top: -10px;
  }
  .firstRowThirdImgValue {
    left: 130px; 
    top:75px;
  }
  .secondRowFirstImgValue {
    right: 150px; 
    bottom:70px;
  }
  .secondRowSecondImgValue {
    left:50px; 
    bottom: 50px;
  }
  .thirdRowFirstImgValue {
    bottom:60px; 
    right:130px;
  }
  .thirdRowSecondImgValue {
    left:20px; 
    top:5px;
  }
  .thirdRowThirdImgValue {
    bottom:60px; 
    left:130px;
  }
}
.firstRowFirstImg{
  width: 50%;
}
.firstRowSecondImg{
  width: 100%;
}
.firstRowThirdImg{
  width: 50%;
}
.secondRowFirstImg{
  width: 45%;
}
.secondRowSecondImg{
  width: 20%;
}
.thirdRowFirstImg{
  width: 30%;
}
.thirdRowSecondImg{
  width: 70%;
}
.thirdRowThirdImg{
  width: 40%;
}
.customThirdRowImgSecond{
  margin-top: 12%;
  padding-left: 8%;
}
.dark-navbar{
  background-color: #18191B;
}
.testAlignLeft{
  text-align: left !important;
}

.margin-bottom {
  margin-bottom:25%;
}

.cursor-hand {
  cursor:pointer;
  cursor:hand;
}

.font-12 {
  font-size: 12px;
}

th{
    padding: 2% !important;
}
.rangeInFeedback{
  display: initial !important;
  height: 8px !important;
  box-shadow: none;
  /*background:linear-gradient(to right,#CC0000 12.25%,#FF1C00 12.25%,#FF1C00 25%,#FF5C5C 25%,#FF5C5C 37.5% ,#F4C2C2 37.5%,#F4C2C2 49%,#F4C2C2 49%,#F4C2C2 51%,#F4C2C2 51%, #F4C2C2 62.5%,#FF5C5C 62.5%,#FF5C5C 75%,#FF1C00 75%,#FF1C00 87.5%,#CC0000 87.5%  );*/
  background:linear-gradient(to right,#212223 25%,#797a7c 25%,#797a7c 49%,#a7a8aa 49%,#a7a8aa 51% ,#b7b7b7 51%,#b7b7b7 75%,#d3d3d3 75% );
    border: none !important;
    box-shadow: none !important;
}
.gray-1{
  background-color: #212223;
}
.gray-2{
   background-color: #797a7c;
}
.gray-3{
   background-color: #a7a8aa;
}
.gray-4{
   background-color: #b7b7b7;
}
.gray-5{
   background-color: #d3d3d3;
}
.question-container{
  min-height: 200px;
  height: auto;
}
.progressdiv-feedback,.progress-feedback{
  height: 10px;
}
.rangebar{
 
  display: initial !important;
  height: 8px !important;
  box-shadow: none;
  border: none !important;
  box-shadow: none !important;

}
.font-11{
  font-size: 11px;
}

.reports {

}

.reportContent {
  position: relative;
  top: 50px;
  height: 100%;
}

.report-dashboard {
  height: 100%;
  min-height: 600px;
  background: #eee;
  padding: 2%;
}

.report-sidebar {
  padding-top: 13%;
  font-size: 16px;
  color: #2c3e50;
}

.report-table {
  border: 1px solid #eee;
}

.rtab {
  padding: 2% 2% 2% 10%;
}

.rcard {
  background: #ffffff;
  min-height: 200px;
  padding: 2%;
  -webkit-box-shadow: 6px 6px 22px -6px rgba(52,73,94,0.63);
  -moz-box-shadow: 6px 6px 22px -6px rgba(52,73,94,0.63);
  box-shadow: 6px 6px 22px -6px rgba(52,73,94,0.63);
}

.raction {
    margin: 2%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.caction {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.min-height {
  min-height: 550px;
}

.margin-1 {
  margin: 1%;
}

td, th {
  text-align: left !important;
}

.no-padding {
  padding: 0px;
}

.tabActive {
  background: #eee;
  color: #2c3e50;
}

.text-center {
  text-align: center !important;
}

.report-table tr th{
      padding: 8px !important
}