profile-form form {
    display: block;
    margin-top: 0em;
    line-height: 23px;
    font-weight: 400;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.padding-left-0{
    padding-left: 0px !important;
}

.title{
    margin-top: 72px;
}

.finish-button{
    text-align: center;
}