.shopCartHeader{
    background-color: #32388C;
    color: white;
    margin-top: 75px;
    height: 48px;
    padding-left: 10px;
}
.padding-top-10{
    padding-top: 10px;
}

.margin-bottom-10{
    margin-bottom: 0px;
}

/* Shop */

.shop-nav {
    width: 250px;
    overflow: hidden;
    padding: 10px 18px 0;
    display: block; }

.shop-item {
    position: relative; }

.shop-item img {
    border: 1px solid #eee; }

nav .shop-cart {
    width: 100%;
    font-size: 11px;
    line-height: 14px;
    overflow: hidden; }

li .shop-cart {
    border-bottom: 1px solid #ccc;
    margin-bottom: 15px;
    padding-bottom: 15px; }
li .shop-cart a:hover {
    background-color: transparent !important; }

.shop-cart img {
    width: 70px;
    padding-right: 10px;
    float: left; }

.shop-nav {
    color: #333; }
.shop-nav a {
    color: #333; }
.shop-nav .btn-dark-border {
    margin-bottom: 8px; }
.shop-nav .fa {
    margin: 0 0 15px 5px; }

.add-cart {
    position: absolute;
    bottom: 8px;
    left: 20px;
    z-index: 1;
    font-weight: 800; }

.add-cart:before {
    font-family: 'fontawesome';
    content: "\f290";
    padding-right: 10px;
    font-size: 20px;
    opacity: 0.5; }

.badge.price {
    font-family: "Roboto Mono", monospace;
    font-size: 13px;
    font-weight: 400;
    position: absolute;
    top: -20px;
    right: -10px;
    width: 70px;
    height: 70px;
    text-align: center;
    z-index: 1;
    padding-top: 25px;
    border-radius: 50% !important;
    opacity: 0.7; }
.badge.price.sale {
    top: 30px;
    background-color: #789;
    color: #fff;
    text-transform: uppercase; }
.badge.price.trend {
    top: 30px;
    background-color: #c00;
    color: #fff;
    text-transform: uppercase; }
.badge.price.new {
    top: 30px;
    background-color: #ff4081;
    color: #fff;
    text-transform: uppercase; }

.sorting {
    border: 0;
    margin: -9px 0px;
    background: transparent; }
.sorting > option {
    font-size: 14px; }
/*table{border-bottom: 0px;
border-left: 0px;
border-right: 0px;
}*/

#shop table td{ border:0px;border-top: 1px solid #ddd !important;}
#shop table,#subTable table {border:0px ;}
#subTable table td, #subTable table th{border:0px;border-top: 1px solid #ddd !important;}
.table.shop-cart {
    margin-bottom: 60px; }
.table.shop-cart  tbody  tr  td, .table.shop-cart > tbody > tr > th {
    padding: 11px;
    vertical-align: middle;
    border-top: 1px solid #ddd; }
.table.shop-cart > tfoot > tr > td, .table.shop-cart > tfoot > tr > th {
    padding: 11px;
    vertical-align: middle;
    border-top: 1px solid #ddd; }
.table.shop-cart > thead > tr > td, .table.shop-cart > thead > tr > th {
    padding: 11px;
    vertical-align: middle;
    border-top: 1px solid #ddd; }
.table.shop-cart h3, .table.shop-cart h4, .table.shop-cart h5 {
    padding: 0;
    margin: 0; }

@media (max-width: 768px) {
    .table.shop-cart > tbody > tr > td, .table.shop-cart > tbody > tr > th {
        overflow: scroll;
        padding: 5px; }
    .table.shop-cart > tfoot > tr > td, .table.shop-cart > tfoot > tr > th {
        padding: 5px; }
    .table.shop-cart > thead > tr > td, .table.shop-cart > thead > tr > th {
        padding: 5px; } }
