<div>
    <div ng-include="lt.modules/navBar/navbar.html"></div>
<div class="leaderPeak center-div-positioning padding-top-150 margin-bottom">
        <div>
            <center>
                <p>Oops! It seems you haven't sent any feedback mail yet.</p>
                <button class="btn btn-dark leftbutton" ng-click="addRecipient()">Click here to invite respondents&nbsp;&nbsp;<i class="fa fa-check-circle"></i></button>
            </center>
        </div>
    </div>
</div>
</div>