<div>
    <div ng-include="lt.modules/navBar/navbar.html"></div>
<section class="bg-white section-padding-adjustment brandingSection ">
    <div class="overlay-white"></div>
     <div class="container">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 on-mobile-padding-left on-mobile-padding on-mobile-margin-top">
        <div>
            <div class="full-page-margin">
                <form ng-submit="sendInvite()" name="inviteForm" novalidate>
                    <div class="make-center">
                        <div class="row button-spacing padding-bottom-20">
                            <div class="btn btn-default left-button align-left button-form-border margin-left-15" ng-click="backToReports()"><i class="fa fa-chevron-left"></i> Back </div>
                            <button type="submit" class="btn btn-primary left-button align-right button-form-border margin-right-15"><i class="fa fa-plus-square"></i> Send Invite </button>
                        </div>

                        <div class="flex-container card-row black-card">
                            <div class="flex-column-2">
                                <div class="row form-group">
                                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 on-mobile-padding on-mobile-padding zero-margin zero-padding">
                                        <input type="text" name="title" placeholder="Title for the Invite" class="form-control ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required ng-not-modified"
                                            ng-model="invite.title" ng-blur="defaultSubject()" maxlength="20" required>
                                            <span class="pull-right btn-sm zero-padding wrapper">Max 20 Characters</span>
                                            <div ng-if="!error.title">
                                                <div class="hasError">Invite title is mandatory</div>
                                            </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 on-mobile-padding-left on-mobile-padding on-mobile-margin-top card">

                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 border-right-1-black hide-sm-down-block">
                                <div id="invite-dependent-form">
                                    <div class="make-center">
                                        <h3 class="boldfont zero-bottom-margin">Invite Leaders</h3>

                                        <div class="row form-group">
                                            <div class="col-md-3 col-lg-3 col-xs-12 col-sm-12 text-left">Send to</div>
                                            <div class="col-md-9 col-lg-9 col-xs-12 col-sm-12 on-mobile-padding">
                                                <div class="zero-margin chip-group">
                                                    <div ng-repeat="email in invite.categories[0].emails" class="chip">
                                                        {{email.mailId}}
                                                        <span class="closebtn cursor-pointer" ng-click='removeEmail(email,"leader")'>&times;</span>
                                                    </div>
                                                </div>
                                                <input type="text" name="leaderEmail" placeholder="example@mail.com" class="form-control" email-enter='emailValidation(leaderEmail,"leader")'
                                                    ng-blur='blurValidation(leaderEmail,"leader")' ng-class="{hasError:leaderEmailError}"
                                                    ng-model="leaderEmail">
                                                    <span class="helper-text">Press enter after typing the mailId to add under mailing list.</span>
                                                    <div ng-if="!error.categories[0].emailError">
                                                        <div class="hasError">Please add a valid emailId</div>
                                                    </div>
                                                    <div ng-if="leaderExist">
                                                        <div class="hasError">Email already added</div>
                                                    </div>
                                            </div>
                                        </div>

                                        <div class="row form-group">
                                            <div class="col-md-3 col-lg-3 col-xs-12 col-sm-12 text-left">Leadership Level</div>
                                            <div class="col-md-9 col-lg-9 col-xs-12 col-sm-12 on-mobile-padding">
                                                <select class="select form-control" ng-model="invite.categories[0].leaderLevel" required>
                                        <option value="1" ng-selected="selected">Level 1 - Team members</option>
                                        <option value="2">Level 2 - Aspiring leader</option>
                                        <option value="3">Level 3 - Team leader</option>
                                        <option value="4">Level 4 - Project manager</option>
                                        <option value="5">Level 5 - First-line manager</option>
                                        <option value="6">Level 6 - Leader of leaders*</option>
                                        <option value="7">Level 7 - Executive/senior leader*</option>
                                    </select>
                                            </div>
                                        </div>

                                        <div class="row form-group">
                                            <div class="col-md-3 col-lg-3 col-xs-12 col-sm-12 text-left">Subject</div>
                                            <div class="col-md-9 col-lg-9 col-xs-12 col-sm-12 on-mobile-padding">
                                                <input type="text" name="leaderSubject" placeholder="Subject" class="form-control" ng-model="invite.categories[0].subject">
                                                <div ng-if="!error.categories[0].subjectError">
                                                    <div class="hasError">Subject is mandatory</div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row form-group">
                                            <div class="col-md-3 col-lg-3 col-xs-12 col-sm-12 text-left">Message</div>
                                            <div class="col-md-9 col-lg-9 col-xs-12 col-sm-12 on-mobile-padding">
                                                <textarea placeholder="Message" class="text-area" rows="8" class="form-control" ng-model="invite.categories[0].message">
                                                 </textarea>
                                                <!--<div ng-bind-html="invite.categories[0].message" contenteditable="true" placeholder="Message" class="text-area-invite" class="form-control" ng-model="invite.categories[0].message">
                                                </div>-->
                                                <div ng-if="!error.categories[0].messageError">
                                                    <div class="hasError">Message is mandatory</div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <button type="button" class="btn btn-dark left-button align-left" ng-click="resetLeaderForm()"><i class="fa fa-refresh"></i> Reset</button>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6  hide-sm-down-block">
                                <div id="invite-dependent-form">
                                    <div class="make-center">
                                        <h3 class="boldfont zero-bottom-margin">Invite Followers</h3>

                                        <div class="row form-group">
                                            <div class="col-md-3 col-lg-3 col-xs-12 col-sm-12 text-left">Send to</div>
                                            <div class="col-md-9 col-lg-9 col-xs-12 col-sm-12 on-mobile-padding">
                                                <div class="zero-margin chip-group">
                                                    <div ng-repeat="email in invite.categories[1].emails" class="chip">
                                                        {{email.mailId}}
                                                        <span class="closebtn cursor-pointer" ng-click='removeEmail(email,"follower")'>&times;</span>
                                                    </div>
                                                </div>
                                                <input type="text" name="followerEmail" placeholder="example@mail.com" class="form-control" email-enter='emailValidation(followerEmail,"follower")'
                                                    ng-blur='blurValidation(followerEmail,"follower")' ng-class="{hasError:followerEmailError}"
                                                    ng-model="followerEmail" multiple>
                                                    <span class="helper-text">Press enter after typing the mailId to add under mailing list.</span>

                                                    <div ng-if="!error.categories[1].emailError">
                                                        <div class="hasError">Please add valid emailId</div>
                                                    </div>
                                                    <div ng-if="followerExist">
                                                        <div class="hasError">Email already added</div>
                                                    </div>
                                            </div>
                                        </div>

                                        <div class="row form-group">
                                            <div class="col-md-3 col-lg-3 col-xs-12 col-sm-12 text-left">Leadership Level</div>
                                            <div class="col-md-9 col-lg-9 col-xs-12 col-sm-12 on-mobile-padding">
                                                <select class="select form-control" ng-model="invite.categories[1].leaderLevel" required>
                                        <option value="1" ng-selected="selected">Level 1 - Team members</option>
                                        <option value="2">Level 2 - Aspiring leader</option>
                                        <option value="3">Level 3 - Team leader</option>
                                        <option value="4">Level 4 - Project manager</option>
                                        <option value="5">Level 5 - First-line manager</option>
                                        <option value="6">Level 6 - Leader of leaders*</option>
                                        <option value="7">Level 7 - Executive/senior leader*</option>
                                    </select>
                                            </div>
                                        </div>

                                        <div class="row form-group">
                                            <div class="col-md-3 col-lg-3 col-xs-12 col-sm-12 text-left">Subject</div>
                                            <div class="col-md-9 col-lg-9 col-xs-12 col-sm-12 on-mobile-padding">
                                                <input type="text" name="followerSubject" placeholder="Subject" class="form-control" ng-model="invite.categories[1].subject">
                                                <div ng-if="!error.categories[1].subjectError">
                                                    <div class="hasError">Subject is mandatory</div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row form-group">
                                            <div class="col-md-3 col-lg-3 col-xs-12 col-sm-12 text-left">Message</div>
                                            <div class="col-md-9 col-lg-9 col-xs-12 col-sm-12 on-mobile-padding">
                                                <textarea placeholder="Message" class="text-area" rows="8" class="form-control" ng-model="invite.categories[1].message">
                                                 </textarea>
                                                <!--<div ng-bind-html="invite.categories[1].message" contenteditable="true" placeholder="Message" class="text-area-invite" class="form-control" ng-model="invite.categories[1].message">
                                                </div>-->
                                                <div ng-if="!error.categories[1].messageError">
                                                    <div class="hasError">Message is mandatory</div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <button type="button" class="btn btn-dark left-button align-left" ng-click="resetFollowerForm()"><i class="fa fa-refresh"></i> Reset</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="hide-sm-up-block">
                                <div id="invite-dependent-form">
                                    <div class="make-center">
                                        <h3 class="boldfont zero-bottom-margin">Invite Leaders</h3>

                                        <div class="row form-group">
                                            <div class="col-md-3 col-lg-3 col-xs-12 col-sm-12 text-left">Send to</div>
                                            <div class="col-md-9 col-lg-9 col-xs-12 col-sm-12 on-mobile-padding">
                                                <div class="zero-margin chip-group">
                                                    <div ng-repeat="email in invite.categories[0].emails" class="chip">
                                                        {{email.mailId}}
                                                        <span class="closebtn cursor-pointer" ng-click='removeEmail(email,"leader")'>&times;</span>
                                                    </div>
                                                </div>
                                                <input type="text" name="leaderEmail" placeholder="example@mail.com" class="form-control" email-enter='emailValidation(leaderEmail,"leader")'
                                                    ng-blur='blurValidation(leaderEmail,"leader")' ng-class="{hasError:leaderEmailError}"
                                                    ng-model="leaderEmail">
                                                    <span class="helper-text">Press enter after typing the mailId to add under mailing list.</span>
                                                    <div ng-if="!error.categories[0].emailError">
                                                        <div class="hasError">Please add a valid emailId</div>
                                                    </div>
                                                    <div ng-if="leaderExist">
                                                        <div class="hasError">Email already added</div>
                                                    </div>
                                            </div>
                                        </div>

                                        <div class="row form-group">
                                            <div class="col-md-3 col-lg-3 col-xs-12 col-sm-12 text-left">Leadership Level</div>
                                            <div class="col-md-9 col-lg-9 col-xs-12 col-sm-12 on-mobile-padding">
                                                <select class="select form-control" ng-model="invite.categories[0].leaderLevel" required>
                                        <option value="1" ng-selected="selected">Level 1 - Team members</option>
                                        <option value="2">Level 2 - Aspiring leader</option>
                                        <option value="3">Level 3 - Team leader</option>
                                        <option value="4">Level 4 - Project manager</option>
                                        <option value="5">Level 5 - First-line manager</option>
                                        <option value="6">Level 6 - Leader of leaders*</option>
                                        <option value="7">Level 7 - Executive/senior leader*</option>
                                    </select>
                                            </div>
                                        </div>

                                        <div class="row form-group">
                                            <div class="col-md-3 col-lg-3 col-xs-12 col-sm-12 text-left">Subject</div>
                                            <div class="col-md-9 col-lg-9 col-xs-12 col-sm-12 on-mobile-padding">
                                                <input type="text" name="leaderSubject" placeholder="Subject" class="form-control" ng-model="invite.categories[0].subject">
                                                <div ng-if="!error.categories[0].subjectError">
                                                    <div class="hasError">Subject is mandatory</div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row form-group">
                                            <div class="col-md-3 col-lg-3 col-xs-12 col-sm-12 text-left">Message</div>
                                            <div class="col-md-9 col-lg-9 col-xs-12 col-sm-12 on-mobile-padding">
                                                <textarea placeholder="Message" class="text-area" rows="8" class="form-control" ng-model="invite.categories[0].message">
                                                 </textarea>
                                                <!--<div ng-bind-html="invite.categories[0].message" contenteditable="true" placeholder="Message" class="text-area-invite" class="form-control" ng-model="invite.categories[0].message">
                                                </div>-->
                                                <div ng-if="!error.categories[0].messageError">
                                                    <div class="hasError">Message is mandatory</div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <button type="button" class="btn btn-dark left-button align-left" ng-click="resetLeaderForm()"><i class="fa fa-refresh"></i> Reset</button>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            
                            <div class="hide-sm-up-block on-mobile-margin-top border-top-divider">
                                <div id="invite-dependent-form " class="on-mobile-margin-top">
                                    <div class="make-center">
                                        <h3 class="boldfont zero-bottom-margin">Invite Followers</h3>

                                        <div class="row form-group">
                                            <div class="col-md-3 col-lg-3 col-xs-12 col-sm-12 text-left">Send to</div>
                                            <div class="col-md-9 col-lg-9 col-xs-12 col-sm-12 on-mobile-padding">
                                                <div class="zero-margin chip-group">
                                                    <div ng-repeat="email in invite.categories[1].emails" class="chip">
                                                        {{email.mailId}}
                                                        <span class="closebtn cursor-pointer" ng-click='removeEmail(email,"follower")'>&times;</span>
                                                    </div>
                                                </div>
                                                <input type="text" name="followerEmail" placeholder="example@mail.com" class="form-control" email-enter='emailValidation(followerEmail,"follower")'
                                                    ng-blur='blurValidation(followerEmail,"follower")' ng-class="{hasError:followerEmailError}"
                                                    ng-model="followerEmail" multiple>
                                                    <span class="helper-text">Press enter after typing the mailId to add under mailing list.</span>

                                                    <div ng-if="!error.categories[1].emailError">
                                                        <div class="hasError">Please add valid emailId</div>
                                                    </div>
                                                    <div ng-if="followerExist">
                                                        <div class="hasError">Email already added</div>
                                                    </div>
                                            </div>
                                        </div>

                                        <div class="row form-group">
                                            <div class="col-md-3 col-lg-3 col-xs-12 col-sm-12 text-left">Leadership Level</div>
                                            <div class="col-md-9 col-lg-9 col-xs-12 col-sm-12 on-mobile-padding">
                                                <select class="select form-control" ng-model="invite.categories[1].leaderLevel" required>
                                        <option value="1" ng-selected="selected">Level 1 - Team members</option>
                                        <option value="2">Level 2 - Aspiring leader</option>
                                        <option value="3">Level 3 - Team leader</option>
                                        <option value="4">Level 4 - Project manager</option>
                                        <option value="5">Level 5 - First-line manager</option>
                                        <option value="6">Level 6 - Leader of leaders*</option>
                                        <option value="7">Level 7 - Executive/senior leader*</option>
                                    </select>
                                            </div>
                                        </div>

                                        <div class="row form-group">
                                            <div class="col-md-3 col-lg-3 col-xs-12 col-sm-12 text-left">Subject</div>
                                            <div class="col-md-9 col-lg-9 col-xs-12 col-sm-12 on-mobile-padding">
                                                <input type="text" name="followerSubject" placeholder="Subject" class="form-control" ng-model="invite.categories[1].subject">
                                                <div ng-if="!error.categories[1].subjectError">
                                                    <div class="hasError">Subject is mandatory</div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row form-group">
                                            <div class="col-md-3 col-lg-3 col-xs-12 col-sm-12 text-left">Message</div>
                                            <div class="col-md-9 col-lg-9 col-xs-12 col-sm-12 on-mobile-padding">
                                                <textarea placeholder="Message" class="text-area" rows="8" class="form-control" ng-model="invite.categories[1].message">
                                                 </textarea>
                                                <!--<div ng-bind-html="invite.categories[1].message" contenteditable="true" placeholder="Message" class="text-area-invite" class="form-control" ng-model="invite.categories[1].message">
                                                </div>-->
                                                <div ng-if="!error.categories[1].messageError">
                                                    <div class="hasError">Message is mandatory</div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <button type="button" class="btn btn-dark left-button align-left" ng-click="resetFollowerForm()"><i class="fa fa-refresh"></i> Reset</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</section>

<div class="modal fade" id="submitConfirmationModal" role="dialog">
    <div class="modal-dialog confirm-modal-dialog">
        <div class="modal-content confirm-modal">
            <div class="modal-header">
                <i class="fa fa-floppy-o icon-mob confirm-modal-header-icon"></i>
                <h4 class="modal-title fw-semibold confirm-modal-title">Submit ?</h4>
            </div>
            <center></center>
            <div class="row">
                <h5 class="padding-0-20">This action will submit the Invite. Are you sure?</h5>
            </div>
            <div class="modal-footer">
                <button class="btn btn-dark" ng-click="noSubmit()">Cancel</button>
                <button class="btn btn-primary" ng-click="yesSubmit()">Submit!</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="discardConfirmationModal" role="dialog">
    <div class="modal-dialog confirm-modal-dialog">
        <div class="modal-content confirm-modal">
            <div class="modal-header">
                <i class="fa fa-floppy-o icon-mob confirm-modal-header-icon"></i>
                <h4 class="modal-title fw-semibold confirm-modal-title">Discard ?</h4>
            </div>
            <center></center>
            <div class="row">
                <h5 class="padding-0-20">This action will discard your changes. Are you sure?</h5>
            </div>
            <div class="modal-footer">
                <button class="btn btn-dark" ng-click="noDiscard()">Cancel</button>
                <button class="btn btn-danger" ng-click="yesDiscard()">Discard!</button>
            </div>
        </div>
    </div>
</div>