<div>
   <div ng-include="lt.modules/navBar/navbar.html"></div>
   <section class="bg-white section-padding-adjustment brandingSection ">
    <div class="overlay-white"></div>
     <div class="container">
   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 on-mobile-padding-left on-mobile-padding on-mobile-margin-top" style="min-height:450px;">
      <div>
         <div class="full-page-margin">
            <div class="make-center">
               <div class="row button-spacing padding-bottom-20">
                  <div class="btn btn-primary left-button align-right button-form-border margin-right-15" ng-click="refresh()"><i class="fa fa-refresh"></i> Refresh </div>
                  <div class="btn btn-dark left-button align-right button-form-border margin-right-15" ng-click="createInvite()"><i class="fa fa-plus-square"></i> Create Invite </div>
               </div>
               <ul class="nav nav-tabs">
                  <li class="active"><a id="reportTab" ng-click="report()" data-toggle="tab" href="#report">Analysis Report</a>
                  </li>
                  <li><a id="responsesTab" ng-click="responses()" data-toggle="tab" href="#responses">Collect Responses</a>
                  </li>
               </ul>
               <!-- Analysis report pane -->
               <div class="tab-content">
                  <div id="report" class="tab-pane fade in active">
                     <div class="row margin-left-0">

                        <div class="col-lg-8 col-md-8 col-xs-12 col-sm-12 card-100" ng-show="companyName != 'others'">
                           <center class="row">
                              Choose the invite to show analysis report
                           </center>
                           <select class="select form-control" ng-model="selectedInvite" ng-change="getFeedbackByInvite(selectedInvite)" required>
                              <option ng-repeat="invite in inviteList" value="{{invite.inviteId}}" ng-selected="selectedInvite == invite.inviteId">{{invite.title}}</option>
                           </select>
                        </div>
                        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 card-100" ng-show="companyName == 'others'">
                           <center class="row">
                              Choose the invite to show analysis report
                           </center>
                           <select class="select form-control" ng-model="selectedInvite" ng-change="getFeedbackByInvite(selectedInvite)" required>
                              <option ng-repeat="invite in inviteList" value="{{invite.inviteId}}" ng-selected="selectedInvite == invite.inviteId">{{invite.title}}</option>
                           </select>
                        </div>
                        <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12 on-mobile-padding-left on-mobile-padding">
                           <div class="card-100" ng-show="companyName != 'others'">
                              <center class="row">
                                 Display option
                              </center>
                              <select class="select form-control" ng-model="displayOption" required>
                                 <option value="analysis" ng-selected="displayOption == 'analysis'">Elements of Leadership</option>
                                 <option value="company" ng-selected="displayOption == 'company'">Company framework</option>
                              </select> 
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 row" ng-if="showNoAnalyis">
                        <div class="row">
                           Oops! It looks like no one has submitted feedback for your invite to do analysis.
                        </div>
                     </div>
                     <!-- Analysis report display -->
                     <div class="margin-left-0 margin-right-0 row" ng-if="(!showNoAnalyis) && (selectedReport!=null)">
                        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 card-100">
                           <div>
                              <div class="font-size-25"><strong>{{selectedReport.title}}</strong></div>
                              <div><strong>Last Modified Date : </strong>{{selectedReport.lastModifiedDate}}</div>
                           </div>
                        </div>
                     </div>
                     <div ng-if="(!showNoAnalyis) && (displayOption == 'analysis')">
                        <div class="row margin-left-0">
                           <div class="col-lg-8 col-md-8 col-xs-12 col-sm-12 card">
                              <div class="card-title">
                                 <h3><strong>Elements of Leadership</strong></h3>
                              </div>
                              <div>
                                 <p>This section reports how you, your leader(s), and your
                                    followers rated you relative to the expectations
                                    of your role. Each aspect of leadership includes
                                    from 7 to 25 behaviors; the graph shows the minimum,
                                    maximum and average rated behaviors for that aspect.
                                    The six (6) aspects are ranked from highest to lowest
                                    average rating (based on all respondents).
                                 </p>
                              </div>
                              <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                                 <div class="row">
                                    <div class="col-md-1">Rank</div>
                                    <div class="col-md-4 text-left">Elements</div>
                                    <div class="col-md-7 buy-buttom-custom zero-padding">
                                       <div class="col-md-4 col-sm-4 col-xs-4 font-11 text-left zero-padding ">Below
                                          <br>Expectation
                                       </div>
                                       <div class="col-md-4 col-xs-4 col-sm-4 font-11 text-center">Meet
                                          <br> Expectation
                                       </div>
                                       <div class="col-md-4 col-xs-4 col-sm-4 font-11 text-right zero-padding">Above
                                          <br> Expectation
                                       </div>
                                    </div>
                                 </div>
                                 <div class="row" ng-repeat="summary in assessment.result.assessmentSummary">
                                    <div class="col-md-1 card-title " ng-style="{'color':summary.colorCode}">
                                       {{$index+1}}
                                    </div>
                                    <div class="col-md-4 text-left">
                                       <span class="font-weight-700" ng-style="{'color':summary.colorCode}">{{summary.role}}</span>
                                       <br/>
                                       <ul class="list-type-none no-left-padding">
                                          <li ng-if="category !== null" ng-repeat="category in summary.categoryDetail track by $index">{{category.category}}</li>
                                       </ul>
                                    </div>
                                    <div class="col-md-7 section-min">
                                       <!--<div class="line bar-blue-1" ></div>-->
                                       <ul class="list-type-none no-left-padding">
                                          <li ng-if="category !== null" ng-repeat="category in summary.categoryDetail track by $index">
                                             <input disabled type="range" class="rangebar" ng-style="{'background':category.colorStrip}" value="{{category.avg}}" max="2"
                                                min="-2">
                                          </li>
                                       </ul>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12 on-mobile-padding-left on-mobile-padding">
                              <div class="card">
                                 <div class="card-title">
                                    <div class="make-center">
                                       <div class="font-size-25 margin-3"><strong>Specific Suggestions</strong></div>
                                    </div>
                                 </div>
                                 <!-- Keeps, Starts and Stops -->
                                 <div>
                                       <!-- Keep -->
                                    
                                       <div class="col-md-12 top-bar z-index-1">
                                             <div class="col-md-4 cursor-pointer top-bar-chip"
                                                ng-click="showKeep()">Keep</div>
                                       </div>
                                       <div ng-if="(assessment.result.keeps != null && assessment.result.keeps.length != 0)">
                                       <div id="CarouselKeep" class=" carousel slide carousel-fade row" data-ride="carousel">
                                          <!-- Indicators -->
                                          <ol class="carousel-indicators section-min">
                                                <li data-target="#CarouselKeep" ng-repeat="keep in assessment.result.keeps track by $index" data-slide-to="{{$index}}" class="{{$index == 0 ? 'active':''}}"></li>
                                          </ol>
                                          <!-- Wrapper for slides -->
                                          <div class="carousel-inner" role="listbox">
                                             <div ng-repeat="keep in assessment.result.keeps track by $index" class="item {{$index == 0 ? 'active':''}}">
                                                <div class="slide-card fadeInDown">{{keep}}</div>
                                             </div>
                                          </div>
                                          <!-- Left and right controls -->
                                          <a class="left carousel-control" ng-click="onPrevKeep()" href="#myCarousel" role="button" data-slide="prev">
                                             <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                             <span class="sr-only">Previous</span>
                                          </a>
                                          <a class="right carousel-control" ng-click="onNextKeep()" href="#myCarousel" role="button" data-slide="next">
                                             <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                             <span class="sr-only">Next</span>
                                          </a>
                                       </div>
                                    </div>
                                    <div class="margin-3" ng-if="(assessment.result.keeps == null || assessment.result.keeps.length == 0)">
                                          <strong>Not Available</strong>
                                    </div>

                                    <!-- Start -->
                                    
                                       <div class="col-md-12 top-bar z-index-1 text-center">
                                             <div class="col-md-4 cursor-pointer top-bar-chip"
                                                ng-click="showKeep()">Start</div>
                                       </div>
                                       <div ng-if="(assessment.result.starts != null && assessment.result.starts.length != 0)">
                                          <div id="CarouselStart" class="carousel slide carousel-fade row" data-ride="carousel">
                                          <ol class="carousel-indicators section-min">
                                                <li data-target="#CarouselStart" ng-repeat="start in assessment.result.starts track by $index" data-slide-to="{{$index}}" class="{{$index == 0 ? 'active':''}}"></li>
                                          </ol>
                                          <!-- Wrapper for slides -->
                                          <div class="carousel-inner" role="listbox">
                                                <div ng-repeat="start in assessment.result.starts track by $index" class="item {{$index == 0 ? 'active':''}}">
                                                <div class="slide-card fadeInDown">{{start}}
                                                </div>
                                                </div>
                                          </div>
                                          <!-- Left and right controls -->
                                          <a class="left carousel-control" ng-click="onPrevStart()" href="#myCarousel" role="button" data-slide="prev">
                                          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                          <span class="sr-only">Previous</span>
                                          </a>
                                          <a class="right carousel-control" ng-click="onNextStart()" href="#myCarousel" role="button" data-slide="next">
                                          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                          <span class="sr-only">Next</span>
                                          </a>
                                          </div>
                                    </div>
                                    <div class="margin-3" ng-if="(assessment.result.starts == null || assessment.result.starts.length == 0)">
                                          <strong>Not Available</strong>
                                    </div>

                                    <!-- Stop -->
                                    
                                     <div class="col-md-12 top-bar z-index-1">
                                             <div class="col-md-4 cursor-pointer top-bar-chip"
                                                ng-click="showKeep()">Stop</div>
                                       </div>
                                       <div ng-if="(assessment.result.stops != null && assessment.result.stops.length != 0)">
                                    <div id="CarouselStop" class="carousel slide carousel-fade row" data-ride="carousel">
                                       <ol class="carousel-indicators section-min">
                                          <li data-target="#CarouselStop" ng-repeat="stop in assessment.result.stops track by $index" data-slide-to="{{$index}}" class="{{$index == 0 ? 'active':''}}"></li>
                                       </ol>
                                       <!-- Wrapper for slides -->
                                       <div class="carousel-inner" role="listbox">
                                          <div ng-repeat="stop in assessment.result.stops track by $index" class="item {{$index == 0 ? 'active':''}}">
                                             <div class="slide-card fadeInDown">{{stop}}
                                             </div>
                                          </div>
                                       </div>
                                       <!-- Left and right controls -->
                                       <a class="left carousel-control" ng-click="onPrevStop()" href="#myCarousel" role="button" data-slide="prev">
                                       <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                       <span class="sr-only">Previous</span>
                                       </a>
                                       <a class="right carousel-control" ng-click="onNextStop()" href="#myCarousel" role="button" data-slide="next">
                                       <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                       <span class="sr-only">Next</span>
                                       </a>
                                    </div>
                                    </div>
                                    <div class="margin-3" ng-if="(assessment.result.stops == null || assessment.result.stops.length == 0)">
                                          <strong>Not Available</strong>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <!-- Behaviour rates -->
                        <!-- Much better than expected -->
                        <div class="card-title text-left section-padding-adjustment">
                           <h3 class="zero-margin cursor-hand" ng-click="toggleAccordion('muchBetter')">
                                 <i ng-if="!muchBetter" class="fa fa-plus-circle" aria-hidden="true"></i>
                                 <i ng-if="muchBetter" class="fa fa-minus-circle" aria-hidden="true"></i>
                                 <strong>Behavior Rates - Much better than expected</strong>
                           </h3>
                        </div>
                        <div ng-if="muchBetter" class="row no-pad-top margin-left-0">
                           <div class="col-lg-12 col-md-12 card-100">
                              <div class="col-lg-4 col-md-4 ">
                                 <div class="sub-title text-center">
                                    <h4 class="zero-margin"><strong>Self</strong></h4>
                                 </div>
                                 <div ng-if="assessment.result.behaviorRatesSelf != null" class="text-left row">
                                    <div ng-if="assessment.result.behaviorRatesSelf.muchBetter != null">
                                       <ul class="font-12 ">
                                          <li ng-repeat="item in assessment.result.behaviorRatesSelf.muchBetter">{{item}}</li>
                                       </ul>
                                    </div>
                                 </div>
                                 <center ng-if="assessment.result.behaviorRatesSelf == null" class="row">
                                    Not Available
                                 </center>
                              </div>
                              <div class="col-lg-4 col-md-4">
                                 <div class="sub-title text-center">
                                    <h4 class="zero-margin"><strong>Follower(s)</strong></h4>
                                 </div>
                                 <div ng-if="assessment.result.behaviorRatesFollowers != null" class="row text-left">
                                    <div ng-if="assessment.result.behaviorRatesFollowers.muchBetter != null">
                                       <ul class="font-12 ">
                                          <li ng-repeat="item in assessment.result.behaviorRatesFollowers.muchBetter">{{item}}</li>
                                       </ul>
                                    </div>
                                 </div>
                                 <center ng-if="assessment.result.behaviorRatesFollowers == null" class="row">
                                    Not Available
                                 </center>
                              </div>
                              <div class="col-lg-4 col-md-4 ">
                                 <div class="sub-title text-center">
                                    <h4 class="zero-margin"><strong>Leader(s)</strong></h4>
                                 </div>
                                 <div ng-if="assessment.result.behaviorRatesLeader != null" class="row text-left">
                                    <div ng-if="assessment.result.behaviorRatesLeader.muchBetter != null">
                                       <ul class="font-12">
                                          <li ng-repeat="item in assessment.result.behaviorRatesLeader.muchBetter">{{item}}</li>
                                       </ul>
                                    </div>
                                 </div>
                                 <center ng-if="assessment.result.behaviorRatesLeader == null" class="row">
                                    Not Available
                                 </center>
                              </div>
                           </div>
                        </div>
                        <!-- Much better than expected -->
                        <!-- Better than expected -->
                        <div class="card-title text-left section-padding-adjustment">
                           <h3 class="zero-margin cursor-hand" ng-click="toggleAccordion('better')">
                                 <i ng-if="!better" class="fa fa-plus-circle" aria-hidden="true"></i>
                                 <i ng-if="better" class="fa fa-minus-circle" aria-hidden="true"></i>
                                 <strong>Behavior Rates - Better than expected</strong>
                           </h3>
                        </div>
                        <div ng-if="better" class="row no-pad-top margin-left-0">
                           <div class="col-lg-12 col-md-12 card-100">
                              <div class="col-lg-4 col-md-4 ">
                                 <div class="sub-title text-center">
                                    <h4 class="zero-margin"><strong>Self</strong></h4>
                                 </div>
                                 <div ng-if="assessment.result.behaviorRatesSelf != null" class="text-left row">
                                    <div ng-if="assessment.result.behaviorRatesSelf.better != null">
                                       <ul class="font-12 ">
                                          <li ng-repeat="item in assessment.result.behaviorRatesSelf.better">{{item}}</li>
                                       </ul>
                                    </div>
                                 </div>
                                 <center ng-if="assessment.result.behaviorRatesSelf == null" class="row">
                                    Not Available
                                 </center>
                              </div>
                              <div class="col-lg-4 col-md-4">
                                 <div class="sub-title text-center">
                                    <h4 class="zero-margin"><strong>Follower(s)</strong></h4>
                                 </div>
                                 <div ng-if="assessment.result.behaviorRatesFollowers != null" class="row text-left">
                                    <div ng-if="assessment.result.behaviorRatesFollowers.better != null">
                                       <ul class="font-12 ">
                                          <li ng-repeat="item in assessment.result.behaviorRatesFollowers.better">{{item}}</li>
                                       </ul>
                                    </div>
                                 </div>
                                 <center ng-if="assessment.result.behaviorRatesFollowers == null" class="row">
                                    Not Available
                                 </center>
                              </div>
                              <div class="col-lg-4 col-md-4 ">
                                 <div class="sub-title text-center">
                                    <h4 class="zero-margin"><strong>Leader(s)</strong></h4>
                                 </div>
                                 <div ng-if="assessment.result.behaviorRatesLeader != null" class="row text-left">
                                    <div ng-if="assessment.result.behaviorRatesLeader.better != null">
                                       <ul class="font-12">
                                          <li ng-repeat="item in assessment.result.behaviorRatesLeader.better">{{item}}</li>
                                       </ul>
                                    </div>
                                 </div>
                                 <center ng-if="assessment.result.behaviorRatesLeader == null" class="row">
                                    Not Available
                                 </center>
                              </div>
                           </div>
                        </div>
                        <!-- better than expected -->
                        <!-- As expected -->
                        <div class="card-title text-left section-padding-adjustment">
                           <h3 class="zero-margin cursor-hand" ng-click="toggleAccordion('asExpected')">
                                 <i ng-if="!asExpected" class="fa fa-plus-circle" aria-hidden="true"></i>
                                 <i ng-if="asExpected" class="fa fa-minus-circle" aria-hidden="true"></i>
                                 <strong>Behavior Rates - As expected</strong>
                           </h3>
                        </div>
                        <div ng-if="asExpected" class="row no-pad-top margin-left-0">
                           <div class="col-lg-12 col-md-12 card-100">
                              <div class="col-lg-4 col-md-4 ">
                                 <div class="sub-title text-center">
                                    <h4 class="zero-margin"><strong>Self</strong></h4>
                                 </div>
                                 <div ng-if="assessment.result.behaviorRatesSelf != null" class="text-left row">
                                    <div ng-if="assessment.result.behaviorRatesSelf.asExpected != null">
                                       <ul class="font-12 ">
                                          <li ng-repeat="item in assessment.result.behaviorRatesSelf.asExpected">{{item}}</li>
                                       </ul>
                                    </div>
                                 </div>
                                 <center ng-if="assessment.result.behaviorRatesSelf == null" class="row">
                                    Not Available
                                 </center>
                              </div>
                              <div class="col-lg-4 col-md-4">
                                 <div class="sub-title text-center">
                                    <h4 class="zero-margin"><strong>Follower(s)</strong></h4>
                                 </div>
                                 <div ng-if="assessment.result.behaviorRatesFollowers != null" class="row text-left">
                                    <div ng-if="assessment.result.behaviorRatesFollowers.asExpected != null">
                                       <ul class="font-12 ">
                                          <li ng-repeat="item in assessment.result.behaviorRatesFollowers.asExpected">{{item}}</li>
                                       </ul>
                                    </div>
                                 </div>
                                 <center ng-if="assessment.result.behaviorRatesFollowers == null" class="row">
                                    Not Available
                                 </center>
                              </div>
                              <div class="col-lg-4 col-md-4 ">
                                 <div class="sub-title text-center">
                                    <h4 class="zero-margin"><strong>Leader(s)</strong></h4>
                                 </div>
                                 <div ng-if="assessment.result.behaviorRatesLeader != null" class="row text-left">
                                    <div ng-if="assessment.result.behaviorRatesLeader.asExpected != null">
                                       <ul class="font-12">
                                          <li ng-repeat="item in assessment.result.behaviorRatesLeader.asExpected">{{item}}</li>
                                       </ul>
                                    </div>
                                 </div>
                                 <center ng-if="assessment.result.behaviorRatesLeader == null" class="row">
                                    Not Available
                                 </center>
                              </div>
                           </div>
                        </div>
                        <!-- As expected -->
                        <!-- Less than expected -->
                        <div class="card-title text-left section-padding-adjustment">
                           <h3 class="zero-margin cursor-hand" ng-click="toggleAccordion('less')">
                                 <i ng-if="!less" class="fa fa-plus-circle" aria-hidden="true"></i>
                                 <i ng-if="less" class="fa fa-minus-circle" aria-hidden="true"></i>
                                 <strong>Behavior Rates - Less than expected</strong>
                           </h3>
                        </div>
                        <div ng-if="less" class="row no-pad-top margin-left-0">
                           <div class="col-lg-12 col-md-12 card-100">
                              <div class="col-lg-4 col-md-4 ">
                                 <div class="sub-title text-center">
                                    <h4 class="zero-margin"><strong>Self</strong></h4>
                                 </div>
                                 <div ng-if="assessment.result.behaviorRatesSelf != null" class="text-left row">
                                    <div ng-if="assessment.result.behaviorRatesSelf.less != null">
                                       <ul class="font-12 ">
                                          <li ng-repeat="item in assessment.result.behaviorRatesSelf.less">{{item}}</li>
                                       </ul>
                                    </div>
                                 </div>
                                 <center ng-if="assessment.result.behaviorRatesSelf == null" class="row">
                                    Not Available
                                 </center>
                              </div>
                              <div class="col-lg-4 col-md-4">
                                 <div class="sub-title text-center">
                                    <h4 class="zero-margin"><strong>Follower(s)</strong></h4>
                                 </div>
                                 <div ng-if="assessment.result.behaviorRatesFollowers != null" class="row text-left">
                                    <div ng-if="assessment.result.behaviorRatesFollowers.less != null">
                                       <ul class="font-12 ">
                                          <li ng-repeat="item in assessment.result.behaviorRatesFollowers.less">{{item}}</li>
                                       </ul>
                                    </div>
                                 </div>
                                 <center ng-if="assessment.result.behaviorRatesFollowers == null" class="row">
                                    Not Available
                                 </center>
                              </div>
                              <div class="col-lg-4 col-md-4 ">
                                 <div class="sub-title text-center">
                                    <h4 class="zero-margin"><strong>Leader(s)</strong></h4>
                                 </div>
                                 <div ng-if="assessment.result.behaviorRatesLeader != null" class="row text-left">
                                    <div ng-if="assessment.result.behaviorRatesLeader.less != null">
                                       <ul class="font-12">
                                          <li ng-repeat="item in assessment.result.behaviorRatesLeader.less">{{item}}</li>
                                       </ul>
                                    </div>
                                 </div>
                                 <center ng-if="assessment.result.behaviorRatesLeader == null" class="row">
                                    Not Available
                                 </center>
                              </div>
                           </div>
                        </div>
                        <!-- Less than expected -->
                        <!-- Much less than expected -->
                        <div class="card-title text-left section-padding-adjustment">
                           <h3 class="zero-margin cursor-hand" ng-click="toggleAccordion('muchLess')">
                                 <i ng-if="!muchLess" class="fa fa-plus-circle" aria-hidden="true"></i>
                                 <i ng-if="muchLess" class="fa fa-minus-circle" aria-hidden="true"></i>
                                 <strong>Behavior Rates - Much less than expected</strong>
                           </h3>
                        </div>
                        <div ng-if="muchLess" class="row no-pad-top margin-left-0">
                           <div class="col-lg-12 col-md-12 card-100">
                              <div class="col-lg-4 col-md-4 ">
                                 <div class="sub-title text-center">
                                    <h4 class="zero-margin"><strong>Self</strong></h4>
                                 </div>
                                 <div ng-if="assessment.result.behaviorRatesSelf != null" class="text-left row">
                                    <div ng-if="assessment.result.behaviorRatesSelf.muchLess != null">
                                       <ul class="font-12 ">
                                          <li ng-repeat="item in assessment.result.behaviorRatesSelf.muchLess">{{item}}</li>
                                       </ul>
                                    </div>
                                 </div>
                                 <center ng-if="assessment.result.behaviorRatesSelf == null" class="row">
                                    Not Available
                                 </center>
                              </div>
                              <div class="col-lg-4 col-md-4">
                                 <div class="sub-title text-center">
                                    <h4 class="zero-margin"><strong>Follower(s)</strong></h4>
                                 </div>
                                 <div ng-if="assessment.result.behaviorRatesFollowers != null" class="row text-left">
                                    <div ng-if="assessment.result.behaviorRatesFollowers.muchLess != null">
                                       <ul class="font-12 ">
                                          <li ng-repeat="item in assessment.result.behaviorRatesFollowers.muchLess">{{item}}</li>
                                       </ul>
                                    </div>
                                 </div>
                                 <center ng-if="assessment.result.behaviorRatesFollowers == null" class="row">
                                    Not Available
                                 </center>
                              </div>
                              <div class="col-lg-4 col-md-4 ">
                                 <div class="sub-title text-center">
                                    <h4 class="zero-margin"><strong>Leader(s)</strong></h4>
                                 </div>
                                 <div ng-if="assessment.result.behaviorRatesLeader != null" class="row text-left">
                                    <div ng-if="assessment.result.behaviorRatesLeader.muchLess != null">
                                       <ul class="font-12">
                                          <li ng-repeat="item in assessment.result.behaviorRatesLeader.muchLess">{{item}}</li>
                                       </ul>
                                    </div>
                                 </div>
                                 <center ng-if="assessment.result.behaviorRatesLeader == null" class="row">
                                    Not Available
                                 </center>
                              </div>
                           </div>
                        </div>
                        <!-- Much less than expected -->
                        <!-- Behavior rates ends -->
                        <!-- Trust Composite -->
                        <div class="card-title text-left section-padding-adjustment ">
                           <h3 class="zero-margin cursor-hand" ng-click="toggleAccordion('trust')">
                                 <i ng-if="!trust" class="fa fa-plus-circle" aria-hidden="true"></i>
                                 <i ng-if="trust" class="fa fa-minus-circle" aria-hidden="true"></i>
                                 <strong>TrustWorks&#8482; Composites</strong>
                           </h3>
                        </div>
                        <div ng-if="trust" class="row no-pad-top margin-left-0">
                           <div class="col-md-12 col-lg-12 card-100">
                              <div class="col-lg-4 col-md-4">
                                 <div class="sub-title text-center">
                                    <h4 class="zero-margin"><strong>Self</strong></h4>
                                 </div>
                                 <div ng-if="assessment.result.trustComposite.self != null" class="row text-center">
                                    {{assessment.result.trustComposite.self}}
                                 </div>
                                 <center ng-if="assessment.result.trustComposite.self == null" class="row">
                                    Not Available
                                 </center>
                              </div>
                              <div class="col-lg-4 col-md-4">
                                 <div class="sub-title text-center ">
                                    <h4 class="zero-margin"><strong> Follower(s)</strong></h4>
                                 </div>
                                 <div ng-if="assessment.result.trustComposite.followers != null" class="row text-center">
                                    {{assessment.result.trustComposite.followers}}
                                 </div>
                                 <center ng-if="assessment.result.trustComposite.followers == null" class="row">
                                    Not Available
                                 </center>
                              </div>
                              <div class="col-lg-4 col-md-4">
                                 <div class="sub-title  text-center">
                                    <h4 class="zero-margin"><strong>Leader(s)</strong></h4>
                                 </div>
                                 <div ng-if="assessment.result.trustComposite.leader != null" class="row text-center">
                                    {{assessment.result.trustComposite.leader}}
                                 </div>
                                 <center ng-if="assessment.result.trustComposite.leader == null" class="row">
                                    Not Available
                                 </center>
                              </div>
                           </div>
                        </div>
                        <!-- Trust composite ends -->
                        <!-- Communication composite -->
                        <div class="card-title text-left section-padding-adjustment ">
                           <h3 class="zero-margin cursor-hand" ng-click="toggleAccordion('communication')">
                                 <i ng-if="!communication" class="fa fa-plus-circle" aria-hidden="true"></i>
                                 <i ng-if="communication" class="fa fa-minus-circle" aria-hidden="true"></i>
                                 <strong>Communication Composites</strong>
                           </h3>
                        </div>
                        <div ng-if="communication" class="row no-pad-top margin-left-0">
                           <div class="">
                              <div class="col-md-12 col-lg-12 card-100">
                                 <div class="col-lg-4 col-md-4">
                                    <div class="sub-title text-center">
                                       <h4 class="zero-margin"><strong>Self</strong></h4>
                                    </div>
                                    <div ng-if="assessment.result.communicationComposite.self != null" class="row text-left">
                                       <div class="sub-title text-left">
                                          <h5 class="zero-margin"><strong>High-Rated Behavior:</strong></h5>
                                       </div>
                                       <div class="font-12 text-center">{{assessment.result.communicationComposite.self.highRated}}</div>
                                       <div class="sub-title text-left">
                                          <h5 class="zero-margin"><strong>Low-Rated Behavior:</strong></h5>
                                       </div>
                                       <div class="font-12 text-center">{{assessment.result.communicationComposite.self.lowRated}}</div>
                                    </div>
                                    <center ng-if="assessment.result.communicationComposite.self == null" class="row">
                                       Not Available
                                    </center>
                                 </div>
                                 <div class="col-lg-4 col-md-4">
                                    <div class="sub-title text-center ">
                                       <h4 class="zero-margin"><strong> Follower(s)</strong></h4>
                                    </div>
                                    <div ng-if="assessment.result.communicationComposite.followers != null" class="row text-left">
                                       <div class="sub-title text-left">
                                          <h5 class="zero-margin"><strong>High-Rated Behavior:</strong></h5>
                                       </div>
                                       <div class="font-12 text-center">{{assessment.result.communicationComposite.followers.highRated}}</div>
                                       <div class="sub-title text-left">
                                          <h5 class="zero-margin"><strong>Low-Rated Behavior:</strong></h5>
                                       </div>
                                       <div class="font-12 text-center">{{assessment.result.communicationComposite.followers.lowRated}}</div>
                                    </div>
                                    <center ng-if="assessment.result.communicationComposite.followers == null" class="row">
                                       Not Available
                                    </center>
                                 </div>
                                 <div class="col-lg-4 col-md-4">
                                    <div class="sub-title  text-center">
                                       <h4 class="zero-margin"><strong>Leader(s)</strong></h4>
                                    </div>
                                    <div ng-if="assessment.result.communicationComposite.leader != null" class="row text-left">
                                       <div class="sub-title text-left">
                                          <h5 class="zero-margin"><strong>High-Rated Behavior:</strong></h5>
                                       </div>
                                       <div class="font-12 text-center">{{assessment.result.communicationComposite.leader.highRated}}</div>
                                       <div class="text-left">
                                          <h5 class="zero-margin"><strong>Low-Rated Behavior:</strong></h5>
                                       </div>
                                       <div class="font-12 text-center">{{assessment.result.communicationComposite.leader.lowRated}}</div>
                                    </div>
                                    <center ng-if="assessment.result.communicationComposite.leader == null" class="row">
                                       Not Available
                                    </center>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <!-- Communication composite ends -->
                     </div>
                     <!-- Analysis Report display ends -->

                     <!-- Company based framework display -->
                     <div ng-if="(!showNoAnalyis) && (displayOption == 'company')">
                        <div ng-if="assessment.result.companyAssessmentSummary != null" class="col-lg-12 col-md-12 col-xs-12 col-sm-12 card">
                           <div class="card-title">
                              <h3><strong>Company framework</strong></h3>
                           </div>
                           <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                              <div class="row">
                                 <div class="col-md-1">Rank</div>
                                 <div class="col-md-4 text-left">Elements</div>
                                 <div class="col-md-7 buy-buttom-custom zero-padding">
                                    <div class="col-md-4 col-sm-4 col-xs-4 font-11 text-left zero-padding ">Below
                                       <br>Expectation
                                    </div>
                                    <div class="col-md-4 col-xs-4 col-sm-4 font-11 text-center">Meet
                                       <br> Expectation
                                    </div>
                                    <div class="col-md-4 col-xs-4 col-sm-4 font-11 text-right zero-padding">Above
                                       <br> Expectation
                                    </div>
                                 </div>
                              </div>
                              <div class="row" ng-repeat="summary in assessment.result.companyAssessmentSummary">
                                 <div class="col-md-1 card-title " ng-style="{'color':summary.colorCode}">
                                    {{$index+1}}
                                 </div>
                                 <div class="col-md-4 text-left">
                                    <span class="font-weight-700" ng-style="{'color':summary.colorCode}">{{summary.role}}</span>
                                    <br/>
                                    <ul class="list-type-none no-left-padding">
                                       <li ng-if="category !== null" ng-repeat="category in summary.categoryDetail track by $index">{{category.category}}</li>
                                    </ul>
                                 </div>
                                 <div class="col-md-7 section-min">
                                    <!--<div class="line bar-blue-1" ></div>-->
                                    <ul class="list-type-none no-left-padding">
                                       <li ng-if="category !== null" ng-repeat="category in summary.categoryDetail track by $index">
                                          <input disabled type="range" class="rangebar" ng-style="{'background':category.colorStrip}" value="{{category.avg}}" max="2"
                                             min="-2">
                                       </li>
                                    </ul>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <!-- Company based framework display ends -->
                  </div>
                  <!-- Analysis report pane ends -->

                  <!-- Collect responses pane -->
                  <div id="responses" class="tab-pane fade">
                     <div ng-if="invites.length == 0" class="make-center">
                        <div class="row">
                           No invites to show ,please click create invite to send invites for feedback .
                        </div>
                     </div>
                     <div ng-if="invites.length > 0" class="make-center">
                        <!--<div class="form-border">-->
                        <div class=" flex-container hide-sm-down">
                           <div class="flex-column-1 heading-lt">No</div>
                           <div class="flex-column-2 heading-lt">Title</div>
                           <div class="flex-column-2 heading-lt">Category</div>
                           <div class="flex-column-1 heading-lt">Status</div>
                           <div class="flex-column-1 heading-lt">Recepients</div>
                           <div class="flex-column-2 heading-lt">Last Modified Date</div>
                        </div>
                        <div class="flex-container card-row hide-sm-down cursor-pointer" ng-click="showResponseItemDetails(invite)" dir-paginate="invite in invites | itemsPerPage: pageSize"
                           current-page="currentPage">
                           <div class="flex-column-1">{{(pageSize*(currentPage-1))+$index+1}}</div>
                           <div class="flex-column-2">{{invite.title}}</div>
                           <div class="flex-column-2">{{invite.categoryList}}</div>
                           <div class="flex-column-1 {{invite.status == 'OPEN' ? 'success-status':'failed-status'}}">{{invite.status}}</div>
                           <div class="flex-column-1">{{invite.emailCount}}</div>
                           <div class="flex-column-2">{{invite.lastModifiedDate}}</div>
                        </div>
                        <dir-pagination-controls boundary-links="true"></dir-pagination-controls>
                        <!--</div>-->
                        <!-- Collect response card view for small devices-->
                        <div class="card-row hide-sm-up" dir-paginate="invite in invites | itemsPerPage: pageSize" current-page="currentPage" ng-click="showResponseItemDetails(invite)">
                           <div class="card-content">
                              <div class="card-title">{{invite.subject}}</div>
                              <div class="card-description">
                                 Date Modified: {{invite.lastModifiedDate}}
                                 <br/> Response :{{invite.emails.length}}
                                 <br/> Category : {{invite.category}}
                                 <div class="{{invite.status == 'OPEN' ? 'success-status':'failed-status'}}">Status : {{invite.status}}</div>
                              </div>
                           </div>
                        </div>
                        <!-- Collect response card view for small devices ends-->
                     </div>
                  </div>
                  <!-- Collect responses pane ends -->
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
</section>
</div>
