<div>
    <div ng-include="lt.modules/navBar/navbar.html"></div>
    <section class="bg-white section-padding-adjustment brandingSection ">
    <div class="overlay-white"></div>
     <div class="container">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 on-mobile-padding-left on-mobile-padding on-mobile-margin-top" style="min-height:450px;">
        <div id="chart-page">
            <div class="margin-left-32">
                <div class="make-center">
                    <div class="row button-spacing padding-bottom-20">
                        <div class="btn btn-danger left-button align-right button-form-border margin-right-15" ng-click="deleteInvite()"><i class="fa fa-trash-o"></i> Delete</div>
                        <div class="btn btn-primary left-button align-right button-form-border margin-right-15" ng-click="addRecipient()"><i class="fa fa-plus-square"></i>Add Recipient </div>
                        <div class="btn btn-default left-button align-left button-form-border margin-left-15" ng-click="backToReports()"><i class="fa fa-chevron-left"></i> Back </div>
                        <div class="btn btn-dark left-button align-right button-form-border margin-right-15" ng-click="takeSelfFeedback()"><i class="fa fa-comments"></i> Take Self Feedback </div>
                    </div>
                    <ul class="nav nav-tabs">
                        <li class="active"><a id="overviewTab" data-toggle="tab" href="#overview">Overview</a>
                        </li>
                        <li><a id="reportTab" data-toggle="tab" href="#analysisReport">Analysis Report</a>
                        </li>
                        <li><a id="recipientTab" data-toggle="tab" href="#recipient">Recipient</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <!-- Overview -->
                        <div id="overview" class="tab-pane fade in active">
                            <div class="row card-row padding-20">
                                <div class="row button-spacing">
                                    <h2 class="subPack zero-margin align-left margin-left-15"><strong>{{invite.title}}</strong>
                                    </h2>
                                    <h2 class="subPack zero-margin align-right success-status margin-right-15" ng-if="(responseReceived < totalSent+totalQueued)">OPEN</h2>
                                    <h2 class="subPack zero-margin align-right failed-status" ng-if="responseReceived >= (totalSent) && (totalQueued <= 0)">CLOSED
                                    </h2>
                                </div>
                                <h5 class="helper-text subPack zero-margin"><strong>Last Modified Date : </strong>{{invite.lastModifiedDate}}</h5>
                            </div>
                            <!-- only for mobile device -->
                            <div class="card-row hide-sm-up black-card">
                                <div class="title-circle"><i class="fa fa-envelope"></i>
                                </div>
                                <div class="card-content">
                                    <div class="card-title">{{invite.subject}}</div>
                                    <div class="card-description">
                                        <br/>
                                        <div>{{invite.lastModifiedDate}}</div>
                                        <div ng-if="(responseReceived < totalSent+totalQueued)" class="success-status"> OPEN</div>
                                        <div ng-if="responseReceived >= (totalSent) && (totalQueued <= 0)" class="failed-status"> CLOSED</div>
                                    </div>
                                </div>
                            </div>
                            <!-- only for mobile device ends -->
                            `
                            <div class="col-md-12 col-lg-12 card">
                                <div class="col-lg-6 col-md-6 col-sm-10">
                                    <div class="chartTitle"> Total Invitations</div>
                                    <div google-chart chart="inviteChart"></div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-10">
                                    <div class="chartTitle"> Total Responses</div>
                                    <div google-chart chart="responseChart"></div>
                                </div>
                            </div>
                        </div>
                        <!-- Overview ends -->
                        <!-- Analysis Report -->
                        <div id="analysisReport" class="tab-pane fade in">
                            <div class="row margin-left-0">
                                <div class="col-md-8 col-lg-8 col-sm-12 col-xs-12 card-100 on-mobile-padding-left on-mobile-padding">
                                    <div>
                                        <div class="font-size-25"><strong>{{invite.title}}</strong></div>
                                        <div><strong>Last Modified Date : </strong>{{invite.lastModifiedDate}}</div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12 on-mobile-padding-left on-mobile-padding">
                                    <div class="card-100" ng-show="companyName != 'others'">
                                        <center class="row">
                                            Display option
                                        </center>
                                        <select class="select form-control" ng-model="displayOption" required>
                                 <option value="analysis" ng-selected="displayOption == 'analysis'">Report</option>
                                 <option value="company" ng-selected="displayOption == 'company'">Company framework</option>
                              </select>
                                    </div>
                                </div>
                            </div>
                            <div ng-if="showNoAnalyis">
                                <div class="row">
                                    Oops! It looks like no one have submitted feedback for your invite to do analysis.
                                </div>
                            </div>
                            <!-- Report -->
                            <div ng-if="(!showNoAnalyis) && (displayOption == 'analysis')">
                                <div class="row margin-left-0">
                                    <div class="col-lg-8 col-md-8 col-xs-12 col-sm-12 card">
                                        <div class="card-title">
                                            <h3><strong>Elements of Leadership</strong></h3>
                                        </div>
                                        <div>
                                            <p>This section reports how you, your leader(s), and your followers rated you relative
                                                to the expectations of your role. Each aspect of leadership includes from
                                                7 to 25 behaviors; the graph shows the minimum, maximum and average rated
                                                behaviors for that aspect. The six (6) aspects are ranked from highest to
                                                lowest average rating (based on all respondents).
                                            </p>
                                        </div>
                                        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                                            <div class="row">
                                                <div class="col-md-1">Rank</div>
                                                <div class="col-md-4 text-left">Elements</div>
                                                <div class="col-md-7 buy-buttom-custom zero-padding">
                                                    <div class="col-md-4 col-sm-4 col-xs-4 font-11 text-left zero-padding ">Below
                                                        <br>Expectation
                                                    </div>
                                                    <div class="col-md-4 col-xs-4 col-sm-4 font-11 text-center">Meet
                                                        <br> Expectation
                                                    </div>
                                                    <div class="col-md-4 col-xs-4 col-sm-4 font-11 text-right zero-padding">Above
                                                        <br> Expectation
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row" ng-repeat="summary in assessment.result.assessmentSummary">
                                                <div class="col-md-1 card-title " ng-style="{'color':summary.colorCode}">
                                                    {{$index+1}}
                                                </div>
                                                <div class="col-md-4 text-left">
                                                    <span class="font-weight-700" ng-style="{'color':summary.colorCode}">{{summary.role}}</span>
                                                    <br/>
                                                    <ul class="list-type-none no-left-padding">
                                                        <li ng-if="category !== null" ng-repeat="category in summary.categoryDetail track by $index">{{category.category}}</li>
                                                    </ul>
                                                </div>
                                                <div class="col-md-7 section-min">
                                                    <!--<div class="line bar-blue-1" ></div>-->
                                                    <ul class="list-type-none no-left-padding">
                                                        <li ng-if="category !== null" ng-repeat="category in summary.categoryDetail track by $index">
                                                            <input disabled type="range" class="rangebar" ng-style="{'background':category.colorStrip}" value="{{category.avg}}" max="2"
                                                                min="-2">
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12 on-mobile-padding-left on-mobile-padding">
                                        <div class="card">
                                            <div class="card-title">
                                                <div class="make-center">
                                                    <div class="font-size-25 margin-3"><strong>Specific Suggestions</strong></div>
                                                </div>
                                            </div>
                                            <!-- Keeps, Starts and Stops -->
                                            <div>
                                                <!-- Keep -->
                                                <div class="col-md-12 top-bar z-index-1">
                                                    <div class="col-md-4 cursor-pointer top-bar-chip" ng-click="showKeep()">Keep</div>
                                                </div>
                                                <div ng-if="(assessment.result.keeps != null && assessment.result.keeps.length != 0)">
                                                    <div id="CarouselKeep" class=" carousel slide carousel-fade row" data-ride="carousel">
                                                        <!-- Indicators -->
                                                        <ol class="carousel-indicators section-min">
                                                            <li data-target="#CarouselKeep" ng-repeat="keep in assessment.result.keeps track by $index" data-slide-to="{{$index}}" class="{{$index == 0 ? 'active':''}}"></li>
                                                        </ol>
                                                        <!-- Wrapper for slides -->
                                                        <div class="carousel-inner" role="listbox">
                                                            <div ng-repeat="keep in assessment.result.keeps track by $index" class="item {{$index == 0 ? 'active':''}}">
                                                                <div class="slide-card fadeInDown">{{keep}}</div>
                                                            </div>
                                                        </div>
                                                        <!-- Left and right controls -->
                                                        <a class="left carousel-control" ng-click="onPrevKeep()" href="#myCarousel" role="button" data-slide="prev">
                                                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                                            <span class="sr-only">Previous</span>
                                                        </a>
                                                        <a class="right carousel-control" ng-click="onNextKeep()" href="#myCarousel" role="button" data-slide="next">
                                                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                                            <span class="sr-only">Next</span>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="margin-3" ng-if="(assessment.result.keeps == null || assessment.result.keeps.length == 0)">
                                                    <strong>Not Available</strong>
                                                </div>
                                                <!-- Start -->
                                                <div class="col-md-12 top-bar z-index-1 text-center">
                                                    <div class="col-md-4 cursor-pointer top-bar-chip" ng-click="showKeep()">Start</div>
                                                </div>
                                                <div ng-if="(assessment.result.starts != null && assessment.result.starts.length != 0)">
                                                    <div id="CarouselStart" class="carousel slide carousel-fade row" data-ride="carousel">
                                                        <ol class="carousel-indicators section-min">
                                                            <li data-target="#CarouselStart" ng-repeat="start in assessment.result.starts track by $index" data-slide-to="{{$index}}"
                                                                class="{{$index == 0 ? 'active':''}}"></li>
                                                        </ol>
                                                        <!-- Wrapper for slides -->
                                                        <div class="carousel-inner" role="listbox">
                                                            <div ng-repeat="start in assessment.result.starts track by $index" class="item {{$index == 0 ? 'active':''}}">
                                                                <div class="slide-card fadeInDown">{{start}}
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- Left and right controls -->
                                                        <a class="left carousel-control" ng-click="onPrevStart()" href="#myCarousel" role="button" data-slide="prev">
                                                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                                            <span class="sr-only">Previous</span>
                                                        </a>
                                                        <a class="right carousel-control" ng-click="onNextStart()" href="#myCarousel" role="button" data-slide="next">
                                                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                                            <span class="sr-only">Next</span>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="margin-3" ng-if="(assessment.result.starts == null || assessment.result.starts.length == 0)">
                                                    <strong>Not Available</strong>
                                                </div>
                                                <!-- Stop -->
                                                <div class="col-md-12 top-bar z-index-1">
                                                    <div class="col-md-4 cursor-pointer top-bar-chip" ng-click="showKeep()">Stop</div>
                                                </div>
                                                <div ng-if="(assessment.result.stops != null && assessment.result.stops.length != 0)">
                                                    <div id="CarouselStop" class="carousel slide carousel-fade row" data-ride="carousel">
                                                        <ol class="carousel-indicators section-min">
                                                            <li data-target="#CarouselStop" ng-repeat="stop in assessment.result.stops track by $index" data-slide-to="{{$index}}" class="{{$index == 0 ? 'active':''}}"></li>
                                                        </ol>
                                                        <!-- Wrapper for slides -->
                                                        <div class="carousel-inner" role="listbox">
                                                            <div ng-repeat="stop in assessment.result.stops track by $index" class="item {{$index == 0 ? 'active':''}}">
                                                                <div class="slide-card fadeInDown">{{stop}}
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- Left and right controls -->
                                                        <a class="left carousel-control" ng-click="onPrevStop()" href="#myCarousel" role="button" data-slide="prev">
                                                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                                            <span class="sr-only">Previous</span>
                                                        </a>
                                                        <a class="right carousel-control" ng-click="onNextStop()" href="#myCarousel" role="button" data-slide="next">
                                                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                                            <span class="sr-only">Next</span>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="margin-3" ng-if="(assessment.result.stops == null || assessment.result.stops.length == 0)">
                                                    <strong>Not Available</strong>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Behaviour rates ends -->
                                <!-- Much better than expected -->
                                <div class="card-title text-left section-padding-adjustment">
                                    <h3 class="zero-margin cursor-hand" ng-click="toggleAccordion('muchBetter')">
                                        <i ng-if="!muchBetter" class="fa fa-plus-circle" aria-hidden="true"></i>
                                        <i ng-if="muchBetter" class="fa fa-minus-circle" aria-hidden="true"></i>
                                        <strong>Behavior Rates - Much better than expected</strong>
                                    </h3>
                                </div>
                                <div ng-if="muchBetter" class="row no-pad-top margin-left-0">
                                    <div class="col-lg-12 col-md-12 card-100">
                                        <div class="col-lg-4 col-md-4 ">
                                            <div class="sub-title text-center">
                                                <h4 class="zero-margin"><strong>Self</strong></h4>
                                            </div>
                                            <div ng-if="assessment.result.behaviorRatesSelf != null" class="text-left row">
                                                <div ng-if="assessment.result.behaviorRatesSelf.muchBetter != null">
                                                    <ul class="font-12 ">
                                                        <li ng-repeat="item in assessment.result.behaviorRatesSelf.muchBetter">{{item}}</li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <center ng-if="assessment.result.behaviorRatesSelf == null" class="row">
                                                Not Available
                                            </center>
                                        </div>
                                        <div class="col-lg-4 col-md-4">
                                            <div class="sub-title text-center">
                                                <h4 class="zero-margin"><strong>Follower(s)</strong></h4>
                                            </div>
                                            <div ng-if="assessment.result.behaviorRatesFollowers != null" class="row text-left">
                                                <div ng-if="assessment.result.behaviorRatesFollowers.muchBetter != null">
                                                    <ul class="font-12 ">
                                                        <li ng-repeat="item in assessment.result.behaviorRatesFollowers.muchBetter">{{item}}</li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <center ng-if="assessment.result.behaviorRatesFollowers == null" class="row">
                                                Not Available
                                            </center>
                                        </div>
                                        <div class="col-lg-4 col-md-4 ">
                                            <div class="sub-title text-center">
                                                <h4 class="zero-margin"><strong>Leader(s)</strong></h4>
                                            </div>
                                            <div ng-if="assessment.result.behaviorRatesLeader != null" class="row text-left">
                                                <div ng-if="assessment.result.behaviorRatesLeader.muchBetter != null">
                                                    <ul class="font-12">
                                                        <li ng-repeat="item in assessment.result.behaviorRatesLeader.muchBetter">{{item}}</li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <center ng-if="assessment.result.behaviorRatesLeader == null" class="row">
                                                Not Available
                                            </center>
                                        </div>
                                    </div>
                                </div>
                                <!-- Much better than expected ends -->
                                <!-- Better than expected -->
                                <div class="card-title text-left section-padding-adjustment">
                                    <h3 class="zero-margin cursor-hand" ng-click="toggleAccordion('better')">
                                        <i ng-if="!better" class="fa fa-plus-circle" aria-hidden="true"></i>
                                        <i ng-if="better" class="fa fa-minus-circle" aria-hidden="true"></i>
                                        <strong>Behavior Rates - Better than expected</strong>
                                    </h3>
                                </div>
                                <div ng-if="better" class="row no-pad-top margin-left-0">
                                    <div class="col-lg-12 col-md-12 card-100">
                                        <div class="col-lg-4 col-md-4 ">
                                            <div class="sub-title text-center">
                                                <h4 class="zero-margin"><strong>Self</strong></h4>
                                            </div>
                                            <div ng-if="assessment.result.behaviorRatesSelf != null" class="text-left row">
                                                <div ng-if="assessment.result.behaviorRatesSelf.better != null">
                                                    <ul class="font-12 ">
                                                        <li ng-repeat="item in assessment.result.behaviorRatesSelf.better">{{item}}</li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <center ng-if="assessment.result.behaviorRatesSelf == null" class="row">
                                                Not Available
                                            </center>
                                        </div>
                                        <div class="col-lg-4 col-md-4">
                                            <div class="sub-title text-center">
                                                <h4 class="zero-margin"><strong>Follower(s)</strong></h4>
                                            </div>
                                            <div ng-if="assessment.result.behaviorRatesFollowers != null" class="row text-left">
                                                <div ng-if="assessment.result.behaviorRatesFollowers.better != null">
                                                    <ul class="font-12 ">
                                                        <li ng-repeat="item in assessment.result.behaviorRatesFollowers.better">{{item}}</li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <center ng-if="assessment.result.behaviorRatesFollowers == null" class="row">
                                                Not Available
                                            </center>
                                        </div>
                                        <div class="col-lg-4 col-md-4 ">
                                            <div class="sub-title text-center">
                                                <h4 class="zero-margin"><strong>Leader(s)</strong></h4>
                                            </div>
                                            <div ng-if="assessment.result.behaviorRatesLeader != null" class="row text-left">
                                                <div ng-if="assessment.result.behaviorRatesLeader.better != null">
                                                    <ul class="font-12">
                                                        <li ng-repeat="item in assessment.result.behaviorRatesLeader.better">{{item}}</li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <center ng-if="assessment.result.behaviorRatesLeader == null" class="row">
                                                Not Available
                                            </center>
                                        </div>
                                    </div>
                                </div>
                                <!-- better than expected ends -->
                                <!-- As expected -->
                                <div class="card-title text-left section-padding-adjustment">
                                    <h3 class="zero-margin cursor-hand" ng-click="toggleAccordion('asExpected')">
                                        <i ng-if="!asExpected" class="fa fa-plus-circle" aria-hidden="true"></i>
                                        <i ng-if="asExpected" class="fa fa-minus-circle" aria-hidden="true"></i>
                                        <strong>Behavior Rates - As expected</strong>
                                    </h3>
                                </div>
                                <div ng-if="asExpected" class="row no-pad-top margin-left-0">
                                    <div class="col-lg-12 col-md-12 card-100">
                                        <div class="col-lg-4 col-md-4 ">
                                            <div class="sub-title text-center">
                                                <h4 class="zero-margin"><strong>Self</strong></h4>
                                            </div>
                                            <div ng-if="assessment.result.behaviorRatesSelf != null" class="text-left row">
                                                <div ng-if="assessment.result.behaviorRatesSelf.asExpected != null">
                                                    <ul class="font-12 ">
                                                        <li ng-repeat="item in assessment.result.behaviorRatesSelf.asExpected">{{item}}</li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <center ng-if="assessment.result.behaviorRatesSelf == null" class="row">
                                                Not Available
                                            </center>
                                        </div>
                                        <div class="col-lg-4 col-md-4">
                                            <div class="sub-title text-center">
                                                <h4 class="zero-margin"><strong>Follower(s)</strong></h4>
                                            </div>
                                            <div ng-if="assessment.result.behaviorRatesFollowers != null" class="row text-left">
                                                <div ng-if="assessment.result.behaviorRatesFollowers.asExpected != null">
                                                    <ul class="font-12 ">
                                                        <li ng-repeat="item in assessment.result.behaviorRatesFollowers.asExpected">{{item}}</li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <center ng-if="assessment.result.behaviorRatesFollowers == null" class="row">
                                                Not Available
                                            </center>
                                        </div>
                                        <div class="col-lg-4 col-md-4 ">
                                            <div class="sub-title text-center">
                                                <h4 class="zero-margin"><strong>Leader(s)</strong></h4>
                                            </div>
                                            <div ng-if="assessment.result.behaviorRatesLeader != null" class="row text-left">
                                                <div ng-if="assessment.result.behaviorRatesLeader.asExpected != null">
                                                    <ul class="font-12">
                                                        <li ng-repeat="item in assessment.result.behaviorRatesLeader.asExpected">{{item}}</li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <center ng-if="assessment.result.behaviorRatesLeader == null" class="row">
                                                Not Available
                                            </center>
                                        </div>
                                    </div>
                                </div>
                                <!-- As expected ends-->
                                <!-- Less than expected -->
                                <div class="card-title text-left section-padding-adjustment">
                                    <h3 class="zero-margin cursor-hand" ng-click="toggleAccordion('less')">
                                        <i ng-if="!less" class="fa fa-plus-circle" aria-hidden="true"></i>
                                        <i ng-if="less" class="fa fa-minus-circle" aria-hidden="true"></i>
                                        <strong>Behavior Rates - Less than expected</strong>
                                    </h3>
                                </div>
                                <div ng-if="less" class="row no-pad-top margin-left-0">
                                    <div class="col-lg-12 col-md-12 card-100">
                                        <div class="col-lg-4 col-md-4 ">
                                            <div class="sub-title text-center">
                                                <h4 class="zero-margin"><strong>Self</strong></h4>
                                            </div>
                                            <div ng-if="assessment.result.behaviorRatesSelf != null" class="text-left row">
                                                <div ng-if="assessment.result.behaviorRatesSelf.less != null">
                                                    <ul class="font-12 ">
                                                        <li ng-repeat="item in assessment.result.behaviorRatesSelf.less">{{item}}</li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <center ng-if="assessment.result.behaviorRatesSelf == null" class="row">
                                                Not Available
                                            </center>
                                        </div>
                                        <div class="col-lg-4 col-md-4">
                                            <div class="sub-title text-center">
                                                <h4 class="zero-margin"><strong>Follower(s)</strong></h4>
                                            </div>
                                            <div ng-if="assessment.result.behaviorRatesFollowers != null" class="row text-left">
                                                <div ng-if="assessment.result.behaviorRatesFollowers.less != null">
                                                    <ul class="font-12 ">
                                                        <li ng-repeat="item in assessment.result.behaviorRatesFollowers.less">{{item}}</li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <center ng-if="assessment.result.behaviorRatesFollowers == null" class="row">
                                                Not Available
                                            </center>
                                        </div>
                                        <div class="col-lg-4 col-md-4 ">
                                            <div class="sub-title text-center">
                                                <h4 class="zero-margin"><strong>Leader(s)</strong></h4>
                                            </div>
                                            <div ng-if="assessment.result.behaviorRatesLeader != null" class="row text-left">
                                                <div ng-if="assessment.result.behaviorRatesLeader.less != null">
                                                    <ul class="font-12">
                                                        <li ng-repeat="item in assessment.result.behaviorRatesLeader.less">{{item}}</li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <center ng-if="assessment.result.behaviorRatesLeader == null" class="row">
                                                Not Available
                                            </center>
                                        </div>
                                    </div>
                                </div>
                                <!-- Less than expected ends-->
                                <!-- Much less than expected -->
                                <div class="card-title text-left section-padding-adjustment">
                                    <h3 class="zero-margin cursor-hand" ng-click="toggleAccordion('muchLess')">
                                        <i ng-if="!muchLess" class="fa fa-plus-circle" aria-hidden="true"></i>
                                        <i ng-if="muchLess" class="fa fa-minus-circle" aria-hidden="true"></i>
                                        <strong>Behavior Rates - Much less than expected</strong>
                                    </h3>
                                </div>
                                <div ng-if="muchLess" class="row no-pad-top margin-left-0">
                                    <div class="col-lg-12 col-md-12 card-100">
                                        <div class="col-lg-4 col-md-4 ">
                                            <div class="sub-title text-center">
                                                <h4 class="zero-margin"><strong>Self</strong></h4>
                                            </div>
                                            <div ng-if="assessment.result.behaviorRatesSelf != null" class="text-left row">
                                                <div ng-if="assessment.result.behaviorRatesSelf.muchLess != null">
                                                    <ul class="font-12 ">
                                                        <li ng-repeat="item in assessment.result.behaviorRatesSelf.muchLess">{{item}}</li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <center ng-if="assessment.result.behaviorRatesSelf == null" class="row">
                                                Not Available
                                            </center>
                                        </div>
                                        <div class="col-lg-4 col-md-4">
                                            <div class="sub-title text-center">
                                                <h4 class="zero-margin"><strong>Follower(s)</strong></h4>
                                            </div>
                                            <div ng-if="assessment.result.behaviorRatesFollowers != null" class="row text-left">
                                                <div ng-if="assessment.result.behaviorRatesFollowers.muchLess != null">
                                                    <ul class="font-12 ">
                                                        <li ng-repeat="item in assessment.result.behaviorRatesFollowers.muchLess">{{item}}</li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <center ng-if="assessment.result.behaviorRatesFollowers == null" class="row">
                                                Not Available
                                            </center>
                                        </div>
                                        <div class="col-lg-4 col-md-4 ">
                                            <div class="sub-title text-center">
                                                <h4 class="zero-margin"><strong>Leader(s)</strong></h4>
                                            </div>
                                            <div ng-if="assessment.result.behaviorRatesLeader != null" class="row text-left">
                                                <div ng-if="assessment.result.behaviorRatesLeader.muchLess != null">
                                                    <ul class="font-12">
                                                        <li ng-repeat="item in assessment.result.behaviorRatesLeader.muchLess">{{item}}</li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <center ng-if="assessment.result.behaviorRatesLeader == null" class="row">
                                                Not Available
                                            </center>
                                        </div>
                                    </div>
                                </div>
                                <!-- Much less than expected ends -->
                                <!-- Behavior rates ends -->
                                <!-- Trust Composite -->
                                <div class="card-title text-left section-padding-adjustment ">
                                    <h3 class="zero-margin cursor-hand" ng-click="toggleAccordion('trust')">
                                        <i ng-if="!trust" class="fa fa-plus-circle" aria-hidden="true"></i>
                                        <i ng-if="trust" class="fa fa-minus-circle" aria-hidden="true"></i>
                                        <strong>TrustWorks&#8482; Composites</strong>
                                    </h3>
                                </div>
                                <div ng-if="trust" class="row no-pad-top margin-left-0">
                                    <div class="col-md-12 col-lg-12 card-100">
                                        <div class="col-lg-4 col-md-4">
                                            <div class="sub-title text-center">
                                                <h4 class="zero-margin"><strong>Self</strong></h4>
                                            </div>
                                            <div ng-if="assessment.result.trustComposite.self != null" class="row text-center">
                                                {{assessment.result.trustComposite.self}}
                                            </div>
                                            <center ng-if="assessment.result.trustComposite.self == null" class="row">
                                                Not Available
                                            </center>
                                        </div>
                                        <div class="col-lg-4 col-md-4">
                                            <div class="sub-title text-center ">
                                                <h4 class="zero-margin"><strong> Follower(s)</strong></h4>
                                            </div>
                                            <div ng-if="assessment.result.trustComposite.followers != null" class="row text-center">
                                                {{assessment.result.trustComposite.followers}}
                                            </div>
                                            <center ng-if="assessment.result.trustComposite.followers == null" class="row">
                                                Not Available
                                            </center>
                                        </div>
                                        <div class="col-lg-4 col-md-4">
                                            <div class="sub-title  text-center">
                                                <h4 class="zero-margin"><strong>Leader(s)</strong></h4>
                                            </div>
                                            <div ng-if="assessment.result.trustComposite.leader != null" class="row text-center">
                                                {{assessment.result.trustComposite.leader}}
                                            </div>
                                            <center ng-if="assessment.result.trustComposite.leader == null" class="row">
                                                Not Available
                                            </center>
                                        </div>
                                    </div>
                                </div>
                                <!-- Trust composite ends -->
                                <!-- Communication composite -->
                                <div class="card-title text-left section-padding-adjustment ">
                                    <h3 class="zero-margin cursor-hand" ng-click="toggleAccordion('communication')">
                                        <i ng-if="!communication" class="fa fa-plus-circle" aria-hidden="true"></i>
                                        <i ng-if="communication" class="fa fa-minus-circle" aria-hidden="true"></i>
                                        <strong>Communication Composites</strong>
                                    </h3>
                                </div>
                                <div ng-if="communication" class="row no-pad-top margin-left-0">
                                    <div class="">
                                        <div class="col-md-12 col-lg-12 card">
                                            <div class="col-lg-4 col-md-4">
                                                <div class="sub-title text-center">
                                                    <h4 class="zero-margin"><strong>Self</strong></h4>
                                                </div>
                                                <div ng-if="assessment.result.communicationComposite.self != null" class="row text-left">
                                                    <div class="sub-title text-left">
                                                        <h5 class="zero-margin"><strong>High-Rated Behavior:</strong></h5>
                                                    </div>
                                                    <div class="font-12 text-center">{{assessment.result.communicationComposite.self.highRated}}</div>
                                                    <div class="sub-title text-left">
                                                        <h5 class="zero-margin"><strong>Low-Rated Behavior:</strong></h5>
                                                    </div>
                                                    <div class="font-12 text-center">{{assessment.result.communicationComposite.self.lowRated}}</div>
                                                </div>
                                                <center ng-if="assessment.result.communicationComposite.self == null" class="row">
                                                    Not Available
                                                </center>
                                            </div>
                                            <div class="col-lg-4 col-md-4">
                                                <div class="sub-title text-center ">
                                                    <h4 class="zero-margin"><strong> Follower(s)</strong></h4>
                                                </div>
                                                <div ng-if="assessment.result.communicationComposite.followers != null" class="row text-left">
                                                    <div class="sub-title text-left">
                                                        <h5 class="zero-margin"><strong>High-Rated Behavior:</strong></h5>
                                                    </div>
                                                    <div class="font-12 text-center">{{assessment.result.communicationComposite.followers.highRated}}</div>
                                                    <div class="sub-title text-left">
                                                        <h5 class="zero-margin"><strong>Low-Rated Behavior:</strong></h5>
                                                    </div>
                                                    <div class="font-12 text-center">{{assessment.result.communicationComposite.followers.lowRated}}</div>
                                                </div>
                                                <center ng-if="assessment.result.communicationComposite.followers == null" class="row">
                                                    Not Available
                                                </center>
                                            </div>
                                            <div class="col-lg-4 col-md-4">
                                                <div class="sub-title  text-center">
                                                    <h4 class="zero-margin"><strong>Leader(s)</strong></h4>
                                                </div>
                                                <div ng-if="assessment.result.communicationComposite.leader != null" class="row text-left">
                                                    <div class="sub-title text-left">
                                                        <h5 class="zero-margin"><strong>High-Rated Behavior:</strong></h5>
                                                    </div>
                                                    <div class="font-12 text-center">{{assessment.result.communicationComposite.leader.highRated}}</div>
                                                    <div class="text-left">
                                                        <h5 class="zero-margin"><strong>Low-Rated Behavior:</strong></h5>
                                                    </div>
                                                    <div class="font-12 text-center">{{assessment.result.communicationComposite.leader.lowRated}}</div>
                                                </div>
                                                <center ng-if="assessment.result.communicationComposite.leader == null" class="row">
                                                    Not Available
                                                </center>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Communication Composites ends -->
                            </div>
                            <!-- Display Report ends -->

                            <!-- Company based framework -->
                            <div ng-if="(!showNoAnalyis) && (displayOption == 'company')">
                                <div ng-if="assessment.result.companyAssessmentSummary != null" class="col-lg-12 col-md-12 col-xs-12 col-sm-12 card">
                                    <div class="card-title">
                                        <h3><strong>Company framework</strong></h3>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                                        <div class="row">
                                            <div class="col-md-1">Rank</div>
                                            <div class="col-md-4 text-left">Elements</div>
                                            <div class="col-md-7 buy-buttom-custom zero-padding">
                                                <div class="col-md-4 col-sm-4 col-xs-4 font-11 text-left zero-padding ">Below
                                                    <br>Expectation
                                                </div>
                                                <div class="col-md-4 col-xs-4 col-sm-4 font-11 text-center">Meet
                                                    <br> Expectation
                                                </div>
                                                <div class="col-md-4 col-xs-4 col-sm-4 font-11 text-right zero-padding">Above
                                                    <br> Expectation
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row" ng-repeat="summary in assessment.result.companyAssessmentSummary">
                                            <div class="col-md-1 card-title " ng-style="{'color':summary.colorCode}">
                                                {{$index+1}}
                                            </div>
                                            <div class="col-md-4 text-left">
                                                <span class="font-weight-700" ng-style="{'color':summary.colorCode}">{{summary.role}}</span>
                                                <br/>
                                                <ul class="list-type-none no-left-padding">
                                                    <li ng-if="category !== null" ng-repeat="category in summary.categoryDetail track by $index">{{category.category}}</li>
                                                </ul>
                                            </div>
                                            <div class="col-md-7 section-min">
                                                <!--<div class="line bar-blue-1" ></div>-->
                                                <ul class="list-type-none no-left-padding">
                                                    <li ng-if="category !== null" ng-repeat="category in summary.categoryDetail track by $index">
                                                        <input disabled type="range" class="rangebar" ng-style="{'background':category.colorStrip}" value="{{category.avg}}" max="2"
                                                            min="-2">
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Company based framework ends -->
                        </div>
                        <!-- Analysis Report ends -->

                        <!-- Recipient -->
                        <div id="recipient" class="tab-pane fade">
                            <div class="flex-container card-row black-card hide-sm-down">
                                <div class="flex-column-1">No</div>
                                <div class="flex-column-2"><i class="fa fa-envelope"></i> Emails</div>
                                <div class="flex-column-2">
                                    </i> Category
                                </div>
                                <div class="flex-column-2">Mail Status</div>
                                <div class="flex-column-2">Response Status
                                </div>
                            </div>
                            <div dir-paginate="email in invite.emails | itemsPerPage: pageSize" current-page="currentPage">
                                <div class="flex-container card-row hide-sm-down">
                                    <div class="flex-column-1">{{(pageSize*(currentPage-1))+$index+1}}</div>
                                    <div class="flex-column-2">{{email.mailId}}</div>
                                    <div class="flex-column-2">{{email.category}}</div>
                                    <div class="flex-column-2" ng-if="email.sent == 'SENT'"><span class="success-status">{{email.sent}}</span>
                                    </div>
                                    <div class="flex-column-2" ng-if="email.sent == 'QUEUED'"><span class="waiting-status">{{email.sent}}</span>
                                    </div>
                                    <div class="flex-column-2" ng-if="email.sent == 'BOUNCED'"><span class="failed-status">{{email.sent}}</span>
                                    </div>
                                    <div class="flex-column-2" ng-if="email.status == 'Response received'"><span class="success-status">{{email.status}}</span>
                                    </div>
                                    <div class="flex-column-2" ng-if="email.status == 'Waiting for response'"><span class="waiting-status">{{email.status}}</span>
                                    </div>
                                    <div class="flex-column-2" ng-if="email.status == 'Failed'"><span class="failed-status">{{email.status}}</span>
                                    </div>
                                </div>
                            </div>
                            <dir-pagination-controls boundary-links="true"></dir-pagination-controls>
                            <!-- only for mobile device -->
                            <div class="card-row hide-sm-up" id="email_$index" dir-paginate="email in invite.emails | itemsPerPage: pageSize" current-page="currentPage">
                                <div class="title-circle"><i class="fa fa-envelope"></i>
                                </div>
                                <div class="card-content">
                                    <div class="card-title">{{email.mailId}}</div>
                                    <div class="card-description">
                                        <div ng-if="email.sent == 'SENT'" class="success-status">{{email.sent}}}</div>
                                        <div ng-if="email.sent == 'QUEUED'" class="waiting-status">{{email.sent}}</div>
                                        <div ng-if="email.sent == 'BOUNCED'" class="failed-status">{{email.sent}}</div>
                                        <br/>
                                        <div ng-if="email.status == 'Response received'">
                                            <span class="success-status">{{email.status}}</span>
                                        </div>
                                        <div ng-if="email.status == 'Waiting for response'">
                                            <span class="waiting-status">{{email.status}}</span>
                                        </div>
                                        <div ng-if="email.status == 'Failed'">
                                            <span class="failed-status">{{email.status}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- only for mobile device ends -->
                        </div>
                        <!-- Recipient ends -->
                    </div>
                </div>
            </div>
        </div>
        </div>
        </section>
    </div>
   
    <div class="modal fade" id="deleteConfirmationModal" role="dialog">
        <div class="modal-dialog confirm-modal-dialog">
            <div class="modal-content confirm-modal">
                <div class="modal-header">
                    <i class="fa fa-floppy-o icon-mob confirm-modal-header-icon"></i>
                    <h4 class="modal-title fw-semibold confirm-modal-title">Delete ?</h4>
                </div>
                <center></center>
                <div class="row">
                    <h5 class="padding-0-20">This action will delete the selected Invite and its respective feedback. Are you sure?</h5>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-dark" ng-click="noDelete()">Cancel</button>
                    <button class="btn btn-danger" ng-click="yesDelete()">Yes,Delete!</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="addRecepientDenyConfirmationModal" role="dialog">
        <div class="modal-dialog confirm-modal-dialog">
            <div class="modal-content confirm-modal">
                <div class="modal-header">
                    <i class="fa fa-exclamation-triangle icon-mob confirm-modal-header-icon"></i>
                    <h4 class="modal-title fw-semibold confirm-modal-title">Alert</h4>
                </div>
                <center></center>
                <div class="row">
                    <h5 class="padding-0-20">Sorry you can't add recepients for closed invite.</h5>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-dark" ng-click="yesDenyRecepient()">Ok</button>
                </div>
            </div>
        </div>
    </div>
    <script type="text/ng-template" id="addRecipient.html">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" ng-click="close()">&times;</button>
            <h4 class="modal-title text-center-align">Add Recepients</h4>
        </div>
        <div class="row height-400">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="row height-400 question-container-height-editrecepient-popup">
                    <div>
                        <h5 class="zero-bottom-margin aligntextcenter transform-inherit">We will send invites to the new added recepients.</br>
                        </h5>
                        <p ng-if="emailError" style="text-align:center;color: red;padding-left: 5px;padding-right: 5px;">Please enter valid email Ids</p>
                        <div class="row form-group">
                            <div class="col-md-2 col-lg-2 col-xs-12 col-sm-12 text-left">Leadership Level</div>
                            <div class="col-md-10 col-lg-10 col-xs-12 col-sm-12 on-mobile-padding">
                                <select class="select form-control" ng-model="selectedCategory" ng-change="getEmails(selectedCategory)" required>
                               <option value="" ng-selected="true">Select Category</option>
                                       <option value="{{category}}" ng-selected="selected" ng-repeat="category in categoryList">{{category}}</option>
                                   </select>
                            </div>
                        </div>
                        <div class="row form-group" ng-if="selectedCategory == 'Follower(s)'">
                            <div class="col-md-2 col-lg-2 col-xs-12 col-sm-12 text-left">Send to</div>
                            <div class="col-md-10 col-lg-10 col-xs-12 col-sm-12 on-mobile-padding">
                                <div class="zero-margin chip-group">
                                    <div ng-repeat="email in emails" class="chip">
                                        {{email}}
                                        <span class="closebtn cursor-pointer" ng-click='removeEmail(email,"follower(s)")'>&times;</span>
                                    </div>
                                </div>
                                <input type="text" name="followerEmail" placeholder="example@mail.com" class="form-control" email-enter='emailValidation(followerEmail,"follower(s)")'
                                    ng-blur='blurValidation(followerEmail,"follower(s)")' ng-model="$parent.followerEmail" />
                                <span class="helper-text">Press enter after typing the mailId to add under mailing list.</span>
                            </div>
                        </div>
                        <div class="row form-group" ng-if="selectedCategory == 'Leader'">
                            <div class="col-md-2 col-lg-2 col-xs-12 col-sm-12 text-left">Send to</div>
                            <div class="col-md-10 col-lg-10 col-xs-12 col-sm-12 on-mobile-padding">
                                <div class="zero-margin chip-group">
                                    <div ng-repeat="email in emails" class="chip">
                                        {{email}}
                                        <span class="closebtn cursor-pointer" ng-click='removeEmail(email,"leader")'>&times;</span>
                                    </div>
                                </div>
                                <input type="text" name="leaderEmail" placeholder="example@mail.com" class="form-control" email-enter='emailValidation(leaderEmail,"leader")'
                                    ng-blur='blurValidation(leaderEmail,"leader")' ng-model="$parent.leaderEmail" />
                                <span class="helper-text">Press enter after typing the mailId to add under mailing list.</span>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 on-mobile-padding text-center" ng-if="!followerEmailError || !leaderEmailError">
                            <div class="hasError">{{errorMessage}}</div>
                        </div>
                    </div>
                </div>
                <div class=" position-relative">
                    <hr>
                    <div class="pull-left botmargin">
                        <button class="btn btn-dark leftbutton" ng-click="close()" aria-label="Close"><i class="fa fa-times" aria-hidden="true"></i>&nbsp;&nbsp;Cancel</button>
                    </div>
                    <div class="pull-right">
                        <!--Submit Page-->
                        <div class="pull-right but">
                            <button class="btn btn-dark leftbutton" ng-disabled="$parent.emails.length > 0 || !followerEmailError || !leaderEmailError" ng-click="submit()">Submit&nbsp;&nbsp;<i class="fa fa-check-circle"></i>
                               </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </script>