<form name="changeForm" id="branding-top" ng-show="subscribedPackages[0] && !subscribedPackages[1]" novalidate>
  <section class="bg-white section-padding-adjustment brandingSection ">
    <div class="overlay-white"></div>
    <div class="container">
      <div class="row">
        <div class="row zero-top-padding">
          <div data-wow-delay=".2s" class="col-lg-8 col-md-8 col-sm-12 col-xs-12 wow fadeIn">
            <div class="panel panel-default customCard customBackgroundColor">
              <div ng-if="isSorted" class="panel-body">
                <p class="customFontForBrandPage testAlignLeft">Here is a visual depiction of all 8 of your LeaderTypes from largest (most dominant) to smallest (least accessible).
                  Develop your under-utilized LeaderTypes by accessing them when the situation calls for that cognitive approach.</p>
                <div class="circle-lines">
                  <div class="line1"></div>
                  <div class="line2"></div>
                  <div class="line3"></div>
                  <div class="line4"></div>
                </div>
                <div class="row" style="padding-top:13%;">
                  <div class="col-lg-5 col-sm-4 col-xs-4 col-md-4 text-right customFirstRowImgFirst">
                    <span tooltips tooltip-template="{{brandingPageData.leadertypeValues[2].toFixed(2)}}%" tooltip-side="left" tooltip-size="small">
                      <img src="../assets/images/latest_images/branding/{{brandingPageData.leadertypes[2]}}.png" class="firstRowFirstImg" alt="">
                    </span>
                  </div>
                  <div class="col-lg-3 col-sm-4 col-xs-4 col-md-4 top-leader-custom-style customFirstRowImgSecond">
                    <span tooltips tooltip-template="{{brandingPageData.leadertypeValues[0].toFixed(2)}}%" tooltip-side="right" tooltip-size="small">
                    <img src="../assets/images/latest_images/branding/{{brandingPageData.leadertypes[0]}}.png" class="firstRowSecondImg" alt="">
                    </span>
                  </div>
                  <div class="col-lg-4 col-sm-4 col-xs-4 col-md-4 customFirstRowImgThird">
                    <span tooltips tooltip-template="{{brandingPageData.leadertypeValues[1].toFixed(2)}}%" tooltip-side="right" tooltip-size="small">
                    <img src="../assets/images/latest_images/branding/{{brandingPageData.leadertypes[1]}}.png" class="firstRowThirdImg" alt="">
                    </span>
                  </div>
                </div>
                <div class="row zero-top-padding">
                  <div class="col-lg-4 col-sm-3 col-xs-3 col-md-3 text-right customSecondRowFirstImg">
                    <span tooltips tooltip-template="{{brandingPageData.leadertypeValues[3].toFixed(2)}}%" tooltip-side="left" tooltip-size="small">
                    <img src="../assets/images/latest_images/branding/{{brandingPageData.leadertypes[3]}}.png" class="secondRowFirstImg" alt="">
                    </span>
                  </div>
                  <div class="col-lg-8 col-sm-9 col-xs-9 col-md-9 text-right customSecondRowSecondImg">
                    <span tooltips tooltip-template="{{brandingPageData.leadertypeValues[4].toFixed(2)}}%" tooltip-side="right" tooltip-size="small">
                    <img src="../assets/images/latest_images/branding/{{brandingPageData.leadertypes[4]}}.png" class="secondRowSecondImg" alt="">
                    </span>
                  </div>
                </div>
                <div class="row zero-top-padding">
                  <div class="col-lg-5 col-sm-4 col-xs-4 col-md-4 text-right no-right-padding customThirdRowImgFirst">
                    <span tooltips tooltip-template="{{brandingPageData.leadertypeValues[6].toFixed(2)}}%" tooltip-side="left" tooltip-size="small">
                    <img src="../assets/images/latest_images/branding/{{brandingPageData.leadertypes[6]}}.png" class="thirdRowFirstImg" alt="">
                    </span>
                  </div>
                  <div class="col-lg-3 col-sm-4 col-xs-4 col-md-4 centerCustomStyle customThirdRowImgSecond">
                    <span tooltips tooltip-template="{{brandingPageData.leadertypeValues[7].toFixed(2)}}%" tooltip-side="right" tooltip-size="small">
                    <img src="../assets/images/latest_images/branding/{{brandingPageData.leadertypes[7]}}.png" class="thirdRowSecondImg" alt="">
                    </span>
                  </div>
                  <div class="col-lg-4 col-sm-4 col-xs-4 col-md-4 text-left customRightTextAlign customThirdRowImgThird">
                    <span tooltips tooltip-template="{{brandingPageData.leadertypeValues[5].toFixed(2)}}%" tooltip-side="right" tooltip-size="small">
                    <img src="../assets/images/latest_images/branding/{{brandingPageData.leadertypes[5]}}.png" class="thirdRowThirdImg" alt="">
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="panel panel-default customCard customBackgroundColor">
              <div class="panel-body">
                <div class="row zero-top-padding">
                  <div class="col-lg-10 col-sm-10 col-xs-10 col-md-10">
                    <h3 class="brandingPageCustomHeaderFont">VALUE SORT
                      <div class="titleUnderlineFirstLeftSection">&nbsp;</div>
                      <div class="titleUnderlineSecondLeftSection">&nbsp;</div>
                    </h3>
                  </div>
                  <div class="col-lg-2 col-sm-2 col-xs-2 col-md-2">
                    <a class="btn btn-default saveEditButton save-button" ng-click="valueSortEditSaveClick('')" tooltips tooltip-template="Save"
                      tooltip-side="bottom" tooltip-size="small" tooltip-class="save-tooltip" ng-if="valueSortSaveEditFlag"><span class="glyphicon glyphicon-ok"></span></a>
                    <a class="btn btn-default saveEditButton cancel-button" ng-click="valueSortEditSaveClick('cancel')" tooltips tooltip-template="Cancel"
                      tooltip-side="bottom" tooltip-size="small" tooltip-class="cancel-tooltip" ng-if="valueSortSaveEditFlag"><span class="glyphicon glyphicon-remove"></span></a>
                    <a class="btn btn-default saveEditButton" ng-if="!valueSortSaveEditFlag" ng-click="valueSortEditSaveClick('')" tooltips tooltip-template="Edit"
                      tooltip-side="bottom" tooltip-size="small"><span class="glyphicon glyphicon-pencil"></span></a>
                  </div>
                </div>
                <div class="row zero-top-padding" ng-if="!brandingPageData.values && !valueSortSaveEditFlag">
                  <div class="col-lg-12 col-sm-12 col-xs-12 col-md-12 text-left-align">
                    <p class="customFontForBrandPage text-center-align cursor-hand">
                      <h5 class="no-margin-bottom customFontForBrandPage text-center-align">Click on the pencil icon to take Value Sort</h5>
                    </p>
                  </div>
                </div>
                <div class="row zero-top-padding" ng-if="!brandingPageData.values && valueSortSaveEditFlag">
                  <div class="col-lg-12 col-sm-12 col-xs-12 col-md-12 text-left-align">
                    <p class="customFontForBrandPage text-center-align cursor-hand">
                      <div class="no-margin-bottom customFontForBrandPage text-center-align"><button class="btn btn-dark" ng-click="valueSortAssessmentModalPopup()">Take Value Sort</button></div>
                    </p>
                  </div>
                </div>
                <div class="row zero-top-padding" ng-if="brandingPageData.values && valueSortSaveEditFlag">
                  <div class="col-lg-12 col-sm-12 col-xs-12 col-md-12 text-left-align">
                    <p class="customFontForBrandPage text-center-align cursor-hand">
                      <div class="no-margin-bottom customFontForBrandPage text-center-align"><button class="btn btn-dark" ng-click="valueSortAssessmentModalPopup()">Retake Value Sort</button></div>
                    </p>
                  </div>
                </div>
                <div class="row zero-top-padding" ng-if="brandingPageData.values">
                  <div class="col-lg-6 col-sm-12 col-xs-12 col-md-6">
                    <ul class="dashed">
                      <li ng-repeat="value in brandingPageData.values">{{value}}</li>
                    </ul>
                  </div>
                  <div class="col-lg-6 col-md-6">
                  </div>
                </div>
              </div>
            </div>
            <div class="panel panel-default customCard customBackgroundColor">
              <div class="panel-body">
                <div class="row zero-top-padding">
                  <div class="col-lg-10 col-sm-10 col-xs-10 col-md-10">
                    <h3 class="brandingPageCustomHeaderFont">LEADERSHIP QUALITIES
                      <div class="titleUnderlineFirstSection">&nbsp;</div>
                      <div class="titleUnderlineSecondSection">&nbsp;</div>
                    </h3>
                  </div>
                  <div class="col-lg-2 col-sm-2 col-xs-2 col-md-2">
                    <a class="btn btn-default saveEditButton" ng-click="leadershipEditSaveClick('')" tooltips tooltip-template="Edit" tooltip-side="bottom"
                      tooltip-size="small" ng-if="!leadershipQualitiesSaveEditFlag"><span class="glyphicon glyphicon-pencil"></span></a>
                    <a class="btn btn-default saveEditButton save-button" ng-click="leadershipEditSaveClick('')" tooltips tooltip-template="Save"
                      tooltip-side="bottom" tooltip-size="small" tooltip-class="save-tooltip" ng-if="leadershipQualitiesSaveEditFlag"><span class="glyphicon glyphicon-ok"></span></a>
                    <a class="btn btn-default saveEditButton cancel-button" ng-click="leadershipEditSaveClick('cancel')" tooltips tooltip-template="Cancel"
                      tooltip-side="bottom" tooltip-size="small" tooltip-class="cancel-tooltip" ng-if="leadershipQualitiesSaveEditFlag"><span class="glyphicon glyphicon-remove"></span></a>
                  </div>
                </div>
                <div class="row zero-top-padding">
                  <div class="col-lg-12 col-sm-12 col-xs-12 col-md-12 text-left-align">
                    <p>- to realize what most characterizes your brand.</p>
                  </div>
                </div>
                <div class="row zero-top-padding" ng-if="!brandingPageData.leadershipQualities && !leadershipQualitiesSaveEditFlag">
                  <div class="col-lg-12 col-sm-12 col-xs-12 col-md-12 text-left-align">
                    <p class="customFontForBrandPage text-center-align cursor-hand">
                      <h5 class="no-margin-bottom customFontForBrandPage text-center-align">Click on the pencil icon to take Leadership Qualities</h5>
                    </p>
                  </div>
                </div>
                <div class="row zero-top-padding" ng-if="brandingPageData.leadershipQualities && leadershipQualitiesSaveEditFlag">
                  <div class="col-lg-12 col-sm-12 col-xs-12 col-md-12 text-left-align">
                    <p class="customFontForBrandPage text-center-align cursor-hand">
                      <div class="no-margin-bottom customFontForBrandPage text-center-align"><button class="btn btn-dark" ng-click="leaderShipQualitiesModalPopup()">Retake Leadership Qualities</button></div>
                    </p>
                  </div>
                </div>
                <div class="row zero-top-padding" ng-if="!brandingPageData.leadershipQualities && leadershipQualitiesSaveEditFlag">
                  <div class="col-lg-12 col-sm-12 col-xs-12 col-md-12 text-left-align">
                    <p class="customFontForBrandPage text-center-align cursor-hand">
                      <div class="no-margin-bottom customFontForBrandPage text-center-align"><button class="btn btn-dark" ng-click="leaderShipQualitiesModalPopup()">Take Leadership Qualities</button></div>
                    </p>
                  </div>
                </div>
                <div ng-if="brandingPageData.leadershipQualities" class="row zero-top-padding">
                  <div class="col-lg-12 col-sm-12 col-xs-12 col-md-12">
                    <h4>My Strongest Qualities are :</h4>
                  </div>
                </div>
                <div ng-if="brandingPageData.leadershipQualities" class="row zero-top-padding">
                  <div class="col-lg-6 col-sm-6 col-xs-6 col-md-6">
                    <p class="no-margin-bottom"><small>Self Preception</small></p>
                    <ul class="dashed">
                      <li ng-repeat="strongest in brandingPageData.leadershipQualities.strongestQualities" ng-if="$index < 5">{{strongest}}</li>
                    </ul>
                  </div>
                  <div class="col-lg-6 col-sm-6 col-xs-6 col-md-6">
                    <ul class="dashed">
                      <p></p>
                      <li ng-repeat="strongest in brandingPageData.leadershipQualities.strongestQualities" ng-if="$index >= 5">{{strongest}}</li>
                    </ul>
                  </div>
                </div>
                <div ng-if="brandingPageData.leadershipQualities" class="row zero-top-padding">
                  <div class="col-lg-12 col-sm-12 col-xs-12 col-md-12">
                    <h4>My Development Areas are :</h4>
                  </div>
                </div>
                <div ng-if="brandingPageData.leadershipQualities" class="row zero-top-padding">
                  <div class="col-lg-6 col-sm-6 col-xs-6 col-md-6">
                    <ul class="dashed">
                      <li ng-repeat="development in brandingPageData.leadershipQualities.developmentAreas" ng-if="$index < 5">{{development}}</li>
                    </ul>
                  </div>
                  <div class="col-lg-6 col-sm-6 col-xs-6 col-md-6">
                    <ul class="dashed">
                      <li ng-repeat="development in brandingPageData.leadershipQualities.developmentAreas" ng-if="$index >= 5">{{development}}</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="panel panel-default customCard customBackgroundColor">
              <div class="panel-body">
                <div class="row zero-top-padding">
                  <div class="col-lg-10 col-sm-10 col-xs-10 col-md-10 text-left-align">
                    <h3 class="brandingPageCustomHeaderFont">GALLUP STRENGTHSFINDER&#8482; RESULTS
                      <div class="titleUnderFirst">&nbsp;</div>
                      <div class="titleUnderSecond">&nbsp;</div>
                    </h3>
                  </div>
                  <div class="col-lg-2 col-sm-2 col-xs-2 col-md-2">
                    <a class="btn btn-default saveEditButton" ng-click="gallupEditSaveClick('')" tooltips tooltip-template="Edit" tooltip-side="bottom"
                      tooltip-size="small" ng-if="!gallupStrengthSaveEditFlag"><span class="glyphicon glyphicon-pencil"></span></a>
                    <a class="btn btn-default saveEditButton save-button" ng-click="gallupEditSaveClick('')" tooltips tooltip-template="Save"
                      tooltip-side="bottom" tooltip-size="small" tooltip-class="save-tooltip" ng-if="gallupStrengthSaveEditFlag"><span class="glyphicon glyphicon-ok"></span></a>
                    <a class="btn btn-default saveEditButton cancel-button" ng-click="gallupEditSaveClick('cancel')" tooltips tooltip-template="Cancel"
                      tooltip-side="bottom" tooltip-size="small" tooltip-class="cancel-tooltip" ng-if="gallupStrengthSaveEditFlag"><span class="glyphicon glyphicon-remove"></span></a>
                  </div>
                </div>
                <div class="row zero-top-padding">
                  <div class="col-lg-12 col-sm-12 col-xs-12 col-md-12 text-left-align">
                    <p>See how your CliftonStrengths align with, and contribute to your LeaderBRAND. <br /> For more information:
                      <a href="https://www.gallupstrengthscenter.com" target="blank">https://www.gallupstrengthscenter.com</a></p>
                  </div>
                  <h5 class="no-margin-bottom customFontForBrandPage text-center-align">Click on the pencil icon to take the assessment</h5><br />
                </div>
                <div class="row zero-top-padding">
                  <div class="col-lg-8 col-sm-12 col-xs-12 col-md-8 text-left-align">
                    <div class="form-group">
                      <select name="gallup[0]" class="form-control" ng-model="brandingPageData.gallup[0]" ng-disabled="!gallupStrengthSaveEditFlag">
                        <option disabled selected value="">Choose your theme</option>
                        <option ng-repeat="gallup in gallUpStrengthOptions|filter:filter1" value="{{gallup}}">{{gallup}}</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <select name="gallup[1]" class="form-control" ng-model="brandingPageData.gallup[1]" ng-disabled="!gallupStrengthSaveEditFlag">
                        <option disabled selected value="">Choose your theme</option>
                        <option ng-repeat="gallup in gallUpStrengthOptions|filter:filter2" value="{{gallup}}">{{gallup}}</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <select name="gallup[2]" class="form-control" ng-model="brandingPageData.gallup[2]" ng-disabled="!gallupStrengthSaveEditFlag">
                        <option disabled selected value="">Choose your theme</option>
                        <option ng-repeat="gallup in gallUpStrengthOptions|filter:filter3" value="{{gallup}}">{{gallup}}</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <select name="gallup[3]" class="form-control" ng-model="brandingPageData.gallup[3]" ng-disabled="!gallupStrengthSaveEditFlag">
                        <option disabled selected value="">Choose your theme</option>
                        <option ng-repeat="gallup in gallUpStrengthOptions|filter:filter4" value="{{gallup}}">{{gallup}}</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <select name="gallup[4]" class="form-control" ng-model="brandingPageData.gallup[4]" ng-disabled="!gallupStrengthSaveEditFlag">
                        <option disabled selected value="">Choose your theme</option>
                        <option ng-repeat="gallup in gallUpStrengthOptions|filter:filter5" value="{{gallup}}">{{gallup}}</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-4">
                  </div>
                </div>
              </div>
            </div>
            <div class="panel panel-default customCard customBackgroundColor">
              <div class="panel-body">
                <div class="row zero-top-padding">
                  <div class="col-lg-10 col-sm-10 col-xs-10 col-md-10">
                    <h3 class="brandingPageCustomHeaderFont">MYERS-BRIGGS&#8482; TYPE INDICATOR (MBTI<sup class="z-index-0">&reg;</sup> RESULTS)
                      <div class="titleUnderFirst">&nbsp;</div>
                      <div class="titleUnderSecond">&nbsp;</div>
                    </h3>
                  </div>
                  <div class="col-lg-2 col-sm-2 col-xs-2 col-md-2">
                    <a class="btn btn-default saveEditButton" ng-if="!mbtiSaveEditFlag" ng-click="mbtiEditSaveClick('')" tooltips tooltip-template="Edit"
                      tooltip-side="bottom" tooltip-size="small"><span class="glyphicon glyphicon-pencil"></span></a>
                    <a class="btn btn-default saveEditButton save-button" ng-click="mbtiEditSaveClick('')" tooltips tooltip-template="Save" tooltip-side="bottom"
                      tooltip-size="small" tooltip-class="save-tooltip" ng-if="mbtiSaveEditFlag"><span class="glyphicon glyphicon-ok"></span></a>
                    <a class="btn btn-default saveEditButton cancel-button" ng-click="mbtiEditSaveClick('cancel')" tooltips tooltip-template="Cancel"
                      tooltip-side="bottom" tooltip-size="small" tooltip-class="cancel-tooltip" ng-if="mbtiSaveEditFlag"><span class="glyphicon glyphicon-remove"></span></a>
                  </div>
                </div>
                <h5 ng-if="!mbtiValid" style="color:red;">You must choose any of the follwings.</h5>
                <h5 class="no-margin-bottom customFontForBrandPage text-center-align">Click on the pencil icon to take the assessment</h5><br />
                <div class="row zero-top-padding">
                  <div class="col-lg-2 col-sm-4 col-xs-4 col-md-2 list-left-slider">
                    <ul class="list-type-none" ng-repeat="mbtiContents in brandingPageData.mbti">
                      <li>{{mbtiContents.left}}</li>
                    </ul>
                  </div>
                  <div class="col-lg-8 col-sm-4 col-xs-4 col-md-8 ">
                    <ul class="list-type-none no-left-padding" ng-repeat="mbtiContents in brandingPageData.mbti">
                      <li>
                        <input name="mbti[$index]" type="range" ng-disabled="!mbtiSaveEditFlag" class="rangeInBranding" ng-class="rangeColor[$index]"
                          ng-model="mbtiContents.value" step="1" min="-4" max="4">
                      </li>
                    </ul>
                  </div>
                  <div class="col-lg-2 col-sm-4 col-xs-4 col-md-2  list-right-slider">
                    <ul class="list-type-none margin-left-on-mob" ng-repeat="mbtiContents in brandingPageData.mbti">
                      <li>{{mbtiContents.right}}</li>
                    </ul>
                  </div>
                </div>
                <center>
                  <div class="color-row zero-top-padding">
                    <div class="color-pallete-align">
                      <div class="color-row">
                        <div class="color-box red"></div><span class="color-meaning">Very Clear</span></div>
                      <div class="color-row">
                        <div class="color-box yellow"></div><span class="color-meaning">Clear</span></div>
                      <div class="color-row">
                        <div class="color-box green"></div><span class="color-meaning">Moderate</span></div>
                      <div class="color-row">
                        <div class="color-box blue"></div><span class="color-meaning">Slight</span></div>
                    </div>
                  </div>
                </center>
              </div>
            </div>
          </div>

          <div data-wow-delay=".4s" class="col-lg-4 col-md-4 col-sm-12 col-xs-12 wow fadeIn bg-gray2 text-center brandingRightSection">
            <div class="row-bordered">
              <div class="row">
                <div class="col-lg-8 col-sm-8 col-xs-8 col-md-8 testAlignLeft">
                  <h3 class="brandingPageCustomHeaderFont  no-bottom-padding">NEEDS
                    <div class="titleUnderlineFirst">&nbsp;</div>
                    <div class="titleUnderlineSecond">&nbsp;</div>
                  </h3>
                </div>
                <div class="col-lg-4 col-sm-4 col-xs-4 col-md-4">
                  <a class="btn btn-default saveEditButton" ng-click="needsEditSaveClick('')" tooltips tooltip-template="Edit" tooltip-side="bottom"
                    tooltip-size="small" ng-if="!needsSaveEditFlag"><span class="glyphicon glyphicon-pencil"></span></a>
                  <a class="btn btn-default saveEditButton save-button" ng-click="needsEditSaveClick('')" tooltips tooltip-template="Save"
                    tooltip-side="bottom" tooltip-size="small" tooltip-class="save-tooltip" ng-if="needsSaveEditFlag"><span class="glyphicon glyphicon-ok"></span></a>
                  <a class="btn btn-default saveEditButton cancel-button" ng-click="needsEditSaveClick('cancel')" tooltips tooltip-template="Cancel"
                    tooltip-side="bottom" tooltip-size="small" tooltip-class="cancel-tooltip" ng-if="needsSaveEditFlag"><span class="glyphicon glyphicon-remove"></span></a>
                </div>
              </div>
              <p class="customFontForBrandPage testAlignLeft" ng-if="!brandingPageData.needs">Based on David McClelland’s Human Motivation Theory, this assessment can help you realize to what extent certain
                needs drive your leadership style.</p>
              <p class="customFontForBrandPage testAlignLeft" ng-if="brandingPageData.needs">For more information on what your results mean, see
                <a target="blank" href="https://www.mindtools.com/pages/article/human-motivation-theory.htm"> https://www.mindtools.com/pages/article/human-motivation-theory.htm</a>
              </p>
              <div class="row zero-top-padding" ng-if="!brandingPageData.needs && !needsSaveEditFlag">
                <div class="col-lg-12 col-sm-12 col-xs-12 col-md-12 testAlignLeft">
                  <h5 class="no-margin-bottom customFontForBrandPage text-center-align">Click on the pencil icon to take Needs Assessment</h5>
                </div>
              </div>
              <div class="row zero-top-padding" ng-if="brandingPageData.needs && needsSaveEditFlag">
                <div class="col-lg-12 col-sm-12 col-xs-12 col-md-12 testAlignLeft">
                  <div class="no-margin-bottom customFontForBrandPage text-center-align"><button class="btn btn-dark" ng-click="needsModalPopup()">Retake Needs Assessment</button></div>
                </div>
              </div>
              <div class="row zero-top-padding" ng-if="!brandingPageData.needs && needsSaveEditFlag">
                <div class="col-lg-12 col-sm-12 col-xs-12 col-md-12 testAlignLeft">
                  <div class="no-margin-bottom customFontForBrandPage text-center-align"><button class="btn btn-dark" ng-click="needsModalPopup()">Take Needs Assessment</button></div>
                </div>
              </div>
              <div class="row zero-top-padding " ng-if="showNeedsChartFlag">
                <div class="col-lg-12 col-sm-12 col-xs-12 col-md-12">
                  <div google-chart chart="needChart"></div>
                </div>
              </div>
            </div>
            <div class="row-bordered">
              <div class="row" style="padding-top:20px;">
                <div class="col-lg-8 col-sm-8 col-xs-8 col-md-8 testAlignLeft">
                  <h3 class="brandingPageCustomHeaderFont  no-bottom-padding">TRIGGERS
                    <div class="titleUnderlineFirst">&nbsp;</div>
                    <div class="titleUnderlineSecond">&nbsp;</div>
                  </h3>
                </div>
                <div class="col-lg-4 col-sm-4 col-xs-4 col-md-4">
                  <a class="btn btn-default saveEditButton" ng-click="triggersEditSaveClick('')" tooltips tooltip-template="Edit" tooltip-side="bottom"
                    tooltip-size="small" ng-if="!triggersSaveEditFlag"><span class="glyphicon glyphicon-pencil"></span></a>
                  <a class="btn btn-default saveEditButton save-button" ng-click="triggersEditSaveClick('')" tooltips tooltip-template="Save"
                    tooltip-side="bottom" tooltip-size="small" tooltip-class="save-tooltip" ng-if="triggersSaveEditFlag"><span class="glyphicon glyphicon-ok"></span></a>
                  <a class="btn btn-default saveEditButton cancel-button" ng-click="triggersEditSaveClick('cancel')" tooltips tooltip-template="Cancel"
                    tooltip-side="bottom" tooltip-size="small" tooltip-class="cancel-tooltip" ng-if="triggersSaveEditFlag"><span class="glyphicon glyphicon-remove"></span></a>
                </div>
              </div>
              <p class="customFontForBrandPage testAlignLeft">– to identify brain-based ways you react.</p>
              <div class="row zero-top-padding" ng-if="!brandingPageData.triggers && !triggersSaveEditFlag">
                <div class="col-lg-12 col-sm-12 col-xs-12 col-md-12 testAlignLeft">
                  <h5 class="no-margin-bottom customFontForBrandPage text-center-align">Click on the pencil icon to take <br /> Triggers Assessment</h5>
                </div>
              </div>
              <div class="row zero-top-padding" ng-if="brandingPageData.triggers && triggersSaveEditFlag">
                <div class="col-lg-12 col-sm-12 col-xs-12 col-md-12 testAlignLeft">
                  <div class="no-margin-bottom customFontForBrandPage text-center-align"><button class="btn btn-dark" ng-click="triggesAssessmentModalPopup()" class="no-bottom-padding">Retake Triggers Assessment</button></div>
                </div>
              </div>
              <div class="row zero-top-padding" ng-if="!brandingPageData.triggers && triggersSaveEditFlag">
                <div class="col-lg-12 col-sm-12 col-xs-12 col-md-12 testAlignLeft">
                  <div class="no-margin-bottom customFontForBrandPage text-center-align"><button class="btn btn-dark" ng-click="triggesAssessmentModalPopup()" class="no-bottom-padding">Take Triggers Assessment</button></div>
                </div>
              </div>
              <div class="row zero-top-padding " ng-if="showTriggerChartFlag">
                <div class="col-lg-12 col-sm-12 col-xs-12 col-md-12">
                  <div google-chart chart="triggerChart"></div>
                </div>
              </div>
            </div>
            <div class="row-bordered">
              <div class="row" style="padding-top:20px;">
                <div class="col-lg-8 col-sm-8 col-xs-8 col-md-8 testAlignLeft">
                  <h3 class="brandingPageCustomHeaderFont  no-bottom-padding">TKI CONFLICT-HANDLING MODE
                    <div class="titleUnderlineFirst">&nbsp;</div>
                    <div class="titleUnderlineSecond">&nbsp;</div>
                  </h3>
                </div>
                <div class="col-lg-4 col-sm-4 col-xs-4 col-md-4">
                  <a class="btn btn-default saveEditButton" ng-click="tkiEditSaveClick('')" tooltips tooltip-template="Edit" tooltip-side="bottom"
                    tooltip-size="small" ng-if="!tkiSaveEditFlag"><span class="glyphicon glyphicon-pencil"></span></a>
                  <a class="btn btn-default saveEditButton save-button" ng-click="tkiEditSaveClick('')" tooltips tooltip-template="Save" tooltip-side="bottom"
                    tooltip-size="small" tooltip-class="save-tooltip" ng-if="tkiSaveEditFlag"><span class="glyphicon glyphicon-ok"></span></a>
                  <a class="btn btn-default saveEditButton cancel-button" ng-click="tkiEditSaveClick('cancel')" tooltips tooltip-template="Cancel"
                    tooltip-side="bottom" tooltip-size="small" tooltip-class="cancel-tooltip" ng-if="tkiSaveEditFlag"><span class="glyphicon glyphicon-remove"></span></a>
                </div>
              </div>
              <p class="customFontForBrandPage testAlignLeft">If you have your Thomas-Killman results, please enter the raw scores to see how this correlates with your LeaderTYPE.
                If you would like to take the Thomas-Killman ($40), please contact us: info@leadertype.com.</p>
              <div class="row zero-top-padding" ng-if="!brandingPageData.tki && !tkiSaveEditFlag">
                <div class="col-lg-12 col-sm-12 col-xs-12 col-md-12 testAlignLeft">
                  <h5 class="no-margin-bottom customFontForBrandPage text-center-align">Click on the pencil icon to take <br /> TKI Assessment</h5>
                </div>
              </div>
              <div class="row zero-top-padding" ng-if="brandingPageData.tki && tkiSaveEditFlag">
                <div class="col-lg-12 col-sm-12 col-xs-12 col-md-12 testAlignLeft">
                  <div class="no-margin-bottom customFontForBrandPage text-center-align"><button class="btn btn-dark" ng-click="tkiAssessmentModalPopup()">Retake TKI Assessment</button></div>
                </div>
              </div>
              <div class="row zero-top-padding" ng-if="!brandingPageData.tki && tkiSaveEditFlag">
                <div class="col-lg-12 col-sm-12 col-xs-12 col-md-12 testAlignLeft">
                  <div class="no-margin-bottom customFontForBrandPage text-center-align"><button class="btn btn-dark" ng-click="tkiAssessmentModalPopup()">Take TKI Assessment</button></div>
                </div>
              </div>
              <div class="row zero-top-padding row-bordered" ng-if="showTkiChartFlag">
                <div class="col-lg-12 col-sm-12 col-xs-12 col-md-12">
                  <div google-chart chart="tkiChart"></div>
                </div>
              </div>
            </div>
            <div class="row" style="padding-top:20px;">
              <div class="col-lg-8 col-sm-8 col-xs-8 col-md-8 testAlignLeft">
                <h3 class="brandingPageCustomHeaderFont  no-bottom-padding">BEST FIT TYPE
                  <div class="titleUnderlineFirst">&nbsp;</div>
                  <div class="titleUnderlineSecond">&nbsp;</div>
                </h3>
              </div>
              <div class="col-lg-4 col-sm-4 col-xs-4 col-md-4">
                <a class="btn btn-default saveEditButton" ng-click="bestFitEditSaveClick('')" tooltips tooltip-template="Edit" tooltip-side="bottom"
                  tooltip-size="small" ng-if="!bestFitSaveEditFlag"><span class="glyphicon glyphicon-pencil"></span></a>
                <a class="btn btn-default saveEditButton save-button" ng-click="bestFitEditSaveClick('')" tooltips tooltip-template="Save"
                  tooltip-side="bottom" tooltip-size="small" tooltip-class="save-tooltip" ng-if="bestFitSaveEditFlag"><span class="glyphicon glyphicon-ok"></span></a>
                <a class="btn btn-default saveEditButton cancel-button" ng-click="bestFitEditSaveClick('cancel')" tooltips tooltip-template="Cancel"
                  tooltip-side="bottom" tooltip-size="small" tooltip-class="cancel-tooltip" ng-if="bestFitSaveEditFlag"><span class="glyphicon glyphicon-remove"></span></a>
              </div>
            </div>
            <p class="customFontForBrandPage testAlignLeft" ng-if="!bestFitImg">If you have taken a personality type indicator, such as the Myers-Briggs Type Indicator®, and validated your
              ‘best fit’ type, enter it here.</p>
            <div class="row zero-top-padding">
              <div class="col-lg-12 col-sm-12 col-xs-12 col-md-12 testAlignLeft">
                <div class="form-group">
                  <select name="bestfit" class="form-control" ng-disabled="!bestFitSaveEditFlag" ng-model="bestFitMappingDropdown" ng-change="bestFitChange()">
                    <option>Choose your type</option>
                    <option ng-repeat="(key, value) in bestFitType" value="{{key}}">{{value.subType}}</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row padding-top-20">
              <div class="col-lg-12 col-sm-12 col-xs-12 col-md-12 testAlignLeft">
                <h3 class="brandingPageCustomHeaderFont  no-bottom-padding">U.S. Presidents with the same dominant LeaderType™
                  <div class="titleUnderlineFirst">&nbsp;</div>
                  <div class="titleUnderlineSecond">&nbsp;</div>
                </h3>
              </div>
            </div>
            <div class="row zero-top-padding bestFitStyle" ng-if="bestFitImg">
              <div class="col-md-6 col-sm-4 col-xs-5 col-ls-6">
                <div class="portfolio-item">
                  <a><img ng-src="{{bestFitImg}}" alt=""></a>
                </div>
              </div>
              <div class="col-lg-6 col-sm-8 col-xs-7 col-md-6">
                <h4 class="no-margin-bottom text-justify">Preferences</h4>
                <p class="no-margin-bottom text-justify"><small>My preferences are for…</small></p>
                <ul class="justified-menu">
                  <li ng-repeat="values in bestFitValues">{{values}}</li>
                </ul>
              </div>
            </div>
            <div class="row zero-top-padding" ng-if="!bestFitImg">
              <div class="col-md-12 col-sm-12 col-xs-12 col-ls-12 testAlignLeft">
                <p class="customFontForBrandPage text-center-align">Click on the pencil icon to select a best fit type</P>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <input type="hidden" value='0' ng-model="changemodal" name="change" />
</form>
<script type="text/ng-template" id="needs.html">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" ng-click="close()">&times;</button>
    <h4 class="modal-title text-center-align">Needs Assessment</h4>
  </div>
  <div class="row height-400">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="row height-400 question-container-height-needs-popup">
        <!--Progress bar-->
        <div class="progressdiv">
          <div class="progress" ng-style="{ 'width': percentage + '%' }">
          </div>
        </div>
        <div>
          <h5 class="zero-bottom-margin aligntextcenter transform-inherit">Instructions: Assign a total of 5 points based on how closely each statement matches your point of view.</br>
          </h5>
          <p ng-if="error" style="text-align:center;color: red;padding-left: 5px;padding-right: 5px;">{{error}}</p>
          <p class="needNumberPerPage">{{questionId+1}} of 18</p>
          <div ng-repeat="question in needs.questions[questionId].questionGroup">
            <div class="row topmargin fixed-height">
              <div class="col-lg-1 col-md-1 col-sm-1 col-xs-3" style="width: 12%;">
                <input type="number" min="0" step="1" ng-model="question.value" class="form-control" />
              </div>
              <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 aligntextcenter" style="width: 0.333333%;">
                <label ng-if="$first">a</label>
                <label ng-if="!$last && !$first">b</label>
                <label ng-if="$last">c</label>
              </div>
              <div class="col-lg-10 col-md-10 col-sm-10 col-xs-8">{{question.question}}</div>
            </div>
          </div>
        </div>
      </div>
      <div class=" position-relative">
        <hr>
        <div class="pull-left botmargin">
          <button class="btn btn-dark leftbutton" ng-click="resetPage()" aria-label="Close"><i class="fa fa-refresh" aria-hidden="true"></i>&nbsp;&nbsp;Reset</button>
        </div>
        <div class="pull-right">
          <!-- Previous Page -->
          <button class="btn btn-dark leftbutton" ng-disabled="isCanPrev" ng-click="prevPage()"><i class="fa fa-arrow-circle-left"></i>&nbsp;&nbsp;Back</button>
          <!-- Next Page -->
          <div ng-if="!isCanNext" class="pull-right but">
            <button class="btn btn-dark leftbutton" ng-click="nextPagefunc(event)">
                      Next&nbsp;
                      <i class="fa fa-arrow-circle-right"></i>
                  </button>
          </div>
          <!--Submit Page-->
          <div ng-if="isCanNext" class="pull-right but">
            <button class="btn btn-dark leftbutton" ng-click="submit()">Submit&nbsp;&nbsp;<i class="fa fa-check-circle"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</script>
<script type="text/ng-template" id="tkiAssessment.html">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" ng-click="close()">&times;</button>
    <h4 class="modal-title text-center-align">TKI Assessment</h4>
  </div>
  <div class="row height-400">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="row height-400 question-container-height">
        <h5 class="zero-bottom-margin aligntextcenter transform-inherit padding-top-15 triggerPopup">Any sharp disagreement or difference with another person or group is a conflict. How you approach it depends on many
          variables. It can be helpful to reflect on your experience with conflict, and answer a brief assessment called
          the Thomas-Kilmann Conflict Mode Instrument (TKI). <a href="http://www.kilmanndiagnostics.com/catalog/thomas-kilmann-conflict-mode-instrument"
            target="blank">Click here</a> to take the TKI.</h5>
        <div>
          <h5 class="zero-bottom-margin aligntextcenter transform-inherit">Enter your actual results (not percentiles) from your TKI report :</h5>
          <p ng-if="error" style="text-align:center;color: red;padding-left: 5px;padding-right: 5px;">{{error}}</p>
          <div ng-repeat="question in inputs">
            <div class="row topmargin fixed-height">
              <div class="col-md-5 col-sm-5 col-xs-5 tkiQuestionLi">
                {{question.question}}
              </div>
              <div class="col-md-2 col-sm-2 col-xs-3">
                <input type="number" ng-model="question.value" class="form-control" min="0" max="12" step="1" />
              </div>
              <div class="col-md-5 col-sm-5 col-xs-4">
                <0 – 12>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="position-relative">
        <hr>
        <div class="pull-left botmargin">
          <button class="btn btn-dark leftbutton" ng-click="resetPage()" aria-label="Close"><i class="fa fa-refresh" aria-hidden="true"></i>&nbsp;&nbsp;Reset</button>
        </div>
        <div class="pull-right">
          <div ng-if="nextPage==null" class="pull-right but">
            <button class="btn btn-dark leftbutton" type="submit" ng-click="submit()">Submit&nbsp;&nbsp;<i class="fa fa-check-circle"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</script>
<script type="text/ng-template" id="triggers.html">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" ng-click="close()">&times;</button>
    <h4 class="modal-title text-center-align">Triggers Assessment</h4>
  </div>
  <div class="row zero-top-padding height-400">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="row height-400 question-container-height">
        <h5 class="aligntextcenter transform-inherit padding-top-15 triggerPopup">David Rock of the NeuroLeadership Institute presents a compelling case for five (5) emotional triggers that impact
          people at work on a daily basis. Take this brief (14-question) survey to determine your most prevalent triggers:
          <a href="http://www.scarfsolutions.com/SelfAssessment.aspx" target="blank"> http://www.scarfsolutions.com/SelfAssessment.aspx</a>
        </h5>
        <p ng-if="error" style="text-align:center;color: red;padding-left: 5px;padding-right: 5px;">{{error}}</p>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
          <h5 class="text-center-align">Once completed, enter your results below (percentages which should total 100%).</h5>
          <div ng-repeat="question in inputs">
            <div class="row topmargin fixed-height">
              <div>
                <ul class="quest questBranding">
                  <li class="col-md-4 col-sm-4 col-xs-4"><input type="number" ng-model="question.value" class="form-control" min="0" max="100" /></li>
                  <li class="col-md-6 col-sm-6 col-xs-6">{{question.question}}</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
          <iframe height="470px " width="100%" ng-src="{{detailFrame}}"></iframe>
        </div>
      </div>
      <div class="position-relative">
        <hr>
        <div class="pull-left botmargin">
          <button class="btn btn-dark leftbutton" ng-click="resetPage()" aria-label="Close"><i class="fa fa-refresh" aria-hidden="true"></i>&nbsp;&nbsp;Reset</button>
        </div>
        <div class="pull-right">
          <div ng-if="nextPage==null" class="pull-right but">
            <button class="btn btn-dark leftbutton" type="submit" ng-click="submit()">Submit&nbsp;&nbsp;<i class="fa fa-check-circle"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</script>

<script type="text/ng-template" id="leaderShipQualities.html">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" ng-click="close()">&times;</button>
    <h4 class="modal-title text-center-align">Leadership Qualities Assessment</h4>
  </div>
  <div class="row height-400">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="row height-350 question-container-height-leader-popup">
        <!--Progress bar-->
        <div class="progressdiv">
          <div class="progress" ng-style="{ 'width': percentage + '%' }">
          </div>
        </div>
        <h5 class="zero-bottom-margin aligntextcenter transform-inherit">As a leader, I see myself as...</h5>
        <p class="needNumberPerPage">{{steps}} <span ng-if="totalSteps > 0">of</span> {{totalSteps}}</p>
        <div ng-repeat="question in inputs">
          <div class="row topmargin fixed-height customFontSize leadership-range">
            <!--<ul class="quest">-->
            <div class="col-md-2 col-sm-4 col-xs-4">
              {{question.question}}
            </div>
            <div class="col-md-9 col-sm-4 col-xs-4 text-center-align leadership-range-border">
              <input type="range" ng-model="question.value" step="1" min="-2" max="2" class="leadership-color-banner" />
            </div>
            <br />
          </div>
        </div>
      </div>
      <!-- <center> -->
      <div class="col-md-12 color-row zero-top-padding">
        <div class="col-md-12 color-pallete-align padding-bottom-20">
          <div class="col-md-4 color-row">
            <span class="color-meaning legend-1 boldfont">Minimally</span>
          </div>
          <div class="col-md-2 color-row">
            <span class="color-meaning legend-2 boldfont">Somewhat</span>
          </div>
          <div class="col-md-2 color-row">
            <span class="color-meaning boldfont">Moderately</span>
          </div>
          <div class="col-md-2 color-row">
            <span class="color-meaning legend-3 boldfont">Very</span>
          </div>
          <div class="col-md-2 color-row">
            <span class="color-meaning legend-4 boldfont">Extremely</span>
          </div>
        </div>
      </div>
      <!-- </center> -->
      <div class="position-relative">
        <hr>
        <div class="pull-left botmargin">
          <button class="btn btn-dark leftbutton" ng-click="resetPage()" aria-label="Close"><i class="fa fa-refresh" aria-hidden="true"></i>&nbsp;&nbsp;Reset</button>
        </div>
        <div class="pull-right">
          <!-- Previous Page -->
          <button class="btn btn-dark leftbutton" ng-disabled="isCanPrev" ng-click="prevPage()"><i class="fa fa-arrow-circle-left"></i>&nbsp;&nbsp;Back</button>
          <!-- Next Page -->
          <div ng-if="!isCanNext" class="pull-right but">
            <button class="btn btn-dark leftbutton" ng-click="nextPagefunc(event)">
                      Next&nbsp;
                      <i class="fa fa-arrow-circle-right"></i>
                  </button>
          </div>
          <!--Submit Page-->
          <div ng-if="isCanNext" class="pull-right but">
            <button class="btn btn-dark leftbutton" ng-click="submit()">Submit&nbsp;&nbsp;<i class="fa fa-check-circle"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</script>
<script type="text/ng-template" id="simple.html">
  <ul dnd-list dnd-drop="onDrop(list, item, index)">
    <li ng-repeat="item in list.items" dnd-draggable="getSelectedItemsIncluding(list, item)" dnd-dragstart="onDragstart(list, event)"
      dnd-moved="onMoved(list)" dnd-dragend="list.dragging = false" dnd-selected="item.selected = !item.selected" ng-class="{'selected': item.selected}"
      ng-hide="list.dragging && item.selected">
      {{item.label}}
    </li>
  </ul>
</script>

<script type="text/ng-template" id="value.html">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" ng-click="close()">&times;</button>
    <h4 class="modal-title text-center-align">Value Sort</h4>
  </div>
  <div class="row valueSortContent" style="margin:0px;">
    <h5 ng-if="page==1" class="aligntextcenter transform-inherit padding-top-15 triggerPopup">Sort these into 3 relatively equal groupings of 25-30 values: very important, important, less important.</h5>
    <p ng-if="error && page==1" style="text-align:center;color: red;padding-left: 5px;padding-right: 5px;">{{error}}</p>
    <uib-tabset ng-if="page==1">
      <uib-tab heading="Questions">
        <div class="tab-container">
          <ul class="list-group">
            <li data-ng-repeat="item in models1[0].items | filter:myFilter | orderBy: item.label" class="list-group-item dropdown customDropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{item.label}} <b class="caret customCaret"></b></a>
              <ul class="dropdown-menu">
                <li><a ng-click="moveToCategory(0,2,$index)">Move to Important</a></li>
                <li><a ng-click="moveToCategory(0,1,$index)">Move to Very Important</a></li>
                <li><a ng-click="moveToCategory(0,3,$index)">Move to Less Important</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </uib-tab>
      <uib-tab heading="Very Important">
        <div class="tab-container">
          <ul class="list-group">
            <li data-ng-repeat="item in models1[1].items | filter:myFilter | orderBy: item.label" class="list-group-item">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{item.label}} <b class="caret customCaret"></b></a>
              <ul class="dropdown-menu">
                <li><a ng-click="moveToCategory(1,0,$index)">Move back to Question</a></li>
                <li><a ng-click="moveToCategory(1,2,$index)">Move to Important</a></li>
                <li><a ng-click="moveToCategory(1,3,$index)">Move to Less Important</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </uib-tab>
      <uib-tab heading="Important">
        <div class="tab-container">
          <ul class="list-group">
            <li data-ng-repeat="item in models1[2].items | filter:myFilter | orderBy: item.label" class="list-group-item">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{item.label}} <b class="caret customCaret"></b></a>
              <ul class="dropdown-menu">
                <li><a ng-click="moveToCategory(2,0,$index)">Move back to Question</a></li>
                <li><a ng-click="moveToCategory(2,1,$index)">Move to Very Important</a></li>
                <li><a ng-click="moveToCategory(2,3,$index)">Move to Less Important</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </uib-tab>
      <uib-tab heading="Less Important">
        <div class="tab-container">
          <ul class="list-group">
            <li data-ng-repeat="item in models1[3].items | filter:myFilter | orderBy: item.label" class="list-group-item">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{item.label}} <b class="caret customCaret"></b></a>
              <ul class="dropdown-menu">
                <li><a ng-click="moveToCategory(3,0,$index)">Move back to Question</a></li>
                <li><a ng-click="moveToCategory(3,2,$index)">Move to Important</a></li>
                <li><a ng-click="moveToCategory(3,1,$index)">Move to Very Important</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </uib-tab>
    </uib-tabset>
    <div class="simpleDemo" ng-if="page==2">
      <div class="row" style="margin-left:0px;margin-right:0px;">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <p style="margin-bottom:0px;">Select 6 core values from the ‘very important’ group based on:</p>
          <ul>
            <li>what matters most to you in leading a team</li>
            <li>what you insist on from your team</li>
            <li>what you are willing to commit to publicly and be held accountable for</li>
          </ul>
          <p ng-if="error && page==2" style="text-align:center;color: red;padding-left: 5px;padding-right: 5px;">{{error}}</p>
        </div>
        <div class="col-md-3"></div>
      </div>
      <div class="row zero-top-padding" style="margin-left:0px;margin-right:0px;">
        <div class="col-md-4"></div>
        <div ng-repeat="list in models2" class="col-md-4">
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">{{list.listName}}</h3>
            </div>
            <div class="panel-body" style="height:260px;overflow:scroll;" ng-include="'simple.html'"></div>
          </div>
        </div>
        <div class="col-md-4"></div>
      </div>
    </div>
    <div class="position-relative displayOnlyForMobile">
      <hr>
      <div class="pull-left botmargin">
        <button class="btn btn-dark leftbutton" ng-click="resetPageForMobile()" aria-label="Close"><i class="fa fa-refresh" aria-hidden="true"></i>&nbsp;&nbsp;Reset</button>
      </div>
      <div class="pull-right">
        <!-- Previous Page -->
        <button class="btn btn-dark leftbutton" ng-disabled="isCanPrev" ng-click="prevPageForMobile()"><i class="fa fa-arrow-circle-left"></i>&nbsp;&nbsp;Back</button>
        <!-- Next Page -->
        <div ng-if="!isCanNext" class="pull-right but">
          <button class="btn btn-dark leftbutton" ng-click="nextPagefuncForMobile(event)">
                Next&nbsp;
                <i class="fa fa-arrow-circle-right"></i>
            </button>
        </div>
        <!--Submit Page-->
        <div ng-if="isCanNext" class="pull-right but">
          <button class="btn btn-dark leftbutton" ng-click="submitForMobile()">Submit&nbsp;&nbsp;<i class="fa fa-check-circle"></i></button>
        </div>
      </div>
    </div>
  </div>
  <div class="row displayNoneForMobile" style="margin-left:0px;margin-right:0px;padding-top:0px;">
    <div class="col-md-12 col-sm-12 col-xs-12" style="height:490px;overflow:scroll;">
      <div class="row height-350 question-container-height-value-popup">
        <h5 ng-if="page==1" class="aligntextcenter transform-inherit padding-top-15 triggerPopup">Sort these into 3 relatively equal groupings of 25-30 values: very important, important, less important.</h5>
        <p ng-if="error && page==1" style="text-align:center;color: red;padding-left: 5px;padding-right: 5px;">{{error}}</p>
        <div class="simpleDemo" ng-if="page==1">
          <div class="row" style="margin-left:0px;margin-right:0px;">
            <div ng-repeat="list in models1" class="col-lg-3 col-md-3 col-xs-12 col-sm-12">
              <div class="panel panel-info">
                <div class="panel-heading">
                  <h3 class="panel-title">{{list.listName}}</h3>
                </div>
                <div class="panel-body" style="height:300px;overflow:scroll;" ng-include="'simple.html'"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="simpleDemo" ng-if="page==2">
          <div class="row" style="margin-left:0px;margin-right:0px;">
            <div class="col-md-3"></div>
            <div class="col-md-6">
              <p style="margin-bottom:0px;">Select 6 core values from the ‘very important’ group based on:</p>
              <ul>
                <li>what matters most to you in leading a team</li>
                <li>what you insist on from your team</li>
                <li>what you are willing to commit to publicly and be held accountable for</li>
              </ul>
              <p ng-if="error && page==2" style="text-align:center;color: red;padding-left: 5px;padding-right: 5px;">{{error}}</p>
            </div>
            <div class="col-md-3"></div>
          </div>
          <div class="row zero-top-padding" style="margin-left:0px;margin-right:0px;">
            <div class="col-md-4"></div>
            <div ng-repeat="list in models2" class="col-md-4">
              <div class="panel panel-info">
                <div class="panel-heading">
                  <h3 class="panel-title">{{list.listName}}</h3>
                </div>
                <div class="panel-body" style="height:260px;overflow:scroll;" ng-include="'simple.html'"></div>
              </div>
            </div>
            <div class="col-md-4"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="position-relative displayNoneForMobile">
    <hr>
    <div class="pull-left botmargin">
      <button class="btn btn-dark leftbutton" ng-click="resetPage()" aria-label="Close"><i class="fa fa-refresh" aria-hidden="true"></i>&nbsp;&nbsp;Reset</button>
    </div>
    <div class="pull-right">
      <!-- Previous Page -->
      <button class="btn btn-dark leftbutton" ng-disabled="isCanPrev" ng-click="prevPage()"><i class="fa fa-arrow-circle-left"></i>&nbsp;&nbsp;Back</button>
      <!-- Next Page -->
      <div ng-if="!isCanNext" class="pull-right but">
        <button class="btn btn-dark leftbutton" ng-click="nextPagefunc(event)">
              Next&nbsp;
              <i class="fa fa-arrow-circle-right"></i>
          </button>
      </div>
      <!--Submit Page-->
      <div ng-if="isCanNext" class="pull-right but">
        <button class="btn btn-dark leftbutton" ng-click="submit()">Submit&nbsp;&nbsp;<i class="fa fa-check-circle"></i></button>
      </div>
    </div>
  </div>
</script>

<div class="modal fade" id="exitPageConfirmationModal" role="dialog">
  <div class="modal-dialog confirm-modal-dialog">
    <div class="modal-content confirm-modal">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
        <i class="fa fa-exclamation-triangle  icon-mob  confirm-modal-header-icon"></i>
        <h4 class="modal-title  fw-semibold confirm-modal-title">Are you sure?</h4>
      </div>
      <center></center>
      <div class="row">
        <!--<div class="icon-modal-place">-->
        <!--<i class="fa fa-shopping-bag fa-lg icon-mod hidden-md-down"></i>-->
        <h5 class="padding-0-20">Your changes will be lost if you don't save them. Do you want to continue?</h5>
      </div>
      <!--</div>-->
      <div class="modal-footer">
        <button class="btn btn-dark1" ng-click="confirmExit()">No</button>
        <button class="btn btn-gray" ng-click="hideExitModal()">Yes</button>
      </div>
    </div>
  </div>
</div>
<section ng-show="!subscribedPackages[0]||subscribedPackages[1]">
  <div class="container">
    <div class="row make-center">
      <h3 ng-if="!subscribedPackages[0]" class="make-center"> Oops! It seems this feature is not included in your subscription.</h3>
      <h3 ng-if="subscribedPackages[1]" class="make-center"> Your subscription has been expired.Please renew your subscription.</h3>
      <button class="btn btn-dark " ng-if="!subscribedPackages[0]" ng-click="gotoPackage()">Subscribe</button>
      <button class="btn btn-dark " ng-if="subscribedPackages[1]" ng-click="$root.authService.gotoAccount()">Subscribe</button>
    </div>
  </div>
</section>
<section class="section-small footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <p>&copy; 2017 | LeaderType™ | All rights are reserved | <span ng-click="gotoPrivacy()"><a class="text-link">Privacy Policy</a></span></p>
      </div>
      <div class="col-sm-3">
      </div>
      <div class="col-sm-3  text-right">
        <ul class="list-inline">
          <a class="color-white btn btn-info social-btn-size" href="https://twitter.com/LeaderType" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
          <a class="color-white btn fb-bg social-btn-size" href="https://www.facebook.com/leadertype/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
          <a class="color-white btn linkedin-bg social-btn-size" href="https://www.linkedin.com/company/leadertype" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i> </a>
        </ul>
      </div>
    </div>
  </div>
</section>