.brandingexistinguser{
 width: 100%;
    height: 2000px;
    background-image : url("../images/brandingimage.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: -70px;
}

