@import "https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900|Roboto+Mono:100,400|Caveat";
/*LeaderType*/

body
  {
	font-family: 'Raleway', sans-serif !important;
}

.questdiv{
        margin: 0px auto;
      }
.quest li{
  font-family: 'Raleway', sans-serif !important;
  display: block;
  float: left;
  margin: 0;
  padding: 10px;
  box-sizing: border-box;
  /*width: 150px;*/
}

.but{
margin-left:5px;
}
.slid{
width: 260px !important;
}
.leftli{
text-align: right;
}
.quest{
  /*margin-left: 75px;*/
   /*width: 615px;*/
 /* width: 100%; */
 margin: 0px auto;
 text-align: center;
}

input[type="range"] {
 -webkit-appearance: none;
 -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
 width: 100%;
 height: 3px;
 margin-top:10px;
 border: none;
 padding: 1px 2px;
 border-radius: 14px;
 background: #232528 ;
 box-shadow: inset 0 1px 0 0 #0d0e0f , inset 0 -1px 0 0 #3a3d42 ;
 -webkit-box-shadow: inset 0 1px 0 0 #0d0e0f , inset 0 -1px 0 0 #3a3d42 ;
 outline: none; /* no focus outline */
}

input[type="range"]::-moz-range-track {
 border: inherit;
 background: transparent;
}

input[type="range"]::-ms-track {
 border: inherit;
 color: transparent; /* don't drawn vertical reference line */
 background: transparent;
}

input[type="range"]::-ms-fill-lower,
input[type="range"]::-ms-fill-upper {
 background: transparent;
}

input[type="range"]::-ms-tooltip {
 display: none;
}

/* thumb */

input[type="range"]::-webkit-slider-thumb {
 -webkit-appearance: none;
 width: 20px;
 height: 18px;
 border: none;
 border-radius: 12px;
 background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #529de1 ), color-stop(100%, #245e8f )); /* android <= 2.2 */
 background-image: -webkit-linear-gradient(top , #529de1  0, #245e8f 100%); /* older mobile safari and android > 2.2 */;
 background-image: linear-gradient(to bottom, #529de1  0, #245e8f  100%); /* W3C */
}
input[type="range"]::-moz-range-thumb {
 width: 40px;
 height: 18px;
 border: none;
 border-radius: 12px;
 background-image: linear-gradient(to bottom, #529de1  0, #245e8f  100%); /* W3C */
}

input[type="range"]::-ms-thumb {
 width: 40px;
 height: 18px;
 border-radius: 12px;
 border: 0;
 background-image: linear-gradient(to bottom, #529de1  0, #245e8f  100%); /* W3C */
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.box-centerside  {
      width:auto;
      height:auto; 
      border: solid 1px #555;
      border-radius: 15px;
      -moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;
   margin: 25px;
   padding: 10px;
   align-content: center;
}


.num{
  width: 100px !important;
}

.pagelabel{
  padding: 5px;
  margin: 3px;
}
.aligntextcenter{
  text-align: center;
 
}
.strip-custom{
    /*padding: 0px;
    position: fixed; 
    top: 0;
    height: 40px;*/
    /*padding: 0px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;*/
    padding: 0px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    height: 10px;
    background: #fff;
}
.strip{
  padding: 0px;
  
}
.strip div{
  height:5px;
}
.green-strip{
  background:#00a651;
  height: 3px;
}
.yellow-strip{
  background:#ffde16;
  height: 3px;
}
.red-strip{
  background:#ed1c24;
  height: 3px;
}
.blue-strip{
  background:#2e3192;
  height: 3px;
}
.multiple-border-color{
	float:left;
	width: 100%
}
/*ul.strip-border{
	margin:0;
	padding:0;
	list-style:none;
	width: 100%;
	font-size: 0;
}
ul.strip-border li{
	display:inline-block;
	width:25%;
	height:9px;
}
ul.strip-border li:nth-child(1) {
  background:#00a651;
  height: 3px;
}

ul.strip-border li:nth-child(2) {
  background:#ffde16;
  height: 3px;
}

ul.strip-border li:nth-child(3) {
  background:#ed1c24;
  height: 3px;
}

ul.strip-border li:nth-child(4) {
  background:#2e3192;
  height: 3px;
}*/
hr{
  border-top: 1px solid #000000;
}
.headers{
  padding-top: 10px;
  padding-bottom: 10px;
}
.topmargin{
  margin-top: 45px;
}
.leftcont{
  width:auto;
  height:300px;
  margin-top:100px;
}
.rightbutton{
  width: 165px;
  height: 52px;
  padding: 10px;
  margin: 10px;
    padding: 10px 0px 10px 0px;
    color: #FFF;
    background: #292929;
    text-align: center;
    border-bottom: 5px solid #000;
    border: 1px solid #000;
    
}
.rightbutton:hover{
  color: #000;
    background: #FAFAFA;
    border-bottom: 5px solid #454545;
}
.paddingval{
  padding: 10px;
}
.leftbutton{
  width: 100px;
  height: 52px;
  padding: 10px;
  margin: 10px;
    padding: 10px 0px 10px 0px;
    color: #FFF;
    background: #292929;
    text-align: center;
    border-bottom: 5px solid #000;
    border: 1px solid #000;
    
}
.leftbutton:hover{
  color: #000;
    background: #FAFAFA;
    border-bottom: 5px solid #454545;
}

.leftbutton:disabled{
  background: #595959;
}
.leftbutton:disabled:hover{
  color: #fff;
}

.boldfont{
  font-weight: bold !important;
}

.boldfonts{
  font-family: 'Raleway', sans-serif !important;
  font-weight: bold !important;
  font-size: 16px;
  margin: 0px auto;
}

.ad{
  background-color: #e6e6e6;
  width: 190px;
  height: 400px;
}
.buttonmargin{
  margin-top: 85px;
  padding-left: 15px;
  width:94%;
  margin-left: 15px;
}
.centerdiv{
  border: 1px solid #ddd;
}
.progress{
  background-color: #e6e6e6;
  padding: 3px;
  height: 1px;
  overflow: hidden;
  max-width: 100%;
}
.progressdiv{
  margin-top: 30px;
  height: 8px;
  width: 100%;
  border: 1px solid #ccc;
  margin:0px;
}
.botmargin{
  margin-bottom: 30px;
}
.margincenter{
  margin-top: 50px;
}
.margincenterdiv{
  margin-top: 95px;
}
.leftpadding{
  padding-left: 10%;
}
.logo-custom{
  width: 37px;
    height: 30px;
  
}

.header-custom{
    /*height: 70px !important;
    border-bottom: 1px solid #ccc;
    padding-top: 5px;
    font-size: 13px;
    font-weight: 100;
    background: #fff;*/
    height: 70px !important;
    border-bottom: 1px solid #ccc;
    top: 5px;
    font-size: 13px;
    font-weight: 100;
    background: #fff;
}

.top-margin{
  margin-top: 0px;
}


.custom-nav{
      margin-top: 14px;
}
.heading-custom{
    font-size: 15px;
    text-transform: none;
    font-weight: 100 !important;
    padding-bottom: 20px;
}
.heading-custom-1{
  font-size: 15px;
    text-transform: none;
    /*font-weight: 100 !important;*/
    padding-bottom: 20px;
}

.progressdiv{
  display: inherit;
}

.lt-adv{
     background: #ccc;
    padding: 0;
}

.lt-adv img{
  width: 100%;
}

.no-padding{
  padding: 0 !important;
}


.leftbutton-big{
  width: 155px;
  height: 52px;
  padding: 10px;
  margin: 10px;
    padding: 10px 0px 10px 0px;
    color: #FFF;
    background: #292929;
    text-align: center;
    border-bottom: 5px solid #000;
    border: 1px solid #000;
    
}


.leftbutton-big:hover{
  color: #000;
    background: #FAFAFA;
    border-bottom: 5px solid #454545;
}

.fixed-height{
     margin:5px;
}

.bottom-margin{
  margin-bottom: 15px;
}


.question{
  display: inline;
}

.bottom-border{
  border: 1px solid red;
}

.transform-inherit{
  text-transform: inherit;
}