/*!
    Universal - Smart multi-purpose html5 template
    To use this template you must have a license purchased at Themeforest (themeforest.com)
    Copyright 1995-2016 ForBetterWeb.com
 */
/*------------------------------------------------------------------

Table of contents

* Fonts
* Plugins
* Base structure
  * Preloader
  * Buttons
  * NavBar
  * Backgrounds and font color
  * Intro
    * Intro solid color
    * Video background
  * Forms
    * Subscribe form
  * Countdown
  * News - Blog grid
  * Team
  * Contact
  * Quote
  * Facts
  * Map
  * Carousel
    * Shop thumbnails carousel
  * Animated mouse
  * Text rotator
  * Number scroller
  * Testimonials
  *  Portfolio
  * Pricing
  * Miscellaneous
  * Pager
  * Bars and charts
  * Shop
  * Media Queries
  * Magic background
  * Footer
* Stop animation on mobile devices
* Demo page

-------------------------------------------------------------------*/
/* Fonts */
@import "https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900|Roboto+Mono:100,400|Caveat";
/* Plugins */
@import url(../js/vegas/vegas.min.css);
@import url(ionicons.min.css);
@import url(font-awesome.min.css);
@import url(animate.min.css);
@import url(swipebox.css);
/* Base structure */
html {
    width: 100% !important;
    height: 100% !important; }

body {

    overflow-x: hidden !important;
    width: 100% !important;
    height: 100% !important;
    font: normal 15px/1.8 Raleway , sans-serif;
    letter-spacing: 0.03em;
    color: #000;
    background-color: #fff;
    -webkit-font-smoothing: antialiased; }
/*.container {
    max-width: 100% !important;
    overflow-x: hidden !important;
}*/
/* Preloader */
#preloader {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    background-color: #fff;
    z-index: 99999;
    height: 100%;
    width: 100%;
    overflow: hidden; }

/*#loadingmsg {
    position: absolute;
    top: 46.5%;/* changed LT-142 *
    margin-left:43%; /* changed LT-142 *
    height: 49px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    font-weight: 200;
    padding-top: 20px;
    }*/
@media only screen and (max-width:500px){
    #status{left:45.5% !important;}
    .text-msg{left:32% !important;}
}

#status {
    position: absolute;
    left: 47.5%;/*Changed 47*/
    top: 40%;/*Changed 50*/
    margin: auto;
    width: 49px;
    height: 49px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    animation: 1.15s infinite ease-in-out;
    -webkit-animation: 1.15s infinite ease-in-out;
    -moz-animation: 1.15s infinite ease-in-out;
    animation-name: loader;
    -webkit-animation-name: loader;
    -moz-animation-name: loader; }
#status:before, #status:after {
    animation: 1.15s infinite ease-in-out;
    -webkit-animation: 1.15s infinite ease-in-out;
    -moz-animation: 1.15s infinite ease-in-out; }
#status:before, #status:after {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0; }

@keyframes loader {
     0%   {background-color: #ed1c24;}
    25%  {background-color: #ffde16;}
    50%  {background-color: #2e3192;}
    100% {background-color: #00a651;}
    from {
        transform: scale(0);
        opacity: 1; }
    to {
        transform: scale(1);
        opacity: 0.5; } }
@-ms-keyframes loader {
     0%   {background-color: #ed1c24;}
    25%  {background-color: #ffde16;}
    50%  {background-color: #2e3192;}
    100% {background-color: #00a651;}
    from {
        -ms-transform: scale(0);
        opacity: 1; }
    to {
        -ms-transform: scale(1);
        opacity: 0.5; } }
@-webkit-keyframes loader {
     0%   {background-color: #ed1c24;}
    25%  {background-color: #ffde16;}
    50%  {background-color: #2e3192;}
    100% {background-color: #00a651;}
    from {
        -webkit-transform: scale(0);
        opacity: 1; }
    to {
        -webkit-transform: scale(1);
        opacity: 0.5; } }
@-moz-keyframes loader {
    from {
        -moz-transform: scale(0);
        opacity: 1; }
    to {
        -moz-transform: scale(1);
        opacity: 0.5; } }
h1, h2, h3, h4, h5, h6 {
    margin: 0 0 35px;
    text-transform: inherit;
    letter-spacing: 0.1em;
    line-height: 1.7;
    font-weight: 400; }

h4, h5, h6 {
    font-weight: 400; }

.no-transform {
    text-transform: none; }

p {
    margin: 0 0 35px; }

a {
    text-decoration: none;
    color: #000;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease; }
a img {
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease; }

img {
    -webkit-filter: blur(0);
    filter: blur(0); }

a, img, :focus, input {
    outline: none !important; }

a:hover, a:focus {
    color: #789;
    text-decoration: none; }

a img:hover {
    opacity: .85; }

.no-pad {
    padding: 0 !important;
    margin: 0 !important; }

.no-pad-btm {
    padding-bottom: 0 !important; }

.no-pad-top {
    padding-top: 0 !important; }

.overlay {
    background: rgba(7, 9, 21, 0.7); }

.overlay-gray {
    background: rgba(0, 0, 0, 0.7); }

.overlay-white {
    background: rgba(255, 255, 255, 0.8); }

.overlay, .overlay-gray, .overlay-white {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0; }

.image-overlay {
    padding: 0;
    margin-top: -200px;
    position: relative; }

@media (max-height: 770px) {
    .image-overlay {
        margin-top: -120px; } }
.big {
    font-size: 300px;
    line-height: 1;
    text-shadow: none; }

.breadcrumb {
    background-color: transparent;
    padding: 15px 15px; }

section, .section {
    position: relative;
    z-index: 992;
    padding-top: 140px;
    padding-bottom: 140px;
    background-color: #fff; }

.section-small {
    padding-top: 80px;
    padding-bottom: 80px;
    }
.section-min{
    padding-left: 0px;
    padding-right: 0px;
    padding-top:27px;
    padding-bottom: 0px;
}

.section-min-top{
    padding-left: 0px;
    padding-right: 0px;
    padding-top:0px;
    padding-bottom: 0px;
}

.list-inline > li {
    padding-bottom: 10px;
    vertical-align: bottom; }

.label, input, .btn, textarea, .dropdown-menu, .panel, .progress, .list-group-item, select {
    border-radius: 0 !important;
   }

.label {
    padding: 0.2em 0.7em 0.3em 0.7em; }

.nav .label {
    padding: 0.4em 0.7em 0.3em 0.7em; }

.label-danger {
    background-color: #c00; }

.badge {
    line-height: inherit;
    border-radius: 2px !important; }

/* Buttons */
.btn {
    font-size: 12px !important;
    letter-spacing: 2px;
    outline: 0;
    text-transform: uppercase;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    text-shadow: none;
    text-decoration: none;
    font-weight: 600;
    padding: 8px 12px 6px 15px; }

.btn-lg {
    font-size: 13px !important;
    padding: 10px 35px; }

.btn-sm {
    font-size: 11px !important; }

.btn-xs {
    font-size: 10px !important;
    padding: 4px 10px; }

.btn-border {
    border: 2px solid #fff;
    color: #fff !important;
    background-color: transparent; }
.btn-dark1 {
    border: 2px solid #2F4B5B;
    background-color: #2F4B5B;
    color: #fff !important;
}
.btn-blue{
     border: 2px solid #23CBF4;
    background-color: #23CBF4;
    color: #fff !important;
}

.btn-dark-border {
    border: 1px solid #000;
    color: #000;
    background-color: transparent; }

.btn-white {
    border: 2px solid #fff;
    color: #000 !important;
    background-color: #fff; }

.btn-gray {
    border: 2px solid #ddd;
    background-color: #ddd;
    color: #000 !important; }

.btn-dark {
    background-color: #18191B;
    color: #fff !important; }

.btn-universal {
    border: 2px solid #789;
    background-color: #789;
    color: #fff !important; }

.btn-violet {
    border: 2px solid #ff4081;
    background-color: #ff4081;
    color: #fff !important; }

.btn:hover {
    opacity: 0.65; }

.btn-border:focus, .btn-dark-border:focus, .btn-gray:focus, .btn-border:focus, .btn-white:focus, .btn-universal:focus, .btn-violet:focus {
    opacity: 1; }

a .fa, a .icon {
    text-decoration: none;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out; }

.iconsmall {
    font-size: 46px;
    float: left;
    line-height: 54px;
    padding-right: 10px; }

.icon-big {
    font-size: 80px;
    line-height: 120px;
    display: block; }

header .icon-big {
    line-height: 140px; }

.classic {
    font-family: 'Caveat';
    font-weight: normal !important;
    text-transform: capitalize;
    letter-spacing: 0;
    margin: 0 0 15px;
    transform: rotate(-3deg) !important;
    -moz-transform: rotate(-3deg) !important;
    -webkit-transform: rotate(-3deg) !important;
    opacity: .8; }

.thin {
    font-weight: 100 !important; }

::-moz-selection, ::selection {
    color: #fff;
    background: #000; }

ul, ol {
    margin-bottom: 1.5em; }

a .fa {
    opacity: 0.6 !important; }
a .fa:hover {
    opacity: .9; }

.float-left {
    float: left; }

.float-right {
    float: right; }

/* NavBar */
.navbar-custom {
    margin-bottom: 0;
    border-bottom: transparent;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.9);
    -webkit-transition: all .8s ease;
    -moz-transition: all .8s ease;
    transition: all .8s ease; }
.navbar-custom .navbar-brand {
    font-size: 32px;
    font-weight: 800;
    letter-spacing: -0.01em;
    text-transform: none;
    padding: 17px 5px 12px 15px; }
.navbar-custom img {
    display: inline-block; }
.navbar-custom.top-nav-collapse {
    background-color: #fff;
    border-bottom: 1px solid #eee; }
.navbar-custom.top-nav-collapse a {
    color: #000; }
.navbar-custom.top-nav-collapse .navbar-brand {
    font-size: 22px;
    padding-top: 16px; }

.navbar-fixed-top .container {
    width: auto; }

@media (min-width: 1200px) {
    .top-nav-collapse .container {
        width: 1170px !important; } }
.navbar-custom .navbar-brand .logo {
    max-height: 55px;
    display: inline-block; }

.navbar-custom.top-nav-collapse .navbar-brand .logo {
    max-height: 24px; }

.navbar-custom .navbar-brand .logodark {
    display: none; }

.navbar-custom.top-nav-collapse .navbar-brand .logodark {
    display: inline-block; }

.navbar-custom .navbar-brand .logo {
    display: inline-block; }

.navbar-custom.top-nav-collapse .navbar-brand .logo {
    display: none; }

.navbar-custom.top-nav-collapse .navbar-brand .logodark {
    max-width: 160px;
    max-height: 36px; }
.navbar-custom .navbar-brand i {
    vertical-align: middle; }
.navbar-custom .navbar-brand:focus {
    outline: 0; }
.navbar-custom .navbar-brand .navbar-toggle {
    padding: 4px 6px;
    font-size: 16px;
    color: #fff; }
.navbar-custom .navbar-brand .navbar-toggle:focus, .navbar-custom .navbar-brand .navbar-toggle:active {
    outline: 0; }

.nav > li > a {
    padding: 21px 13px 15px; }

.navbar-custom a {
    color: #fff;
    font-family: "Raleway", sans-serif;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px; }
.navbar-custom .nav li a {
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out; }
.navbar-custom .nav li a:hover {
    outline: 0;
    background-color: transparent; }
.navbar-custom .nav li a:focus, .navbar-custom .nav li a:active {
    outline: 0;
    background-color: transparent; }
/*.navbar-custom .nav li.active {
    outline: 0;
    background-color: transparent !important; }*/
/*.navbar-custom .nav li.active a {
    color: #789 !important; }*/
.navbar-custom .nav li.active a:hover {
    color: #789; }

.navbar-custom-fixed{
}

.dropdown-menu {
    background-color: rgba(255, 255, 255, 0.97);
    color: #fff;
    min-width: 230px !important;
    right: 0;
    left: auto;
    border: 0; }
.dropdown-menu > li > a {
    font-size: 12px;
    font-weight: 600;
    padding: 12px 18px;
    white-space: nowrap; }
.dropdown-menu > .active > a {
    color: #333 !important;
    background-color: transparent; }
.dropdown-menu > .active > a:focus, .dropdown-menu > .active > a:hover {
    background-color: transparent; }

.nav .open > a {
    background-color: transparent;
    border-color: transparent; }
.nav .open > a:focus, .nav .open > a:hover {
    background-color: transparent;
    border-color: transparent; }

.search-form {
    margin: 5px 10px;
    width: 250px;
    font-size: 14px; }
.search-form .form-control {
    color: #ccc !important; }

.search-button {
    width: 42px;
    height: 40px;
    line-height: 38px;
    margin-top: -22px;
    position: absolute;
    top: 50%;
    right: 12px;
    overflow: hidden;
    background: transparent;
    color: #888;
    border: none;
    outline: none; }

.search-form {
    padding: 10px;
    width: 100%;
    border-bottom: #555;
    margin: 0; }

.nav .badge {
    background-color: #789;
    color: #fff;
    padding: 4px 5px 5px 6px;
    font-size: 11px;
    position: absolute;
    margin: -10px -5px;
    line-height: 1;
    border-radius: 50% !important; }

.navbar-toggle {
    padding: 10px 0; }
.navbar-toggle .icon-bar {
    width: 30px;
    border-radius: 0;
    background: #fff; }

.top-nav-collapse .icon-bar {
    background: #fff; }

.vmenu {
    display: inline-block;
    margin: 0;
    padding: 0; }

a.btn-nav .btn {
    margin-bottom: 0; }

.navbar-custom .nav .dropdown-menu li a.btn-nav:hover {
    background-color: transparent; }

.menu-divider {
    width: 1px;
    border-right: 1px solid #b3b3b3;
    line-height: 18px;
    margin: 23px 15px 0; }

.dropdown-menu strong {
    padding: 20px 0 16px 18px;
    display: block;
    font-size: 13px;
    font-weight: 800;
    line-height: 1px;
    color: #555 !important; }

.nav .active {
    height: auto !important; }

.dropdown-menu {
    padding: 10px 0; }

.navbar-nav:not(.sm-collapsible) ul .caret {
    position: absolute;
    right: 0;
    margin-top: 6px;
    margin-right: 15px;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 4px dashed; }
.navbar-nav:not(.sm-collapsible) ul a.has-submenu {
    padding-right: 30px; }
.navbar-nav.sm-collapsible .caret, .navbar-nav.sm-collapsible ul .caret {
    position: absolute;
    right: 0;
    margin: -25px 14px 0 0;
    padding: 0;
    width: 32px;
    height: 26px;
    line-height: 24px;
    text-align: center;
    border-width: 1px;
    border-style: solid; }
.navbar-nav.sm-collapsible .caret:before {
    content: '+';
    font-family: monospace;
    font-size: 20px; }
.navbar-nav.sm-collapsible .open > a > .caret:before {
    content: '-'; }
.navbar-nav.sm-collapsible a.has-submenu {
    padding-right: 50px; }
.navbar-nav.sm-collapsible[data-sm-skip-collapsible-behavior] .caret, .navbar-nav.sm-collapsible[data-sm-skip-collapsible-behavior] ul .caret {
    position: static;
    margin: 0 0 0 2px;
    padding: 0;
    width: 0;
    height: 0;
    border-top: 4px dashed;
    border-right: 4px solid transparent;
    border-bottom: 0;
    border-left: 4px solid transparent; }
.navbar-nav.sm-collapsible[data-sm-skip-collapsible-behavior] .caret:before {
    content: '' !important; }
.navbar-nav.sm-collapsible[data-sm-skip-collapsible-behavior] a.has-submenu {
    padding-right: 15px; }
.navbar-nav span.scroll-up, .navbar-nav span.scroll-down {
    position: absolute;
    display: none;
    visibility: hidden;
    height: 20px;
    overflow: hidden;
    text-align: center; }
.navbar-nav span.scroll-up-arrow {
    position: absolute;
    top: -2px;
    left: 50%;
    margin-left: -8px;
    width: 0;
    height: 0;
    overflow: hidden;
    border-top: 7px dashed transparent;
    border-right: 7px dashed transparent;
    border-bottom: 7px solid;
    border-left: 7px dashed transparent; }
.navbar-nav span.scroll-down-arrow {
    position: absolute;
    top: -2px;
    left: 50%;
    margin-left: -8px;
    width: 0;
    height: 0;
    overflow: hidden;
    border-top: 7px dashed transparent;
    border-right: 7px dashed transparent;
    border-bottom: 7px solid;
    border-left: 7px dashed transparent;
    top: 6px;
    border-top: 7px solid;
    border-right: 7px dashed transparent;
    border-bottom: 7px dashed transparent;
    border-left: 7px dashed transparent; }
.navbar-nav.sm-collapsible ul .dropdown-menu > li > a, .navbar-nav.sm-collapsible ul .dropdown-menu .dropdown-header {
    padding-left: 35px; }
.navbar-nav.sm-collapsible ul ul .dropdown-menu > li > a, .navbar-nav.sm-collapsible ul ul .dropdown-menu .dropdown-header {
    padding-left: 45px; }
.navbar-nav.sm-collapsible ul ul ul .dropdown-menu > li > a, .navbar-nav.sm-collapsible ul ul ul .dropdown-menu .dropdown-header {
    padding-left: 55px; }
.navbar-nav.sm-collapsible ul ul ul ul .dropdown-menu > li > a, .navbar-nav.sm-collapsible ul ul ul ul .dropdown-menu .dropdown-header {
    padding-left: 65px; }
.navbar-nav .dropdown-menu > li > a {
    white-space: normal; }
.navbar-nav ul.sm-nowrap > li > a {
    white-space: nowrap; }
.navbar-nav.sm-collapsible ul.sm-nowrap > li > a {
    white-space: normal; }

.navbar-right ul.dropdown-menu {
    left: auto;
    right: 0; }

.dropdown-menu .fa {
    opacity: 0.5 !important;
    line-height: 13px !important; }

.nav .fa {
    font-size: 16px;
    line-height: 1px; }
.nav .fa-angle-down {
    font-size: 13px; }
.nav .fa, .nav a .fa {
    opacity: 1 !important; }
.nav .fa-plus {
    font-size: 12px; }

@media (min-width: 991px) {
    .search-form input {
        background: transparent;
        border: 0;
        width: 200px; }

    .navbar-custom {
        padding: 30px;
        border-bottom: 0;
        letter-spacing: 1px;
        background: 0 0;
        background: transparent; }
    .navbar-custom.top-nav-collapse {
        padding: 0 30px;
        background-color: #fff; }

    .navbar-custom .nav .dropdown-menu li a:hover {
        background-color: #eee; }

    @-webkit-keyframes fadeInUniversal {
        0% {
            opacity: 0;
            transform: translate(0, -40px); }
        100% {
            opacity: 1;
            transform: translate(0, 0); } }
    @keyframes fadeInUniversal {
        0% {
            opacity: 0;
            transform: translate(0, -40px); }
        100% {
            opacity: 1;
            transform: translate(0, 0); } }
    li:hover ul.dropdown-menu {
        opacity: 1;
        -webkit-animation: fadeInUniversal 0.7s;
        animation: fadeInUniversal 0.7s;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards; }

    ul.nav li.dropdown:hover > ul.dropdown-menu {
        display: block; }

    .navbar-left {
        float: right !important; }

    ul.dropdown-menu.columns-2 {
        left: 0 !important;
        padding: 20px 22px 25px; }
    ul.dropdown-menu.columns-3 {
        left: 0 !important;
        padding: 20px 22px 25px;
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
        min-width: 760px !important; }
    ul.dropdown-menu.columns-2 {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
        min-width: 380px !important; }

    .columns2 .btn-white, .columns3 .btn-white {
        margin-top: 12px;
        display: inline-block; }

    .navbar-fixed-top .caret, .navbar-fixed-top .open > .dropdown-menu {
        display: none; }

    .angle-right:after {
        float: right;
        font-family: 'fontawesome';
        content: "\f105";
        color: inherit;
        position: absolute;
        right: 20px; } }
@media (max-width: 991px) {
    .dropdown-menu {
        padding: 0; } }
@media (max-width: 990px) {
    p.empty {
        display: none; }

    .search-button {
        margin-top: 0; }

    .nav .badge {
        /*margin: 2px 4px; */
        margin: -11px 0px 0px -8px;}
    .nav a {
        border-bottom: 1px solid rgba(0, 0, 0, 0.05) !important;
        color: #000 !important; }
    .nav a:focus {
        border-bottom: 1px solid rgba(0, 0, 0, 0.05) !important; }

    .navbar-header {
        float: none; }

    .navbar-left, .navbar-right {
        float: none !important; }

    .navbar-toggle {
        display: block; }

    .navbar-collapse {
        background-color: #eee !important;
        /*border-top: 1px solid transparent;*/
        border:none;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1); }
    .navbar-collapse.collapse {
        display: none !important; }

    .navbar-nav {
        float: none !important;
        margin-top: 7px; }
    .navbar-nav > li {
        float: none; }
    .navbar-nav > li > a {
        padding-top: 14px;
        padding-bottom: 14px; }

    .collapse.in {
        display: block !important; }

    .navbar-collapse.in {
        overflow-y: auto !important; }

    .navbar-nav .open .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        box-shadow: none; }
    .navbar-nav .open .dropdown-menu > li > a, .navbar-nav .open .dropdown-menu .dropdown-header {
        padding: 10px 15px 10px 25px; }

    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
        color: #999; }
    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #fff;
        background-color: transparent;
        background-image: none; } }
.navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse {
    max-height: 415px; }
.navbar-promo-top{
    top:auto !important;
}
.navbar-promo-top-0{
    top:0px !important;
}

.promo-card{
    min-height:100px;
}

/* Backgrounds and font color */
.bg-white {
    background-color: #fff;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee; }

.bg-gray {
    background-color: #f7f7f7; }

.bg-gray2 {
    background-color: #E8E8E8; }

.bg-transparent {
    background-color: transparent; }

.bg-dark {
    background-color: #18191B; }

.bg-dark2 {
    background-color: rgba(12, 13, 15, 0.97); }

.bg-dark3 {
    background-color: rgba(6, 8, 19, 0.7);
}
.bg-dark4{
    background-color:#4A6879;
}
.bg-c-gray{
    background-color:#5C616C;
}
.bg-green{
    background-color: #8caf05;
}
.white-color{
    color:white;
}
.address-margin-bottom{
    margin-bottom: 10px;
}

.small-header {
    position: relative;
    z-index: 1;
    padding-top: 142px;
    padding-bottom: 55px; }

.small-header.bg-dark:before, .small-header.bg-transparent:before, .small-header.bg-img:before, .small-header.bg-img2:before, .small-header.bg-img3:before, .small-header.bg-img4:before, .small-header.bg-img5:before {
    background: rgba(7, 9, 21, 0.5);
    content: " ";
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -9; }

@media (max-width: 992px) {
    .small-header {
        text-align: center !important; }
    .small-header .text-right {
        text-align: center !important; } }
.small-header .bg-white h2, .small-header .bg-white h3 {
    color: #789; }

.bg-dark, .bg-dark2, .bg-transparent, .bg-img, .bg-img2, .bg-img3, .bg-img4, .bg-img5 {
    color: #fff !important;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.2); }

.bg-img {
    background: url(../img/header/19.jpg); }

.bg-img2 {
    background: url(../img/header/17.jpg); }

.bg-img3 {
    background: url(../img/header/13.jpg); }

.bg-img4 {
    background: url(../img/header/10.jpg); }

.bg-img5 {
    background: url(../img/header/18.jpg); }

.bg-leader {
    background: url(../img/header/bg-leader.jpg);
    }

.bg-img, .bg-img2, .bg-img3, .bg-img4, .bg-img5 {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover; }

.bg-dark a, .bg-dark2 a, .bg-transparent a, .bg-img a, .bg-img2 a, .bg-img3 a, .bg-img4 a, .bg-img5 a, .bg-primary a {
    color: #fff; }

.bg-dark a:hover, .bg-dark2 a:hover, .bg-transparent a:hover, .bg-img a:hover, .bg-img2 a:hover, .bg-img3 a:hover, .bg-img4 a:hover, .bg-img5 a:hover {
    color: rgba(255, 255, 255, 0.8); }

/* Intro */
.intro {
    display: table;
    text-align: center;
    width: 100%;
    color: #fff;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    position: relative;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100% !important;
    z-index: 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover; }
.intro a {
    color: #fff; }
.intro a:hover {
    color: #ccc;
    text-decoration: none; }

.introhalf {
    height: auto !important; }

.intro .intro-body {
    display: table-cell;
    vertical-align: middle;
    padding: 150px 0 50px;
    width: 100%;
    position: relative;
    z-index: 1; }
.intro .intro-body .badge {
    background-color: rgba(0, 0, 0, 0.4);
    color: #eee;
    font-size: 8px;
    position: absolute;
    margin: -9px -14px;
    line-height: 1;
    text-shadow: none;
    letter-spacing: 1px;
    border-radius: 50% !important;
    width: 45px;
    height: 45px;
    text-align: center;
    padding: 19px 0 0 2px;
    font-weight: 800; }

.introhalf .intro-body {
    padding: 180px 0 110px; }

.landing .intro-body:before {
    position: absolute;
    background: transparent; }

.intro-body:before {
    /*background: rgba(7, 9, 21, 0.4);*/
    background: none;
    content: "";
    left: 0;
    top: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -9; }

.bg-video-small {
    text-align: left !important;
    opacity: 1 !important;
    top: 0 !important; }

.intro .intro-body .brand-heading {
    font-size: 40px;
    font-weight: 800;
    letter-spacing: -2px;
    margin: 0 0 5px; }
.intro h1 {
    font-size: 60px;
    font-weight: 900;
    line-height: 80px; }
.intro h1.classic {
    font-size: 100px;
    line-height: 100px;
    font-weight: normal; }
.intro .lead {
    margin: 40px 0 0; }

.intro-fullscreen {
    opacity: 1 !important; }
.intro-fullscreen .intro-body {
    padding: 90px 0 20px; }

@media (max-height: 600px) {
    .intro-fullscreen {
        position: inherit; } }
@keyframes kenburns {
    0% {
        transform: scale(1.2); }
    100% {
        transform: scale(1); } }
@media (min-width: 768px) {
    .intro {
        padding: 0; }
    .intro .intro-body .brand-heading {
        font-size: 46px; }

    .resources-form{
    max-width: 40%;
    margin-left: 30%;
}
}
/* Intro solid color */
.solid-color .intro-body:before, .solid-color2 .intro-body:before, .solid-color3 .intro-body:before {
    background: transparent !important; }
.solid-color.intro, .solid-color2.intro, .solid-color3.intro {
    text-shadow: none !important; }

.solid-color {
    background-color: #00bcd4; }

.solid-color2 {
    background-color: #ff4081; }

.solid-color3 {
    background-color: #607d8B; }

/* Video background */
.video-controls {
    position: absolute;
    bottom: 30px;
    right: 40px;
    z-index: 1;
    opacity: .4;
    display: none; }

.video-controls-visible {
    display: inline; }

.video-controls .fa {
    color: #fff;
    padding: 5px;
    width: 25px; }
.video-controls a.fa {
    text-decoration: none; }

.mbYTP_wrapper {
    z-index: 0 !important; }

/* Forms */
.small-form {
    margin: 0 auto 40px !important;
    max-width: 480px; }

.help-block li {
    list-style: none;
    color: #990000; }
.help-block ul {
    padding: 0;
    margin: 0; }

.form-control {
    border: 1px solid #ddd;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: border-color ease-in-out .3s,-webkit-box-shadow ease-in-out .3s;
    transition: border-color ease-in-out .3s,box-shadow ease-in-out .3s; }
.form-control:focus {
    border-color: #888;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none; }

.subscribe-form {
    padding-bottom: 10px; }

.input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group {
    margin-left: 0; }

input[type=checkbox], input[type=radio] {
    margin: 7px 0 0; }

.checkbox label, .radio label {
    font-weight: 300; }

.form-signin .form-control {
    position: relative; }
.form-signin .form-control:focus {
    z-index: 2; }
.form-signin input {
    margin-bottom: -1px; }

.dark-form input, .dark-form textarea {
    color: #ccc;
    background-color: #18191b;
    border: 0; }

/* Subscribe form */
#subscribe {
    color: #333 !important;
    text-shadow: none; }
#subscribe a {
    color: #333 !important; }

/* Countdown */
[id*="clock"] {
    padding: 40px 0; }
[id*="clock"] div {
    font-weight: 500;
    display: inline-block;
    font-size: 12px;
    margin: 0 15px;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 60px; }
[id*="clock"] span {
    font-family: "Roboto Mono", monospace;
    font-weight: 100;
    display: block;
    font-size: 64px;
    padding: 30px 0;
    border-bottom: 1px solid #ccc; }

@media (max-width: 1170px) {
    [id*="clock"] div {
        margin: 0 15px; }
    [id*="clock"] span {
        font-size: 48px;
        padding: 18px 0; } }
@media (max-width: 768px) {
    [id*="clock"] div {
        margin: 0 15px; }
    [id*="clock"] span {
        font-size: 42px;
        padding: 15px 0; } }
@media (max-width: 468px) {
    [id*="clock"] div {
        margin: 0 7px; }
    [id*="clock"] span {
        font-size: 32px;
        padding: 5px 0; } }
/* News - Blog etc grid */
#news div[class*="col-"] {
    margin-bottom: 60px; }
#news h5 {
    padding-top: 10px;
    margin-bottom: 25px; }

.grid-pad img {
    margin-bottom: 20px; }
.grid-pad div[class*="col-"] {
    margin-bottom: 40px; }

#news-single .carousel {
    padding-bottom: 20px; }

.row:not(:first-child) {
    padding-top: 20px; }

/* Team */
#team h2 {
    margin-top: -40px !important;
    padding-bottom: 0 !important; }
#team p {
    margin-bottom: 10px; }
#team .list-inline {
    margin: 0; }
#team img {
    border-radius: 50%; }

/* Contact */
#contact2 a {
    text-decoration: none;
    color: #555; }
#contact2 hr {
    margin-top: 40px;
    margin-bottom: 40px;
    border-top: 1px solid #ccc; }
#contact2 .list-inline {
    padding-top: 10px; }

@media (max-width: 991px) {
    #contact {
        text-align: center; } }
/* Quote */
blockquote {
    padding: 18px;
    margin: 0 0 20px;
    border-left: none; }
blockquote:before, blockquote:after {
    color: #ccc;
    font-size: 18px;
    font-family: fontawesome; }
blockquote:before {
    content: "\f10d";
    padding-right: 15px; }
blockquote:after {
    content: "\f10e";
    padding-left: 10px; }

.quote {
    font-size: 18px; }

/* Facts */
@media (max-width: 768px) {
    .facts .col-sm-3 {
        margin-top: 25px;
        margin-bottom: 25px; } }
.action-box li {
    float: left;
    margin: 20px 0 0 15px; }
.action-box span {
    display: none; }

#tweecool span {
    font-size: 18px; }

/* Map */
#map, #mapdark {
    width: 100%;
    height: 200px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee; }

#mapdark {
    border: 0 !important; }

.mapsmall {
    margin-bottom: 30px;
    border: 0 !important; }

/* Carousel */
.carousel-control {
    width: 8%;
    color: #000;
    text-shadow: 0 0 2px rgba(255, 255, 255, 0.9); }
.carousel-control:focus, .carousel-control:hover {
    color: #000;
    text-shadow: 0 0 2px rgba(255, 255, 255, 0.9);
    opacity: 0.5; }
.carousel-control.left, .carousel-control.right {
    background-image: none;
    filter: none; }

#Carousel-intro .carousel-control {
    color: #fff;
    text-shadow: 0 0 2px rgba(255, 255, 255, 0.9);
}
#Carousel-intro .carousel-control:focus, #Carousel-intro .carousel-control:hover {
    color: #fff;
    text-shadow: 0 0 2px rgba(255, 255, 255, 0.9);
    opacity: 0.5; }

@media (max-width: 991px) {
    .carousel-big .carousel-control {
        display: none; } }
.carousel-inner{
     height: 100% !important;
}
.carousel-fade .carousel-inner .item {
    opacity: 0;
    transition-property: opacity; }
.carousel-fade .carousel-inner .active {
    opacity: 1; }
.carousel-fade .carousel-inner .active.left, .carousel-fade .carousel-inner .active.right {
    left: 0;
    opacity: 0;
    z-index: 1; }
.carousel-fade .carousel-inner .next.left, .carousel-fade .carousel-inner .prev.right {
    opacity: 1; }
.carousel-fade .carousel-control {
    z-index: 9; }

@media all and (transform-3d), (-webkit-transform-3d) {
    .carousel-fade .carousel-inner > .item.next, .carousel-fade .carousel-inner > .item.active.right, .carousel-fade .carousel-inner > .item.prev, .carousel-fade .carousel-inner > .item.active.left {
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0); }
    .carousel-fade .carousel-inner > .item.next.left, .carousel-fade .carousel-inner > .item.prev.right, .carousel-fade .carousel-inner > .item.active {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0); } }
.carousel-indicators {
    bottom: -60px; }

.indicators-inside {
    bottom: 7px; }






#Carousel-intro .carousel-indicators {
    bottom: 30px; }

.carousel-indicators .active {
    width: 10px;
    height: 10px;
    margin: 0 5px 0; }
.carousel-indicators li {
    width: 10px;
    height: 10px;
    margin: 0 5px 0;
    background-color: #666;
    border: 0; }
.carousel-indicators .active {
    background-color: #999; }

.carousel-control .icon-next, .carousel-control .icon-prev {
    font-family: sans-serif;
    font-size: 50px; }

#carousel-light2 {
    margin-top: -115px; }

.carousel, .item, .active, .carousel-inner {
    height: 100% !important;

    }

.fill {
    display: table;
    width: 100%;
    height: 100% !important;
    /*position: fixed;*/
    z-index: -1;
    background-position: center;
    -webkit-background-size: content;
    -moz-background-size: content;
    background-size: content; }

.carousel-control .icon-next:before {
    font-family: "ionicons";
    content: "\f3d3"; }
.carousel-control .icon-prev:before {
    font-family: "ionicons";
    content: "\f3d2"; }

#carousel-news img {
    width: 100%; }

/* Shop thumbnails carousel */
#carousel-example-generic {
    margin: 20px auto;
    width: 400px; }

#carousel-shop .carousel-indicators {
    margin: 10px 0 0;
    text-align: left;
    width: 100%;
    position: static; }
#carousel-shop .carousel-indicators img {
    max-width: 104px; }


#carousel-shop .carousel-indicators li {
    background-color: transparent;
    -webkit-border-radius: 0;
    border-radius: 0;
    display: inline-block;
    height: auto;
    margin: 0 !important;
    width: auto; }
#carousel-shop .carousel-indicators li img {
    display: block;
    opacity: 0.3;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out; }


#carousel-shop .carousel-indicators li.active img {
    opacity: 1; }
#carousel-shop .carousel-indicators li:hover img {
    opacity: 0.75; }
#carousel-shop .carousel-outer {
    position: relative;
    padding-bottom: 40px; }

#carousel-dark {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.27); }







.nav-pills.nav > li > a:focus, .nav-pills.nav > li > a:hover {
    background-color: transparent; }
.nav-pills.nav > li > a {
    padding: 0; }

/* Animated mouse */
.scroll-btn {
    width: 57px;
    display: block;
    text-align: center;
    margin: 60px auto -60px; }
.scroll-btn .weel {
    position: relative;
    display: inline-block;
    height: 22px;
    margin: 10px auto 5px; }
.scroll-btn .mouse {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 50px;
    border: 2px solid #eee;
    border-radius: 24px;
    opacity: .5; }
.scroll-btn .weel span {
    position: absolute;
    display: block;
    top: 0;
    left: 50%;
    width: 8px;
    height: 8px;
    margin: -14px 0 0 -4px;
    background: #fff;
    border-radius: 20px;
    -webkit-animation: scroll 3s linear infinite;
    -moz-animation: scroll 3s linear infinite;
    animation: scroll 3s linear infinite; }

@-webkit-keyframes scroll {
    1% {
        opacity: 1;
        top: 30%; }
    20% {
        opacity: 1;
        top: 80%; }
    60% {
        opacity: 0;
        top: 80%; }
    100% {
        opacity: 0;
        top: 30%; } }
@-moz-keyframes scroll {
    1% {
        opacity: 1;
        top: 30%; }
    20% {
        opacity: 1;
        top: 80%; }
    60% {
        opacity: 0;
        top: 80%; }
    100% {
        opacity: 0;
        top: 30%; } }
@keyframes scroll {
    1% {
        opacity: 1;
        top: 30%; }
    20% {
        opacity: 1;
        top: 80%; }
    60% {
        opacity: 0;
        top: 80%; }
    100% {
        opacity: 0;
        top: 30%; } }
@media (max-height: 690px) {
    .scroll-btn {
        display: none; } }
/* Text rotator */
.rotating {
    display: inline-block; }

/* Number scroller */
.numscroller {
    font-family: "Roboto Mono", monospace;
    font-weight: 100;
    font-size: 50px;
    line-height: 90px;
    letter-spacing: 10px; }

/* Testimonials */
#testimonials .carousel-inner img {
    width: 160px;
    height: 160px;
    border-radius: 50%; }
#testimonials .carousel-caption {
    position: static;
    text-shadow: none;
    color: #444; }
#testimonials.bg-dark .carousel-caption {
    color: #fff; }

/*  Portfolio  */
.portfolio-sorting {
    text-transform: uppercase;
    margin-bottom: 48px; }
.portfolio-sorting li a {
    color: #888;
    text-decoration: none;
    margin: 10px;
    letter-spacing: 2px;
    font-weight: 600; }
.portfolio-sorting a:hover, .portfolio-sorting a.active {
    color: #555; }

.portfolio-item {
    font-size: 14px;
    position: relative;
    overflow: hidden;
    display: block;
    -webkit-transition: all .9s ease;
    -moz-transition: all .9s ease;
    transition: all .9s ease; }

.portfolio-items {
    margin-bottom: 0; }

.portfolio-item a {
    display: inline-block;
    color: #fff !important; }
.portfolio-item a:hover .portfolio-overlay {
    opacity: 1;
    visibility: visible; }
.portfolio-item img {
    max-width: none;
    position: relative;
    left: 0;
    width: 100%; }
.portfolio-item:hover img {
    /*transform: scale(1.2, 1.2) translate(15px, 15px);
    -ms-transform: scale(1.2, 1.2) translate(15px, 15px);
    -webkit-transform: scale(1.2, 1.2) translate(15px, 15px); */
    }

.portfolio-overlay {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.75);
    height: 100%;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    opacity: 0;
    visibility: hidden;
    overflow: hidden; }
.portfolio-overlay .caption {
    position: absolute;
    bottom: 100px;
    left: 0;
    padding: 0 30px;
    text-align: left;
    transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    opacity: 0; }

.portfolio-item a:hover .portfolio-overlay .caption {
    bottom: 10%;
    opacity: 1; }

.portfolio-item a h5 {
    margin-bottom: 0;
    font-weight: 800;
    color: #fff; }

.portfolio-wide div {
    margin-bottom: 10px; }

/* Pricing */
.panel {
    transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease; }

.pricing .number {
    font-size: 60px; }
.pricing .panel-heading {
    border: 0;
    background-color: #eee; }
.pricing .panel-heading h4 {
    margin-bottom: 0;
    padding: 10px;}

.panel-default {
    border-color: transparent; }

.pricing sup, .pricing sub {
    font-weight: 600;
    color: white; }
.pricing sup {
    font-size: 16px;
    top: -33px; }
.pricing sub {
    font-size: 10px;
    top: 0; }

.bg-dark .panel, .bg-dark .panel-body, .bg-dark .list-group-item {
    background-color: rgba(0, 0, 0, 0.1); }
.bg-dark .pricing .panel-heading {
    border: 0;
    background-color: #000;
    color: #ccc; }

section.bg-dark .fa, section.bg-dark2 .fa {
    color: #ccc; }

.bg-dark .list-group-item, .bg-dark2 .list-group-item {
    border: 1px solid #222; }

.pricing .panel-heading {
    border: 0; }
.pricing .btn {
    display: block; }
.pricing .list-group-item, .pricing .panel-heading {
    padding: 3px 10px;
    /*changed from 17px 10px*/
    }

/* Miscellaneous */
.nav-tabs {
    margin-bottom: 30px; }

/* Pager */
.pager li > a, .pager li > span {
    padding: 30px 0;
    border: 0; }
.pager li > a:focus, .pager li > a:hover {
    text-decoration: none;
    background-color: transparent; }

.pagination > li > a, .pagination > li > span {
    padding: 8px;
    margin-left: 8px;
    border-radius: 50%;
    color: #000;
    width: 40px;
    height: 40px;
    background: #eee;
    border-color: #fff; }
.pagination > .active > a {
    background-color: #333;
    border-color: #333; }
.pagination > .active > a:focus, .pagination > .active > a:hover {
    background-color: #333;
    border-color: #333; }
.pagination > .active > span {
    background-color: #333;
    border-color: #333; }
.pagination > .active > span:focus, .pagination > .active > span:hover {
    background-color: #333;
    border-color: #333; }
.pagination > li:first-child > a, .pagination > li:first-child > span {
    border-radius: 50% !important; }
.pagination > li:last-child > a, .pagination > li:last-child > span {
    border-radius: 50% !important; }

/* Bars and charts */
#animate img {
    padding-bottom: 180px; }

.progress-default .progress {
    background-color: #ddd;
    margin-bottom: 15px;
    height: 25px; }
.progress-default .progress-bar {
    background-color: #333;
    padding: 3px 0; }

.progress-bar {
    text-align: left;
    text-indent: 20px; }

.progress-thin .progress {
    height: 2px;
    overflow: visible;
    margin-bottom: 35px; }
.progress-thin .progress-bar {
    color: #333;
    text-indent: 0;
    padding: 0; }

.bg-dark .progress-default .progress {
    background-color: #888; }
.bg-dark .progress-default .progress-bar {
    background-color: #555; }
.bg-dark .progress-thin .progress-bar {
    color: #ccc; }

.circle {
    position: relative;
    display: inline-block;
    margin: 0 20px;
    vertical-align: top;
    text-align: center;
    width: 100px;
    padding-top: 38px; }
.circle span {
    font-family: "Roboto Mono", sans-serif;
    letter-spacing: -1px; }
.circle canvas {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    margin-bottom: 6px; }
.circle span:after {
    content: '%';
    margin-left: 0.1em; }

.agenda {
    padding-top: 45px; }

.progress-bar {
    -webkit-transition: width 2.50s ease !important;
    -moz-transition: width 2.50s ease !important;
    transition: width 2.50s ease !important; }

/* Shop */
.shop-nav {
    width: 250px;
    overflow: hidden;
    padding: 10px 18px 0;
    display: block; }

.shop-item {
    position: relative; }

.shop-item img {
    border: 1px solid #eee; }

nav .shop-cart {
    width: 100%;
    font-size: 11px;
    line-height: 14px;
    overflow: hidden; }

li .shop-cart {
    border-bottom: 1px solid #ccc;
    margin-bottom: 15px;
    padding-bottom: 15px; }
li .shop-cart a:hover {
    background-color: transparent !important; }

.shop-cart img {
    width: 70px;
    padding-right: 10px;
    float: left; }

.shop-nav {
    color: #333; }
.shop-nav a {
    color: #333; }
.shop-nav .btn-dark-border {
    margin-bottom: 8px; }
.shop-nav .fa {
    margin: 0 0 15px 5px; }

.add-cart {
    position: absolute;
    bottom: 8px;
    left: 20px;
    z-index: 1;
    font-weight: 800; }

.add-cart:before {
    font-family: 'fontawesome';
    content: "\f290";
    padding-right: 10px;
    font-size: 20px;
    opacity: 0.5; }

.badge.price {
    font-family: "Roboto Mono", monospace;
    font-size: 13px;
    font-weight: 400;
    position: absolute;
    top: -20px;
    right: -10px;
    width: 70px;
    height: 70px;
    text-align: center;
    z-index: 1;
    padding-top: 25px;
    border-radius: 50% !important;
    opacity: 0.7; }
.badge.price.sale {
    top: 30px;
    background-color: #789;
    color: #fff;
    text-transform: uppercase; }
.badge.price.trend {
    top: 30px;
    background-color: #c00;
    color: #fff;
    text-transform: uppercase; }
.badge.price.new {
    top: 30px;
    background-color: #ff4081;
    color: #fff;
    text-transform: uppercase; }

.sorting {
    border: 0;
    margin: -9px 0px;
    background: transparent; }
.sorting > option {
    font-size: 14px; }

.table.shop-cart {
    margin-bottom: 60px; }
.table.shop-cart > tbody > tr > td, .table.shop-cart > tbody > tr > th {
    padding: 11px;
    vertical-align: middle;
    border:1px solid #ddd;
    /*border-top: 1px solid #ddd; */
    }
.table.shop-cart > tfoot > tr > td, .table.shop-cart > tfoot > tr > th {
    padding: 11px;
    vertical-align: middle;
    /*border-top: 1px solid #ddd; */
    }
.table.shop-cart > thead > tr > td, .table.shop-cart > thead > tr > th {
    padding: 11px;
    vertical-align: middle;
    /*border-top: 1px solid #ddd; */
    }
.table.shop-cart h3, .table.shop-cart h4, .table.shop-cart h5 {
    padding: 0;
    margin: 0; }

@media (max-width: 768px) {
    .table.shop-cart > tbody > tr > td, .table.shop-cart > tbody > tr > th {
        overflow: scroll;
        padding: 5px; }
    .table.shop-cart > tfoot > tr > td, .table.shop-cart > tfoot > tr > th {
        padding: 5px; }
    .table.shop-cart > thead > tr > td, .table.shop-cart > thead > tr > th {
        padding: 5px; } }
/* Media Queries */
@media (max-width: 768px) {
    body {
        letter-spacing: 0; }

    .h4, h4 {
        font-size: 16px; }

    .h2, h2 {
        font-size: 24px; }

    .h3, h3 {
        font-size: 20px; }

    .intro h1 {
        font-size: 48px;
        line-height: 48px; }
    .intro h1.classic {
        font-size: 60px;
        line-height: 60px;
        margin: 50px 0 50px; }

    section, .section {
        padding-top: 80px;
        padding-bottom: 80px; }

    .section-small {
        padding-top: 110px;
        padding-bottom: 110px; }

    .portfolio-sorting li a {
        margin: 0;
        letter-spacing: 0; }

    .shop-item img {
        width: 100%; } }
@media (max-width: 991px) {
    .action {
        text-align: center; }
    .action .btn {
        float: none;
        margin-top: 30px;
        text-align: center; }
    .action .text-right {
        text-align: center; }

    .footer .text-right {
        text-align: left; }
    .footer .footer-menu {
        padding-bottom: 20px; }

    section {
        background-attachment: scroll !important;
        background-position: 50% 50% !important; }

    .search-button {
        margin-top: 5px; }

    .dropdown-menu .search-button .fa {
        opacity: 1 !important; }

    .nav li a {
        -webkit-transition: all .0s ease-in-out !important;
        -moz-transition: all .0s ease-in-out !important;
        transition: all .0s ease-in-out !important; } }
@media (max-width: 1200px) {
    #about, #about2, #about-slider, #action-slider, #action-slider2, #action-slider3 {
        text-align: center; }

    #carousel-light, #carousel-light2, #carousel-light3, #carousel-light4, #carousel-dark, #carousel-transparent {
        /*margin: 45px 0;*/
         } }
@media (max-width: 480px) {
    .intro h1 {
        font-size: 30px;
        line-height: 40px; } }
/* Magic background */
.magic, .magic2 {
    position: absolute;
    width: 100%;
    z-index: 0;
    top: 0;
    left: 0; }

/* Footer */
.footer {
    color: #444;
    font-size: 14px; }
.footer .footer-menu a {
    line-height: 24px; }
.footer .counter {
    line-height: 44px; }
.footer h4, .footer h5, .footer h6 {
    font-weight: 800;
    opacity: 0.7; }
.footer a {
    text-decoration: none;
    opacity: 1; }
.footer a:hover {
    text-decoration: none; }

.footer-small {
    padding-top: 50px;
    padding-bottom: 50px;
    position: relative;
    z-index: 999; }

@media (max-width: 767px) {
    .footer {
        text-align: center; }
    .footer .text-right {
        text-align: center !important; } }
/* Stop animation on mobile devices */
@media (max-width: 800px) {
    .wow {
        animation-name: none !important;
        visibility: visible !important; } }
/* Demo page */
.intro.demo-header h1 {
    font-size: 90px; }
.intro.demo-header h2 {
    font-size: 24px; }

@media (max-width: 768px) {
    .intro.demo-header h1 {
        font-size: 42px; } }
.demo .container-fluid {
    padding-right: 40px;
    padding-left: 40px; }
.demo img {
    margin: 15px 0;
    border: 1px solid #eee; }
.demo h6 {
    font-weight: 500px !important; }
.demo .badge.new {
    background-color: #ff4081;
    color: #fff;
    font-size: 9px;
    position: absolute;
    top: 26px;
    right: 20px;
    margin: -24px -14px;
    line-height: 1;
    letter-spacing: 1px;
    border-radius: 50% !important;
    width: 40px;
    height: 40px;
    text-align: center;
    padding-top: 17px;
    z-index: 1; }

.intro.demo-header .intro-body:before {
    background: rgba(25, 25, 35, 0.7); }

.scroll-background {
    -webkit-animation: scroll-background 2000s linear infinite;
    animation: scroll-background 2000s linear infinite;
    background-repeat: repeat-x !important;
    margin-top: 58px;
    top: 0 !important; }

.fa-hand-o-up{
    color:rgb(3, 11, 72);;
}

.fa-hourglass-start{
    color:rgb(3, 11, 72);;
}

.fa-thumbs-o-up{
    color:rgb(3, 11, 72);;
}


.fa-lightbulb-o{
     color:rgb(3, 11, 72);;
}

.text-white{
    color:white;
}
.container-small{
    padding:20px;
}
.zero-padding{
    padding: 0px !important ;
    /*border: 0.5px solid rgba(0, 0, 0, 0.23);*/
    border:none;
}
.zero-padding-last{
    border-right: none;
}
.align-pricing li.list-group-item{
    font-size: 12px;
    /*height: 52px;*/
}
.align-pricing li.list-last-btn{
    height:72px;
}
.sub-position{
    top:-5px !important;
}
.pricing .number{
    font-size:30px ;
}
.pricing-table {
-webkit-perspective: 150px; /* Chrome, Safari, Opera  */
    perspective: 150px;
}
.pricing-table ui li{
    vertical-align: center;
}
.pricing-table-3{
    -ms-transform: translateZ(2px); /* IE 9 */
    -webkit-transform: translateZ(2px); /* Chrome, Safari, Opera */
    transform: translateZ(2px);
    z-index: 5;
    box-shadow: 5px 0 4px -5px #7d7d7d, -6px 0 7px -7px #7d7d7d;
    /*box-shadow: 10px 10px 5px #888888;*/
}
.list-btn{
        background-color: #8caf05;
        border: none;
}
.col-md-2.col-width{
    width:12.5% !important;
}

.zero-bottom-margin{
    margin-bottom: 0px !important;
     margin-top: 0px !important;
}
.bottom-margin-0{
   margin-bottom: 0px !important;
}
.zero-bottom-padding{
    padding-bottom: 0px;
}
.address-margin{
        margin-left: 27px;
}
.ad-section-height{
    height:50px;
}
.ad-section-padding{
        padding-top: 35px !important;
    padding-bottom: 72px !important;
}
.section-padding-adjustment{
    padding-bottom: 25px;
    padding-top: 25px;
}
.section-padding-adjustment-promo{
    padding-bottom: 10px;
    padding-top: 10px;
}
.aboutus-padding{
    padding-left: 54px;
}
.quotes-size{
    font-size: 20px !important;
}
.profile-picture{
    width: 100%;
    height: 211px;
}
.profile-picture img{
    max-width: 100%;
    max-height: 100%;
}
.zero-left-margin{
    margin-left: 0px;
}
.zero-margin{
    margin: 0px !important;
}
.margin-left-32{
    margin-left: 32px;
}
.margin-3 {
    margin: 3px;
}
.name-position{
margin-top: 10px;
}
.text-center-align{
    text-align: center !important;
}

.text-bold{
    font-weight: bold;
}
.text-size-32{
    font-size: 32px;
}
.text-color-blue{
    color: #23CBF4;
}
.text-color-white{
    color: white;
}
.text-color-black{
    color: black;
}
.cost-button{
    background-color:#2F4B5B;
   height: 78px !important;
}
.cost-selected-button{
    background-color:#23CBF4;
    height: 78px !important;
}
.logo-title{
    font-size: 25px;
    font-weight: 400;
    display: inline-block;
    letter-spacing: 1px;
    margin-bottom: 0px;
}
.margin-adjust{
    margin-top: -4px;
}
.btn-price{
    padding: 11px;
}
.btn-price-button{
    width: 100%;
}
.disabled-li{
    font-weight: 100;
    background: #f3f1f1;
}
.disabled-title{
    background:#788a95;
}

.ceo-position{
    position: relative;
    top: -30px;
    font-size: 12px;
}
.tm{
    font-size: 39%;
    top:-1.5em;
}
@-webkit-keyframes scroll-background {
    from {
        background-position: 0 0; }
    to {
        background-position: -40000px 0; } }
@keyframes scroll-background {
    from {
        background-position: 0 0; }
    to {
        background-position: -40000px 0; } }
.modal-content {
    float:right;
    width: 260px;
	margin-top: 80px;
    margin-bottom:0px;
}
.wrapper{
    padding: 30px;
}

/*# sourceMappingURL=universal.css.map */

.nav a{
    cursor: pointer !important;
}
.modal-dialog{
    /* height: 100%; */
    width:100%;
}
.modal-content {
    /*min-width: 400px;*/
    position: absolute;
    /*left: 53.4%;   /*50%*
    top: 50%;
    margin-left: -200px;
    box-shadow: 0 5px 15px rgba(130, 130, 130, 0.39);
    border-radius: 0px;
    margin-top: -200px;
    padding:0 10px;*/
    left: 9.8%;   /*50%*/
    box-shadow: 0 5px 15px rgba(130, 130, 130, 0.39);
    border-radius: 0px;
    padding:0 10px;
    width:80%;
}

.modal-content-short {
    width:50% !important;
}

.login-body.modal-body{
    text-align: center;
}

.login-body h6{
    padding-bottom: 10px;
    font-weight: 100;
}

.login-body input{
        margin-bottom: 10px;
}
.wrapper{
    padding-top: 5px !important;
}

.lt-smooth{
    font-weight: 100;
    text-align: center;
}

.lt-split{
    padding-top: 10px;
        margin-bottom: 17px;
}

.nav-2{
     border-radius: 0 !important;
    margin-top: 70px;
    height: 40px;
    background-color: #32388C;

}

.white-text{
    color: white;
}

.showcase{
       background-size: contain;
        width: 1000px;
}

.nav-2 .nav > li > a{
        padding: 13px 13px 15px;

    /*font-weight: 100;*/
    font-size: 12px;
}
.nav-2 .nav > li > a:hover{
    background: transparent;
    color: #fff;
}

.list-resl{
    width: 100%;
}

.m-nig{
    width: 210px !important;
}

.coming-soon{
 text-align: center;
}

.signup-coming-soon{
    font-size: 19px;
    position: relative;
    top: 50%;
    margin-top: 74px !important;
    text-transform: capitalize;
    font-weight: initial;
}
.heading-custom{
    display: inline;
    padding-right: 30px;
}
.fb-bg{
background: #3b5999;
color: #fff;
}

.linkedin-bg{
background: #0077b5;
color: #fff;
}

.g-bg{
    background: #d9534f;
    color:white;
}

.image-circle {
    display: inline-block;
    background-repeat: no-repeat;
    background-position: 50%;
    /*border-radius: 50%;*/
    padding: 20px;
    /*width: 250px;
    height: 300px;*/
}



.small-image-circle2{
    display: inline-block;
    background-repeat: no-repeat;
    background-position: 50%;
    /*border-radius: 50%;*/
    padding: 20px;
   width: 177px;
    height: 210px;
}


.small-image-circle3{
    display: inline-block;
    background-repeat: no-repeat;
    background-position: 50%;
    /*border-radius: 50%;*/
    padding: 20px;
    width: 160px;
    height: 180px;
}

/* LTI 8 leader icon sizes */
.image-circle-0{
    width: 187px;
    height: 215px;
}

.image-circle-1{
    width: 172px;
    height: 200px;
}

.image-circle-2{
    width: 157px;
    height: 185px;
}

.image-circle-3{
    width: 142px;
    height: 170px;
}

.image-circle-4{
    width: 127px;
    height: 155px;
}

.image-circle-5{
    width: 112px;
    height: 140px;
}

.image-circle-6{
    width: 97px;
    height: 125px;
}

.image-circle-7{
    width: 87px;
    height: 110px;
}

.model-president{
    display:inline-block;
    background-repeat: no-repeat;
    background-position: 50%;
   height: 124px;
    width: 100px;
}

.president-popoup{
    width:1010px;
    height:500px;
}

.bottom-padding-20{
    padding-bottom: 20px;
}
.padding-20{
    padding: 20px;
}

.margin-bottom-25{
    margin-bottom: 25px;
}

.image-small-circle i{
    background-color: white;
  display: inline-block;
  border-radius: 50px;
  height: 20px;
  width: 25px;
  box-shadow: 0px 0px 2px #888;
}
    /*background-image: url("../images/linkedin-logo-square.svg");*/
.linkedin-custom{
    text-align: center;
    color: black;
    position: relative;
    top: -27px;
    /* right: -20px; */
    left: 102px;
}

.display-inline-block{
    display: inline-block;

}

.text-transform-none{
        text-transform: none;
}

.height-250{
    height:250px;
}

.company-position{
    top:-34px;
}

.nav-3{
    border-radius: 0 !important;

    height: 40px;
    background-color: #32388C;
}
.border-right-1px{
    border-right: 0.5px solid white;
}
.padding-left-30{
padding-left: 30% !important;
}

.font-size-25{
    font-size: 25px;
}

.subPack{
  text-align: left !important;
}

.subPack input[type=checkbox]{
    margin: 5px;
}

.SubPackageHeading{
    text-align: center;
    margin-bottom: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.subPackCheckBox{
    padding:0px!important;
}

.align-justify{text-align:justify;}
@media only screen and (max-width:1000px){
    .hidden-md-down{
        display: none;
    }
    .text-color-black{
        color: black;
    }
    .question-container-height{
        min-height:330px;
        height: auto;
    }
    .president-popoup-small{
        /*width:475px !important;*/
        width:100%;
        /*height:1100px;*/
        height: auto;
    }
    .overlay-words{
        font-size: 10px !important;
        padding:0px !important;
        margin:0px !important;
    }
    .center-div-positioning{
        /*z-index: -10;*/
       position: relative;
}
}


table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: center;
}

.strength-left-margin{
    margin-left: 20px;
}

.development-left-margin{
    margin-left: -5px;
}

.padding-left-10{
        padding-left: 10px;
}

.padding-left-15{
        padding-left: 15px;
}

.model-img{
    height: 149px;
    width: 149px;

}
.popup-image{
    height: 288px;
    padding-top: 38px;
}

.best-choice{
    height: 81px;
    width: 73px;
}
.best-positioning{
    padding-left: -20px;
    padding-top: -20px;
}

.recom{
        background: url("../images/best-value-ribbon.png") top left no-repeat;
}

.best-value{
    position: absolute;
    left: 1px;
    top: 1px;
}

.padding-0{
    padding: 0px !important;
}


.dropbtn {
    /*background-color: #4CAF50;*/
    /*color: white;
    padding: 16px;*/
    font-size: 16px;
    margin-top: 13px;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    right: 0px;;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    /*background-color: #3e8e41;*/
}

.avatar-icon{
    padding-right: 5px;
}

.txt-underline:hover {
    text-decoration: underline;
}
.text-link{
    color: #33348e;
    cursor: pointer;
    font-weight: 600;
}
.text-link:hover{
     color: #33348e;
     font-weight : 700;
}
.text-link-leadertype{
    color: #33348e;
    cursor: pointer;
    font-weight: 800;
}
.text-link-white{
    color: #fff;
    cursor: pointer;
    font-weight: 800;
}
.text-link-black{
    color: #000;
    cursor: pointer;
    font-weight: 800;
}
span.text-link-white:hover{
    color: #fff;
     font-weight : 900;
}

span.text-link-leadertype:hover{
     color: #33348e;
     font-weight : 900;
}


.fit-image-div{
    max-width: 100%;
    max-height: 100%;
}

.right-left-margin-0{
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.display-inline{
    display: inline-block;
}
.display-inline1{
    display: initial;
}
.font-weight-700{
    font-weight: 700;
}

.font-weight-500{
    font-weight: 500;
}

.nav-login-signup-button{
    font-weight: 500;

    position: relative;
    top: 21px;
}

.color-white{
    color: white;
}

.padding-10{
padding: 10px;
}

.border-none{
    border:none;
}
.best-choice-backgroud{
    background: #26cbf4;
}
.margin-bottom-3{
    margin-bottom: 3px;
}
.line-height-3{
    line-height: 3;
}
#package-custom{
    border: none;
    /*border:1px solid white !important;*/
    /*border-left: 1px solid #2f4b5b;
    border-right: 1px solid #2f4b5b;
    border-bottom: 0px !important;
    border-top: 0px !important;*/

     /*height: 56px !important;*/
}
.custom-ul{
    border-right: 1px solid #2f4b5b;
    border-left: 1px solid #2f4b5b;
}
.custom-ul >li:first-child,.custom-ul >li:last-child {
border: none !important;
}
.package-custom-best-choice{
    /*border:1px solid white !important;*/
    /*border-left: 1px solid #23CBF4 !important;
    border-right: 1px solid #23CBF4 !important;
    border-bottom: 0px !important;
    border-top: 0px !important;*/
     height: 56px !important;
}

.border-top-divider{
border-top: solid 1px #000;
}

#package-custom-disabled{
    /*border:1px solid white !important;*/
    /*border-left: 1px solid #2f4b5b;
    border-right: 2px solid #2f4b5b;
    border-bottom: 0px;
    border-top: 0px;*/
     height: 56px !important;
}

#panel-custom{
        border: 1px solid transparent;
}

.buy-buttom-custom{
    border-bottom: 1px solid #2f4b5b !important;
}

.price-btn{
    height: 100%;
    width: 100%;
    padding: 15px;
}

.padding-zero{
    padding:0px !important;
}
.border-other-prominent-leaders{
    border:1px solid black;
    padding-top: 20px;
}

.width-100{
        width: 100%;
}

.font-weight-800{
    font-weight: 800;
}

.questionAlign{
    margin-bottom: 0px;
    margin-top: 15px;
}

.font-weight-500{
    font-weight: 500;
}


@media (max-width: 800px) {
    .padding-right-54 {
    padding-right: 8px;
}
.aboutus-padding {
    padding-left: 19px;
}

}
.padding-right-54{
    padding-right: 54px;
}
.social-btn-size{
    width:46px !important;
}
.color-white:hover, color-white:focus{
 color: white !important;
    text-decoration: none;
}
.padding-right-5{
    padding-right: 5px;
}

/*#loadingmsg{
    top: 50%;
    margin-top: 42px;
    margin-left: 30%;/*Changed from 42*
        font-weight: 400;
}*/

.height-auto{
    height:auto !important;
}
.cursor-pointer{
    cursor: pointer;
}



@media only screen and (max-width:768px){
    .distinct-on-mobile{width: 90% !important;margin: 0 10px 10px 20px !important;}
    .icon-leader{position: relative;left: 22%;}
    .hidden-md-down{display: none;}
    .hidden-sm-up{display: block !important;}
    .padding-top-70{padding-top:70px;}
    .padding-top-100{padding-top: 100px !important;}
    .padding-top-150{padding-top:150px;}
    .margin-left-on-mob{margin-left:-45px;}
    .home{z-index:993;background: #eee;}
    .margin-left-25{margin-left: 25%;}
    .auth0-lock.auth0-lock.auth0-lock-opened{position: fixed !important;}
    .panel-body{margin-top: 35px;}
    .confirm-modal{left:9.8% !important;width: 80% !important;}
    .confirm-modal-dialog{margin: 0px !important;}
    .confirm-modal-header-icon{top:14px !important;}
    .custom-container{margin-top: 22% !important;}
    .color-box{height: 12px !important;width: 12px !important;margin: 3px !important;}
    .top-margin{margin-top: 28% !important;}
    .list-right-slider{margin-left: 5px !important;}
    .color-meaning {
    padding-top: 0px !important;
    padding-top: 0px !important;
    font-size: 10px;
    }
    .no-pad {padding: 0 !important;margin: 0 !important; }
    .no-pad2 {padding: 0; margin: 0;}
   .dorp-text p {text-align: center !important;margin-top: 12px !important;margin-bottom: 2px;}
   .contact-left {text-align: left !important;}
   .contact-right { padding-top: 24px !important;}
   .contact-right h3 { text-align: left !important;}
}
@media only screen and (max-width:1180px){
    .distinct-on-mobile {margin: 0 5px 10px 5px;width: 45%;}
}
@media only screen and (max-width:991px){
    .player-height{
        height: 300px;
        width: 100%;
    }
    .back-black{background-color: #000;}
    .hidden-md-down{display: none !important;}
}
.icon-modal-place{display: inline-flex;padding: 0 10px;}
.icon-mod{padding-right: 20px;font-size: 35px;}
.make-center{text-align: center;}
.icon-mob{position: relative;top:32px;font-size: 25px;}
.hidden-sm-up{display: none;}
sup{z-index: -1;}
.fw-semibold{font-weight: 600;}
.width-25{width: 25%;}
.color-lite{background-color: #F5F5F5;}
.package-align{text-align: left;border-top: 1px solid #2e3192 !important;}
.subalign{margin-left: 20px;}
.width-10{width: 10%;}
.height-41{height: 41px !important;}
#shop table td{border:1px solid #ddd !important;}
/*ul.nav.navbar-nav.navbar-universal.navbar-left li{z-index: 1000;}*/
#president-popup{padding: 3.5%;}
.padding-10{padding: 10px;}
.padding-50{padding: 50px;}
@media only screen and (max-width:500px){
    .margin-left-25{margin-left: 0% !important;}
}
.mssg{position: absolute;width: 40%;height: 100px;text-align: center;}
.text-msg{position: relative;top: 50%;left: 30%;}
.z-index-top{z-index: 1031;}
.z-index-1{z-index: 1;}
.color-box{height: 25px;width: 25px;margin:10px;color:#FFF;}
.red{background-color: #262626;}
.yellow{background-color: #4d4d4d;}
.green{background-color: #8c8c8c;}
.blue{background-color: #bfbfbf;}
.color-1{background-color: #CC0000;}
.color-2{background-color: #F4C2C2;}
.color-3{background-color: #ACE1AF;}
.color-4{background-color: #138808;}
.color-pallete-align{display: inline-flex;}
.color-meaning{    padding-top: 10px;
    padding-right: 10px;}
    .color-row{display: inline-flex;}
.confirm-modal{
    width: 40%;
    left:32%;
}
.confirm-modal-header-icon{top:10px;}
.padding-0-20{padding: 0 20px;}
.confirm-modal-title{padding-left: 40px;
    margin-top: -20px;}
.list-left-slider{
    margin-right: 20px;
    margin-left: -30px;
    text-align: right;
    padding: 0;
}
.list-right-slider{margin-left: -25px;}

/*
    CSS for MyLTI Team and Feedback page
*/
.team-page-border{
    padding: 20px;
    /*border:1px solid #CCC;*/
    min-height: 400px;
    margin: 0 10%;
    height: auto;
}
.form-border{
    /*border: 1px solid #CCC;
    margin: 0 10%;
    padding: 15px;*/
}
.align-right{
    float: right;
    margin-right: 40px;
}
.align-left{
    float: left;
    margin-left: 40px;
}
.text-area{
    width: 100%;
    border: 1px solid #DDD;
}
.text-area:focus{
    border:1px solid #000;
}
.text-area-invite{
    width: 100%;
    border: 1px solid #DDD;
    height: 200px;
    overflow: scroll;
    text-align: left;
    padding: 10px;
}
.text-area-invite:focus{
    border:1px solid #000;
}
.form-group{
    margin: 10px;
}
.close-form{
    position: relative;
    right: 15px;
}
.button-form-border{
    position: relative;
}
.seperation-line{
    height: 1px;
    background-color: #CCC;
    width: 97%;
    margin: 15px;
    padding-top: 0;
}
.form-border > table,td,th{
    border: none;
}
.card-row{
    background-color: #FFF;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    margin: 10px 0;
    color: #000;
}

.flex-container{
    display: flex;
}
.flex-column-1,.flex-column-2{
    width: 150px;
    word-wrap: break-word;
    flex: 0;
    font-weight: 400;
    padding: 5px 10px;
    /*flex-basis: 100px;*/
    flex-grow: 1;
}
.flex-column-2{
    flex: 1;
    /*flex-basis: 250px;*/
    flex-grow: 2;
}
.flex-column-3{
    flex: 2;
    flex-grow: 3;
}
.heading-lt{
     border-right: 2px solid #FFF;
    background-color: #000;
     color:#FFF;
}
.line{
       width: 100%;
    height: 6px;
    margin: 20px 0;
}
.card{
     box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
     min-height: 200px;
     height: auto;
     margin-bottom: 10px;
     padding: 15px;
}

.card-100{
     box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
     min-height: 100px;
     height: auto;
     margin-bottom: 10px;
     padding: 15px;
}

.card-title{
    font-size: 15px;
    font-weight: 700;
}
.sub-title{
    font-size: 15px;
    font-weight: 600;
}
.section-heading{padding: 15px;}
.black-card{
    background-color: #000;
    color: #FFF;
    font-weight: 600;
}
.success-status{
    color: #00a651;
    font-weight: 700;
}

.waiting-status{
    color:rgb(239, 94, 39);
    font-weight: 700;
}
.failed-status{
    color: #990000;
    font-weight: 700;
}
.carousel-indicators{bottom: -25px;}

.orange-text{color:rgb(239, 94, 39);}
.text-left{text-align:left;}
ol.carousel-indicators > li.active{
    height: 10px !important;
}
#donutchart >svg >g >text {
    font-size: 30px;
    font-weight: 800;
}
/* Blue bar */
.bar-blue-1{

    background:linear-gradient(to right,#FFFFFF 25%,#00a1ff 25%,#00a1ff 49%,#00a1ff 49%,#00a1ff 51% ,#00a1ff 51%,#00a1ff 75%,#FFFFFF 75% );
}
.bar-blue-2{
     background:linear-gradient(to right,#00a1ff 25%,#00a1ff 25%,#00a1ff 49%,#00a1ff 49%,#00a1ff 51% ,#00a1ff 51%,#00a1ff 75%,#00a1ff 75% );
}
.bar-blue-3{
     background:linear-gradient(to right,#FFFFFF 12.25%,#00a1ff 12.25%,#00a1ff 25%,#00a1ff 25%,#00a1ff 37.5% ,#00a1ff 37.5%,#00a1ff 49%,#00a1ff 49%,#00a1ff 51%,#00a1ff 51%, #00a1ff 62.5%,#00a1ff 62.5%,#00a1ff 75%,#00a1ff 75%,#00a1ff 87.5%,#FFFFFF 87.5%  );
}
.bar-blue-color{color: #00a1ff;}


/*red bar*/
.bar-red-1{
    background:linear-gradient(to right,#FFFFFF 12.25%,#e01b1b 12.25%,#e01b1b 25%,#e01b1b 25%,#e01b1b 37.5% ,#e01b1b 37.5%,#e01b1b 49%,#e01b1b 49%,#e01b1b 51%,#e01b1b 51%, #e01b1b 62.5%,#e01b1b 62.5%,#e01b1b 75%,#e01b1b 75%,#e01b1b 87.5%,#FFFFFF 87.5%  );
}
.bar-red-2{
    background:linear-gradient(to right,#e01b1b 12.25%,#e01b1b 12.25%,#e01b1b 25%,#e01b1b 25%,#e01b1b 37.5% ,#e01b1b 37.5%,#e01b1b 49%,#e01b1b 49%,#e01b1b 51%,#e01b1b 51%, #e01b1b 62.5%,#e01b1b 62.5%,#e01b1b 75%,#e01b1b 75%,#e01b1b 87.5%,#e01b1b 87.5%  );
}
.bar-red-3{
    background:linear-gradient(to right,#FFFFFF 12.25%,#FFFFFF 12.25%,#FFFFFF 25%,#FFFFFF 25%,#FFFFFF 37.5% ,#e01b1b 37.5%,#e01b1b 49%,#e01b1b 49%,#e01b1b 51%,#e01b1b 51%, #e01b1b 62.5%,#e01b1b 62.5%,#e01b1b 75%,#e01b1b 75%,#e01b1b 87.5%,#FFFFFF 87.5%  );
}
.bar-red-text{color:#e01b1b;}

/* Yellow bar */
.bar-yellow-1{
    background:linear-gradient(to right,#FFFFFF 12.25%,#FFFFFF 12.25%,#FFFFFF 25%,#f4c711 25%,#f4c711 37.5% ,#f4c711 37.5%,#f4c711 49%,#f4c711 49%,#f4c711 51%,#f4c711 51%, #f4c711 62.5%,#f4c711 62.5%,#f4c711 75%,#f4c711 75%,#f4c711 87.5%,#FFFFFF 87.5%  );
}
.bar-yellow-2{
    background:linear-gradient(to right,#f4c711 12.25%,#f4c711 12.25%,#f4c711 25%,#f4c711 25%,#f4c711 37.5% ,#f4c711 37.5%,#f4c711 49%,#f4c711 49%,#f4c711 51%,#f4c711 51%, #f4c711 62.5%,#f4c711 62.5%,#f4c711 75%,#f4c711 75%,#f4c711 87.5%,#f4c711 87.5%  );
}
.bar-yellow-3{
    background:linear-gradient(to right,#FFFFFF 12.25%,#f4c711 12.25%,#f4c711 25%,#f4c711 25%,#f4c711 37.5% ,#f4c711 37.5%,#f4c711 49%,#f4c711 49%,#f4c711 51%,#f4c711 51%, #f4c711 62.5%,#f4c711 62.5%,#f4c711 75%,#FFFFFF 75%,#FFFFFF 87.5%,#FFFFFF 87.5%  );
}
/* green 138808 */

.bar-green-1{
    background:linear-gradient(to right,#138808 12.25%,#138808 12.25%,#138808 25%,#138808 25%,#138808 37.5% ,#138808 37.5%,#138808 49%,#138808 49%,#138808 51%,#138808 51%, #138808 62.5%,#138808 62.5%,#138808 75%,#138808 75%,#138808 87.5%,#FFFFFF 87.5%  );
}
.bar-green-2{
  background:linear-gradient(to right,#138808 12.25%,#138808 12.25%,#138808 25%,#138808 25%,#138808 37.5% ,#138808 37.5%,#138808 49%,#138808 49%,#138808 51%,#138808 51%, #138808 62.5%,#138808 62.5%,#138808 75%,#138808 75%,#138808 87.5%,#138808 87.5%  );
}
.bar-green-3{
    background:linear-gradient(to right,#FFFFFF 12.25%,#138808 12.25%,#138808 25%,#138808 25%,#138808 37.5% ,#138808 37.5%,#138808 49%,#138808 49%,#138808 51%,#138808 51%, #138808 62.5%,#138808 62.5%,#138808 75%,#138808 75%,#138808 87.5%,#FFFFFF 87.5%  );
}

/*orange */

.orange{background: rgb(239, 94, 39);}

.bar-orange-1{
    background:linear-gradient(to right,#FFFFFF 12.25%,#EF5E27 12.25%,#EF5E27 25%,#EF5E27 25%,#EF5E27 37.5% ,#EF5E27 37.5%,#EF5E27 49%,#EF5E27 49%,#EF5E27 51%,#EF5E27 51%, #EF5E27 62.5%,#EF5E27 62.5%,#EF5E27 75%,#EF5E27 75%,#EF5E27 87.5%,#FFFFFF 87.5%  );
}
.bar-orange-2{
  background:linear-gradient(to right,#EF5E27 12.25%,#EF5E27 12.25%,#EF5E27 25%,#EF5E27 25%,#EF5E27 37.5% ,#EF5E27 37.5%,#EF5E27 49%,#EF5E27 49%,#EF5E27 51%,#EF5E27 51%, #EF5E27 62.5%,#EF5E27 62.5%,#EF5E27 75%,#EF5E27 75%,#EF5E27 87.5%,#EF5E27 87.5%  );
}
.bar-orange-3{
    background:linear-gradient(to right,#FFFFFF 12.25%,#FFFFFF 12.25%,#FFFFFF 25%,#FFFFFF 25%,#FFFFFF 37.5% ,#EF5E27 37.5%,#EF5E27 49%,#EF5E27 49%,#EF5E27 51%,#EF5E27 51%, #EF5E27 62.5%,#EF5E27 62.5%,#EF5E27 75%,#EF5E27 75%,#EF5E27 87.5%,#FFFFFF 87.5%  );
}
.top-bar{
    background-color: #000;
    color: #FFF;
}
.top-bar-chip{
    background-color: #FFF;
    color:#000;
    border-radius: 15px;
    border:1px solid;
    width: 100%;
}
.border-left{
    border-left: 1px solid rgba(0,0,0,.1);
    padding: 0px 10px;
}
.border-right{
    border-right: 1px solid rgba(0,0,0,.1);
    padding: 0px 10px;
}

.border-right-1-black{
    border-right: 1px solid rgba(0,0,0,.1);
}

.slide-card{
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-layout{
    margin: 0 10%;
    padding: 20px;
}
.hide-sm-down-block{
    display:block;
}
.hide-sm-down{
        display: flex;
}
.hide-sm-up{
        display: none;
}
.hide-sm-up-block{
        display: none;
}
.show-block-down{
    display: block;
}
.input-tooltip .tooltiptext {
    visibility: hidden;
    min-width: 300px;
    right: 50px;
    background-color: white;
    color: black;
    text-align: center;
    border-radius: 6px;
    padding: 2px;
    border: 1px solid black;
    font-size: 10px;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.swot-card-title{
    text-overflow: ellipsis;
    max-width: 68%;
    overflow-x: hidden;
}
/*
    Media query for MyLTI Team and Feedback page
*/
@media only screen and (max-width:720px){
    .on-mobile-padding{
        padding-right: 0px;
    }
    .on-mobile-padding-left{
        padding-left: 0px;
    }
    .on-mobile-margin-top{
        margin-top:10%;
    }
    .form-layout{
        margin: 0;
        padding: 0;
    }
    .section-min{
        padding-top: 0;
    }
    .form-group{
        padding-top: 0;
    }
    .team-page-border{
        padding: 0;
        margin: 0;
    }
    .align-right{
        margin-right: 24px;
    }
    .full-page-margin{
        margin: 0 15px 0 15px;
    }
    .nav > li > a{
        padding-left: 3px;
    }
    .hide-sm-down{
        display: none;
    }
    .hide-sm-down-block{
        display: none;
    }
    .hide-sm-up{
        display: flex;
    }
    .hide-sm-up-block{
        display: block;
    }
    .show-block-up{
        display: block;
    }
    .card-content{
        position: relative;
        top:0;
        left: 12px;
        text-align: left;
        font-size: 13px;
        line-height: 1.5;
        padding: 5px 0;
    }
    .title-circle{
        background-color: #F00;
        border-radius: 50px;
        width: 50px;
        height: 50px;
        position: relative;
        top: 25px;
        font-size: 20px;
        padding-top: 5px;
        color: #FFF;
        font-weight: 700;
        margin-left: 10px;
    }
    .margin-left-32{
        margin-left:0px;
    }
    .button-spacing{
        padding: 15px 0;
    }
    .border-left{
        border-left: 0px;
    }
    .border-right{
        border-right: 0px;
    }
    .swot-list-button{
        padding: 5%;
    }
    .input-tooltip .tooltip-text-mobile{
    right: 10px;
    max-width: 200px;
    min-width: 0px;
    }
}
@media only screen and (max-width:320px){
    .leftbutton{
        padding-left: 5px !important;
    }
}
.designed{
    text-decoration: none;
    text-align: center;
    list-style-type: none;
    padding-left: 10px;
    margin: 0 40px;
    font-size: 12px;
}
.height-design{
    min-height: 356px;
    position: relative;
    font-size: 12px;
}
.seperation-line.width-90{
    width: 90%;
    margin: 10px 15px;
}
.package-details-div{
    min-height: 178px;
}
.override-li-package{
    padding: 3px 10px !important;
    height: auto !important;
}
.subpackages-section{
    min-height: 150px;
    /*height:120px;*/
    text-align: center;
    margin-bottom: 2px;
    font-size: 12px;
}
.profile-edit{
    margin-right: -10px;
}
.head-color{
    background: #EEE;
}
.height-300{
    min-height: 350px;
}

/*leaderTypePEAK*/
.data-card-block{

    margin: 10px 15%;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    padding: 30px;

}
.title-bar{

    padding: 20px;
    background-color: #000;
    margin: -30px;

}
.swot-title{
    position: absolute;
    padding-left: 3.2%;
}
.positioning-swot{
    margin: 0 11.5%;
}
.swot-container{
   padding:15px 30px;
}
.swot-border-style{
      border-right:1px solid #DDD;
}
.border-align-margin{
    margin-top:10%;
}
.margin-between-components{
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}
.swot-height{
    min-height: 255px;;
}
.box-swot{
        position: absolute;
    /*background-color: #DDD;*/
    width: 200px;
    height: 150px;
    top: 35%;
    left: 39%;
    opacity: 0.3;
}
.swot-count-circle{
    background: red;
    border-radius: 200px;
    color: black;
    display: inline-block;
    height: 85px;
    font-weight: bold;
    font-size: 1.2em;
     padding: 8px 0;
     vertical-align: middle;
    width: 85px;
    /*margin: 0 10px;*/
    text-align: center;
    margin: 7px 7px;
}
.margin-right-14{
    margin-right: 14px !important;
}

.margin-left-15{
    margin-left: 15px !important;
}
.margin-left-0{
    margin-left: 0px !important;
}

.margin-right-15{
    margin-right: 15px !important;
}

.margin-right-0{
    margin-right: 0px !important;
}

.pending-from-client{
    display: none
}

.chip-group{
    text-align: left;
}

.chip {
    display: inline-block;
    padding: 0 25px;
    height: 40px;
    font-size: 12px;
    line-height: 40px;
    border-radius: 25px;
    background-color: #f1f1f1;
    margin: 5px;
}

.chip img {
    float: left;
    margin: 0 10px 0 -25px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.chip .closebtn{
    font-size: 15px;
}

.helper-text{
    font-size: 10px;
}

.swot-list-border{
    border: 1px solid #DDD;
    height: 600px;
}

.swot-biases-assessment-progressbar{
    background: black;
}

.textarea-resize-none{
    resize: none;
}
.placeholder-ellipsed{
    text-overflow: ellipsis;
}
.multiline-height{
    height: auto;
    width: 100%;
    padding: 10px;
    line-height: initial;
    position: relative;
}
.chip-close-button{
    position: absolute;
    padding-right: 5px;
    padding-left: 5px;
    right: 10px;
}
.chip-paragraph{
    margin-bottom: 0px;
    word-wrap: break-word;
    float: left;
    width: 95%;
}
.input-tooltip{
    position: relative;
    /*display: inline-block;*/
}

.input-tooltip:hover .tooltiptext {
    visibility: visible;
}

.bias-content{
    padding-top: 25px;
    padding-right: 10%;
    padding-bottom: 13px;
    padding-left: 10%;
}

.success-criteria-headings{
    margin-bottom: 0px;
    font-size: 12px;
    list-style: none;
    text-align: left;
    padding-left: 16%;
    padding-right: 13%;
}
.view-swot-swotBox{
    max-height: 125px;
    min-height: 125px;
    overflow: scroll;
}
.custom-footer{
    position: absolute;
    top: 100%;
    padding-top: 22%;
}
.mobile-button-align{
    float: right;
    margin-top: 10%;
}

.box-swot-mobile{
    /*background-color: #DDD;*/
    /*width: 200px;
    height: 150px;
    top: 35%;
    left: 41%;*/
    opacity: 0.3;
}
.swot-count-circle-mobile{
    background: red;
    border-radius: 200px;
    color: black;
    display: inline-block;
    height: 70px;
    font-weight: bold;
    font-size: 1.2em;
    padding: 8px 0;
    vertical-align: middle;
    width: 70px;
    margin: 0 10px;
    text-align: center;
}

.menu-list{
    left: 25%;
    border-style: solid;
    content: " ";
}
.menu-list::after{
    content: "";
    position: absolute;
    bottom: 100%;
    left: 15%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent white transparent;
}
.packages-table tr td{
    text-align: left;
    padding: 5px 20px 5px 5px;
    font-weight: normal;
}

.resources-padding-for-screen{
    padding: 15px 50px 0px 50px;
}

.resources-table{
    border: none;
    margin: 0% 7% 0% 7%;
}

.text-left-align{
    text-align: left;
}

.margin-bottom-10px{
    margin-bottom: 10px;
}

.text-gray{
    color: gray;
}

.learnMoreContent{
    position: relative;
    top: 100px;
}
.margin-none{
   margin: 0;
}
.heading{
    margin-top:40px;
}
.learn-more{
    font-size:16px;
}

/* Slider for Edge browser */

@supports (-ms-ime-align:auto) {
	input[type="range"] {
		height: 16px;
		background: transparent;
		color: transparent;
		border-color: transparent;
		border-width: 0px;
		box-shadow: none;
	}

}

input[type="range"]::-ms-track {
    border: inherit;
    color: transparent;
    background: #232528;
}

input[type="range"]::-ms-fill-lower,
input[type="range"]::-ms-fill-upper {
    background: transparent;
}

input[type="range"]::-ms-tooltip {
    display: none;
}

input[type="range"]::-ms-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
}
.portfolio-item a {
   display: inline-block;
   color: #fff !important;
   padding: 40px 8px;
   background: #2F4B5B ;
}
.customBackgroundColor{
  background-color: #E8E8E8;
}
#carousel-intro {
    height: 116px !important;
	    display: block !important;
}
#carousel-intro .right.carousel-control, #carousel-intro .left.carousel-control{display: none !important;}
/* style footer */

.section-small {
    padding-top: 80px;
    padding-bottom: 80px;
    text-align: center;
}
.address i.fa {
    display: inline-block;
    border-radius: 60px;
    box-shadow: 0px 0px 2px #888;
    padding: 0.5em 0.6em;
    background-color: #000;
    color: #fff;
     margin-right: 14px;
    float: left;
        margin-top: 3px;
}
.contact-text {
  
    margin-bottom: 20px;
}
.contact-phone p {
   font-size: 20px;
    margin-left: 48px;
     margin-bottom: 2px;
}
.contact-phone p a {
    color: #33348e;
}
.contact-phone p a:hover {
    color: #1e73be;
}
.contact-social i.fa {
    display: inline-block;
    border-radius: 60px;
    box-shadow: 0px 0px 2px #888;
    padding: 0.5em 0.6em;
    background-color: #000;
    color: #fff;
    margin-right: 14px;
    float: left;
    margin-top: 3px;
}
.contact-social p {
   font-size: 20px;
    margin-left: 48px;
  margin-bottom: 2px;
}
.contact-social p a {
    color: #33348e;
}
.contact-social p a:hover{
    color: #1e73be;
}
form#contactForm {
        padding-top: 23px;
}
select.sel-opt {
    height: 43px;
    width: 100%;
    background-color: #fff;
    border: 1px solid #ddd;  
}


.dorp-text p {
    text-align: right;
    margin-top: 18px;
    margin-bottom: 2px;
    margin-right: 17px;
}


textarea#message {
    min-height: 150px;
}
#contactForm .form-group {
    margin-left: 0;
}
.no-pad2 {
    padding: 0 !important;
    margin: 0 !important;
}


/* style footer */