<div id="leaderPeak">
    <div ng-include="lt.modules/navBar/navbar.html"></div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 on-mobile-padding-left on-mobile-padding on-mobile-margin-top">
        <!-- create SWOT page-->
        <form name="changeForm" novalidate>
        <div class="container" ng-if="showCreateSWOTStep1">
            <div style="padding-top: 25px;">
                <div class="row">
                        <div class="">
                            <div class="row button-spacing margin-between-components">
                                <div class="subPack swot-title zero-padding margin-left-15">
                                    <h3>Create SWOT Page</h3>
                                </div>
                                <div class="btn btn-dark left-button align-right button-form-border margin-right-15 hide-sm-down" ng-click="moveToStep2()"><i class="fa fa-arrow-right"></i> Next</div>
                                <div class="btn btn-danger left-button align-right button-form-border margin-right-15 hide-sm-down" ng-click="cancelSWOT()"><i class="fa fa-times"></i>Cancel</div>
                                <div class="hide-sm-up-block mobile-button-align">
                                    <div class="btn btn-dark left-button align-right button-form-border margin-right-15" ng-click="moveToStep2()"><i class="fa fa-arrow-right"></i> Next</div>
                                    <div class="btn btn-danger left-button align-right button-form-border margin-right-15" ng-click="cancelSWOT()"><i class="fa fa-times"></i>Cancel</div>
                                </div>
                            </div>
                            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 data-card-block zero-margin">
                                <div class="row">

                                        <div class="title-bar zero-margin">
                                            <input type="text" class="form-control left" name="title" placeholder="Title for the SWOT Page" ng-model="peakModel.title"
                                                ng-keypress="clearErrorMessage('STEP1')" required maxlength="30">
                                        </div>
                                        <div ng-if="titleErrorMessage">
                                            <div class="hasError">{{titleErrorMessage}}</div>
                                        </div>
                                        <div class="margin-between-components">
                                            <div class="font-weight-800">
                                                <h4 class="zero-margin"><strong>Vision</strong></h4>
                                            </div>
                                            <div class="">
                                                <textarea name="" ng-model="peakModel.vision" placeholder="Write-in your Vision" class="form-control textarea-resize-none"
                                                    maxlength="200" ng-keypress="clearErrorMessage('STEP1')"></textarea>
                                                <span class="pull-right btn-sm zero-padding wrapper">Max 200 Characters</span>
                                            </div>
                                            <div ng-if="visionErrorMessage">
                                                <div class="hasError">{{visionErrorMessage}}</div>
                                            </div>
                                        </div>
                                        <div class="margin-between-components">
                                            <div class="font-weight-800">
                                                <h4 class="zero-margin"><strong>Mission</strong></h4>
                                            </div>
                                            <div class="">
                                                <textarea name="" ng-model="peakModel.mission" placeholder="Write-in your Mission" class="form-control textarea-resize-none"
                                                    maxlength="200" ng-keypress="clearErrorMessage('STEP1')"></textarea>
                                                <span class="pull-right btn-sm zero-padding wrapper">Max 200 Characters</span>
                                            </div>
                                            <div ng-if="missionErrorMessage">
                                                <div class="hasError">{{missionErrorMessage}}</div>
                                            </div>
                                        </div>
                                        <div class="margin-between-components">
                                            <div class="font-weight-800">
                                                <h4 class="zero-margin"><strong>Strategy</strong></h4>
                                            </div>
                                            <div class="">
                                                <textarea name="" ng-model="peakModel.strategy" placeholder="Write-in your Strategy" class="form-control textarea-resize-none"
                                                    maxlength="300" ng-keypress="clearErrorMessage('STEP1')"></textarea>
                                                <span class="pull-right btn-sm zero-padding wrapper">Max 300 Characters</span>
                                            </div>
                                            <div ng-if="strategyErrorMessage">
                                                <div class="hasError">{{strategyErrorMessage}}</div>
                                            </div>
                                        </div>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
        <!-- create SWOT page ends-->

        <!-- SWOT manage one-->
        <div class="container" id="SWOT-weighting" ng-if="showCreateSWOTStep2">

                <div style="padding-top: 25px;">
                    <div class="row button-spacing">
                        <div class="btn btn-dark left-button align-right button-form-border margin-right-15 col-xs-3 col-lg-1 col-sm-2" ng-click="goToStep3()"><i class="fa fa-arrow-right"></i>Next</div>
                        <div class="btn btn-danger left-button align-right button-form-border margin-right-15 col-xs-4 col-lg-1 col-sm-2" ng-click="cancelSWOT()"><i class="fa fa-times"></i>Cancel</div>
                        <div class="btn btn-default left-button align-left button-form-border margin-left-15 col-xs-3 col-lg-1 col-sm-2" ng-click="backToStep1()"><i class="fa fa-chevron-left"></i> Back</div>
                    </div>


                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 data-card-block zero-margin">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 swot-container swot-border-style">
                                <div class="make-center">
                                    <div class="font-weight-800">
                                        <h4><strong>Strengths</strong></h4>
                                    </div>
                                    <div ng-if="strengthErrorMessage">
                                        <div class="hasError">{{strengthErrorMessage}}</div>
                                    </div>
                                    <p style="margin-bottom: 0px;"> Input your Strengths</p>
                                    <div class="swot-list-border">
                                        <div class="margin-between-components input-tooltip" ng-repeat="strength in swotDetails.strengths track by $index">

                                            <input type="text" ng-focus="this.hidePlaceholder=true" ng-blur="this.hidePlaceholder=false" placeholder="{{this.hidePlaceholder?'':strength}}" class="form-control placeholder-ellipsed" ng-model="peakModel.strengths[$index]"
                                                style="border: none;" ng-keypress="clearErrorMessage('STEP2')">
                                            <span class="tooltiptext tooltip-text-mobile">{{strength}}</span>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 swot-container">
                                <div class="make-center">
                                    <div class="font-weight-800">
                                        <h4><strong>Opportunities</strong></h4>
                                    </div>
                                    <div ng-if="opportunityErrorMessage">
                                        <div class="hasError">{{opportunityErrorMessage}}</div>
                                    </div>
                                    <p style="margin-bottom: 0px;"> Input your Opportunities</p>
                                    <div class="swot-list-border">
                                        <div class="margin-between-components input-tooltip" ng-repeat="opportunity in swotDetails.opportunities track by $index">
                                            <input type="text" ng-focus="this.hidePlaceholder=true" ng-blur="this.hidePlaceholder=false" placeholder="{{this.hidePlaceholder?'':opportunity}}" class="form-control placeholder-ellipsed" ng-model="peakModel.opportunities[$index]"
                                                style="border: none;" ng-keypress="clearErrorMessage('STEP2')">
                                            <span class="tooltiptext tooltip-text-mobile">{{opportunity}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="make-center">
                                <div class="col-md-3 border-align-margin">
                                    <div class="seperation-line"></div>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="make-center">
                                        <div class="font-weight-800">
                                            <h4 class="zero-margin"><strong>SWOT Weighting</strong></h4>
                                        </div>
                                        <p>Input the relative weight/Impact of S W O & T on a scale from 1-10</p>
                                        <div class="data-card-block">
                                            <div class="row">
                                                <div class="col-lg-6 col-md-6">
                                                    S <select class="select" ng-model="peakModel.swotWeight.strength">
                                                        <option value="1">1</option>
                                                        <option value="2">2</option>
                                                        <option value="3">3</option>
                                                        <option value="4">4</option>
                                                        <option value="5">5</option>
                                                        <option value="6">6</option>
                                                        <option value="7">7</option>
                                                        <option value="8">8</option>
                                                        <option value="9">9</option>
                                                        <option value="10">10</option>
                                                    </select>
                                                </div>
                                                <div class="col-lg-6 col-md-6">
                                                    O <select class="select" ng-model="peakModel.swotWeight.opportunity">
                                                        <option value="1">1</option>
                                                        <option value="2">2</option>
                                                        <option value="3">3</option>
                                                        <option value="4">4</option>
                                                        <option value="5">5</option>
                                                        <option value="6">6</option>
                                                        <option value="7">7</option>
                                                        <option value="8">8</option>
                                                        <option value="9">9</option>
                                                        <option value="10">10</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-6 col-md-6">
                                                    W <select class="select" ng-model="peakModel.swotWeight.weakness">
                                                        <option ng-selected="true" value="1">1</option>
                                                        <option value="2">2</option>
                                                        <option value="3">3</option>
                                                        <option value="4">4</option>
                                                        <option value="5">5</option>
                                                        <option value="6">6</option>
                                                        <option value="7">7</option>
                                                        <option value="8">8</option>
                                                        <option value="9">9</option>
                                                        <option value="10">10</option>
                                                    </select>
                                                </div>
                                                <div class="col-lg-6 col-md-6">
                                                    T <select class="select" ng-model="peakModel.swotWeight.threat">
                                                        <option value="1">1</option>
                                                        <option value="2">2</option>
                                                        <option value="3">3</option>
                                                        <option value="4">4</option>
                                                        <option value="5">5</option>
                                                        <option value="6">6</option>
                                                        <option value="7">7</option>
                                                        <option value="8">8</option>
                                                        <option value="9">9</option>
                                                        <option value="10">10</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 border-align-margin">
                                    <div class="seperation-line"></div>
                                </div>
                            </div>
                        </div>

                        <!--<div class="row hide-sm-up">
                            <div class="make-center">
                                <div class="col-md-3 border-align-margin">
                                    <div class="seperation-line"></div>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="make-center">
                                        <div class="font-weight-800">
                                            <h4 class="zero-margin"><strong>SWOT Weighting</strong></h4>
                                        </div>
                                        <p>Input the relative weight/Impact of S W O & T on a scale from 1-10</p>
                                        <div class="data-card-block">
                                            <div class="row">
                                                <div class="col-lg-6 col-md-6">
                                                    S <select class="select" ng-model="peakModel.swotWeight.strength">
                                                        <option value="1">1</option>
                                                        <option value="2">2</option>
                                                        <option value="3">3</option>
                                                        <option value="4">4</option>
                                                        <option value="5">5</option>
                                                        <option value="6">6</option>
                                                        <option value="7">7</option>
                                                        <option value="8">8</option>
                                                        <option value="9">9</option>
                                                        <option value="10">10</option>
                                                    </select>
                                                </div>
                                                <div class="col-lg-6 col-md-6">
                                                    O <select class="select" ng-model="peakModel.swotWeight.opportunity">
                                                        <option value="1">1</option>
                                                        <option value="2">2</option>
                                                        <option value="3">3</option>
                                                        <option value="4">4</option>
                                                        <option value="5">5</option>
                                                        <option value="6">6</option>
                                                        <option value="7">7</option>
                                                        <option value="8">8</option>
                                                        <option value="9">9</option>
                                                        <option value="10">10</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-6 col-md-6">
                                                    W <select class="select" ng-model="peakModel.swotWeight.weakness">
                                                        <option ng-selected="true" value="1">1</option>
                                                        <option value="2">2</option>
                                                        <option value="3">3</option>
                                                        <option value="4">4</option>
                                                        <option value="5">5</option>
                                                        <option value="6">6</option>
                                                        <option value="7">7</option>
                                                        <option value="8">8</option>
                                                        <option value="9">9</option>
                                                        <option value="10">10</option>
                                                    </select>
                                                </div>
                                                <div class="col-lg-6 col-md-6">
                                                    T <select class="select" ng-model="peakModel.swotWeight.threat">
                                                        <option value="1">1</option>
                                                        <option value="2">2</option>
                                                        <option value="3">3</option>
                                                        <option value="4">4</option>
                                                        <option value="5">5</option>
                                                        <option value="6">6</option>
                                                        <option value="7">7</option>
                                                        <option value="8">8</option>
                                                        <option value="9">9</option>
                                                        <option value="10">10</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 border-align-margin">
                                    <div class="seperation-line"></div>
                                </div>
                            </div>
                        </div>-->


                        <div class="row">
                            <div class="col-lg-6 col-md-6 swot-container swot-border-style">
                                <div class="make-center">
                                    <div class="font-weight-800">
                                        <h4><strong>Weaknesses</strong></h4>
                                    </div>
                                    <div ng-if="weaknessErrorMessage">
                                        <div class="hasError">{{weaknessErrorMessage}}</div>
                                    </div>
                                    <p style="margin-bottom: 0px;"> Input your Weaknesses</p>
                                    <div class="swot-list-border">
                                        <div class="margin-between-components input-tooltip" ng-repeat="weakness in swotDetails.weaknesses track by $index">
                                            <input type="text" ng-focus="this.hidePlaceholder=true" ng-blur="this.hidePlaceholder=false" placeholder="{{this.hidePlaceholder?'':weakness}}" class="form-control placeholder-ellipsed" ng-model="peakModel.weaknesses[$index]"
                                                style="border: none;" ng-keypress="clearErrorMessage('STEP2')">
                                            <span class="tooltiptext tooltip-text-mobile">{{weakness}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 swot-container">
                                <div class="make-center">
                                    <div class="font-weight-800">
                                        <h4><strong>Threats</strong></h4>
                                    </div>
                                    <div ng-if="threatErrorMessage">
                                        <div class="hasError">{{threatErrorMessage}}</div>
                                    </div>
                                    <p style=" margin-bottom: 0px;"> Input your Threats</p>
                                    <div class="swot-list-border">
                                        <div class="margin-between-components input-tooltip" ng-repeat="threat in swotDetails.threats track by $index">
                                            <input type="text" ng-focus="this.hidePlaceholder=true" ng-blur="this.hidePlaceholder=false" placeholder="{{this.hidePlaceholder?'':threat}}" class="form-control placeholder-ellipsed" ng-model="peakModel.threats[$index]"
                                                style="border: none;" ng-keypress="clearErrorMessage('STEP2')">
                                            <span class="tooltiptext tooltip-text-mobile">{{threat}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>

        <!-- SWOT manage ends-->


        <!--SWOT manage page 2-->
        <div class="container" id="SWOT-weighting" ng-if="showCreateSWOTStep3">
                <div style="padding-top: 25px;">
                    <div class="row button-spacing margin-between-components">
                        <div class="btn btn-primary left-button align-right button-form-border margin-right-15 col-xs-3 col-lg-1 col-sm-2" ng-click="saveSWOT()"><i class="fa fa-floppy-o"></i>Save</div>
                        <div class="btn btn-danger left-button align-right button-form-border margin-right-15 col-xs-4 col-lg-1 col-sm-2" ng-click="cancelSWOT()"><i class="fa fa-times"></i>Cancel</div>
                        <div class="btn btn-default left-button align-left button-form-border margin-left-15 col-xs-3 col-lg-1 col-sm-2" ng-click="backToStep2()"><i class="fa fa-chevron-left"></i> Back</div>
                    </div>
                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 data-card-block zero-margin margin-between-components">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 swot-container swot-border-style">
                                <div class="make-center">
                                    <div class="font-weight-800">
                                        <h4 class="zero-margin"><strong>Success Criteria</strong></h4>
                                    </div>
                                    <p style="margin-bottom: 0px; font-size: 12px; text-align: justify;"> Instructions: Imagine your team has reached its desired outcome, vision or wanted position.
                                        Reflect on the following...</p>
                                    <ul class="success-criteria-headings">
                                        <li>What was key to your success? What made it ‘successful’?</li>
                                        <li>How would you describe or characterize the outcome?</li>
                                        <li>What criteria mattered most to the team in pursuing this?</li>
                                    </ul>
                                    <h4 class="zero-margin"><strong></strong></h4>
                                    <p style="margin-bottom: 0px;"> Choose your Success Criteria (up to 5).</p>
                                    <div class="margin-between-components">
                                        <select multiple name="successCriteria" class="form-control" ng-model="successCriteriaListInputs" ng-change='addSelectedToArray(successCriteriaListInputs)'>
                                            <option ng-repeat="successCriteria in swotDetails.successCriteriaList" value="{{successCriteria}}">{{successCriteria}}</option>
                                        </select>

                                    </div>
                                    <div class="">
                                        <span> OR</span>
                                    </div>
                                    <div class="margin-between-components">
                                        <input type="text" name="strength" placeholder="Write-in your Success Criteria and Press Enter" class="form-control" ng-keypress='addToArray($event)'
                                            ng-model="swotInputDetail.successCriteria" maxlength="100">
                                    </div>
                                    <div ng-if="successCriteriaErrorMessage">
                                        <div class="hasError">{{successCriteriaErrorMessage}}</div>
                                    </div>
                                    <div class="zero-margin chip-group">
                                        <div ng-repeat="successCriteria in successArray1 track by $index" class="chip multiline-height">
                                            <p class="chip-paragraph">{{successCriteria}}</p>
                                            <span class="closebtn cursor-pointer chip-close-button" ng-click='removeFromSelectedList($index, "successCriteria")'>&times;</span>
                                        </div>
                                    </div>
                                    <div class="zero-margin chip-group">
                                        <div ng-repeat="successCriteria in inputSuccessList" class="chip multiline-height">
                                            <p class="chip-paragraph">{{successCriteria}}</p>
                                            <span class="closebtn cursor-pointer chip-close-button" ng-click='removeFromInputList($index, "successCriteria")'>&times;</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 swot-container">
                                <div class="make-center">
                                    <div class="font-weight-800">
                                        <h4 class="zero-margin"><strong>Biases to Acknowledge</strong></h4>
                                    </div>
                                    <div class="btn btn-dark left-button margin-between-components" ng-click="biasesModalPopup()">Take Assessment<i class="fa fa-check-circle"></i></div>
                                </div>
                                <div ng-if="biasErrorMessage">
                                    <div class="hasError">{{biasErrorMessage}}</div>
                                </div>
                                <div class="zero-margin chip-group">
                                    <div ng-repeat="bias in peakModel.biases" class="chip multiline-height">
                                        <p class="chip-paragraph">{{bias.item}}</p>
                                        <span class="closebtn cursor-pointer chip-close-button" ng-click='removeFromSelectedList($index, "bias");'>&times;</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 data-card-block zero-margin margin-between-components">
                        <div class="row">
                            <div class="font-weight-800">
                                <h4><strong>Current State: Where we are now!</strong></h4>
                            </div>
                            <div class="">
                                <textarea name="" ng-model="peakModel.currentState" placeholder="Write-in your Current state" class="form-control textarea-resize-none"
                                    maxlength="300" ng-keypress="clearErrorMessage('STEP2')"></textarea>
                                <span class="pull-right btn-sm zero-padding wrapper">Max 300 Characters</span>
                            </div>
                            <div ng-if="currentStateErrorMessage">
                                <div class="hasError">{{currentStateErrorMessage}}</div>
                            </div>

                        </div>
                    </div>
                </div>
        </div>
        <!--SWOT manage page 2 ends-->
    </div>
  </form>
</div>

<div class="modal fade" id="cancelConfirmationModal" role="dialog">
    <div class="modal-dialog confirm-modal-dialog">
        <div class="modal-content confirm-modal">
            <div class="modal-header">
                <i class="fa fa-times icon-mob confirm-modal-header-icon"></i>
                <h4 class="modal-title fw-semibold confirm-modal-title">Cancel SWOT Creation?</h4>
            </div>
            <center></center>
            <div class="row">
                <h5 class="padding-0-20">Your changes will be discarded, Are you sure to cancel SWOT creation ?</h5>
            </div>
            <div class="modal-footer">
                <button class="btn btn-dark" ng-click="noCancel()">No</button>
                <button class="btn btn-danger" ng-click="yesCancel()">Yes</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="saveConfirmationModal" role="dialog">
    <div class="modal-dialog confirm-modal-dialog">
        <div class="modal-content confirm-modal">
            <div class="modal-header">
                <i class="fa fa-floppy-o icon-mob confirm-modal-header-icon"></i>
                <h4 class="modal-title fw-semibold confirm-modal-title">Save SWOT ?</h4>
            </div>
            <center></center>
            <div class="row">
                <h5 class="padding-0-20">Are you sure to save your changes?</h5>
            </div>
            <div class="modal-footer">
                <button class="btn btn-dark" ng-click="noSave()">Cancel</button>
                <button class="btn btn-primary" ng-click="yesSave()">Save</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exitPageConfirmationModal" role="dialog">
  <div class="modal-dialog confirm-modal-dialog">
    <div class="modal-content confirm-modal">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <i class="fa fa-exclamation-triangle  icon-mob  confirm-modal-header-icon"></i>
        <h4 class="modal-title  fw-semibold confirm-modal-title">Are you sure?</h4>
      </div>
      <center></center>
      <div class="row">
        <h5 class="padding-0-20">Your changes will be lost if you don't save them. Do you want to continue?</h5>
      </div>
      <div class="modal-footer">
        <button class="btn btn-dark1" ng-click="confirmExit()">No</button>
        <button class="btn btn-gray" ng-click="hideExitModal()">Yes</button>
      </div>
    </div>
  </div>
</div>
<!--error modal to display with an okay button-->
<div class="modal " id="errorModal" role="dialog">
    <div class="modal-dialog confirm-modal-dialog ">
        <div class="modal-content confirm-modal ">
            <div class="modal-header ">
                <i class="fa fa-times icon-mob confirm-modal-header-icon "></i>
                <h4 class="modal-title fw-semibold confirm-modal-title ">{{errorHead}}</h4>
            </div>
            <center></center>
            <div class="row ">
                <h5 class="padding-0-20 ">{{errorMessage}}</h5>
            </div>
            <div class="modal-footer ">
                <button class="btn btn-dark " ng-click="closeError() ">Ok</button>
            </div>
        </div>
    </div>
</div>

<!--modal for selecting biases-->
<script type="text/ng-template" id="bias.html">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="close()">&times;</button>
        <h4 class="modal-title text-center-align">Leadership Qualities</h4>
    </div>
    <div class="row height-600">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="row " style="height=400px">
                <!--Progress bar-->
                <div class="progressdiv">
                    <div class="progress" ng-style="{ 'width': percentage + '%' }">
                    </div>
                </div>
                <!--<h5 class="zero-bottom-margin aligntextcenter transform-inherit">To what extent does this quality help or hinder your effectiveness?</h5>-->
                <b><p class="zero-bottom-margin aligntextcenter transform-inherit" style="padding: 0px 3%;">Instructions: Leader asks each team member to individually rate the biases below on a scale of 0 – 10:</p>
                <ul class="zero-bottom-margin transform-inherit" style="list-style: none; padding-left: 40%; padding-right: 25%;">
                    <li>0 = not a bias in this organization.</li>
                    <li>10 = a very strong bias in this organization.</li>
                </ul></b>
                <!--<p class="zero-bottom-margin aligntextcenter transform-inherit">Average your team members’ ratings to identify the 5 highest-rated biases. Input those on the LeaderSWOT
                    page.</p>-->
                <p class="needNumberPerPage">{{steps}} <span ng-if="totalSteps > 0">of</span> {{totalSteps}}</p>
                <div ng-repeat="question in inputs">
                    <div class="row topmargin fixed-height customFontSize">
                        <!--<ul class="quest">-->
                        <div class="col-md-2 col-sm-2 col-xs-1">
                            <p style="text-align: right;">0</p>
                        </div>
                        <div class="col-md-8 col-sm-8 col-xs-9 text-center-align">
                            <input class="blackSliderForLti customPaddingForSlider" style="margin-top: 1.5%;" type="range" ng-model="question.biasWeight"
                                step="1" min="0" max="10" />

                            <div class="bias-content">
                                <span class="pull-left">{{question.item}}-{{question.description}}</span>
                            </div>
                            <!--swot-biases-assessment-progressbar -->
                        </div>
                        <div class="col-md-2 col-sm-2 col-xs-1" style="padding-left: 1%;">
                            <p>10</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="position-relative">
                <hr>
                <div class="pull-left botmargin">
                    <button class="btn btn-dark leftbutton" ng-click="resetPage()" aria-label="Close"><i class="fa fa-refresh" aria-hidden="true"></i>&nbsp;&nbsp;Reset</button>
                </div>
                <div class="pull-right">
                    <!-- Previous Page -->
                    <button class="btn btn-dark leftbutton" ng-disabled="isCanPrev" ng-click="prevPage()"><i class="fa fa-arrow-circle-left"></i>&nbsp;&nbsp;Back</button>
                    <!-- Next Page -->
                    <div ng-if="!isCanNext" class="pull-right but">
                        <button class="btn btn-dark leftbutton" ng-click="nextPagefunc(event)">
                      Next&nbsp;
                      <i class="fa fa-arrow-circle-right"></i>
                  </button>
                    </div>
                    <!--Submit Page-->
                    <div ng-if="isCanNext" class="pull-right but">
                        <button class="btn btn-dark leftbutton" ng-click="submit()">Submit&nbsp;&nbsp;<i class="fa fa-check-circle"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>
