<div id="leaderPeak">
    <div ng-include="lt.modules/navBar/navbar.html"></div>
<div class="center-div-positioning padding-top-150 margin-bottom">
        <div>
            <center>
                <p>Oops! It seems you haven't created any SWOT pages yet.</p>
                <button class="btn btn-dark leftbutton" ng-click="createSWOT()">Click here to create SWOT&nbsp;&nbsp;<i class="fa fa-check-circle"></i></button>
            </center>
        </div>
    </div>
</div>