<div id="leaderPeak">

    <div ng-include="lt.modules/navBar/navbar.html"></div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 on-mobile-padding-left on-mobile-padding on-mobile-margin-top">


        <!-- SWOT listing -->
        <div class="container">
            <div id="menu11" class="tab-pane fade in active" style="text-align: center;">
                <div class="row button-spacing margin-between-components">
                    <div class="btn btn-dark left-button align-right button-form-border margin-right-15" ng-click="createSWOT()"><i class="fa fa-plus"></i> Create SWOT</div>
                </div>
                <div class="hide-sm-down show-block-down">
                    <div class="flex-container card-row black-card ">
                        <div class="flex-column-1">No</div>
                        <div class="flex-column-1">Title</div>
                        <div class="flex-column-2">Created Date</div>
                        <div class="flex-column-2">Last Modified </div>
                        <div class="flex-column-1"></div>
                    </div>


                    <div class="flex-container card-row  cursor-pointer" dir-paginate="swot in swotList | itemsPerPage: pageSize track by $index"
                        current-page="currentPage">
                        <div class="flex-column-1">{{(pageSize*(currentPage-1))+$index+1}}</div>
                        <div class="flex-column-1">{{swot.title}}</div>
                        <div class="flex-column-2">{{swot.createdDate}}</div>

                        <div class="flex-column-2">{{swot.modifiedDate}}</div>
                        <div class="flex-column-1">
                            <i class="fa fa-eye" ng-click="viewSwot(swot)"></i>
                            <i class="fa fa-pencil" ng-click="editSWOT(swot)"></i>
                            <i class="fa fa-trash" ng-click="deleteSWOT(swot)"></i>
                        </div>
                    </div>
                    <dir-pagination-controls boundary-links="true"></dir-pagination-controls>
                </div>
                <div class="card-row hide-sm-up show-block-up" ng-repeat="swot in swotList track by $index">
                    <div class="card-content ">
                        <div>
                            <p style="text-align: left; margin: 0px; max-width: 75%;">{{(pageSize*(currentPage-1))+$index+1}}</p>
                            <div class="" style="float: right; width: 28%">
                                <i class="fa fa-eye swot-list-button" ng-click="viewSwot(swot)"></i>
                                <i class="fa fa-pencil swot-list-button" ng-click="editSWOT(swot)"></i>
                                <i class="fa fa-trash swot-list-button" ng-click="deleteSWOT(swot)"></i>
                            </div>
                        </div>
                        <div class="card-title ng-binding swot-card-title">{{swot.title}}</div>
                        <div class="card-description ng-binding">

                            Created : {{swot.createdDate}}
                            <br> Last Modified : {{swot.modifiedDate}}
                            <!--<div class="success-status">Status : OPEN</div>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- SWOT listing ends -->
    </div>
</div>

<div class="modal fade" id="deleteConfirmationModal" role="dialog">
    <div class="modal-dialog confirm-modal-dialog">
        <div class="modal-content confirm-modal">
            <div class="modal-header">
                <i class="fa fa-floppy-o icon-mob confirm-modal-header-icon"></i>
                <h4 class="modal-title fw-semibold confirm-modal-title">Delete ?</h4>
            </div>
            <center></center>
            <div class="row">
                <h5 class="padding-0-20">This action will delete the selected SWOT page. Are you sure?</h5>
            </div>
            <div class="modal-footer">
                <button class="btn btn-dark" ng-click="noDelete()">Cancel</button>
                <button class="btn btn-danger" ng-click="yesDelete()">Yes,Delete!</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="editConfirmationModal" role="dialog">
    <div class="modal-dialog confirm-modal-dialog">
        <div class="modal-content confirm-modal">
            <div class="modal-header">
                <i class="fa fa-floppy-o icon-mob confirm-modal-header-icon"></i>
                <h4 class="modal-title fw-semibold confirm-modal-title">Edit Page ?</h4>
            </div>
            <center></center>
            <div class="row">
                <h5 class="padding-0-20">Are you sure to edit SWOT page?</h5>
            </div>
            <div class="modal-footer">
                <button class="btn btn-dark" ng-click="noEdit()">No</button>
                <button class="btn btn-primary" ng-click="yesEdit()">Yes</button>
            </div>
        </div>
    </div>
</div>