<div id="leaderPeak">

    <div ng-include="lt.modules/navBar/navbar.html"></div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 on-mobile-padding-left on-mobile-padding on-mobile-margin-top">

        <!-- SWOT list editing -->
        <div>
            <div id="menu11" class="tab-pane fade in active">
                <div class="row button-spacing">
                    <div class="btn btn-dark left-button align-right button-form-border margin-right-15" ng-click="editSWOT()"><i class="fa fa-pencil"></i> Edit</div>
                    <div class="btn btn-danger left-button align-right button-form-border margin-right-15" ng-click="deleteSWOT()"><i class="fa fa-trash-o"></i> Delete</div>
                    <div class="btn btn-default left-button align-left button-form-border margin-left-15" ng-click="listSWOT()"><i class="fa fa-chevron-left"></i> Back </div>
                </div>

                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 data-card-block zero-margin margin-between-components">
                    <div class="row">
                        <form name="createSwotForm">
                            <div class="title-bar zero-margin">
                                <h3 class="text-white zero-margin">{{displaySwot.title}}</h3>
                            </div>
                            <div class="margin-between-components">
                                <div class="font-weight-800">
                                    <h4 class="zero-margin"><strong>Vision</strong></h4>
                                </div>
                                <div class="">
                                    <textarea name="" placeholder="write-in your Vision" class="form-control textarea-resize-none" disabled>{{displaySwot.vision}}</textarea>
                                </div>
                            </div>
                            <div class="margin-between-components">
                                <div class="font-weight-800">
                                    <h4 class="zero-margin"><strong>Mission</strong></h4>
                                </div>
                                <div class="">
                                    <textarea name="" placeholder="write-in your Mission" class="form-control textarea-resize-none" disabled>{{displaySwot.mission}}</textarea>
                                </div>
                            </div>
                            <div class="margin-between-components">
                                <div class="font-weight-800">
                                    <h4 class="zero-margin"><strong>Strategy</strong></h4>
                                </div>
                                <div class="">
                                    <textarea name="" placeholder="write-in your Strategy" class="form-control textarea-resize-none" disabled>{{displaySwot.strategy}}</textarea>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 data-card-block zero-margin margin-between-components">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 swot-container swot-border-style swot-height">
                            <div class="make-center data-card-block zero-margin">
                                <div class="font-weight-800">
                                    <h4><strong>Strengths</strong></h4>
                                </div>
                                <div class="text-left view-swot-swotBox">
                                    <ul ng-repeat="strength in displaySwot.strengths">
                                        <li>{{strength}}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 swot-container swot-height">
                            <div class="make-center  data-card-block zero-margin">
                                <div class="font-weight-800">
                                    <h4><strong>Opportunities</strong></h4>
                                </div>
                                <div class="text-left view-swot-swotBox">
                                    <ul ng-repeat="opportunity in displaySwot.opportunities">
                                        <li>{{opportunity}}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6 col-md-6 swot-container swot-border-style ">
                            <div class="make-center    data-card-block zero-margin swot-height">
                                <div class="font-weight-800">
                                    <h4><strong>Weaknesses</strong></h4>
                                </div>
                                <div class="text-left view-swot-swotBox">
                                    <ul ng-repeat="weakness in displaySwot.weaknesses">
                                        <li>{{weakness}}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 swot-container ">
                            <div class="make-center    data-card-block zero-margin swot-height">
                                <div class="font-weight-800">
                                    <h4>
                                        <Strong>Threats</strong>
                                    </h4>
                                </div>
                                <div class="text-left view-swot-swotBox">
                                    <ul ng-repeat="threat in displaySwot.threats">
                                        <li>{{threat}}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="box-swot hide-sm-down">
                        <div class="row">
                            <div class="swot-count-circle left">
                                <p class="zero-margin">S</p>
                                <p class="zero-margin">{{displaySwot.swotWeight.strength}}</p>
                            </div>
                            <div class="swot-count-circle float-right">
                                <p class="zero-margin">O</p>
                                <p class="zero-margin">{{displaySwot.swotWeight.opportunity}}</p>
                            </div>
                        </div>
                        <h4 class="zero-margin padding-left-15" style="padding-top: 33%; text-align: center;">SWOT Weighting</h4>
                        <div class="row padding-0">
                            <div class="swot-count-circle left">
                                <p class="zero-margin">W</p>
                                <p class="zero-margin">{{displaySwot.swotWeight.weakness}}</p>
                            </div>
                            <div class="swot-count-circle float-right">
                                <p class="zero-margin">T</p>
                                <p class="zero-margin">{{displaySwot.swotWeight.threat}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="zero-margin col-md-12 col-lg-12 col-sm-12 data-card-block  margin-between-components hide-sm-up">
                    <div class=""></div>
                    <div class="col-sm-8 col-xs-12">
                        <div class="box-swot-mobile make-center col-md-12">
                            <div class="row">
                                <div class="swot-count-circle-mobile left">
                                    <p class="zero-margin">S</p>
                                    <p class="zero-margin ng-binding">1</p>
                                </div>
                                <div class="swot-count-circle-mobile float-right">
                                    <p class="zero-margin">O</p>
                                    <p class="zero-margin ng-binding">1</p>
                                </div>
                            </div>
                            <h4 class="zero-margin padding-left-15">SWOT Weighting</h4>
                            <div class="row padding-0">
                                <div class="swot-count-circle-mobile left">
                                    <p class="zero-margin">W</p>
                                    <p class="zero-margin ng-binding">1</p>
                                </div>
                                <div class="swot-count-circle-mobile float-right">
                                    <p class="zero-margin">T</p>
                                    <p class="zero-margin ng-binding">1</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class=""></div>
                </div>
                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 data-card-block zero-margin margin-between-components">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 swot-container swot-border-style">
                            <div class="make-center">
                                <div class="font-weight-800">
                                    <h4 class="zero-margin"><strong>Success Criteria</strong></h4>
                                </div>

                                <div class="text-left">
                                    <ul ng-repeat="successCriteria in displaySwot.successCriteria" style="word-wrap: break-word;">
                                        <li>{{successCriteria}} </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 swot-container">
                            <div class="make-center">
                                <div class="font-weight-800">
                                    <h4 class="zero-margin"><strong>Biases to Acknowledge</strong></h4>
                                </div>

                                <div class="text-left">
                                    <ul ng-repeat="bias in displaySwot.biases">
                                        <li>{{bias.item}}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 data-card-block zero-margin margin-between-components">
                    <div class="row">
                        <div class="font-weight-800">
                            <h4>Current State: Where we are now!</h4>
                        </div>
                        <div class="">
                            <textarea name="" placeholder="write-in your Current state" class="form-control textarea-resize-none" disabled>{{displaySwot.currentState}}</textarea>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- SWOT list editing ends -->
    </div>
</div>

<div class="modal fade" id="deleteConfirmationModal" role="dialog">
    <div class="modal-dialog confirm-modal-dialog">
        <div class="modal-content confirm-modal">
            <div class="modal-header">
                <i class="fa fa-floppy-o icon-mob confirm-modal-header-icon"></i>
                <h4 class="modal-title fw-semibold confirm-modal-title">Delete ?</h4>
            </div>
            <center></center>
            <div class="row">
                <h5 class="padding-0-20">This action will delete the selected SWOT page. Are you sure?</h5>
            </div>
            <div class="modal-footer">
                <button class="btn btn-dark" ng-click="noDelete()">Cancel</button>
                <button class="btn btn-danger" ng-click="yesDelete()">Yes,Delete!</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="editConfirmationModal" role="dialog">
    <div class="modal-dialog confirm-modal-dialog">
        <div class="modal-content confirm-modal">
            <div class="modal-header">
                <i class="fa fa-floppy-o icon-mob confirm-modal-header-icon"></i>
                <h4 class="modal-title fw-semibold confirm-modal-title">Edit Page ?</h4>
            </div>
            <center></center>
            <div class="row">
                <h5 class="padding-0-20">Are you sure to edit SWOT page?</h5>
            </div>
            <div class="modal-footer">
                <button class="btn btn-dark" ng-click="noEdit()">No</button>
                <button class="btn btn-primary" ng-click="yesEdit()">Yes</button>
            </div>
        </div>
    </div>
</div>